{# User / Preter / Operations #}
{% extends ':frontbundle/layouts:_dashboard.html.twig' %}
{% import ':frontbundle/extensions:_general.macros.twig' as general %}

{# Page data #}
{% set bodyId = '' %}
{% set page = {
id: 'user-preter-operations',
title: 'Prêteur / Operations',
permalink: route('user/preter/operations'),
classNames: 'user-preter-operations'
} %}

{# Placeholder data #}
{% set placeholderData = {
"stats": {
"loans": {
"all": 54,
"complete": 6,
"inProgress": 43,
"defaulted": 5
}
},
"filter": {
"operations": {
"slide": "",
"year": "",
"start": "",
"end": "",
"operation": "",
"project": ""
},
"loans": {
"status": "",
"date": ""
}
},
"operations": [{
"id": 1,
"typeId": 3,
"typeName": "Offre rejectée",
"contractId": 88533,
"projectId": 1,
"projectName": "Iena Consulting",
"date": "28 March 2016",
"amount": 20,
"balance": 43.54,
"details": false
},{
"id": 2,
"typeId": 3,
"typeName": "Offre rejectée",
"contractId": 45523,
"projectId": 2,
"projectName": "G Finance",
"date": "21 March 2016",
"amount": 20,
"balance": 23.54,
"details": false
},{
"id": 3,
"typeId": 4,
"typeName": "Remboursement",
"contractId": 45896,
"projectId": 3,
"projectName": "Maud Maquillage Permanence",
"date": "18 March 2016",
"amount": 0.54,
"balance": 3.54,
"details": {
"label": "Détails de remboursement",
"items": [{
"label": "Capital remboursé",
"value": 0.34
},{
"label": "Intérêts reçus",
"value": 0.06
},{
"label": "Prélèvements fiscaux et sociaux",
"value": -0.4
}]
}
},{
"id": 4,
"typeId": 4,
"typeName": "Remboursement",
"contractId": 78963,
"projectId": 4,
"projectName": "Parcome",
"date": "18 March 2016",
"amount": 0.58,
"balance": 2.80,
"details": {
"label": "Détails de remboursement",
"items": [{
"label": "Capital remboursé",
"value": 0.34
},{
"label": "Intérêts reçus",
"value": 0.06
},{
"label": "Prélèvements fiscaux et sociaux",
"value": -0.4
}]
}
},{
"id": 5,
"typeId": 4,
"typeName": "Remboursement",
"contractId": 15478,
"projectId": 5,
"projectName": "Novoprod",
"date": "18 March 2016",
"amount": 0.65,
"balance": 2.22,
"details": {
"label": "Détails de remboursement",
"items": [{
"label": "Capital remboursé",
"value": 0.34
},{
"label": "Intérêts reçus",
"value": 0.06
},{
"label": "Prélèvements fiscaux et sociaux",
"value": -0.4
}]
}
},{
"id": 6,
"typeId": 4,
"typeName": "Remboursement",
"contractId": 87456,
"projectId": 6,
"projectName": "Ed Distribution",
"date": "18 March 2016",
"amount": 0.44,
"balance": 1.66,
"details": {
"label": "Détails de remboursement",
"items": [{
"label": "Capital remboursé",
"value": 0.34
},{
"label": "Intérêts reçus",
"value": 0.06
},{
"label": "Prélèvements fiscaux et sociaux",
"value": -0.4
}]
}
},{
"id": 7,
"typeId": 4,
"typeName": "Remboursement",
"contractId": 88533,
"projectId": 7,
"projectName": "Jolie Doll",
"date": "18 March 2016",
"amount": 0.32,
"balance": 1.22,
"details": {
"label": "Détails de remboursement",
"items": [{
"label": "Capital remboursé",
"value": 0.34
},{
"label": "Intérêts reçus",
"value": 0.06
},{
"label": "Prélèvements fiscaux et sociaux",
"value": -0.4
}]
}
},{
"id": 8,
"typeId": 1,
"typeName": "Offre proposée",
"contractId": 88533,
"projectId": 7,
"projectName": "Jolie Doll",
"date": "12 March 2016",
"amount": -20,
"balance": 0.98,
"details": false
},{
"id": 9,
"typeId": 4,
"typeName": "Remboursement",
"contractId": 45523,
"projectId": 7,
"projectName": "Urban Factory",
"date": "10 March 2016",
"amount": 0.54,
"balance": 20.98,
"details": {
"label": "Détails de remboursement",
"items": [{
"label": "Capital remboursé",
"value": 0.34
},{
"label": "Intérêts reçus",
"value": 0.06
},{
"label": "Prélèvements fiscaux et sociaux",
"value": -0.4
}]
}
},{
"id": 10,
"typeId": 4,
"typeName": "Remboursement",
"contractId": 88533,
"projectId": 7,
"projectName": "Iena Consulting",
"date": "7 March 2016",
"amount": 0.58,
"balance": 20.45,
"details": {
"label": "Détails de remboursement",
"items": [{
"label": "Capital remboursé",
"value": 0.34
},{
"label": "Intérêts reçus",
"value": 0.06
},{
"label": "Prélèvements fiscaux et sociaux",
"value": -0.4
}]
}
},{
"id": 11,
"typeId": 2,
"typeName": "Offre acceptée",
"contractId": 78963,
"projectId": 7,
"projectName": "G Finance",
"date": "04 March 2016",
"amount": -50,
"balance": 19.95,
"details": false
}],
"loans": [{
"status": 1,
"statusName": "inprogress",
"projectId": 1,
"projectName": "Tibermont Antiquités",
"projectRating": "A",
"amount": 20,
"interest": 8,
"monthly": 0.98,
"nextPaymentDate": "28 March 2016",
"periodStart": "01 January 2014",
"periodEnd": "01 January 2017",
"periodLength": 36,
"documents": [{
"docType": "contract",
"docTypeName": "Contrat de prét",
"name": "contract-de-pret.pdf",
"url": "http://placehold.it/600x600.png",
"size": 123456789
}]
},{
"status": 2,
"statusName": "late",
"projectId": 2,
"projectName": "Manifestory",
"projectRating": "C",
"amount": 20,
"interest": 8,
"monthly": 0.54,
"nextPaymentDate": "21 March 2016",
"periodStart": "01 January 2016",
"periodEnd": "01 January 2017",
"periodLength": 12,
"documents": [{
"docType": "contract",
"docTypeName": "Contrat de prét",
"name": "contract-de-pret.pdf",
"url": "http://placehold.it/600x600.png",
"size": 123456789
}]
},{
"status": 3,
"statusName": "defaulted",
"projectId": 3,
"projectName": "Somega du centre",
"projectRating": "G",
"amount": 180,
"interest": 7.5,
"monthly": 2.80,
"nextPaymentDate": "18 March 2016",
"periodStart": "01 January 2015",
"periodEnd": "01 January 2017",
"periodLength": 24,
"documents": [{
    "docType": "contract",
    "docTypeName": "Contrat de prét",
    "name": "contract-de-pret.pdf",
    "type": "pdf",
    "url": "http://placehold.it/600x600.png",
    "size": 123456789
    },{
    "docType": "bond",
    "docTypeName": "2 Bons de caisse",
    "name": "bon-de-caisse.pdf",
    "type": "pdf",
    "url": "http://placehold.it/600x600.png",
    "size": 123456789,
    "number": 2
    }]
},{
"status": 1,
"statusName": "inprogress",
"projectId": 4,
"projectName": "Maud Maquillage Permanence",
"projectRating": "A",
"amount": 1000,
"interest": 5.2,
"monthly": 167.22,
"nextPaymentDate": "18 March 2016",
"periodStart": "01 June 2016",
"periodEnd": "01 January 2017",
"periodLength": 6,
"documents": [{
"docType": "contract",
"docTypeName": "Contrat de prét",
"name": "contract-de-pret.pdf",
"url": "http://placehold.it/600x600.png",
"size": 123456789
}]
},{
"status": 4,
"statusName": "completed",
"projectId": 5,
"projectName": "Jolie Doll",
"projectRating": "A",
"amount": 333,
"interest": 4.5,
"monthly": 167.22,
"nextPaymentDate": "18 March 2016",
"periodStart": "01 June 2016",
"periodEnd": "01 January 2021",
"periodLength": 60,
"documents": [{
"docType": "contract",
"docTypeName": "Contrat de prét",
"name": "contract-de-pret.pdf",
"url": "http://placehold.it/600x600.png",
"size": 123456789
},{
"docType": "bond",
"docTypeName": "Bon de caisse",
"name": "bon-de-caisse.pdf",
"type": "pdf",
"url": "http://placehold.it/600x600.png",
"size": 123456789,
"number": 1
}]
}]
} %}
{% set filterOperations = placeholderData.filter.operations %}
{% set filterLoans = placeholderData.filter.loans %}
{% set operations = placeholderData.operations %}
{% set stats = placeholderData.stats %}
{% set loans = placeholderData.loans %}

{% block dashboardContent %}

    <section class="dashboard-tabs tabs">
        <div class="dashboard-tabs-nav">
            <ul class="nav nav-dashboard-tabs">
                <li role="presentation" class="active">
                    <a href="#operations" role="tab" data-toggle="tab">{% trans %} lender-operations_my-operations {% endtrans %}</a>
                </li>
                <li role="presentation">
                    <a href="#loans" role="tab" data-toggle="tab">{% trans %} lender-operations_my-loans {% endtrans %}</a>
                </li>
            </ul>
        </div><!-- /.dashboard-tabs-nav -->
        <div class="dashboard-tabs-content tab-content">
            {% include ':frontbundle/pages/lender_operations:my_operations.html.twig' %}
            {% include ':frontbundle/pages/lender_operations:my_loans.html.twig' %}
        </div><!-- /.dashboard-tabs-content -->
    </section><!-- /.dashboard-tabs -->

{% endblock %}
