<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <p>
        {% trans %} anna-test_anna-pdo-test {% endtrans %}
    </p>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
    Hello world
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>