{% extends 'partner_account/_layout.html.twig' %}

{% set page = {
    id: 'partner-account-contact',
    classNames: 'partner-account'
} %}

{% block dashboardContent %}
    {% set partner = partner(app.user) %}
    <section class="dashboard-tabs tabs">
        <div class="dashboard-tabs-content tab-content">
            <article class="dashboard-tab-pane">
                <div class="panel">
                    <header class="panel-header">
                        <h3>{{ ('partner-home_title-' ~ partner.label)|trans }}</h3>
                    </header>
                    <section>{{ ('partner-home_content-' ~ partner.label)|trans|raw }}</section>
                </div>
            </article><!-- /.panel -->
        </div><!-- /.dashboard-tabs-content -->
    </section><!-- /.dashboard-tabs -->
{% endblock %}
