{% extends 'partner_account/_layout.html.twig' %}

{% set page = {
id: 'partner-account-profile',
classNames: 'partner-account'
} %}

{% block dashboardContent %}
    <section class="dashboard-tabs tabs">
        <div class="dashboard-tabs-content tab-content">
            <article id="partner-account-profile" class="dashboard-tab-pane">
                <div class="panel">
                    <header class="panel-header">
                        <h3>{% trans %} partner-profile_title {% endtrans %}</h3>
                    </header>
                    <div class="row">
                        <div class="col-md-8 col-lg-8">
                            <form id="form-partner-profile-password" action="" method="post" data-formvalidation data-formvalidation-notificationselem="#form-partner-profile-password-notifications">
                                <div id="form-partner-profile-password-notifications" class="ui-formvalidation-notifications"></div>

                                <div class="row row-multi-col-computer">
                                    <div class="form-field col-lg-6 col-md-6">
                                        <label for="partner-profile-password-former">
                                            {% trans %} partner-profile_password-former-field-label {% endtrans %}
                                            <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                                        </label>
                                        <div class="input-group">
                                            <input type="password" id="partner-profile-password-former"
                                                   name="password[former]" required="required" class="input-field" data-formvalidation-input data-formvalidation-required="true">
                                            {#{{ form_errors(forms.securityPwd.formerPassword) }}#}
                                        </div><!-- /.input-group -->
                                        <ul class="ui-formvalidation-messages"></ul>
                                    </div><!-- /.form-field -->
                                </div>
                                <div class="row row-multi-col-computer">
                                    <div class="form-field col-lg-6 col-md-6">
                                        <label for="partner-profile-password-new">
                                            {% trans %} partner-profile_password-new-field-label {% endtrans %}
                                            <span class="field-required">*<span class="sr-only">{% trans %} common_mandatory-field {% endtrans %}</span></span>
                                        </label>
                                        <input type="password" id="partner-profile-password-new"
                                               name="password[new]" required="required" class="input-field"
                                               data-passwordcheck data-formvalidation-input data-formvalidation-required="true" data-formvalidation-minlength="6">
                                    </div><!-- /.form-field -->
                                    <div class="form-field col-lg-6 col-md-6">
                                        <label for="partner-profile-password-confirm">
                                            {% trans %} partner-profile_password-confirm-field-label {% endtrans %}
                                            <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                                        </label>
                                        <div class="input-group">
                                            <input type="password" id="partner-profile-password-confirm"
                                                   name="password[confirm]" required="required" class="input-field"
                                                   data-formvalidation-input="" data-formvalidation-required="true" data-formvalidation-samevalueas="#partner-profile-password-new">
                                        </div>
                                    </div><!-- /.form-field -->
                                    {#{{ form_errors(forms.securityPwd.password) }}#}
                                </div>

                                <div class="row btn-controls">
                                    <button type="submit" class="btn-primary btn-shape-medium">{% trans %} partner-profile_password-button-submit {% endtrans %}</button>
                                </div>
                            </form><!-- /#form-partner-profile-password -->
                        </div>
                    </div>
                </div><!-- /.panel -->
            </article><!-- /.dashboard-tab-pane -->
        </div><!-- /.dashboard-tabs-content -->
    </section><!-- /.dashboard-tabs -->
{% endblock %}
