{% extends 'partner_account/_layout.html.twig' %}

{% set page = {
    id: 'partner-account-projects-list',
    classNames: 'partner-account'
} %}

{% block dashboardContent %}
    <section class="dashboard-tabs tabs">
        <div class="dashboard-tabs-content tab-content">
            <article class="dashboard-tab-pane">
                <div class="panel">
                    <header class="panel-header">
                        <h3>{% trans %} partner-project-request_title {% endtrans %}</h3>
                    </header>
                </div>
            </article><!-- /.panel -->
        </div><!-- /.dashboard-tabs-content -->
    </section><!-- /.dashboard-tabs -->
{% endblock %}
