/*
 * @autor : dynamic creative
 * @date : 2014
 */

/* ---------------------------- */
/*	   Mise en page générale	*/
/* ---------------------------- */

.wrapper100 { position: relative; width: 100%; border-top: 3px solid #b10366; }
.wrapper { margin: 0 auto; position: relative; width: 1000px; padding-top: 25px; padding-bottom: 20px; }

/* COMMUN */
.bg_gris { background: #fafafa;}

.wrapper > h1 { font-size: 24px; line-height: 35px; text-transform: uppercase; font-weight: bold; padding-top: 45px; }
.wrapper > h1 > span { color: #b00366; }
.wrapper > h2 { font-size: 24px; line-height: 35px; text-transform: uppercase; font-weight: bold; color: #b00366; padding-left: 100px; }
.wrapper > h2 > span { text-decoration: underline; }
/*.wrapper > a#logo { display: block; }*/
.wrapper > .fleche { background: url(../img/fleche.png) left top no-repeat; height: 60px; line-height: 60px; color: #ffffff; font-size: 20px; padding: 0 20px; margin: 0; }
.wrapper > .scroll { background: url(../img/souris.png) left top no-repeat; height: 40px; width: 25px; margin: 30px auto 20px auto; }

/* HOME */
#home > .wrapper {  }
#home > .wrapper > h1, #home > .wrapper > h2 { font-size: 28px; line-height: 37px; }
#home > .wrapper > ul { margin-top: 80px; }
#home > .wrapper > ul > li { padding: 10px 0 35px 120px; background: url(../img/picto_home_step1b.png) 8px top no-repeat; }
#home > .wrapper > ul > li + li { background: url(../img/picto_home_step2.png) 3px top no-repeat; }
#home > .wrapper > ul > li + li + li { background: url(../img/picto_home_step3.png) left top no-repeat; }
#home > .wrapper > ul > li > h3 { font-weight: bold; font-size: 22px; line-height: 25px; text-transform: uppercase; }
#home > .wrapper > ul > li > h3 > span { color: #b00366; font-weight: normal; }
#home > .wrapper > ul > li > p { font-size: 18px; line-height: 21px; }

#home > .wrapper > .scroll { margin: 85px auto 0 auto; }

/* POURQUOI UNILEND */
#pourquoi_unilend > .wrapper {  }
#pourquoi_unilend > .wrapper > ul { margin: 20px 0 70px 0; }
#pourquoi_unilend > .wrapper > ul > li { padding: 20px 0 0 90px; height: 60px; line-height: 40px; font-size: 24px; /*margin-top: 20px;*/ background: url(../img/sprite_p2.png) left 20px no-repeat; }
#pourquoi_unilend > .wrapper > ul > li + li { background-position: left -43px; }
#pourquoi_unilend > .wrapper > ul > li + li + li { background-position: left -105px; }
#pourquoi_unilend > .wrapper > ul > li + li + li + li { background-position: left -165px; }
#pourquoi_unilend > .wrapper > ul > li + li + li + li + li { background-position: left -223px; }
/*#pourquoi_unilend > .wrapper > .fleche { margin-bottom: 100px; }*/
#pourquoi_unilend > .wrapper > .scroll { margin: 50px auto 0 auto; }

/* PRODUIT ANALYSE */
#projet_analyse > .wrapper > ul#projet_analyse_ul { background: url(../img/projet_analyse.png) right 46px no-repeat; width: 605px; padding: 0 170px 10px 0; margin: 30px 0 20px 0; }
#projet_analyse > .wrapper > ul#projet_analyse_ul > li { background: url(../img/puce.png) left top no-repeat; padding: 4px 0 0 45px; margin-top: 15px; min-height: 30px; }
#projet_analyse > .wrapper > p#projet_analyse_tous { font-size: 52px; line-height: 52px; float: left; text-transform: uppercase; padding-left: 45px; }
#projet_analyse > .wrapper > p#projet_analyse_tous2 { font-size: 20px; line-height: 23px; margin-left: 195px; padding-top: 3px; width: 400px; }
#projet_analyse > .wrapper > h3 { width: 640px; text-align: center; font-size: 14px; line-height: 18px; text-transform: uppercase; margin-top: 40px; }
#projet_analyse > .wrapper > #slider_projet { width: 640px; text-align: center; margin-top: 12px; }
#projet_analyse > .wrapper > #slider_projet > div { position: relative; width: 520px; margin: 12px auto; }
#projet_analyse > .wrapper > #slider_projet > div > div { position: relative; width: 520px; overflow: hidden; }
#projet_analyse > .wrapper > #slider_projet > div > #slide_prec { padding: 0; margin: 0; position: absolute; left: -21px; top: 60px; width: 11px; height: 18px; border: none; background: url(../img/bt_slider.png) left top no-repeat; }
#projet_analyse > .wrapper > #slider_projet > div > #slide_suiv { padding: 0; margin: 0; position: absolute; right: -21px; top: 60px; width: 11px; height: 18px; border: none; background: url(../img/bt_slider.png) right top no-repeat; }
#projet_analyse > .wrapper > #slider_projet > div > div > div { position: relative; }
#projet_analyse > .wrapper > #slider_projet > div > div > div > div { color: #b00366; float: left; width: 160px; margin: 0 20px 0 0; }
#projet_analyse > .wrapper > #slider_projet > div > div > div > div > p { font-size: 12px; line-height: 15px; margin-top: 10px; }

/* SIMULEZ VOS INTERETS */
#simulez_vos_interets > .wrapper > #pret { padding-left: 60px; margin-top: 35px; }
#simulez_vos_interets > .wrapper > #pret > h1 { background: url(../img/picto_pret1.png) left center no-repeat; text-transform: uppercase; font-size: 30px; line-height: 50px; padding-left: 70px; color: #b00366; height: 50px; }
#simulez_vos_interets > .wrapper > #pret > div#pret_left { float: left; padding-right: 10px; }
#simulez_vos_interets > .wrapper > #pret > div#pret_left > div { background: #dbdbdb; padding: 11px; width: 280px; }
#simulez_vos_interets > .wrapper > #pret > div#pret_left > div > p { padding-left: 8px; line-height: 38px; float: left; }
#simulez_vos_interets > .wrapper > #pret > div#pret_left > div > input { color: #727272; background: #ffffff url(../img/euro.png) right center no-repeat; width: 138px; border: none; height: 38px; font-size: 20px; padding: 0 30px 0 13px; float: right; }
#simulez_vos_interets > .wrapper > #pret > div#pret_left > div > input::-webkit-input-placeholder { font-style: italic; font-size: 18px; }
#simulez_vos_interets > .wrapper > #pret > div#pret_left > div > input:-ms-input-placeholder { font-style: italic; font-size: 18px; }
#simulez_vos_interets > .wrapper > #pret > div#pret_left > div > inputinput:-moz-placeholder { font-style: italic; font-size: 18px; }
#simulez_vos_interets > .wrapper > #pret > div#pret_left > div > input:-moz-placeholder { font-style: italic; font-size: 18px; }
#simulez_vos_interets > .wrapper > #pret > div#pret_left > div > input::-moz-placeholder { font-style: italic; font-size: 18px; }
#simulez_vos_interets > .wrapper > #pret > div#pret_left > div + div { margin-top: 10px;  }
#simulez_vos_interets > .wrapper > #pret > div#pret_left > div + div > p { padding-left: 8px; line-height: 38px; float: left; }
#simulez_vos_interets > .wrapper > #pret > div#pret_left > div + div > .c2-sb-wrap { background: #ffffff; width: 140px; border: none; height: 38px; line-height: 38px; font-size: 20px; float: right; }
#simulez_vos_interets > .wrapper > #pret > div#pret_left > div + div > .c2-sb-wrap > .c2-sb-inner-wrap { background: #ffffff; width: 140px; border: none; border-left: 1px solid #dbdbdb; border-right: 1px solid #dbdbdb; height: 38px; padding: 0 12px 0 13px; float: right; }
#simulez_vos_interets > .wrapper > #pret > div#pret_left > div + div > .c2-sb-wrap > .c2-sb-inner-wrap > .c2-sb-text { color: #727272; height: 38px; line-height: 38px; font-size: 20px; font-style: normal; }
#simulez_vos_interets > .wrapper > #pret > div#pret_left > div + div > .c2-sb-wrap > .c2-sb-inner-wrap > .c2-sb-button { float: right; width: 18px; height: 11px; padding: 14px 0 0 0; }
#simulez_vos_interets > .wrapper > #pret > div#pret_left > div + div > .c2-sb-wrap > .c2-sb-inner-wrap > .c2-sb-button > i { vertical-align: middle; text-align: center; border: none; display: inline-block; background: url(../img/select.png) no-repeat 0 0; width: 18px; height: 11px; }
#simulez_vos_interets > .wrapper > #pret > div#pret_left > div + div > .c2-sb-wrap > .c2-sb-list-wrap { background: #ffffff; border: 1px solid #dbdbdb; border-top: none; padding-right: 2px; }
#simulez_vos_interets > .wrapper > #pret > div#pret_left > div + div > .c2-sb-wrap > .c2-sb-list-wrap .c2-sb-list-item-link { font-style: normal; color: #727272; }
#simulez_vos_interets > .wrapper > #pret > div#pret_right { height: 130px; float: left; background: #dbdbdb; padding: 8px 11px 11px 11px; width: 230px; text-align: center; }
#simulez_vos_interets > .wrapper > #pret > div#pret_right > #dc_slider-step { margin: 21px 5px; padding: 0 28px 0 22px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
#simulez_vos_interets > .wrapper > #pret > div#pret_right > #dc_slider-step > div > div { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
#simulez_vos_interets > .wrapper > #pret > div#pret_right > ul { margin-left: 4px; }
#simulez_vos_interets > .wrapper > #pret > div#pret_right > ul > li { float: left; display: block; border-right: 1px solid #727272; height: 32px; overflow: hidden; padding: 0 9px; }
#simulez_vos_interets > .wrapper > #pret > div#pret_right > ul > li:last-child { border: none; }
#simulez_vos_interets > .wrapper > #pret > div#pret_right > ul > li > p { font-weight: bold; }
#simulez_vos_interets > .wrapper > #pret > div#pret_right > ul > li > p + p { text-transform: uppercase; font-size: 12px; line-height: 15px; }

#simulez_vos_interets > .wrapper > #pret > button { padding: 0 35px; margin: 20px 0 0 150px; background: #b00366; border: none; text-align: center; text-transform: uppercase; color: #ffffff; font-size: 30px; line-height: 60px; font-family: 'trend_sansone'; font-weight: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; opacity: 1; -ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=100)"; -webkit-transition: opacity 0.5s ease-in-out; -moz-transition: opacity 0.5s ease-in-out; -o-transition: opacity 0.5s ease-in-out; transition: opacity 0.5s ease-in-out; }
#simulez_vos_interets > .wrapper > #pret > button:hover { opacity: 0.8; -ms-filter:"prodig:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }
#simulez_vos_interets > .wrapper > #pret > #erreur_simulation { width: 530px; text-align: center; margin-top: 20px; color: #c84747; }

#simulez_vos_interets > .wrapper > #recu { height: 0; overflow: hidden; }
#simulez_vos_interets > .wrapper > #recu > div { padding: 70px 0 0 60px; margin-top: 10px; background: url(../img/result.png) 312px top no-repeat; }
#simulez_vos_interets > .wrapper > #recu > div > h1 { background: url(../img/picto_pret2.png) left center no-repeat; text-transform: uppercase; font-size: 30px; line-height: 50px; padding-left: 60px; color: #b00366; height: 50px; }
#simulez_vos_interets > .wrapper > #recu > div > div#recu_left { float: left; padding-right: 10px; }
#simulez_vos_interets > .wrapper > #recu > div > div#recu_left > div { background: #dbdbdb; padding: 11px; width: 280px; }
#simulez_vos_interets > .wrapper > #recu > div > div#recu_left > div > p { padding-left: 8px; line-height: 38px; float: left; }
#simulez_vos_interets > .wrapper > #recu > div > div#recu_left > div > p#recu_somme { display: block; color: #727272; background: #ffffff url(../img/euro.png) right center no-repeat; width: 138px; border: none; height: 38px; line-height: 38px; font-size: 18px; padding: 0 30px 0 13px; float: right; }
#simulez_vos_interets > .wrapper > #recu > div > div#recu_right { height: 60px; float: left; background: #dbdbdb; padding: 12px 11px 11px 11px; width: 230px; text-align: center; }
#simulez_vos_interets > .wrapper > #recu > div > div#recu_result { padding-left: 25px; margin: 20px 0 40px 0; }
#simulez_vos_interets > .wrapper > #recu > div > div#recu_result > p { float: left; padding: 2px 0 0 84px; background: url(../img/picto_pret3.png) left top no-repeat; font-size: 20px; line-height: 20px; }
#simulez_vos_interets > .wrapper > #recu > div > div#recu_result > p > span { color: #b00366; font-size: 24px; line-height: 20px; font-weight: bold; }
#simulez_vos_interets > .wrapper > #recu > div > div#recu_result > p > span ~ span { color: #727272; font-size: 14px; line-height: 17px; font-weight: normal; }
#simulez_vos_interets > .wrapper > #recu > div > div#recu_result > p + p { padding: 0 43px; background: url(../img/picto_pret5.png) center center no-repeat; line-height: 40px; text-indent: -5000px; width: 24px; }
#simulez_vos_interets > .wrapper > #recu > div > div#recu_result > p + p + p { padding: 2px 44px 0 0; background: url(../img/picto_pret4.png) right top no-repeat; font-size: 14px; line-height: 20px; text-indent: 0px; width: auto; text-align: right; }
#simulez_vos_interets > .wrapper > .fleche { margin-top: 30px; }

/* UNILEND EN CHIFFRES */
#chiffres > .wrapper > h1 + p { font-size: 14px; line-height: 17px; margin-bottom: 25px; }
#chiffres > .wrapper > #chiffres_left { float: left; width: 295px; }
#chiffres > .wrapper > #chiffres_left > ul > li { padding-left: 70px; background: url(../img/picto_chiffre1.png) left center no-repeat; min-height: 50px; margin-top: 35px; }
#chiffres > .wrapper > #chiffres_left > ul > li > p { color: #b00366; font-size: 50px; line-height: 50px; font-weight: bold; float: left; padding-right: 3px; }
#chiffres > .wrapper > #chiffres_left > ul > li > p + p { color: #727272; font-size: 16px; line-height: 20px; padding-top: 5px; font-weight: bold; text-transform: uppercase; }
#chiffres > .wrapper > #chiffres_left > ul > li + li { font-size: 16px; line-height: 20px; font-weight: bold; background: url(../img/picto_chiffre2.png) left center no-repeat; margin-top: 75px; }
#chiffres > .wrapper > #chiffres_left > ul > li + li > p { color: #b00366; font-size: 30px; line-height: 33px; font-weight: bold; float: none; }
#chiffres > .wrapper > #chiffres_left > ul > li + li + li { background: url(../img/picto_chiffre3.png) left center no-repeat; min-height: 60px; padding-top: 5px; margin-top: 70px; }
#chiffres > .wrapper > #chiffres_right { float: left; width: 310px; }
#chiffres > .wrapper > #chiffres_right > ul > li { margin-top: 11px; }
#chiffres > .wrapper > #chiffres_right > ul > li > p { text-align: right; text-transform: uppercase; padding-right: 36px; font-size: 20px; line-height: 25px; font-weight: bold; }
#chiffres > .wrapper > #chiffres_right > ul > li > div.chiffres { float: right; width: 260px; text-align: right; background: url(../img/fd_chiffre.png) right center no-repeat; height: 40px; margin-top: 5px; }
#chiffres > .wrapper > #chiffres_right > ul > li > div.chiffres > p { float: left; width: 30px; text-align: center; font-size: 35px; line-height: 40px; font-weight: bold; color: #ffffff; height: 40px; margin-right: 1px; }
#chiffres > .wrapper > #chiffres_right > ul > li > div.chiffres > p.m5 { margin-right: 5px; }
#chiffres > .wrapper > #chiffres_right > ul > li + li { margin-top: 52px; }
#chiffres > .wrapper > #chiffres_right > ul > li + li > div.chiffres { width: 225px; background: url(../img/fd_chiffre2.png) right center no-repeat; }
#chiffres > .wrapper > .fleche { margin-top: 50px; margin-bottom: 30px; }

/* LA PRESSE EN PARLE */
/*#presse > .wrapper > #video { margin: 25px 0 0 140px; display: block; }*/
#presse > .wrapper > #presse_logos { margin: 0 0 0 140px; }
#presse > .wrapper > h1 { margin: 0 0 25px 0; }
/*#presse > .wrapper > #flashObj { margin: 0 0 0 140px; }*/
#presse > .wrapper > div.presse_liste { width: 320px; float: left; margin: 10px 0 25px 0; }
#presse > .wrapper > div.presse_liste > section { display: inline-block; vertical-align: middle; margin-top: 20px; width: 320px; float: left; }
#presse > .wrapper > div.presse_liste > section > img { float: left; }
#presse > .wrapper > div.presse_liste > section > p { color: #b00366; font-size: 12px; line-height: 15px; margin-left: 100px; padding-right: 15px; }
#presse > .wrapper > div.presse_liste > section > p + p { color: #727272; }
#presse > .wrapper > div.presse_liste + div.presse_liste > section > a { margin-left: 90px; }
#presse > .wrapper > div.presse_liste + div.presse_liste > section + section > a { padding-right: 22px; }
#presse > .wrapper > div.presse_liste + div.presse_liste > section > p { margin-left: 90px; }
#presse > .wrapper > .fleche { font-size: 16px; }

/* QUI SOMMES NOUS */
#qui_sommes_nous { border-bottom: 3px solid #b10366; }
#qui_sommes_nous > .wrapper { background: url(../img/footer.jpg) left bottom no-repeat; height: 100%; }
#qui_sommes_nous > .wrapper > h2 { width: 640px; text-align: center; font-size: 14px; line-height: 18px; text-transform: uppercase; margin-top: 40px; color: #727272; font-weight: normal; padding: 0; }
#qui_sommes_nous > .wrapper > p { width: 600px; text-align: justify; font-size: 14px; line-height: 17px; margin-top: 35px; }
#qui_sommes_nous > .wrapper > p > span { color: #b00366; }
#qui_sommes_nous > .wrapper > p ~ p { margin: 0; }
#qui_sommes_nous > .wrapper > ul { padding: 15px; }
#qui_sommes_nous > .wrapper > ul > li { background: url(../img/puce2.png) left center no-repeat; padding: 0 0 0 17px; font-size: 14px; line-height: 20px; }
#qui_sommes_nous > .wrapper > div { width: 640px; text-align: center; padding-bottom: 200px; }
#qui_sommes_nous > .wrapper > div > ul { width: 590px; margin: 12px auto 0 auto; height: 62px; }
#qui_sommes_nous > .wrapper > div > ul > li { display: block; float: left; margin: 0 10px 0 0; }
#qui_sommes_nous > .wrapper > div > ul > li > img { max-width: 110px; }
#qui_sommes_nous > .wrapper > div > ul > li:last-child { margin: 0; }

/*SCROLLUP*/
#scrollUp { background: url(../img/top.png) 0 0 no-repeat; position: fixed; bottom:20px; right: 20px; height:30px; width:30px; cursor: pointer; border: 0; padding: 0; margin: 0; }




/* ---------------------------- */
/*	    Element Formulaire  	*/
/* ---------------------------- */

#form { /*position: relative;*/ width: 100%; position: fixed; z-index: 200; }
#form > .wrapper { margin: 0 auto; position: relative; width: 1000px; padding: 0;  }
#form > .wrapper > form { width: 320px; position: absolute; right: 0; top: 175px; }
#form > .wrapper > form > #form_header { padding: 15px 0; background: #b00366; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; }
#form > .wrapper > form > #form_header > h1 { text-align: center; text-transform: uppercase; color: #ffffff; font-size: 24px; line-height: 27px; font-family: 'trend_sansone'; font-weight: normal; }
#form > .wrapper > form > #form_header > h2 { text-align: center; text-transform: uppercase; color: #ffffff; font-size: 18px; line-height: 19px; font-family: 'trend_sansone'; font-weight: normal; }
#form > .wrapper > form > #form_header > h2 { text-align: center; text-transform: uppercase; color: #ffffff; font-size: 18px; line-height: 19px; font-family: 'trend_sansone'; font-weight: normal; }
#form > .wrapper > form > .form_content { padding: 20px; background: #f4f4f4; -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
#form > .wrapper > form > .form_content > input, #form > .wrapper > form > .form_content > #inscription_correspondance > input { padding: 0 11px; height: 38px; font-size: 16px; color: #727272; background: #ffffff; border: 1px solid #dbdcdd; width: 100%; margin-bottom: 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
#form > .wrapper > form > .form_content > input.error, #form > .wrapper > form > .form_content > #inscription_correspondance > input.error { background: #ffe8e8; border: 1px solid #c84747; color: #c84747; }
#form > .wrapper > form > .form_content > button { width: 100%; background: #b00366; border: none; text-align: center; text-transform: uppercase; color: #ffffff; font-size: 30px; line-height: 60px; font-family: 'trend_sansone'; font-weight: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; opacity: 1; -ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=100)"; -webkit-transition: opacity 0.5s ease-in-out; -moz-transition: opacity 0.5s ease-in-out; -o-transition: opacity 0.5s ease-in-out; transition: opacity 0.5s ease-in-out; }
#form > .wrapper > form > .form_content > button:hover { opacity: 0.8; -ms-filter:"prodig:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }
#form > .wrapper > form > .form_content > button#inscription_submit2 { font-size: 14px; line-height: 15px; font-family: 'Arial', sans-serif; height: 60px; padding: 15px 0; }
#form > .wrapper > form > .form_content > button#inscription_submit2 > span { font-size: 12px; line-height: 15px; text-transform: none; }
#form > .wrapper > form > .form_content > button#voir_projets { font-size: 14px; line-height: 15px; font-family: 'Arial', sans-serif; height: 60px; padding: 15px 0; width: 100%; background: #727272; text-align: center; text-transform: uppercase; color: #ffffff; font-weight: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; opacity: 1; -ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=100)"; -webkit-transition: opacity 0.5s ease-in-out; -moz-transition: opacity 0.5s ease-in-out; -o-transition: opacity 0.5s ease-in-out; transition: opacity 0.5s ease-in-out; }
#form > .wrapper > form > .form_content > button#voir_projets:hover { opacity: 0.8; -ms-filter:"prodig:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }
#form > .wrapper > form > .form_content > button#voir_projets > span { font-size: 12px; line-height: 15px; text-transform: none; }

#form > .wrapper > form > .form_content > .c2-sb-wrap,
#form > .wrapper > form > .form_content > #inscription_correspondance > .c2-sb-wrap { background: #ffffff; width: 100%; border: none; height: 38px; line-height: 37px; font-size: 16px; margin-bottom: 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
#form > .wrapper > form > .form_content > .c2-sb-wrap > .c2-sb-inner-wrap,
#form > .wrapper > form > .form_content > #inscription_correspondance > .c2-sb-wrap > .c2-sb-inner-wrap { background: #ffffff; width: 100%; border: 1px solid #dbdcdd; height: 38px; padding: 0 11px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
#form > .wrapper > form > .form_content > .c2-sb-wrap > .c2-sb-inner-wrap > .c2-sb-text,
#form > .wrapper > form > .form_content > #inscription_correspondance > .c2-sb-wrap > .c2-sb-inner-wrap > .c2-sb-text { color: #727272; width: 90%; height: 38px; line-height: 38px; font-size: 16px; font-style: normal; }
#form > .wrapper > form > .form_content > .c2-sb-wrap > .c2-sb-inner-wrap > .c2-sb-button,
#form > .wrapper > form > .form_content > #inscription_correspondance > .c2-sb-wrap > .c2-sb-inner-wrap > .c2-sb-button { float: right; /*width: 13px;*/ width: 10%; height: 8px; padding: 16px 0 0 0; }
#form > .wrapper > form > .form_content > .c2-sb-wrap > .c2-sb-inner-wrap > .c2-sb-button > i,
#form > .wrapper > form > .form_content > #inscription_correspondance > .c2-sb-wrap > .c2-sb-inner-wrap > .c2-sb-button > i { vertical-align: middle; text-align: center; border: none; display: inline-block; background: url(../img/select_inscription.png) no-repeat 0 0; width: 13px; height: 8px; }
#form > .wrapper > form > .form_content > .c2-sb-wrap > .c2-sb-list-wrap,
#form > .wrapper > form > .form_content > #inscription_correspondance > .c2-sb-wrap > .c2-sb-list-wrap { border: 1px solid #dbdbdb; border-top: none; padding-right: 2px; background: #ffffff; }
#form > .wrapper > form > .form_content > .c2-sb-wrap > .c2-sb-list-wrap .c2-sb-list-item-link,
#form > .wrapper > form > .form_content > #inscription_correspondance > .c2-sb-wrap > .c2-sb-list-wrap .c2-sb-list-item-link { font-style: normal; color: #727272; }

#form > .wrapper > form > .form_content > .c2-sb-wrap.error > .c2-sb-inner-wrap,
#form > .wrapper > form > .form_content > #inscription_correspondance > .c2-sb-wrap.error > .c2-sb-inner-wrap { background: #ffe8e8; width: 100%; border: 1px solid #c84747; height: 38px; padding: 0 11px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

#form > .wrapper > form > .form_content > p { font-size: 12px; line-height: 15px; text-align: center; color: #b00366; margin: 10px 0; }
/*#form > .wrapper > form > .form_content > p#errorContainer { font-size: 12px; line-height: 15px; text-align: center; margin: 10px 0; color: #c84747; }*/
#form > .wrapper > form > .form_content > input#inscription_mdp2 { margin: 0; }
#form > .wrapper > form > .form_content > div > label { font-size: 12px; line-height: 15px; margin: -10px 0 10px 0; }
#form > .wrapper > form > .form_content > p#errorAge { font-size: 12px; line-height: 15px; margin: -10px 0 10px 0; color: #c84747; }
#form > .wrapper > form > .form_content > div > p#label_inscription_cgv { font-size: 12px; line-height: 15px; margin: 0 0 10px 30px; position: relative; top: -7px; }
#form > .wrapper > form > .form_content > div > p#label_inscription_cgv > a { text-decoration: underline; }
#form > .wrapper > form > .form_content > div > label#label_checkbox_inscription_cgv { width: 30px; height: 30px; float: left; }

.cb-holder { *zoom:1; }
.cb-holder:after { content:''; display:table; clear:both; }
.cb-holder label { float:left; background:url(../img/cbs.png) no-repeat 0 0; line-height:25px; padding-left:30px; cursor:pointer; }
.cb-holder label.error { background-position:0 -200px; }
.cb-holder.checked label{ background-position:0 -100px; }
.cb-holder input { opacity:0; filter:alpha(opacity=0); visibility:hidden; position:absolute; }

#tracking { height: 1px; }