/* ---------------------------- */
/*			RESPONSIVE			*/
/* ---------------------------- */

/*
 * @autor : dynamic creative
 * @date : 2014
 */

@media screen and (max-width: 960px) {
    .wrapper { width: 90%; }

    .wrapper > .fleche { display: none; background: #b00366; font-size: 16px; line-height: 20px; height: auto; padding: 15px; }
    .wrapper > .scroll { display: none; padding-bottom: 50px; }

    #form { width: 100%; bottom: 0; -webkit-overflow-scrolling:touch; }
    #form > .wrapper { width: 100%; height: 100%; }
    #form > .wrapper.etape2 { height: auto; }
    #form > .wrapper > form { width: 100%; right: 0; top: auto; bottom: 0; }
    #form > .wrapper > form.etape2 { position: absolute; right: 0; top: 0; bottom: auto; height: auto; }

    #form > .wrapper > form > #form_header { padding: 15px 0; background: #b00366; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; }

    #form > .wrapper > form > .form_content { height: 0; overflow: hidden; padding: 0 20px; background: #f4f4f4; -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
    #form > .wrapper > form > .form_content.etape2 { height: auto; padding: 20px; background: #f4f4f4; }
    #form > .wrapper > form > .form_content.etape1 > .c2-sb-wrap { margin-top: 20px; }
    #form > .wrapper > form > .form_content > input { padding: 0 11px; height: 38px; line-height: 37px; font-size: 16px; color: #727272; background: #ffffff; border: 1px solid #dbdcdd; width: 100%; margin-bottom: 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
    #form > .wrapper > form > .form_content.etape1 > button { margin-bottom: 20px; width: 100%; background: #b00366; border: none; text-align: center; text-transform: uppercase; color: #ffffff; font-size: 30px; line-height: 60px; font-family: 'trend_sansone'; font-weight: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; opacity: 1; -ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=100)"; -webkit-transition: opacity 0.5s ease-in-out; -moz-transition: opacity 0.5s ease-in-out; -o-transition: opacity 0.5s ease-in-out; transition: opacity 0.5s ease-in-out; }
    #form > .wrapper > form > .form_content > button:hover { opacity: 0.8; -ms-filter:"prodig:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }

    #projet_analyse > .wrapper > ul#projet_analyse_ul { background-position: center bottom; width: 100%; padding: 0 0 150px 0; }
    #projet_analyse > .wrapper > p#projet_analyse_tous { padding-left: 0; padding-right: 10px; }
    #projet_analyse > .wrapper > p#projet_analyse_tous2 { margin-left: 0; width: auto; }
    #projet_analyse > .wrapper > h3 { width: 100%; }
    #projet_analyse > .wrapper > #slider_projet { width: 90%; margin: 0 auto; }
    #projet_analyse > .wrapper > #slider_projet > div { width: 100%; }
    #projet_analyse > .wrapper > #slider_projet > div > div { width: 100%; }

    #simulez_vos_interets > .wrapper > #pret { padding-left: 0; width: 280px; margin: 35px auto 0 auto; }
    #simulez_vos_interets > .wrapper > #pret > h1 { font-size: 28px; }
    #simulez_vos_interets > .wrapper > #pret > div#pret_left { padding-right: 0; width: 100%; }
    #simulez_vos_interets > .wrapper > #pret > div#pret_left > div { width: 100%; }
    #simulez_vos_interets > .wrapper > #pret > div#pret_right { height: 136px; width: 100%; margin-top: 10px; }
    #simulez_vos_interets > .wrapper > #pret > div#pret_right > #dc_slider-step { margin: 25px 5px; padding: 0 30px 0 28px; }
    #simulez_vos_interets > .wrapper > #pret > div#pret_right > #dc_slider-step > div > .noUi-background { right: -31px; }

    #simulez_vos_interets > .wrapper > #pret > div#pret_right > ul { margin-left: 2px; }
    #simulez_vos_interets > .wrapper > #pret > div#pret_right > ul > li { padding: 0 16px; }
    #simulez_vos_interets > .wrapper > #pret > button { margin: 20px 0 0 28px; }
    #simulez_vos_interets > .wrapper > #pret > #erreur_simulation { width: 280px; text-align: center; margin-top: 20px; color: #c84747; }

    #simulez_vos_interets > .wrapper > #recu { width: 280px; margin: 0 auto; }
    #simulez_vos_interets > .wrapper > #recu > div { padding: 70px 0 0 0; margin-top: 10px; background-position: center top; }
    #simulez_vos_interets > .wrapper > #recu > div > h1 { font-size: 28px; }
    #simulez_vos_interets > .wrapper > #recu > div > div#recu_left { padding-right: 0; width: 100%; }
    #simulez_vos_interets > .wrapper > #recu > div > div#recu_left > div { width: 100%;; }
    #simulez_vos_interets > .wrapper > #recu > div > div#recu_right { height: auto; padding: 12px 11px 11px 11px; width: 100%; margin-top: 10px; }
    #simulez_vos_interets > .wrapper > #recu > div > div#recu_result { padding-left: 0; width: 100%; margin: 20px auto 40px auto; }
    #simulez_vos_interets > .wrapper > #recu > div > div#recu_result > p { float: none; padding: 2px 0 0 84px; margin-left: 25px; }
    #simulez_vos_interets > .wrapper > #recu > div > div#recu_result > p + p { padding: 10px 0; background-position: center center; width: 100%; margin-left: 0; }
    #simulez_vos_interets > .wrapper > #recu > div > div#recu_result > p + p + p { margin: 0 auto; width: 160px; }

    #chiffres > .wrapper > #chiffres_left { width: 100%; }
    #chiffres > .wrapper > #chiffres_left > ul { margin: 0 auto; width: 265px; }
    #chiffres > .wrapper > #chiffres_right { width: 100%; padding-top: 50px; }
    #chiffres > .wrapper > #chiffres_right > ul { width: 265px; margin: 0 auto; }

    /*#presse > .wrapper > #video { margin: 25px auto 0 auto; text-align: center; display: block; }*/
    /*#presse > .wrapper > h1 { margin: 0 0 25px 0; }*/
    /*#presse > .wrapper > #flashObj { margin: 0 auto; text-align: center; }*/
    #presse > .wrapper > #presse_logos { margin: 0 auto; text-align: center; }
    #presse > .wrapper > div.presse_liste { width: 100%; margin: 10px 0 0 0; }
    #presse > .wrapper > div.presse_liste > section { width: 100%; }
    #presse > .wrapper > div.presse_liste + div.presse_liste { width: 100%; margin: 0 0 25px 0; }
    #presse > .wrapper > div.presse_liste + div.presse_liste > section > img { width: 90px; height: 90px; }
    #presse > .wrapper > div.presse_liste + div.presse_liste > section > a, #presse > .wrapper > div.presse_liste + div.presse_liste > section > p { margin-left: 100px; }

    #qui_sommes_nous { height: auto; }

    #qui_sommes_nous > .wrapper > h2 { width: 100%; }
    #qui_sommes_nous > .wrapper > p { width: 100%; }
    #qui_sommes_nous > .wrapper > ul > li { background-position: left 5px; }

    #qui_sommes_nous > .wrapper > div { width: 100%; padding-bottom: 100px; }
    #qui_sommes_nous > .wrapper > div > ul { width: 300px; margin: 12px auto 0 auto; height: auto; }
    #qui_sommes_nous > .wrapper > div > ul > li { margin: 0 10px 10px 0; }

    #scrollUp { display: none; }
    
}

@media screen and (max-width: 410px) {
    #presse > .wrapper > #video { width: 100%; height: auto; }


}

@media screen and (max-width: 380px) {
    .wrapper > h2 { padding-left: 0; }

    #pourquoi_unilend > .wrapper > ul > li { font-size: 18px; line-height: 20px; }

    #projet_analyse > .wrapper > p#projet_analyse_tous { float: none; }


}

@media screen and (max-width: 320px) {
    
}