{% extends 'layouts/_layout.html.twig' %}

{% block siteContent %}
<article id="connexion-inscription" class="page">
    <section class="page-content">
        <div class="hero-wrap">
            <div class="page-content">
                <div class="push-lg-2 push-md-2 col-lg-8 col-md8">
                    <h1>{% trans %} password-init.page-title {% endtrans %}</h1>
                    <section class="panel" style="max-width: initial;">
                        {% if false == validLink %}
                            <div class="message-error">{% trans %} password-init.invalid-link-error-message {% endtrans %}</div>
                        {% else %}
                            {% if app.session.flashBag.has('error') %}
                                <div class="message-error">
                                    {% for error in app.session.flashBag.get('error') %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <form action="{{ path('password_init_form', {'securityToken': token}) }}" method="post">
                                <div class="row row-multi-col">
                                    <div class="col-lg-6 col-md-6 col-sm-4">
                                        <div class="form-field">
                                            <label for="init-password">{% trans %} common_password {% endtrans %}<span class="field-required">*</span></label>
                                            <input type="password" name="password" id="init-password" required="required" class="input-field">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-4">
                                        <div class="form-field">
                                            <label for="init-confirmation">{% trans %} common_password-confirmation {% endtrans %}<span class="field-required">*</span></label>
                                            <input type="password" name="confirmation" id="init-confirmation" required="required" class="input-field">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-field">
                                        <label for="init-question">{% trans %} common_security-question {% endtrans %}<span class="field-required">*</span></label>
                                        <input type="text" name="question" id="init-question" required="required" class="input-field">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-field">
                                        <label for="init-answer">{% trans %} common_security-answer {% endtrans %}<span class="field-required">*</span></label>
                                        <input type="text" name="answer" id="init-answer" required="required" class="input-field">
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn-primary ui-dialog-confirm" data-spinnerbutton>{% trans %} password-init.form-submit-button {% endtrans %}</button>
                                </div>
                            </form>
                        {% endif %}
                    </section><!-- /.panel -->
                </div>
            </div><!-- /.page-content -->
        </div><!-- /.hero-wrap -->
    </section><!-- /.page-content -->
</article><!-- /.page -->
{% endblock %}
