{% extends 'pdf/layout.html.twig' %}

{% block cssFiles %}
    {{ parent() }}
    <style>
        body {
            font-size: 14px;
            line-height: 22px;
            max-width: 760px;
        }
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 18px;
        }
        h3 {
            font-size: 16px;
        }
        header {
            text-align: center;
            margin:
        }
        header > h1 {
            font-size: 24px;
            margin: 1.25em 0 1em;
        }
        table, tr, td {
            font-size: 12px !important;
            page-break-inside: avoid !important;
            text-transform: uppercase;
            background: #eceaed;
        }
        .rib-nom-th, .rib-iban-th {
            width: 120px;
            color: #787679;
        }
        .rib-nom-td, .rib-iban-td {
        }
        #universign-wrap {
            padding: 10px 30px;
            background: #eceaed;
        }
    </style>
{% endblock %}

{% block content %}
    <header>
        <h1>Demande de versement sur un compte tiers</h1>
    </header>
    <div class="row" style="page-break-after: always;">
        <p style="margin-bottom: 2em">Je soussigné, <b>//Prénom du gérant// //Nom du gérant//</b>, en ma qualité de <b>// Fonction du gérant//</b> de <b>//Raison sociale//</b>, autorise le versement de <b>// montant du virement de fonds initié //</b> euros de mon compte Unilend-bénéficiaire vers le compte tiers suivant:</p>

        <table class="table">
            <tbody>
            <tr>
                <td class="rib-nom-th">Titulaire</td>
                <td class="rib-nom-td">NOM, Prenom</td>
            </tr>
            <tr>
                <td class="rib-iban-th">IBAN</td>
                <td class="rib-iban-td">FR7630001007941234567890185</td>
            </tr>
            </tbody>
        </table>

        <br><br>

        <p><b style="text-decoration: underline">Signature</b></p>

        <div id="universign-wrap">
            Universign signature widget goes here
        </div>
    </div>
{% endblock %}
