{% extends 'layouts/_page_with_sidebar.html.twig' %}

{% block dashboardContent %}
    <div class="dashboard-tabs-content tab-content">
        <article class="dashboard-tab-pane">
            <div class="panel">
                {% include 'project/partials/lender/header.html.twig' %}
            </div>
            <div class="panel">
                <h2 class="margin-5-t">{% trans %} project-confidentiality.page-title {% endtrans %}</h2>
                {{ form_start(acceptanceForm) }}
                    <div class="row">
                        <div class="form-field">
                            <label>
                                <input type="checkbox" id="confidentiality_acceptance_accept" name="confidentiality_acceptance[accept]" value="1" required="required">
                                {% do acceptanceForm.accept.setRendered %}
                                {{ project.confidentialityDisclaimer|nl2br }}
                            </label>
                        </div>
                    </div>
                    <div class="text-align-right">
                        <button type="submit" class="btn-primary btn-shape-xs" data-spinnerbutton>{% trans %} project-confidentiality.submit-button-label {% endtrans %}</button>
                    </div>
                {{ form_end(acceptanceForm) }}
            </div>
        </article>
    </div>
{% endblock %}

{% block pageHeadScripts %}
    <style>
        {% include 'project/partials/lender/header.css.twig' %}
    </style>
{% endblock %}
