{% set pendingBids = tranche.bids([constant('Unilend\\Entity\\Bids::STATUS_PENDING')]) %}
{% set acceptedBids = tranche.bids([constant('Unilend\\Entity\\Bids::STATUS_ACCEPTED')]) %}
{% set refusedBids = tranche.bids([constant('Unilend\\Entity\\Bids::STATUS_REJECTED')]) %}
<h4 class="margin-20-t">{{ tranche.name }}</h4>
{% if pendingBids|length > 0 %}
    <h5>En cours</h5>
    {% include 'project/partials/bids/bids_table.html.twig' with {bids: pendingBids, displayAction: displayAction|default(false)} %}
{% else %}
    Aucune offre en cours pour le moment.
{% endif %}

{% if acceptedBids|length > 0 %}
    <h5 class="margin-20-t">Acceptée(s)</h5>
    {% include 'project/partials/bids/bids_table.html.twig' with {bids: acceptedBids, displayAction: false} %}
{% endif %}

{% if refusedBids|length > 0 %}
    <h5 class="margin-20-t">Refusée(s)</h5>
    {% include 'project/partials/bids/bids_table.html.twig' with {bids: refusedBids, displayAction: false} %}
{% endif %}
