/* tables */

table.tablesorter { width: 100%; text-align: left; }
table.tablesorter thead tr th, table.tablesorter tfoot tr th { background-color: #b20066; border: 1px solid #FFF; font-size: 8pt; padding: 5px; color:white; }
table.tablesorter thead tr .header { background-image: url(images/bg.gif); background-repeat: no-repeat; background-position: center right; cursor: pointer; }
table.tablesorter tbody td { padding: 5px; background-color: #ECECEC; vertical-align: top; border: 1px solid #FFF; color: #b20066; }
table.tablesorter tbody td img { margin: 0 3px 0 0; }
table.tablesorter tbody tr.odd td { padding: 5px; background-color: #D3D3D3; vertical-align: top; }

table.tablesorter thead tr .headerSortUp { background-image: url(images/asc.gif); }
table.tablesorter thead tr .headerSortDown { background-image: url(images/desc.gif); }
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp { background-color: #b20066; border: 1px solid #FFF; font-size: 8pt; padding: 5px; color:#FFF; }
table.tablesorter tbody tr.highlighted td { background-color: #ffe0f0; }
