.nav-main ul {
    padding-left: 30px;
}
.nav-main a {
    cursor: pointer;
}
.environment {
    padding: 10px 20px;
    margin: 20px -20px -15px;
    color: #fff;
    cursor: default;
}
.environment a {
    color: #fff;
}
