# *_filter: It defines what to show. It filters the log that we want to show. Something like a bootstrap.
# *_handler: It defines how to show. It's a list of channels (for example file, console, email, third part tools like Rollbar) to show the logs. Its type is always "group"
# *_[channel]: It defines each "how". It's the configurations of each channel in the previous list.

monolog:
    channels: [console, security]
    handlers:
        error_filter:
            type: fingers_crossed
            action_level: error
            handler: error_handler
            channels: ['!translation']
        error_handler:
            type: group
            members: [error_file, error_rollbar]
        error_file:
            type: stream
            level: info
            path: "%kernel.logs_dir%/error.%kernel.environment%.log"
        error_rollbar:
            type: service
            id: Rollbar\Monolog\Handler\RollbarHandler

        console_filter:
            type: filter
            handler: console_handler
            max_level: warning
            channels: console
        console_handler:
            type: group
            members: [console_file, console_console]
        console_file:
            type: stream
            path: "%kernel.logs_dir%/console.%kernel.environment%.log"
            level: info
        console_console:
            type: console

        site_filter:
            type: filter
            handler: site_handler
            max_level: warning
            channels: ['!console', '!translation']
        site_handler:
            type: group
            members: [site_file]
        site_file:
            type: stream
            level: warning
            path: "%kernel.logs_dir%/site.%kernel.environment%.log"

        critical_security_filter:
            type: filter
            handler: critical_security_handler
            min_level: critical
            channels: ['security']
        critical_security_handler:
            type: group
            members: [critical_security_slack, critical_security_email]
        critical_security_slack:
            type: slackwebhook
            webhook_url: "%slack.webhook.security%"
            use_short_attachment: false
            include_extra: true
        critical_security_email:
            type: service
            id: KLS\Core\Service\Monolog\Handler\MailHandler
