//
// Unilend Table My Loans
//

.table-myloans {
  border-collapse: separate;

  th, td {
    padding-left: 10px;
    padding-right: 10px;
  }

  // Columns
  .table-myloans-item-project {
    width: 17%;
  }

  .table-myloans-item-rating {
    width: 10%;
  }

  .table-myloans-item-amount {
    width: 15%;
    text-align: right;
  }

  .table-myloans-item-interest {
    width: 10%;
    text-align: right;
  }

  .table-myloans-item-monthly {
    width: 12%;
    text-align: right;
  }

  .table-myloans-item-next {
    width: 12%;
  }

  .table-myloans-item-duration {
    width: 12%;
  }

  .table-myloans-item-documents {
    width: 12%;
    text-align: right;
  }

  // Table containing the details for each loan
  .table-myloans-details {
    width: 100%;
    max-height: 0;
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;

    transition: max-height 0.2s;

    > td {
      padding: 0;
      margin: 0;
      background: transparent;
    }

    .table-myloans-details-list {
      box-sizing: border-box;
      background-color: $c-bg3;
      border: none;
    }

    .table-myloans-details-item {
      background-color: $c-bg3;
    }

    //.table-myloans-details-item {
    //  @include clearfix;
    //  width: 100%;
    //
    //  > div {
    //    padding: 10px;
    //    box-sizing: border-box;
    //    float: left;
    //    clear: none;
    //    vertical-align: middle;
    //  }
    //}

    .table-myloans-item-amount {
      width: 42%;
    }

    .table-myloans-item-rate {
      width: 10%;
    }

    .table-myloans-item-documents {
      width: 48%;
      padding-top: 3px !important;
      padding-bottom: 3px !important;
    }
  }
}

// Row showing a single loan (or loan with multiple documents listed in details)
.table-myloans-item {
  .table-myloans-item-project {
    border-left: solid 6px transparent;
  }

  &.ui-loan-status-inprogress {
    .table-myloans-item-project {
      border-color: $c-chart-teal-d;
    }
  }

  &.ui-loan-status-completed {
    .table-myloans-item-project {
      border-color: $c-chart-blue;
    }
  }

  &.ui-loan-status-late {
    .table-myloans-item-project {
      border-color: $c-chart-teal;
    }
  }

  &.ui-loan-status-recovery {
    .table-myloans-item-project {
      border-color: $c-chart-yellow;
    }
  }

  &.ui-loan-status-problem,
  &.ui-loan-status-defaulting {
    .table-myloans-item-project {
      border-color: $c-chart-orange;
    }
  }

  &.ui-loan-status-defaulted {
    .table-myloans-item-project {
      border-color: $c-chart-red;
    }
  }

  // Row has details
  &[data-details] {
    cursor: pointer;

    &:hover {
      background-color: $c-bg3;
    }

    .table-myloans-item-project {
      position: relative;

      &:after {
        content: $fa-angle-d-u; // Angle down
        display: inline-block;
        width: $fs-base;
        height: $fs-base;
        margin-left: 5px;
        color: $c-t3;
        font-family: $ff-icon;
        font-size: inherit;
        line-height: $fs-base;
        text-align: center;
        vertical-align: middle;
        transform: rotate(0deg);
        transform-origin: center center;
        transition: transform .2s;

        position: absolute;
        right: 0;
        top: 50%;
        margin-top: $fs-base * -0.5;
      }
    }

    &#{$js-details-open} {
      background-color: $c-bg3;

      .table-myloans-item-project:after {
        transform: rotate(-180deg);
      }

      > .table-myloans-item-documents > a {
        visibility: hidden;
      }

      .table-myloans-details {
        max-height: 1000px;
      }
    }
  }
}

.loan-doc {
  display: inline-block;
  width: 28px;
  height: 38px;
  position: relative;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;

  .pip {
    margin-right: -($height-pip * .3);
    margin-top: -($height-pip * .3);
    position: absolute;
    right: 0;
    top: 0;
  }
}

.loan-doc-contract {
  background-image: image-url('dashboard/file-contract-28x38.png');
}

.loan-doc-bond {
  background-image: image-url('dashboard/file-bond-28x38.png');
}

.table-myloans * {

  tbody {
    font-size: 15px;
  }

  span.label {
    overflow: visible;
  }
}

#form-filters-loans {
  input {font-size: 15px;}
}