//
// Unilend Table My Operations borrower
//
#user-borrower-dashboard .table {
  th {
    font-size: 11px;
    text-transform: uppercase;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    margin: 20px 0;
  }

  td {
    font-size: 15px;
  }

  .center {
    text-align: center;
  }
}

#user-emprunteur-operations #form-filters-operations {
  margin-bottom: 70px;
}

#user-borrower-projects {
  th, td {
    @include devices('sm', 'laptop', 'lg') {
      padding: 10px 15px;
    }
  }
}

table.table-myoperations-borrower {
  table-layout: fixed;

  tbody tr {
    @include table-row-alt;
  }

  // Columns
  .table-myoperations-borrower-item-type {
    width: 38%;
  }

  .table-myoperations-borrower-item-project {
    width: 12%;
    text-align: right;
  }

  .table-myoperations-borrower-item-date {
    width: 20%;
    text-align: right;
  }

  .table-myoperations-borrower-item-amount {
    width: 22%;
    text-align: right;
  }

  .table-myoperations-borrower-item-controls {
    width: 8%;
    text-align: right;
  }
}

.table-myoperations-borrower-item {
  // Amount
  &.ui-amount-positive {
    .table-myoperations-borrower-item-amount {
      color: $c-teal;
    }
  }

  &.ui-amount-negative {
    .table-myoperations-borrower-item-amount {
      color: $c-error;
    }
  }

  // Has details
  &[data-details] {
    cursor: pointer;

    &:hover {
      background-color: $c-bg3;
    }

    .table-myoperations-borrower-item-type {
      position: relative;

      &:after {
        content: $fa-angle-d-u; // Angle down
        display: inline-block;
        width: $fs-base;
        height: $fs-base;
        margin-left: 5px;
        color: $c-t3;
        font-family: $ff-icon;
        font-size: inherit;
        line-height: $fs-base;
        text-align: center;
        vertical-align: middle;
        transform: rotate(0deg);
        transform-origin: center center;
        transition: transform .2s;

        position: absolute;
        right: 0;
        top: 50%;
        margin-top: $fs-base * -0.5;
      }
    }

    &#{$js-details-open} {
      background-color: $c-bg3;

      .table-myoperations-borrower-item-type:after {
        transform: rotate(-180deg);
      }
    }
  }
}

.below-null {
  color: $c-rejected !important;
}

.table-myoperations-borrower-details {
  vertical-align: top;

  td {
    padding-top: 0;
    padding-bottom: 10px;
    background-color: $c-bg3;
    color: $c-t2;
    line-height: 1.3em;
    vertical-align: top;

    @include devices('laptop', 'lg') {
      padding-bottom: 20px;
    }
  }

  dl {
    @include clearfix;
    display: block;
  }

  dt {
    display: block;
    width: 70%;
    margin-bottom: 3px;
    float: left;
    clear: left;
    text-align: left;
  }

  dd {
    display: block;
    width: 30%;
    margin-bottom: 3px;
    float: left;
    clear: right;
    text-align: right;
  }
}

.table-myoperations-borrower-prefunding,
.table-myoperations-borrower-funding,
.table-myoperations-borrower-postfunding {
  table-layout: fixed;

  th {
    text-align: left;
    font-size: 11px;
  }

  td {
    font-size: 12px;
  }

  tbody tr {
    @include table-row-alt;
  }
}

.table-myoperations-borrower-prefunding {
  // Columns
  .table-borrower-file {
    width: 9%;
  }

  .table-borrower-nature {
    width: 42%;
  }

  .table-borrower-amount {
    width: 11%;
  }

  .table-borrower-status {
    width: 22%;
  }

  .table-borrower-autolend {
    width: 11%;
  }

  .table-borrower-upload {
    width: 5%;
  }

  .min {
    text-transform: none;
    font-size: 9px;
  }
}

.table-myoperations-borrower-funding {
  // Columns
  .table-borrower-file {
    width: 9%;
  }

  .table-borrower-nature {
    width: 37%;
  }

  .table-borrower-amount {
    width: 11%;
  }

  .table-borrower-ending-date {
    width: 11%;
  }

  .table-borrower-funding-rate {
    width: 11%;
  }

  .table-borrower-average-rate {
    width: 11%;
  }

  .table-borrower-buttons {
    width: 5%;
  }
}

.table-myoperations-borrower-postfunding {
  // Columns
  .table-borrower-file {
    width: 9%;
  }

  .table-borrower-nature {
    width: 20%;
  }

  .table-borrower-amount {
    width: 11%;
  }

  .table-borrower-ending-date {
    width: 11%;
  }

  .table-borrower-monthly {
    width: 11%;
  }

  .table-borrower-average-rate {
    width: 11%;
  }

  .table-borrower-crd {
    width: 11%;
  }

  .table-borrower-date {
    width: 11%;
  }

  .table-borrower-button {
    width: 5%;
  }
}
