//
// Unilend Table My Operations borrower
//
#user-borrower-dashboard .table {
  th {
    font-size: 11px;
    text-transform: uppercase;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    margin: 20px 0;
  }

  td {
    font-size: 15px;
  }

  .center {
    text-align: center;
  }
}

#user-emprunteur-operations {
  .table-myoperations {
    display: none;

    + .message-info {
      display: none;
    }
  }
}

#user-emprunteur-operations #form-filters-operations {
  margin-bottom: 70px;
}

#user-emprunteur-operations .cell-right {
  text-align: right;
}

#user-emprunteur-operations .export {
  color: $c-teal;
}

#user-borrower-projects {
  th, td {
    @include devices('sm', 'laptop', 'lg') {
      padding: 10px 15px;
    }
  }
}

.table-myoperations-borrower-item-operation {
  width: 50%;
}

.table-myoperations-borrower-item-projet {
  width: 10%;
  text-align: right;
}

.table-myoperations-borrower-item-date {
  width: 20%;
  text-align: right;
}

.table-myoperations-borrower-item-amount {
  width: 10%;
  text-align: right;
}

td.table-myoperations-borrower-item-amount {
  color: $c-teal;
}

.below-null {
  color: $c-rejected !important;
}

.table-myoperations-borrower-item-detail {
  width: 10%;
  text-align: center;
}

.table-myoperations-prefunding,
.table-myoperations-funding,
.table-myoperations-postfunding {
  table-layout: fixed;

  th {
    text-align: left;
    font-size: 11px;
  }

  td {
    font-size: 12px;
  }
}

.table-myoperations-prefunding {
  .table-borrower-file {
    width: 9%;
  }

  .table-borrower-nature {
    width: 42%;
  }

  .table-borrower-amount {
    width: 11%;
  }

  .table-borrower-status {
    width: 22%;
  }

  .table-borrower-autolend {
    width: 11%;
  }

  .table-borrower-upload {
    width: 5%;
  }

  .min {
    text-transform: none;
    font-size: 9px;
  }
}

.table-myoperations-funding {
  .table-borrower-file {
    width: 9%;
  }

  .table-borrower-nature {
    width: 37%;
  }

  .table-borrower-amount {
    width: 11%;
  }

  .table-borrower-ending-date {
    width: 11%;
  }

  .table-borrower-funding-rate {
    width: 11%;
  }

  .table-borrower-average-rate {
    width: 11%;
  }

  .table-borrower-buttons {
    width: 5%;
  }
}

.table-myoperations-postfunding {
  .table-borrower-file {
    width: 9%;
  }

  .table-borrower-nature {
    width: 20%;
  }

  .table-borrower-amount {
    width: 11%;
  }

  .table-borrower-ending-date {
    width: 11%;
  }

  .table-borrower-monthly {
    width: 11%;
  }

  .table-borrower-average-rate {
    width: 11%;
  }

  .table-borrower-crd {
    width: 11%;
  }

  .table-borrower-date {
    width: 11%;
  }

  .table-borrower-button {
    width: 5%;
  }
}
