.table-prospects, .table-projects, .table-users {
    table-layout: fixed;

    td, th {
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    td {
        font-size: 12px;
    }

    .last-name {
        text-transform: uppercase;
    }
}
.table-prospects-item-action, .table-projects-item-memos, .table-users-item-action {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;

    .btn-default {
        padding: 4px;
        margin-right: 2px;
        min-height: 0;
        min-width: 0;
        height: 28px;
        width: 28px;
        line-height: 1;
        font-size: 14px;
        color: $c-t3;

        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: $c-p1;
        }
    }
    .icon {
        line-height: 16px;
    }
}

/* Prospects table columns width */
.table-prospects-item-borrower {
    width: 50%;
}
.table-prospects-item-amount {
    width: 110px;
}
.table-prospects-item-duration {
    width: 80px;
}
.table-prospects-item-motif {
    width: 50%;
}
.table-prospects-item-action {
    width: 80px;
}

.ui-user-type-partner-admin {
    .table-prospects-item-borrower {
        width: 35%;
    }
    .table-prospects-item-submitter {
        width: 30%;
    }
    .table-prospects-item-motif {
        width: 35%;
    }
}

/* Prospects tables columns width */
.table-projects-item-borrower {
    width: 35%;
}
.table-projects-item-amount {
    width: 110px;
}
.table-projects-item-duration {
    width: 80px;
}
.table-projects-item-motif {
    width: 35%;
}
.table-projects-item-status {
    width: 30%;
}
.table-projects-item-memos {
    width: 75px;
}

.ui-user-type-partner-admin {
    .table-projects-item-borrower {
        width: 25%;
    }
    .table-projects-item-submitter {
        width: 25%;
    }
    .table-projects-item-motif {
        width: 25%;
    }
    .table-projects-item-status {
        width: 25%;
    }
}

.table-prospects-item-action, .table-projects-item-memos {
    .icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        transition: transform 150ms;
    }
}

.table-users-item-name {
    width: 25%;
}
.table-users-item-entity {
    width: 21%;
}
.table-users-item-status, .table-users-item-role {
    width: 18%;
}

.ui-details-open .table-projects-item-memos .icon {
    transform: rotate(90deg);
}
.table-projects-details {
    > td {
        padding: 0;
    }
}
.details-memo-date, .details-memo-author {
    width: 10%;
    padding-right: 0;
}
.ui-user-type-partner-admin {
    .details-memo-date {
        width: auto;
    }
    .details-memo-author {
        width: 20%;
    }
}
#prospect-cancel-motif {
    max-width: 290px;
    margin: 0 auto;
}
