/* Scores Tables */
.scores-container {
    position: relative;
    padding-left: 300px;
}
.scores-fixed-column {
    width: 300px!important;
    position: absolute;
    top: 0; left: 0 ;
}
.scores-fixed-column th {
    text-align: right;
    padding-right: 45px!important;
    line-height: 20px;
}
.scores-table-overscroll {
    overflow-x: scroll;
    overflow-y: hidden;
}
.scores-table th, .scores-table td {
    border-left-width: 30px!important;
    text-align: center;
}
.scores-table td {
    font-weight: 600;
    line-height: 20px!important;
}
.scores-table .score-item-header {
    position: relative;
}
.score-item-header:before {
    position: absolute;
    top: 145px;
    width: 300px;
    left: -165px;
    transform: rotate(-90deg);
    z-index: 100;
    font-size: 14px;
    color: #444;
    text-align: left;
}
.score-item-application:before {
    content: 'Depot de dossier';
}
.score-item-monitoring:before {
    content: 'Monitoring';
}
.score-item-header {
    font-size: 16px;
    width: 200px!important;
}
.score-item-header, .score-item-header:before, .score-item-footer {
    font-weight: 300!important;
}
.score-item-footer {
    position: relative;
}
.score-item-footer:before {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -2px;
    width: 120px;
    border-top: 4px solid #f0f0f0;
}
.score-item-footer span {
    display: block;
    width: 82px;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 0 2px;
    background: #fff;
    color: #999;
    font-size: 13px;
}
.score-change .fa {
    width: 14px;
    margin-right: 2px;
    margin-left: -20px;
    font-size: 12px;
    position: relative;
    top: -1px;
}
.score-change .text-error {
    color: #F2610C;
}

/* Project Status Charts */
.project-status-chart-legend {
    margin-top: 45px;
    min-width: 330px;
    border: 1px solid #e6e6e6;
    padding: 15px 15px 10px;
}
.project-status-chart-legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}
.project-status-chart-legend li {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 20px;
}
.project-status-chart-legend li:last-child {
    margin-bottom: 0;
}
.project-status-chart-legend li.left, .project-status-chart-legend li.right {
    float: left;
    width: 50%;
}
.project-status-chart-legend li.right {
    float: right;
}
.project-status-chart-legend span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.project-status-chart {
    padding: 0 15px;
}
.project-status-chart .col-left {
    float: left;
    width: calc(100% - 360px);
}
.project-status-chart .col-right {
    float: left;
    padding-left: 30px;
    width: 360px;
}