# Mac
.DS_Store

# NetBeans
nbproject/*
!nbproject/project.properties
!nbproject/project.xml
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

### Izinoa ###
protected/
log/
logs/
backup2/
backup3/
tmp/
public/admin/.htaccess
public/default/var
public/default/.htaccess
config.php
data/crud/*
route.php
*.rej

#Symfony 3
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
/var/cache/*
/var/logs/*
/var/sessions/*
!var/SymfonyRequirements.php
/web/bundles/

# PHPStorm
.idea/

# Vagrant
/vagrant/.vagrant/

# Composer
/vendor/

# Exceptions
!public/default/styles/default/*
!public/default/scripts/default/*
!/dev/public/
