# Mac
.DS_Store

/data/crud/*

/protected
/public/default/images/dyn
/public/default/var
/librairies/payline/logs

# Symfony 3
/app/config/parameters.yml
/app/config/parameters_extended.yml
/build/
/phpunit.xml
/var/*
!var/SymfonyRequirements.php
/public/default/bundles/

# PHPStorm
.idea/

# Composer
/vendor/

#npm & gulp
.sass-cache
/node_modules
npm-debug.log
/public/default/assets/
