# Mac
.DS_Store
# Izinoa
/data/crud/*
/route.php

# Symfony 3
/app/config/parameters.yml
/app/config/parameters_extended.yml
/build/
/phpunit.xml
/var/*
!var/SymfonyRequirements.php
/public/bundles/
/public/assets/

# PHPStorm
.idea/

# Vagrant
/vagrant/.vagrant/

# Composer
/vendor/

#npm & gulp
.sass-cache
.publish
/node_modules
**/generated/_icons.sass
npm-debug.log

# Exceptions
!public/default/styles/default/*
!public/default/scripts/default/*
!/dev/public/