includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 0
    paths:
        - src
        - tests
    bootstrap: %rootDir%/../../../config/autoload.php
    autoload_files:
        - %rootDir%/../../../core/command.class.php
        - %rootDir%/../../../core/controller.class.php
        - %rootDir%/../../../bin/.phpunit/phpunit-8.1/vendor/autoload.php
    excludes_analyse:
        - %rootDir%/../../../src/Migrations
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/dev/srcUnilend_KernelDevDebugContainer.xml
