includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 0
    paths:
        - src
        - tests
    bootstrapFiles:
        - tests/bootstrapPHPUnit.php
    excludes_analyse:
        - src/Core/Migrations
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/dev/KLS_KernelDevDebugContainer.xml
