<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="bin/.phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         verbose="true"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="KERNEL_CLASS" value="KLS\Kernel"/>
    </php>

    <extensions>
        <extension class="KLS\Test\Hook\BypassFinalHook"/>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension" />
    </extensions>

    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>

        <testsuite name="unit">
            <directory>tests/Core/Unit</directory>
            <directory>tests/Syndication/Arrangement/Unit</directory>
            <directory>tests/CreditGuaranty/Unit</directory>
        </testsuite>

        <testsuite name="functional">
            <directory>tests/Core/Functional</directory>
            <directory>tests/Syndication/Arrangement/Functional</directory>
            <directory>tests/CreditGuaranty/Functional</directory>
        </testsuite>

        <testsuite name="core">
            <directory>tests/Core</directory>
        </testsuite>

        <testsuite name="core\unit">
            <directory>tests/Core/Unit</directory>
        </testsuite>

        <testsuite name="core\functional">
            <directory>tests/Core/Functional</directory>
        </testsuite>

        <testsuite name="syndication">
            <directory>tests/Syndication</directory>
        </testsuite>

        <testsuite name="syndication\arrangement\unit">
            <directory>tests/Syndication/Arrangement/Unit</directory>
        </testsuite>

        <testsuite name="syndication\arrangement\functional">
            <directory>tests/Syndication/Arrangement/Functional</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
