//
// Unilend - Dashboard Panel - My Account
//

.dashboard-panel.dashboard-myaccount {
  // .dashboard-panel-content {
  //   min-height: 500px - $height-panel-header-md - $height-panel-footer-md;
  // }
}

.dashboard-myaccount-chart-key {
  .chart-key {
    padding: 10px 20px 10px 30px;
    position: relative;
    text-align: left;

    &:before {
      content: '';
      display: block;
      box-sizing: border-box;
      width: 20px;
      height: 20px;

      position: absolute;
      left: 0;
      top: 10px;

      border-radius: 20px;
    }

    .label {
      display: block;
      color: $c-t1;
      font-size: $fs-base * .8;
      line-height: 1.1em;
    }

    .value {
      display: block;
      color: $c-t2;
      font-size: $fs-base * .8;
    }

    &.chart-key-prete:before {
      background-color: #5fc4d0;
    }

    &.chart-key-rembourse:before {
      background-color: #1d79d8;
    }

    &.chart-key-attente:before {
      border: dotted 4px #3286dc;
    }

    &.chart-key-recu:before {
      background-color: #ffa210;
    }

    &.chart-key-recevoir:before {
      border: dotted 4px #ffa210;
    }

    &.chart-key-difficulte:before {
      border: dotted 4px #f8524e;
    }
  }
}

