//
// Dashboard Panel - Notifications
//

.dashboard-panel-alt.dashboard-notifications {
  width: 100%;

  .dashboard-panel-header,
  .dashboard-panel-footer {
    margin: 0 !important;
  }

  .dashboard-panel-content {
    padding: 0 !important;
    margin: 0 !important;
  }

  .dashboard-panel-footer {
    display: none;
  }
}
