{% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
    <div id="beta-disclaimer-modal" data-modal data-modal-maxwidth="900" data-modal-maxheight="750">
        <header class="modal-header">
            <h1 class="modal-title">{% trans %} beta-disclaimer-modal.title {% endtrans %}</h1>
        </header><!-- /.modal-header -->

        <div class="modal-body" style="font-size: 16px;">
            {{ 'beta-disclaimer-modal.content'|trans|raw }}
            <hr style="margin-bottom: 0;">
        </div><!-- /.modal-body -->

        <footer class="modal-footer">
            <button type="submit" class="btn-primary btn-shape-md" data-modal-doactionconfirm>{% trans %} beta-disclaimer-modal.confirm-button {% endtrans %}</button>
        </footer><!-- /.modal-footer -->
    </div>
{% endif %}
