<footer>
    {% if displayDisclaimer is defined and displayDisclaimer %}
        <div class="disclaimer">
            <div class="site-wrap">
                {% trans %} footer.disclaimer {% endtrans %}
            </div>
        </div>
    {% endif %}
    <div class="site-footer">
        <div class="site-wrap">
            <div class="row">
                <div class="col-sub-left col-lg-6 col-md-6">
                    {% block siteFooterSubLeft %} &nbsp; {% endblock %}
                </div>
                <div class="col-sub-right col-lg-6 col-md-6">
                    {% block siteFooterSubRight %}
                        <p class="site-copyright">{% trans %} footer.copyright-all-rights {% endtrans %}</p>
                    {% endblock %}
                </div>
            </div>
        </div><!-- /.site-wrap -->
    </div><!-- /.site-footer -->
</footer>

{% block siteWarnings %}
    <!-- Site Warning: No JS enabled -->
    <noscript>
        <div class="site-warning">
            <div class="site-wrap">
                <h1>{% trans %} site-general.warning-no-javascript-title {% endtrans %}</h1>
                <p>{% trans %} site-general.warning-no-javascript-text {% endtrans %}</p>
                <div class="btn-toolbar">
                    <a href="{{ path('home') }}" class="btn-default">{% trans %} site-general.reload-website {% endtrans %}</a>
                </div>
            </div>
        </div>
    </noscript>

    <!-- Site Warning: Unsupported IE -->
    <!--[if lt IE 9]>
    <div class="site-warning">
        <div class="site-wrap">
            <h1>{% trans %} site-general.warning-unsupported-browser-title {% endtrans %}</h1>
            <p>{% trans %} site-general.warning-unsupported-browser-text {% endtrans %}</p>
            <div class="btn-toolbar">
                <a href="{{ path('home') }}" class="btn-default">{% trans %} site-general.warning-unsupported-browser-confirmation {% endtrans %}</a>
                <a href="http://www.browsehappy.com/" target="_blank" class="btn-default">{% trans %} site-general.warning-unsupported-browser-new-browser {% endtrans %}</a>
            </div>
        </div>
    </div>
    <![endif]-->
{% endblock %}
