{% import '/partials/form_elements.html.twig' as forms %}

<div id="dialog-password-forgotten-content" class="dialog-content readable-wrap text-align-center">
    <h3> {% trans %} password-forgotten_pop-up-title {% endtrans %} </h3>
    <div class="row message-success" id="password-forgotten-success-message" style="display: none;">
        {% trans %} password-forgotten_pop-up-success-message {% endtrans %}
    </div>
    <div class="row message-error" id="password-forgotten-error-message" style="display: none;">
        {% trans %} password-forgotten_pop-up-error-message {% endtrans %}
    </div>
    <div class="row message-error" id="password-forgotten-error-generic-message" style="display: none;">
        {% trans %} password-forgotten_pop-up-error-generic-message {% endtrans %}
    </div>
    <div id="password-forgotten-form">
        <form id="password_forgotten" class="secure-form" action="{{ path('password_reset_request') }}" method="post">
            <div class="panel panel-connect">
                <div class="row message-info">
                    {% trans %} password-forgotten_pop-up-text {% endtrans %}
                </div>
                <div class="panel-inner">
                    <div class="row">
                        <label for="password-forgotten-email">
                            {% trans %} common_email {% endtrans %}
                            <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                        </label>
                        <div class="input-group set-left">
                            <div class="btn-group">
                                <label for="connect-access-email"><span class="icon fa-envelope-o"></span></label>
                            </div>
                            <input id="password-forgotten-email" type="email" name="client_email" class="input-field"
                                   data-formvalidation-input
                                   data-formvalidation-required="true">
                        </div>
                    </div>
                    <div class="row">
                        {{ forms.recaptcha(recaptchaKey) }}
                    </div>
                    <div class="btn-controls">
                        <button type="submit" class="btn-primary" data-spinnerbutton>
                            {% trans %} password-forgotten_pop-up-submit-button {% endtrans %}
                        </button>
                    </div>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{% if app.request.attributes.get('_route') == 'login' %}{{ csrf_token('password') }}{% endif %}" data-token-name="password">
        </form>
    </div>
</div><!-- /#dialog-password-forgotten-content -->
