//
// Unilend Page - Projets Index
//

#projets-index.page {

  // Page Header
  .page-header {
    .hero-wrap {
      @include hero-wrap($enable-padding: true, $padding-xs: 0, $padding-sm: 0, $padding-md: 0, $padding-lg: 0);

      background-image: url('../media/headers/projets-index-header-1680x790.jpg');
      background-position: top center;

      @include devices('md', 'lg') {
        background-position: right center;
      }
    }

    .page-title {
      max-width: 70%;

      @include devices('xs') {
        margin-bottom: 30px;
      }

      @include devices('xs', 'sm') {
        max-width: 95%;
      }
    }
  }

  .page-section-footer {
    padding-top: 50px;
  }
}

@include devices('xs') {
  #projets-index-project-list {
    > .site-wrap {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
