{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    <form action="{{ path('login-check') }}" method="post" id="project-single-login-form" class="project-single-form project-single-form-access" data-formvalidation>
        <div class="form-field">
            <label for="form-access-email"><span class="sr-only">{% trans %} common_email {% endtrans %}</span></label>
            <div class="input-group set-left">
                <div class="btn-group">
                    <span class="icon fa-envelope-o"></span>
                </div>
                <input id="form-access-email" type="email" data-login-name="_username" name="_username" autocomplete="off"
                       placeholder="{% trans %} common_email {% endtrans %}" value="" class="input-field"
                       data-formvalidation-input data-formvalidation-required="true"/>
            </div><!-- /.input-group -->
            <ul class="ui-formvalidation-messages"></ul>
        </div><!-- /.form-field -->
        <div class="form-field">
            <label for="form-access-password"><span class="sr-only">{% trans %} common_password {% endtrans %}</span></label>
            <div class="input-group set-left">
                <div class="btn-group">
                    <span class="icon fa-lock-u32"></span>
                </div>
                <input id="form-access-password" type="password" data-login-name="_password" name="_password"
                       placeholder="{% trans %} common_password {% endtrans %}"
                       value="" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
            </div><!-- /.input-group -->
        </div><!-- /.form-field -->
        <div class="form-field">
            <div class="field-help">
                <a href="#dialog-conditions-content" class="fancybox-html">
                    {% trans %} connect-subscribe-page_login-box-password-forgotten-link {% endtrans %}
                </a>
            </div>
        </div><!-- /.form-field -->
        <div class="btn-toolbar">
            <input type="submit" class="btn-primary btn-size-full" value="{% trans %} project-detail_side-bar-login-submit-button {% endtrans %}">
            <input type="hidden" name="_target_path" value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
            <p>
                <a href="{{ path('lender_subscription_personal_information') }}"><span class="icon fa-angle-right"></span> {% trans %} project-detail_side-bar-login-subscription-link {% endtrans %}</a>
            </p>
        </div><!-- /.btn-toolbar -->
        <input type="hidden" name="_csrf_token">
    </form><!-- /.project-single-form-access -->
    {# Hidden text until made visible through the fancybox #}
    <div class="hide-accessible">
        {{ include('partials/components/popup_password_forgotten.html.twig') }}
    </div><!-- /.hide-accessible -->
{% endif %}
