<div id="modal-cip-advices-prompt" class="modal-cip-advices" data-modal data-modal-maxwidth="650">
    <header class="modal-header">
        <strong id="modal-cip-advices-message">{% trans %} project-detail_modal-cip-advices-title {% endtrans %}</strong>
    </header>
    <footer class="modal-footer">
        <div class="btn-controls">
            <a href="javascript:;" class="btn-primary btn-shape-md" data-modal-doactionconfirm>
                {% trans %} project-detail_modal-cip-advices-cancel {% endtrans %}
            </a>
            <a href="javascript:;" class="btn-default btn-shape-md" data-modal-doactioncancel>
                {% trans %} project-detail_modal-cip-advices-confirm {% endtrans %}
            </a>
        </div>
    </footer>
</div>
