<div id="modal-bid-error-prompt" class="modal-bid-confirmation" data-modal>
    <header class="modal-header">
        <h4 class="error-title"></h4>
    </header>
    <div class="modal-body">
        <div class="error-messages"></div>
    </div>
    <footer class="modal-footer">
        <a href="javascript:;" class="btn-default" data-modal-doactioncancel>
            {% trans %} project-detail_modal-bid-error-button {% endtrans %}
        </a>
    </footer>
</div>
