<div id="modal-bid-confirmation-prompt" class="modal-bid-confirmation" data-modal>
    <div class="modal-body">
        <div class="">
            <h3>{% trans %} project-detail_side-bar-bids-confirmation-popup {% endtrans %}</h3>
            <p style="display:none">{% trans %} project-detail_bids-confirmation-details {% endtrans %}</p>
        </div>
    </div>
    <footer class="modal-footer">
        <button type="submit" class="btn-primary" data-modal-doactionconfirm>
            {% trans %} project-detail_side-bar-bids-submit-button {% endtrans %}
        </button>
        <a href="javascript:;" class="btn-default" data-modal-doactioncancel>
            {% trans %} project-detail_side-bar-bids-decline-button {% endtrans %}
        </a>
    </footer>
</div>

