<div id="modal-bid-error-prompt" class="modal-bid-confirmation" data-modal>
    <div class="modal-body">
        <h4>{% trans %} project-detail_bids-error-title {% endtrans %}</h4>
        <div class="error-messages"></div>
    </div>
    <footer class="modal-footer">
        <a href="javascript:;" class="btn-default" data-modal-doactioncancel>
            {% trans %} project-detail_side-bar-bids-decline-button {% endtrans %}
        </a>
    </footer>
</div>
