<div id="modal-cip-advices-prompt" class="modal-cip-advices" data-modal data-modal-maxwidth="650">
    <header class="modal-header">
        <h4>{% trans %} project-detail_modal-cip-advices-title {% endtrans %}</h4>
    </header>
    <div class="modal-body">
        <p>{% trans %} project-detail_modal-cip-advices-content {% endtrans %}</p>
    </div>
    <footer class="modal-footer">
        <div class="btn-controls">
            <a href="javascript:;" class="btn-primary btn-shape-md" data-modal-doactionconfirm>
                {% trans %} project-detail_modal-cip-advices-cancel {% endtrans %}
            </a>
            <a href="javascript:;" class="btn-default btn-shape-md" data-modal-doactioncancel>
                {% trans %} project-detail_modal-cip-advices-confirm {% endtrans %}
            </a>
        </div>
    </footer>
</div>
