<div id="modal-cip-questionnaire-prompt" class="modal-cip-questionnaire" data-modal>
    <div class="modal-body">
        <h4>{% trans %} cip-questionnaire_modal-confirmation-title {% endtrans %}</h4>
        <p>{% trans %} cip-questionnaire_modal-confirmation-message {% endtrans %}</p>
    </div>
    <footer class="modal-footer">
        <a href="{{ path('cip_continue_questionnaire') }}" class="btn-primary">
            {% trans %} cip-questionnaire_modal-confirmation-button-accept {% endtrans %}
        </button>
        <a href="javascript:;" class="btn-default" data-modal-doactioncancel>
            {% trans %} cip-questionnaire_modal-confirmation-button-decline {% endtrans %}
        </a>
    </footer>
</div>
