<div id="modal-cip-questionnaire-prompt" class="modal-cip-questionnaire" data-modal data-modal-maxwidth="650">
    <div class="modal-body">
        <h4>{% trans %} project-detail_modal-cip-questionnaire-title {% endtrans %}</h4>
        <p>{% trans %} project-detail_modal-cip-questionnaire-content {% endtrans %}</p>
    </div>
    <footer class="modal-footer">
        <a href="{{ path('cip_continue_questionnaire') }}" class="btn-primary btn-shape-md">
            {% trans %} project-detail_modal-cip-questionnaire-confirm {% endtrans %}
        </a>
        <a href="javascript:;" class="btn-primary btn-shape-md" data-modal-doactioncancel>
            {% trans %} project-detail_modal-cip-questionnaire-cancel {% endtrans %}
        </a>
    </footer>
</div>
