<div id="modal-cip-advices-prompt" class="modal-cip-advices" data-modal data-modal-maxwidth="650">
    <div class="modal-body">
        <h4 id="modal-cip-advices-message">Attention, le montant que vous souhaitez prêter est supérieur à 2 000 €</h4>
        <h5>Confirmez-vous vouloir formuler cette offre de prêt</h5>
    </div>
    <footer class="modal-footer">
        <a href="javascript:;" class="btn-primary btn-shape-md" data-modal-doactioncancel>
            J’ai changé d’avis, je ne prête pas
        </a>
        <a href="javascript:;" class="btn-default btn-shape-md" data-modal-doactionconfirm>
            Je prête quand même
        </a>
    </footer>
</div>
