var $trancheCollectionHolder = $('div.tranches');

var $addTrancheButton = $(
    '<a href="javascript:;" class="btn-default btn-shape-sq-md margin-10-t">' +
    '    <span class="icon fa-plus-u16 c-t2"></span>' +
    '</a>'
);

$trancheCollectionHolder.append($addTrancheButton);

$trancheCollectionHolder.data('index', $trancheCollectionHolder.find(':input').length);

$addTrancheButton.on('click', function () {
    addTrancheForm($trancheCollectionHolder, $addTrancheButton);
});

function addTrancheForm($trancheCollectionHolder, $addTrancheButton) {
    var prototype = $trancheCollectionHolder.data('prototype');
    var prototypeName = $trancheCollectionHolder.data('prototype-name');
    var index = $trancheCollectionHolder.data('index');
    var newForm = prototype;

    newForm = newForm.replace(new RegExp(prototypeName, 'g'), index);

    $trancheCollectionHolder.data('index', index + 1);

    var $newFormDiv = $('<div class="row row-multi-col"></div>').append(newForm);
    $newFormDiv.find('.ui-has-datepicker, [data-ui-datepicker]').uiPikaday();
    $addTrancheButton.before($newFormDiv);

    var $tranchePercentFeeCollectionHolder = $trancheCollectionHolder.find('div.tranche-percent-fees:last');

    initTranchePercentFeeForm($tranchePercentFeeCollectionHolder);

    var $removeFormButton = $('<div class="row text-align-right"><button type="button" class="btn-default btn-shape-xxs">' +  '{% trans %} tranche-form.delete-row {% endtrans %}' + '</button></div>');
    $newFormDiv.find('div:last').append($removeFormButton);

    $removeFormButton.on('click', function () {
        $newFormDiv.remove();
    });
}

function initTranchePercentFeeForm($tranchePercentFeeCollectionHolder) {
    var $addTranchePercentFeeButton = $(
        '<a href="javascript:;" class="btn-default btn-shape-sq-sm">' +
        '    <span class="icon fa-plus-u16 c-t2"></span>' +
        '</a>'
    );

    $tranchePercentFeeCollectionHolder.append($addTranchePercentFeeButton);

    $tranchePercentFeeCollectionHolder.data('index', $tranchePercentFeeCollectionHolder.find(':input').length);

    $addTranchePercentFeeButton.on('click', function () {
        addTranchePercentFeeForm($tranchePercentFeeCollectionHolder, $addTranchePercentFeeButton);
    });
}

function addTranchePercentFeeForm($tranchePercentFeeCollectionHolder, $addTranchePercentFeeButton) {
    var prototype = $tranchePercentFeeCollectionHolder.data('prototype');
    var prototypeName = $tranchePercentFeeCollectionHolder.data('prototype-name');
    var index = $tranchePercentFeeCollectionHolder.data('index');

    var $newForm = $(prototype.replace(new RegExp(prototypeName, 'g'), index));

    $tranchePercentFeeCollectionHolder.data('index', index + 1);

    var $removeFormButton = $('<div class="col-lg-2 col-md-2"><button type="button" class="btn-default btn-shape-xxs" style="margin-top: 45px;">' + '{% trans %} percent-fee-form.delete-row {% endtrans %}' + '</button></div>');
    $newForm.append($removeFormButton)

    var $newFormDiv = $('<div class="row row-multi-col"></div>').append($newForm);
    $addTranchePercentFeeButton.before($newFormDiv);

    $removeFormButton.on('click', function () {
        $newFormDiv.remove();
    });
}

$ (function () {
    if ($trancheCollectionHolder.children('div').length === 0) {
        addTrancheForm($trancheCollectionHolder, $addTrancheButton);
    }
})
