<div id="form-preter-lp-notifications">
    {% if app.session.flashBag.has('landingPageErrors') %}
        <div class="message-error">
            {% for error in app.session.flashBag.get('landingPageErrors') %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>

<form action="{{ path('landing_page_lender_submit') }}" method="post" class="form-preter-lp" data-formvalidation data-formvalidation-notificationselem="#form-preter-lp-notifications">

    <div class="form-field row row-multi-col-computer">
        <div class="col-lg-2 col-md-3">
            <label for="form-preter-lp-nom" class="field-label">{% trans %} common_name {% endtrans %}&nbsp;<span class="field-required">*<span class="sr-only">{% trans %} common_mandatory-field {% endtrans %}</span></span></label>
        </div>
        <div class="col-lg-7 col-md-7">
            <input type="text" id="form-preter-lp-nom" name="prospect_name" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
            <ul class="ui-formvalidation-messages"></ul>
        </div>
    </div><!-- /.form-field -->

    <div class="form-field row row-multi-col-computer">
        <div class="col-lg-2 col-md-3">
            <label for="form-preter-lp-prenom" class="field-label">{% trans %} common_firstname {% endtrans %}&nbsp;<span class="field-required">*<span class="sr-only">{% trans %} common_mandatory-field {% endtrans %}</span></span></label>
        </div>
        <div class="col-lg-7 col-md-7">
            <input type="text" id="form-preter-lp-prenom" name="prospect_first_name" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
            <ul class="ui-formvalidation-messages"></ul>
        </div>
    </div><!-- /.form-field -->

    <div class="form-field row row-multi-col-computer">
        <div class="col-lg-2 col-md-3">
            <label for="form-preter-lp-email" class="field-label">{% trans %} common_email {% endtrans %}&nbsp;<span class="field-required">*<span class="sr-only">{% trans %} common_mandatory-field {% endtrans %}</span></span></label>
        </div>
        <div class="col-lg-7 col-md-7">
            <input type="email" id="form-preter-lp-email" name="prospect_email" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
            <ul class="ui-formvalidation-messages"></ul>
        </div>
    </div><!-- /.form-field -->

    <footer class="form-preter-lp-footer row row-multi-col-computer">
        <div class="col-submit push-lg-2 col-lg-7 push-md-3 col-md-7">
            <button type="submit" class="btn-primary btn-size-full">{% trans %} lender-landing-page_form-submit-button {% endtrans %}</button>
        </div>
    </footer><!-- /.form-preter-lp-footer -->

    {% if setting('offre-de-bienvenue-sur-lp') == 1 %}
        <div class="stamp bg-p1" data-watchscroll-action="enter" data-watchscroll-callback="addClass:ui-is-visible">
            {% trans %} lender-landing-page_welcome-offer-text {% endtrans %}
        </div><!-- /.stamp -->
    {% endif %}
</form><!-- /.form-preter-lp -->