<div class="row">
    <div class="form-field">
        <label for="form-lender-security-question">Spécifiez une question secrète
            <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
        <input id="form-profile-security-question" type="text" name="client_secret_question" class="input-field" data-formvalidation-input data-formvalidation-required="true">
        <div class="field-help">Cette question vous sera posée dans le cas où vous auriez oublié votre mot de passe.</div>
    </div><!-- /.form-field -->
</div>

<div class="row">
    <div class="form-field">
        <label for="form-profile-security-question-a">Saisissez la réponse à cette question secrète
            <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
        <input type="text" id="form-lender-secret-answer" name="client_secret_answer" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true" value=""/>
    </div><!-- /.form-field -->
</div>
