<fieldset class="panel">
    <div class="row row-multi-col-computer">
        <div class="form-field col-lg-6 col-md-6">
            <label for="form-lender-email">{% trans %} common_email {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
            <input id="form-lender-email" type="email" name="client_email" value="{{ formData.client_email }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
        </div><!-- /.form-field -->
        <div class="form-field col-lg-6 col-md-6">
            <label for="form-lender-email-conf">{% trans %} common_email-confirmation {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
            <div class="input-group">
                <input id="form-lender-person-email-conf" type="email" name="client_email_confirmation" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-samevalueas="#form-lender-person-email"/>
            </div>
        </div><!-- /.form-field -->
    </div>

    <div class="row row-multi-col-computer">
        <div class="form-field col-lg-6 col-md-6">
            <label for="form-lender-pwd">{% trans %} common-password {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
            <input id="form-lender-pwd" type="password" name="client_password" value="" class="input-field" data-passwordcheck data-formvalidation-input data-formvalidation-required="true" data-formvalidation-minlength="6"/>
        </div><!-- /.form-field -->
        <div class="form-field col-lg-6 col-md-6">
            <label for="form-lender-pwd-conf">{% trans %} common_password-confirmation {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
            <div class="input-group">
                <input id="form-lender-pwd-conf" type="password" name="client_password_confirmation" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-samevalueas="#form-lender-pwd"/>
            </div>
        </div><!-- /.form-field -->
    </div>
<div class="row">
    <div class="form-field">
        <label for="form-lender-security-question">{% trans %} lender-subscription_security-form-secret-question-label {% endtrans %}
            <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
        <input id="form-lender-security-question" type="text" name="client_secret_question" class="input-field" data-formvalidation-input data-formvalidation-required="true">
        <div class="field-help">{% trans %} lender-subscription_security-form-secret-question-info {% endtrans %}</div>
    </div><!-- /.form-field -->
</div>

<div class="row">
    <div class="form-field">
        <label for="form-lender-security-question-a">{% trans %} lender-subscription_security-form-secret-answer-label {% endtrans %}
            <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
        <input type="text" id="form-lender-secret-answer" name="client_secret_answer" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true" />
    </div><!-- /.form-field -->
</div>
</fieldset>