<div class="col-promos col-lg-4 col-md-4">
    <div class="promo">
        <div class="promo-image">
            {{ svgimage('#promo-francemap', '', 190, 190, 'none') | raw }}
        </div>
        <h3 class="promo-highlight">
            <span class="ui-text-count" data-start-count="0" data-end-count="100" data-total-time="3000" data-round-float="round" data-tween-count="easeOutCirc">100</span><sup>%</sup>
        </h3>
        <p>{% trans %} lender-subscription_step-1-statistics-1-text {% endtrans %}</p>
    </div><!-- /.promo -->

    <div class="promo">
        <div class="promo-image">
            {{ svgimage('#promo-linechart2', '', 190, 190, 'none') | raw }}
        </div>
        <h3 class="promo-highlight">
            <span class="ui-text-count" data-start-count="0" data-end-count="8.84" data-total-time="3000" data-limit-decimal="2" data-tween-count="easeOutCirc">8,84</span><sup>%</sup>
        </h3>
        <p>{% trans %} lender-subscription_step-1-statistics-2-text {% endtrans %}</p>
    </div><!-- /.promo -->

    <div class="promo">
        <div class="promo-image">
            {{ svgimage('#promo-clock', '', 190, 190, 'none') | raw }}
        </div>
        <h3 class="promo-highlight">5</h3>
        <p>{% trans %} lender-subscription_step-1-statistics-3-text {% endtrans %}</p>
    </div><!-- /.promo -->
</div>