<fieldset class="panel">
    <h3 class="h3">{% trans %} lender_subscription_section-name-id-documents {% endtrans %}</h3>

    <div class="message-info">
        <p>{% trans %} lender-subscription_step-2-accepted-attachment-formats {% endtrans %}</p>
    </div><!-- /.message-info -->

    <div class="row">
        <div class="form-field">
            <label>{% trans %} lender-subscription_step-2-person-id-attachments-section-title {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} lender-subscription_mandatory-field {% endtrans %}</span></span></label>
            <div class="field-help">
                <p>{% trans %} lender-subscription_step-2-person-id-attachments-section-info {% endtrans %}</p>
            </div>
            <div class="form-field">
                <div class="custom-input-file" id="form-lender-step-2-file-identity-cni-1" data-fileattach-maxfiles="1"
                     data-fileattach data-fileattach-inputname="id_recto"
                     data-fileattach-emptyfilelabel="{% trans %} lender-subscription_step-2-person-id-attachment-recto-placeholder {% endtrans %}"
                     data-formvalidation-input data-formvalidation-required='input[type="file"][name="fichier[identite][cni_a][0]"]'></div><!-- /.ui-fileattach -->
            </div>
            <div class="form-field">
                <div class="custom-input-file" id="form-preter-file-identite-cni-2" data-fileattach-maxfiles="1"
                     data-fileattach data-fileattach-inputname="id_verso"
                     data-fileattach-emptyfilelabel="{% trans %} lender-subscription_step-2-person-id-attachment-verso-placeholder {% endtrans %}"
                     data-formvalidation-input data-formvalidation-required='input[type="file"][name="fichier[identite][cni_b][0]"]'></div><!-- /.ui-fileattach -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-field">
            <label>{% trans %} lender-subscription_step-2-person-housing-certificate-section-title {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} lender-subscription_mandatory-field {% endtrans %}</span></span></label>

            <div class="field-help">
                <p>{% trans %} lender-subscription_step-2-person-housing-certificate-section-info {% endtrans %}</p>
            </div>

            <div class="custom-input-file" id="form-preter-file-domicile" data-fileattach data-fileattach-inputname="fichier[domicile]" data-fileattach-maxfiles="1" data-formvalidation-input data-formvalidation-required='input[type="file"][name="fichier[domicile][0]"]'></div><!-- /.ui-fileattach -->

            <ul class="ui-formvalidation-messages"></ul>
            <p>
                <a href="#todo" class="link">Le justificatif n'est pas à votre nom?</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="form-field">
            <label for="form-preter-fichier-identité">Relévé d'identité bancaire (RIB)
                <span class="field-required">*<span class="sr-only"> {% trans %} lender-subscription_mandatory-field {% endtrans %}</span></span></label>

            <div class="custom-input-file" id="form-preter-file-file-rib" data-fileattach data-fileattach-inputname="fichier[rib]" data-fileattach-maxfiles="1" data-fileattach-emptyfilelabel="No file attached" data-formvalidation-input data-formvalidation-required='input[type="file"][name="fichier[rib][0]"]'></div><!-- /.ui-fileattach -->

            <ul class="ui-formvalidation-messages"></ul>

            <div class="field-help">
                <p>Correspondant au compte bancaire renseigné ci-dessus</p>
            </div>
        </div>
    </div>

</fieldset>