<fieldset class="panel">
    <h3 class="h3">{% trans %} lender_subscription_section-name-id-documents {% endtrans %}</h3>

    <div class="message-info">
        <p>{% trans %} lender-subscription_step-2-accepted-attachment-formats {% endtrans %}</p>
    </div><!-- /.message-info -->

    <div class="row">
        <div class="form-field">
            <label>{% trans %} lender-subscription_step-2-legal-entity-identity-attachments-title {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
            <div class="form-field">
                <div class="custom-input-file" id="form-lender-subscription-info-file-company-registration"
                     data-fileattach data-fileattach-inputname="company-registration"
                     data-fileattach-maxfiles="1"
                     data-formvalidation-input data-formvalidation-required='input[type="file"]'
                     data-fileattach-emptyfilelabel="{% trans %} lender-subscription_step-2-legal-entity-company-registration {% endtrans %}">
                </div><!-- /.ui-fileattach -->
            </div>

            {% if company.status_client > 1 %}
            <div class="form-field">
                <div class="custom-input-file" id="form-lender-subscription-info-file-delegation-authority"
                     data-fileattach data-fileattach-inputname="delegation-of-authority"
                     data-fileattach-maxfiles="1"
                     data-fileattach-emptyfilelabel="{% trans %} lender-subscription_step-2-legal-entity-delegation-of-authority {% endtrans %}">
                </div><!-- /.ui-fileattach -->
            </div>
            {% endif %}

            <div class="form-field">
                <div class="custom-input-file" id="form-lender-subscription-info-file-director-cni-1"
                     data-fileattach data-fileattach-inputname="id_recto"
                     data-fileattach-maxfiles="1"
                     data-formvalidation-input data-formvalidation-required='input[type="file"]'
                     data-fileattach-emptyfilelabel="{% trans %} lender-subscription_step-2-legal-entity-director-ID-recto {% endtrans %}">
                </div><!-- /.ui-fileattach -->
            </div>

            <div class="form-field">
                <div class="custom-input-file" id="form-lender-subscription-info-file-director-cni-2"
                     data-fileattach data-fileattach-inputname="id_verso"
                     data-fileattach-maxfiles="1"
                     data-fileattach-emptyfilelabel="{% trans %} lender-subscription_step-2-legal-entity-director-ID-verso {% endtrans %}">
                </div><!-- /.ui-fileattach -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-field">
            <label for="form-preter-fichier-identité">{% trans %} lender-subscription_step-2-rib {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>

            <div class="custom-input-file" id="form-preter-file-file-rib" data-fileattach-maxfiles="1"
                 data-fileattach data-fileattach-inputname="rib"
                 data-formvalidation-input data-formvalidation-required='input[type="file"][name="fichier[rib][0]"]'></div><!-- /.ui-fileattach -->

            <ul class="ui-formvalidation-messages"></ul>

            <div class="field-help">
                <p>{% trans %} lender-subscription_step-2-rib-info {% endtrans %}</p>
            </div>
        </div>
    </div>

</fieldset>