//
// Unilend Page Header
//

.page-header {
  @include hero-wrap($enable-padding: true, $padding-xs: 0, $padding-sm: 0);

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  // Constrains text content to the site wrap
  .site-wrap {
    position: relative;

    @include devices('sm', 'md', 'lg') {
      height: 200px;
      @include vertical-align-inline-block;
    }
  }

  .page-title {
    font-size: $fs-h2;

    @include devices('md', 'lg') {
      font-size: $fs-h1;
    }
  }
}

.page-title {
  color: $c-p1;
  font-size: $fs-h1;
}
