//
// Unilend Table Offers
//

// My Offers
.table-myoffers {
  tr {
    background-color: $c-purple-l2;
    border-bottom: solid 2px $c-white;
    color: $c-p1;
  }

  // Make rejected look dull
  #myoffers-rejected & {
    tr {
      background-color: $c-bg3;
      color: $c-t2;
    }
  }
}

.table-myoffers-item-id {
  width: 25%;
  text-align: left;
}

.table-myoffers-item-interest {
  width: 25%;
  text-align: right;
}

.table-myoffers-item-amount {
  width: 30%;
  text-align: right;
}

.table-myoffers-item-view {
  width: 20%;
  padding-left: 0;
  padding-right: 0;

  a {
    display: block;
    text-align: center;
  }
}

// All offers
.table-alloffers {
  tbody {
    tr {
      // Accepted
      &[data-sortable-status="2"] {
        .icon {
          color: $c-p1;
        }
      }

      // Rejected
      &[data-sortable-status="3"] {
        color: $c-t3;
      }
    }
  }

  td.table-alloffers-item-status {
    .icon {
      font-size: 28px;
    }
  }
}

.table-alloffers-item-id {
  width: 20%;
  // padding-left: 40px;
  text-align: left;
}

.table-alloffers-item-interest {
  width: 30%;
  text-align: right;
}

.table-alloffers-item-amount {
  width: 30%;
  text-align: right;
}

.table-alloffers-item-status {
  width: 20%;
  text-align: right;
}
