parameters:
    database_driver:                pdo_mysql

    # Begin of parameters managed also by Ansible in parameters_extended.yml
    database_host:                  localhost
    database_port:                  ~
    database_name:                  unilend
    database_user:                  unilend
    database_password:              myPassw0rd

    mailjet.api_key:                ~
    mailjet.api_secret:             ~
    mailer_transport:               mail # mailjet for prod, mail for the rest of the environments

    desk_user:                      equipeit@unilend.fr
    desk_password:                  password

    gtm_token:                      GTM-W2WQKW

    url.universign:                 'https://equipeit@unilend.fr:universign4unilend@ws.universign.eu/sign/rpc/'
    url.host_admin:                 'admin.local.unilend.fr' # for Front to know the url BO
    url.host_default:               'www.local.unilend.fr' # for BO to know the url Front

    sonata_cache.servers:
        - { domain: www.local.unilend.fr, ip: 192.168.110.12, port: 443 }

    euler.account_key:              JTP0gJbzwOzct7HTsKYcpjayoK5urpcLkxSAKIPnoXMNUEhN6RMe4bJjalU6n
    euler.coverage_key:             RwYS8unBOk1jXkGHVuppAj50mX3RCrG84UXuT3uVDEhbi7KBSqdvefM6PFXc82
    euler.grading_key:              kXZVEwuNtZhczOicgd2X74Gj8tSI5NqKKyPXr1ll30zyWUftRSN7aQ0M3mxvOBtX
    euler.url:                      'https://api-demo.single-invoice.co/v2.0/'
    euler.email:                    equipeit@unilend.fr
    euler.password:                 )XZpX~x4]"Lr6)BR

    codinf.user:                    ~
    codinf.password:                ~
    codinf.url:                     'https://www.codinf.fr/incidents/'

    infolegale.token:               VCDju3hCKiMV8x0TllLV1gplHGkDC6bo
    infolegale.url:                 'https://wspreprod.infolegale.fr/'

    infogreffe.login:               '85000387'
    infogreffe.password:            65877
    infogreffe.url:                 'https://qual.infogreffe.fr:443/WSContextInfogreffe/INFOGREFFE'
    infogreffe.wsdl_url:            'https://qual.infogreffe.fr/InfogreffeWs/wsdl.jsp'

    altares.login:                  U2016014914
    altares.password:               6e0f641ab06a4cc8eb998c9108b63d423e9f837c
    altares.wsdl_url_identity:      'https://intuiz.altares.fr/iws-v3.13/services/CallistoIdentite?wsdl'
    altares.wsdl_url_risk:          'https://intuiz.altares.fr/iws-v3.13/services/CallistoRisque?wsdl'

    slack.default_channel:           '#it-testing'
    slack.monitoring_channel:        '#it-testing'

    # End of parameters managed also by Ansible

    dbal_wrapper_class:              Unilend\Bridge\Doctrine\DBAL\Connection
    dbal_driver_class:               Facile\DoctrineMySQLComeBack\Doctrine\DBAL\Driver\PDOMySql\Driver

    mongodb_server:                  mongodb://uld-mdb-admin:cyPKA2c0C6hq3JLp@datalake-shard-00-01-lnres.mongodb.net:27017
    mongodb_username:                uld-mdb-admin
    mongodb_password:                cyPKA2c0C6hq3JLp

    secret:                          440caf9a41b35b72dc75ec333e3a33b7cab2366b
    locale:                          fr_FR

    server1.memcache_host:           127.0.0.1
    server1.memcache_port:           11211

    image_resize:
        projets:
            authorized:              [72, 169] # Authorized heights
            height:                  1365      # Source image maximum height
            width:                   2048      # Source image maximum width

    router.request_context.scheme:   https

    path.static:                     /data/sites/unilend/public/default/
    path.shared:                     /data/medias/nfs/
    path.shared_tmp:                 %path.shared%tmp/
    path.user:                       %path.shared%var/
    path.sftp:                       %path.shared%sftp/
    path.protected:                  %path.shared%protected/
    path.payline:                    /data/sites/unilend/librairies/payline/

    mapbox.token:                    pk.eyJ1IjoidW5pbGVuZCIsImEiOiJjaXJiczA4ejQwMDVvaWZsdzdmMmpnOGRtIn0._IBtG2TUy17m7S6jwVBrcg

    security.bcrypt.cost:            13

    new_relic.front_app_name:        Unilend-front
    new_relic.back_app_name:         Unilend-backoffice
    new_relic.console_app_name:      Unilend-batchjobs

    ekomi.url:                       http://apps.ekomi.com/srr/add-recipient
    ekomi.shop_id:                   ~
    ekomi.password:                  ~
