@font-face {
    font-family: 'Calibri-Regular';
    src: url('fonts/calibri-regular.eot');
    src: url('fonts/calibri-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/calibri-regular.svg#Calibri-Regular') format('svg'),
         url('fonts/calibri-regular.woff') format('woff'),
         url('fonts/calibri-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri-Bold';
    src: url('fonts/calibri-bold.eot');
    src: url('fonts/calibri-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/calibri-bold.svg#Calibri-Bold') format('svg'),
         url('fonts/calibri-bold.woff') format('woff'),
         url('fonts/calibri-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 18px;
    line-height: 22px;
    font-family: 'Calibri-Regular', arial, sans-serif;
    color: #000;
    background: #fff;
    min-width: 692px;
}

.container {
	/*width:692px;*/ 
	width:892px;
	margin:0 auto;
}

a { color: #b20066; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.clearfix:before, .clearfix:after { display: table; content: ' '; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1 }

strong { font-weight:bold; font-family: 'Calibri-Bold', arial; }

h2, h3, h4 { font-weight:normal; font-family: 'Calibri-Bold', arial; color:#b20066; }
h2 { font-size:24px; line-height:28px; }
h3 { font-size:21px; line-height:25px; }
h4 { font-size:18px; line-height:22px; }

/* Header */
.header { padding: 67px 0 55px; }

.logo { float:left; padding-left:2px; }
.logo a { background:url(images/logo.png) no-repeat 0 0; width:137px; height:34px; display:block; text-indent: 100%; white-space:nowrap; overflow: hidden; }

/* Main */
.section { padding-bottom:108px; }
.section h2 { text-transform:uppercase; padding-bottom:14px; font-family:Arial, sans-serif; font-weight:bold; }
.section ul { width:340px; float:left; }
.section ul + ul { float:right; }
.section li { list-style:none outside none; }

.block { padding-bottom:204px; }
.block h4 { padding-bottom:45px; }
.block li { list-style:none outside none; width:100%; float:left; }
.block li.total { color:#b20066; font-family: 'Calibri-Bold', arial; }
.block li span { width:320px; float:left; }
.block li span + span { float:right; text-align:right; }

.info-block { padding-bottom:209px; }
.info-head { padding-bottom:44px; }
.info-head a { color:#000; }
.info-body { font-size:17px; line-height:21px; }

/* Footer */
.footer { color:#b20066; font-size:9px; line-height:15px; font-family: 'Calibri-Bold', arial; padding-bottom:58px; }