//
// Unilend Emprunter Sim
//

.emprunter-sim {
  // border-radius: 4px;
  background-color: $c-white;
  border: solid 1px $c-bg2;

  @include devices('md') {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  @include devices('lg') {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-steps {
    > li {
      width: 50%;
    }
  }

  dl dd {
    text-align: right;
  }

  .small {
    color: $c-purple-l;

    @include devices('md', 'lg') {
      margin: .5em 0;
      padding-left: 10px;
    }
  }
}

.emprunter-sim-pane-inner {
  padding: 40px 20px;

  @include devices('tablet-p', 'md', 'lg') {
    > .row {
      > * {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  p[data-borrower-motive] {
    display: none;
  }
}

.emprunter-sim-estimate {
  dl {
    display: none;
  }

  .emprunter-sim-estimate-legend {
    display: none;
  }

  .btn-continue {
    display: block;
  }

  .btn-submit {
    display: none;
  }

  .ui-emprunter-sim-estimate-show & {
    dl {
      display: block;
    }

    .emprunter-sim-estimate-legend {
      display: block;
    }

    .spacer {
      display: none;
    }

    .btn-continue {
      display: none;
    }

    .btn-submit {
      display: block;
    }
  }
}
.emprunter-sim-partner {
  @include devices('md','lg') {
    max-width: none;
  }
}
.emprunter-sim-pane-inner-content {
  dl dd {
    text-align: left;
    margin-bottom: 0.5em;
  }
  @include devices('sm', 'md', 'lg') {
    max-width: none;
    dl {
      dd {
        margin-bottom: 1em;
      }
      &:last-child, &:nth-last-child(2) {
        dd {
          margin: 0;
        }
      }
    }
  }
}
.emprunter-sim-pane-inner-results {
  padding-bottom: 0;
  p {
    margin-top: 0;
    font-size: 0.875em;
  }
  .list-2col {
    border-bottom: solid 1px #c12a81;
    padding-bottom: 1.75em;
    >dt, >dd {
      width: 50%;
    }
  }
  @include devices('tablet-l') {
    .list-2col {
      > dt, > dd {
        width: 50%;
      }
    }
  }
  @include devices('sm', 'md', 'lg') {
    .list-2col {
      > dd {
        font-size: 1.25em;
      }
    }
  }
}
.emprunter-sim-pane-inner-actions {
  .btn-abandon, .btn-prospect {
    margin-bottom: 0.5em;
  }
  @include devices('sm', 'md', 'lg') {
    .btn-abandon, .btn-prospect {
      margin: 0 10px 0 0;
    }
  }
}
