//
// Unilend Project List
//

.project-list {
  .pagination-wrap {
    background-color: $c-bg2;
    color: $c-t3;

    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;

    @include devices('xs', 'sm') {
      .pagination-location {
        display: block;
        margin: 0 0 20px;
      }

      .pagination-info {
        margin-bottom: 0;
        text-align: center;

        .pagination-next {
          display: block;
        }
      }

      .pagination-index {
        display: none;
      }
    }

    @include devices('lg') {
      padding-left: 40px !important;
      padding-right: 40px !important;
    }
  }

  margin-bottom: 30px;

  @include devices('tablet-l') {
    margin-left: $width-site-margin-tablet-l;
    margin-right: $width-site-margin-tablet-l;
  }

  // @include devices('lg') {
  //   margin-left: $width-site-margin-lg;
  //   margin-right: $width-site-margin-lg;
  // }
}

.project-list-nav {
  position: relative;
  height: $height-btn-hg; // Same height as button-shape-sq-lg

  > .nav-tabs {
    display: block;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    > li {
      float: left;
      margin-right: 0;
      margin-left: 2px;

      > a {
        @include button;
        @include button-shape-sq-hg;
        @include link-states(
          $link: (
            background-color: $c-bg4,
            border-color: $c-bg4,
            color: $c-t2
          ),
          $hover: (
            background-color: $c-bg3,
            border-color: $c-bg3,
            color: $c-t2
          ),
          $active: (
            background-color: $c-bg2,
            border-color: $c-bg2,
            color: $c-t1
          )
        );

        font-size: 42px;
      }

      &.active {
        > a {
          @include link-states(
            $link: (
              background-color: $c-bg2,
              border-color: $c-bg2,
              color: $c-t1
            ),
            $hover: (
              background-color: $c-bg2,
              border-color: $c-bg2,
              color: $c-t1
            ),
            $active: (
              background-color: $c-bg2,
              border-color: $c-bg2,
              color: $c-t1
            )
          );
        }
      }
    }
  }

  @include devices('xs') {
    display: none;
  }
}

.project-list-content {
  box-sizing: border-box;
  // display: table;
  width: 100%;
  // height: 100%;
  background-color: $c-bg4;
  border: solid 8px $c-bg2;
  margin-bottom: 20px;
}

// Sortable responsive filters
#{$js-sortable-responsivefilters} {
  margin-bottom: 0;
  padding-bottom: 10px;
  background-color: $c-bg2;
}

.project-list-filters {
  display: table;
  width: 100%;
  background-color: $c-bg2;

  a {
    @include link-states(
      $link: (
        color: $c-t2,
        text-decoration: none
      ),
      $hover: (
        color: $c-t1,
        text-decoration: none
      ),
      $active: (
        color: $c-t1,
        text-decoration: none
      )
    );
  }

  > * {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
  }

  > :first-child {
    padding-left: 10px;
  }

  > :last-child {
    padding-right: 10px;
  }

  // Make invisible for the drop-down filters that Sortable puts above the table
  @include devices('xs', 'sm') {
    display: none;
  }
}

.project-list-filter {
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 18px;
  font-size: 11px;
  letter-spacing: 2px;
  line-height: 1em;
  overflow: hidden;
  text-align: center !important;
  text-transform: uppercase;
  vertical-align: middle;

  @include devices('sm', 'laptop', 'lg') {
    font-size: 13px;
  }

  .label {
    display: inline-block;
    max-width: 80%;
    height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 2px;
    white-space: nowrap;
  }

  // Currently sorted column
  &#{$js-current-sortable-column} {
    color: $c-t1;
  }

  // Sort order icon
  .project-list-filter-order:after {
    content: $fa-sort-u;
    font-family: $ff-icon;
  }

  // Ascending
  &#{$js-sortable-direction-asc} .project-list-filter-order:after {
    content: $fa-sort-asc-u;
  }

  // Descending
  &#{$js-sortable-direction-desc} .project-list-filter-order:after {
    content: $fa-sort-desc-u;
  }
}

// Remove border from last item
.project-list-items > .project-list-item:last-child {
  border-bottom-width: 0;
}

.project-list-item {
  display: table;
  width: 100%;
  background-color: $c-white;
  border-bottom: solid 2px $c-bg2;
  position: relative;
  cursor: pointer;

  // Interferes with linear-gradient on project-list-item-cost
  // transition: background-color .2s;

  // Change on hover/active
  &:hover,
  &:active,
  &.current,
  &.active {
    background-color: $c-bg3;

    .project-list-item-info .project-list-item-cost {
      @include background-image(-svg(linear-gradient(to left, $c-bg3 0%, $c-bg3 90%, fade-out($c-bg3, 1) 100%)));
    }

    .project-list-item-info .project-list-item-description {
      @include text-overflow-gradient($bg-color: $c-bg3, $height: $lh-base);
    }

    // Show the project-list-item-image on hover or active
    .project-list-item-category .project-list-item-image {
      width: 100%;
    }
  }

  // When user is involved with project, change these properties
  &#{$js-current-user-involved} {
    background-color: $c-purple-l2;

    .project-list-item-info .project-list-item-cost {
      @include background-image(-svg(linear-gradient(to left, $c-purple-l2 0%, $c-purple-l2 90%, fade-out($c-purple-l2, 1) 100%)));
    }

    .project-list-item-info .project-list-item-description {
      @include text-overflow-gradient($bg-color: $c-purple-l2, $height: $lh-base);
    }
  }

  // Completed/expired project
  &#{$js-expired-project},
  &#{$js-current-user-involved}#{$js-expired-project} {
    opacity: .5;
    background-color: $c-bg3;

    .project-list-item-info .project-list-item-cost {
      @include background-image(-svg(linear-gradient(to left, $c-bg3 0%, $c-bg3 90%, fade-out($c-bg3, 1) 100%)));
    }

    .project-list-item-info .project-list-item-description {
      @include text-overflow-gradient($bg-color: $c-bg3, $height: $lh-base);
    }

    .project-list-item-hotspot {
      background-color: $c-white;
      opacity: .5;
    }

    .project-list-item-location .icon,
    .project-list-item-interest,
    .project-list-item-useroffers,
    .project-list-item-view a {
      color: $c-t1 !important;
    }

    .project-list-item-rating,
    .project-list-item-category {
      @include filter(grayscale(100%));
    }

    // &:hover,
    // &:active,
    // &#{$js-current-user-involved},
    // &#{$js-current-user-involved}:hover,
    // &#{$js-current-user-involved}:active {
    //   background-color: $c-white;

    //   .project-list-item-info .project-list-item-cost {
    //     @include background-image(-svg(linear-gradient(to left, $c-white 0%, $c-white 90%, fade-out($c-white, 1) 100%)));
    //   }

    //   .project-list-item-info .project-list-item-description {
    //     @include text-overflow-gradient($bg-color: $c-white, $height: $lh-base);
    //   }
    // }
  }

  > * {
    display: table-cell;
    padding: 20px;
    vertical-align: middle;

    box-sizing: border-box;
  }

  // Remove floats to allow vertical alignment
  &.row > * {
    float: none;
  }

  // @include devices('md', 'lg') {
  //   > * {
  //     padding: 20px;
  //   }
  // }
  @include devices('xs') {
    > * {
      padding: 10px;
    }
  }
}

@mixin project-list-item-flag ($width: 30px, $height: 30px, $color: transparent) {
  width: 0;
  height: 0;
  padding: 0 !important;
  margin: 0;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  border: solid $width transparent;
  border-top-color: $color;
  border-left-color: $color;

  @include devices('xs') {
    border-width: $width * .4;
  }

  @include devices('sm') {
    border-width: $width * .6;
  }

  @include devices('lg') {
    border-width: $width * 1.3;
  }
}

// Specific stylings for project-list-item properties
.project-list-item {
  position: relative;

  .project-list-item-flag {
    @include project-list-item-flag;
  }

  .project-list-item-flag-type-cip {
    border-top-color: $c-green;
    border-left-color: $c-green;
  }

  // Hotspot
  .project-list-item-hotspot {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  // Category
  .project-list-item-category {
    padding: 0 !important;
    position: relative;

    .icon {
      font-size: $fs-title;
    }

    .project-list-item-image {
      display: block;
      width: 0;
      height: 100%;
      overflow: hidden;
      padding: 0;
      margin: 0;

      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;

      background-color: $c-p1;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      color: $c-white;
      text-align: left;
      vertical-align: middle;

      transition: width .2s;

      img {
        @include constrain-size-by-width;
        @include hide-accessible;
      }
    }
  }

  // Info (title, meta, location, cost, description)
  .project-list-item-info {
    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  // Title
  .project-list-item-title {
    color: $c-t1;
    font-size: 22px;
    margin: 0 0 10px;

    a {
      @include link-states(
        $link: (
          color: $c-t1,
          text-decoration: none
        ),
        $hover: (
          color: $c-t1,
          text-decoration: none
        ),
        $active: (
          color: $c-t1,
          text-decoration: none
        )
      );
    }
  }

  .project-list-item-meta,
  .project-list-item-location,
  .project-list-item-cost {
    color: $c-t3;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }

  // Location
  .project-list-item-location {
    font-style: italic;

    .icon {
      color: $c-p1;
      margin-right: 5px;
      font-style: normal;
    }
  }

  // Meta (location, cost)
  .project-list-item-meta {
    position: relative;
    margin-bottom: 10px;

    .project-list-item-cost {
      display: block;
      padding-left: 20px;

      background-position: top right;
      background-repeat: repeat-y;
      @include background-image(-svg(linear-gradient(to left, $c-white 0%, $c-white 90%, fade-out($c-white, 1) 100%)));

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  // Description
  .project-list-item-description {
    color: $c-t2;
    font-size: 16px;
    line-height: $lh-base;
    max-height: $lh-base * 2;
    overflow: hidden;
    @include text-overflow-gradient($bg-color: $c-white, $height: $lh-base);

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  // Stats (interest, offers)
  .project-list-item-stats {

  }

  // Interest
  .project-list-item-interest {
    font-size: 26px;
    color: $c-p1;
  }

  // Offers
  .project-list-item-offers {
    line-height: 1.3em;
  }

  .project-list-item-useroffers {
    margin-top: 5px;
    color: $c-p1;
    font-size: .9em;
    line-height: 1.3em;

    @include devices('xs') {
      display: none;
    }
  }

  .project-list-item-useroffers-accepted,
  .project-list-item-useroffers-inprogress,
  .project-list-item-useroffers-rejected {
    &:before {
      font-family: $ff-icon;
    }
  }

  .project-list-item-useroffers-accepted {
    // color: $c-success;

    &:before {
      // content: '\f00c'; // check
      content: $fa-check-u;
    }
  }

  .project-list-item-useroffers-inprogress {
    &:before {
      // content: '\f017'; // clock
      content: $fa-clock-u;
    }
  }

  .project-list-item-useroffers-rejected {
    // color: $c-error;

    &:before {
      // content: '\f00d'; // ban
      content: $fa-rejected-u;
    }
  }

  // Rating
  .project-list-item-rating {

  }

  // Time Period Left
  .project-list-item-period {
    line-height: 1.3em;

    .ui-timecount:before {
      content: $fa-clock-u;
      margin-right: 5px;
      font-family: $ff-icon;
    }
  }

  // View project info
  .project-list-item-view {
    position: relative;

    > a {
      display: block;
      font-size: $fs-title;
    }
  }
}

// Responsive overrides
// -- Mobile devices (mobile-p, mobile-l)
@include devices('mobile', 'tablet-p') {
  .project-list-item {
    display: block;
    @include clearfix;

    > * {
      display: block;
    }

    // 1
    .project-list-item-category {
      display: none;
    }

    // 2
    .project-list-item-info {
      width: 100%;
      clear: both;
      padding-bottom: 0;
    }

    // 3
    .project-list-item-stats {
      width: 50%;
      padding-right: 10%;
      text-align: right;
      float: right;
      padding-top: 10px;
    }

    // 4
    .project-list-item-rating {
      width: 50%;
      text-align: left;
      float: left;
      padding-top: 10px;
      padding-bottom: 0;
    }

    // 5
    .project-list-item-period {
      width: 50%;
      text-align: left;
      float: left;
      padding-top: 0;
    }

    // 6
    .project-list-item-view {
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: right;
      line-height: 60px;
      padding-top: 10px;
    }
  }
}

// // -- Tablet portrait
// @include devices('tablet-p') {
//   // .project-list-item {
//     // 1
//     .project-list-item-category {
//       display: none;
//     }

//     // 2
//     .project-list-item-info {
//       width: 35%;
//     }

//     // 3
//     .project-list-item-stats {
//       width: 20%;
//       text-align: left;
//     }

//     // 4
//     .project-list-item-rating {
//       width: 15%;
//       text-align: center;
//     }

//     // 5
//     .project-list-item-period {
//       width: 20%;
//       text-align: left;
//     }

//     // 6
//     .project-list-item-view {
//       width: 5%;
//       text-align: right;
//     }
//   // }
// }

// -- Medium devices (tablet-l)
@include devices('tablet-l') {
  // .project-list-item {
    // 1
    .project-list-item-category {
      width: 15%;
      text-align: center;
    }

    // 2
    .project-list-item-info {
      width: 32%;
    }

    // 3
    .project-list-item-stats {
      width: 18%;
      text-align: left;
    }

    // 4
    .project-list-item-rating {
      width: 15%;
      text-align: center;
    }

    // 5
    .project-list-item-period {
      width: 15%;
      text-align: left;
    }

    // 6
    .project-list-item-view {
      width: 5%;
      text-align: center;
    }
  // }
}

// Medium devices: laptop
@include devices('laptop') {
  // 1
  .project-list-item-category {
    width: 12.5%;
    text-align: center;
  }

  // 2
  .project-list-item-info {
    width: 32%;
  }

  // 3
  .project-list-item-stats {
    width: 18%;
    text-align: left;
  }

  // 4
  .project-list-item-rating {
    width: 15%;
    text-align: center;
  }

  // 5
  .project-list-item-period {
    width: 17.5%;
    text-align: left;
  }

  // 6
  .project-list-item-view {
    width: 5%;
    text-align: center;
  }
}

// -- Large devices
@include devices('lg') {
  // 1
  .project-list-item-category {
    width: 15%;
    text-align: center;
  }

  // 2
  .project-list-item-info {
    width: 35%;
  }

  // 3
  .project-list-item-stats {
    width: 15%;
    text-align: left;
  }

  // 4
  .project-list-item-rating {
    width: 15%;
    text-align: center;
  }

  // 5
  .project-list-item-period {
    width: 15%;
    text-align: left;
  }

  // 6
  .project-list-item-view {
    width: 10%;
    text-align: center;
  }
}


// Project List Map
.project-list-map {
  position: relative;
  overflow: hidden;
  width: 100%;

  @include devices('md') {
    height: 600px;
  }

  @include devices('lg') {
    height: 700px;
  }

  // Pagination overwrites
  .pagination {
    .col-pagination-index {
      @include hide-accessible;
    }

    .col-pagination-info {
      width: 100%;
      text-align: center;
    }

    .pagination-next,
    .pagination-location {
      display: block;
      margin: 0 0 5px;
      clear: both;
      text-align: center;
    }
  }
}

// Project List Map View
.project-list-map-view {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 400px;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;

  background-image: image-url('maps/map-generic-1600x1000.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  img {
    // display: block;
    width: auto;
    height: auto;
    min-width: 0;
    max-width: none;
    min-height: 0;
    max-height: none;
  }

  @include devices('sm') {
    height: 500px;
  }

  @include devices('md', 'lg') {
    width: 60%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

.project-list-map-list {
  box-sizing: border-box;
  display: block;
  padding: 0;
  margin: 0;

  @include devices('md', 'lg') {
    width: 40%;
    padding-left: 8px;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    overflow: auto;
    background-color: $c-bg2;
  }

  .project {
    border-left: solid 0px transparent;
    transition: border-left .2s;

    &:hover {
      background-color: $c-bg4;
    }

    .project-hotspot {
      width: auto;
      height: auto;

      position: absolute;
      left: auto;
      right: 0;
      bottom: 0;
      top: auto;
    }

    // Item is selected in the list
    &#{$js-project-list-map-item-selected} {
      border-left: solid 5px $c-p2;
    }

    // Expired project
    &#{$js-expired-project} {
      &:hover {
        background-color: $c-bg2;
      }

      &#{$js-project-list-map-item-selected} {
        border-left-color: $c-t2;
      }
    }

    // Project has user involvement
    &#{$js-current-user-involved} {
      &:hover {
        // background-color: $c-purple-l3;
      }
    }
  }
}

@keyframes mapviewspinnerloading {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
