<div data-cookies class="show-computer cookie-box">
    <div class="fleft">
        <p>
            En visitant ce site, vous acceptez l'utilisation de cookies pour améliorer la qualité de votre visite, vous proposer des services et offres adaptés ainsi que des options de partage social. Pour en savoir plus et paramétrer votre choix, <a href="#todo" target="_blank">cliquez ici</a>
        </p>
    </div>
    <div class="fright">
        <p>
            <a href="javascript:;" data-cookies-accept class="btn-primary btn-shape-sm">J'accepte</a>
        </p>
    </div>
</div>