{# Dashboard Panel Notifications #}
{% import 'partials/modules/_list-notifications.macros.twig' as listNotifications %}

{# Placeholder data #}
{% set placeholderData = {
notifications: [{
type: 'offer-rejected',
title: 'Offre refusée',
datetime: 'now'|date_modify('-5 minutes'),
content: 'Votre offre de prêt de 45€ au taux de 9,4% à Garage Toniol a été refusée.',
image: svgimage('#notification-offer-rejected', 'Offre refusée', 100, 100, 'none'),
status: 'unread'
},{
type: 'remboursement',
title: 'Remboursement',
datetime: 'now'|date_modify('-2 hours'),
content: 'Vous avez reçu un remboursement de 12,35€ de Garage Toniol.',
image: svgimage('#notification-remboursement', 'Remboursement', 100, 100, 'none'),
status: 'unread'
},{
type: 'offer-accepted',
title: 'Remboursement',
datetime: 'now'|date_modify('-3 days')|date('j F, H:i'),
content: 'Vous avez reçu un remboursement de 12,35€ de Garage Toniol.',
image: svgimage('#notification-offer-accepted', 'Offre acceptée', 100, 100, 'none'),
status: 'unread'
},{
type: 'account',
title: 'Solde bas',
datetime: 'now'|date_modify('-4 days')|date('j F, H:i'),
content: '',
image: svgimage('#notification-account-lowbalance', 'Solde bas', 100, 100, 'none'),
status: 'read'
},{
type: 'remboursement',
title: 'Remboursement',
datetime: 'now'|date_modify('-5 days 8 hours 35 minutes')|date('j F, H:i'),
content: 'Vous avez reçu un remboursement de 12,35€ de Garage Toniol.',
image: svgimage('#notification-remboursement', 'Remboursement', 100, 100, 'none'),
status: 'read'
},{
type: 'remboursement',
title: 'Remboursement',
datetime: 'now'|date_modify('-5 days 15 hours 20 minutes')|date('j F, H:i'),
content: 'Vous avez reçu un remboursement de 12,35€ de Garage Toniol.',
image: svgimage('#notification-remboursement', 'Remboursement', 100, 100, 'none'),
status: 'read'
},{
type: 'project-added',
title: 'Nouveau projet',
datetime: 'now'|date_modify('-6.5 days')|date('j F, H:i'),
content: 'Created a new project.',
image: svgimage('#notification-project-added', 'Nouveau projet', 100, 100, 'none'),
status: 'read'
}]
} %}

{# Inherit from dashboard-panel component #}
{% embed 'partials/components/dashboard-panel.twig' %}
  {# Panel classes #}
  {% block panelClassNames %}dashboard-panel-alt dashboard-notifications{% endblock %}

  {# Panel Title #}
  {% block panelTitle %}Notifications{% endblock %}

  {# Panel controls #}
  {% block panelControls %}
    <a href="{{ route('user/preter/profile') }}#profile-alerts" class="btn-settings"><span class="sr-only">Settings</span></a>
  {% endblock %}

  {# Panel content #}
  {% block panelContent %}
    {{ listNotifications.render({
      id: 'profile-notifications',
      notifications: placeholderData.notifications
    }) }}
  {% endblock %}

  {# Panel footer #}
  {% block panelFooter %}
    {# <a href="#todo">Voir plus</a> #}
  {% endblock %}

{% endembed %}
