<div id="dialog-conditions-content" class="dialog-content readable-wrap text-align-center">
    <h3> Mot de passe oublié </h3>
    <form id="password_forgotten" action="{{ path('pwd_forgotten') }}" method="post">
        <div class="panel panel-connect">
            <div class="panel-inner">
                <div class="form-field">
                    <label for="connect-access-email">E-mail</label>
                    <div class="input-group">
                        <div class="btn-group">
                            <label for="connect-access-email"><span class="icon fa-envelope-o"></span></label>
                        </div>
                        <input type="text" id="pwd-forgotten-email" value="" class="input-field active" data-formvalidation-type="email">
                    </div><!-- /.input-group -->
                </div><!-- /.form-field -->
                <div class="btn-controls">
                    <input type="submit" class="btn-primary" value="Valider"/>
                </div>
            </div>
        </div>
    </form>
</div><!-- /#dialog-conditions-content -->


