<div class="popup-overlay ui-BidConfirmation">
    <div data-popup-bid-confirmation class="popup message-info">
        <h4>
            {% trans %} project-detail_side-bar-bids-confirmation-popup {% endtrans %}
        </h4>
        <div class="row">
            <div class="col-lg-6 h5">
                <a href="javascript:;" data-popup-bid-confirmation-yes class="btn-primary">
                    {% trans %} project-detail_side-bar-bids-submit-button {% endtrans %}
                </a>
            </div>
            <div class="col-lg-6 h5">
                <a href="javascript:;" data-popup-bid-confirmation-no class="btn-primary">
                    {% trans %} project-detail_side-bar-bids-decline-button {% endtrans %}
                </a>
            </div>
        </div>
    </div>
</div>