<div id="dialog-conditions-content" class="dialog-content readable-wrap text-align-center">
    <h3> {% trans %} password-forgotten_pop-up-title {% endtrans %} </h3>
    <div class="row message-success" id="password-forgotten-success-message" style="display: none;">
        {% trans %} password-forgotten_pop-up-success-message {% endtrans %}
    </div>
    <div class="row message-error" id="password-forgotten-error-message" style="display: none;">
        {% trans %} password-forgotten_pop-up-error-message {% endtrans %}
    </div>
    <div id="password-forgotten-form">
    <form id="password_forgotten" action="{{ path('pwd_forgotten') }}" method="post">
        <div class="panel panel-connect">
            <div class="row message-info">
                {% trans %} password-forgotten_pop-up-text {% endtrans %}
            </div>
            <div class="panel-inner">
                <div class="row">
                    <label for="password-forgotten-email">{% trans %} common_email {% endtrans %}
                        <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                    <div class="input-group">
                        <input id="password-forgotten-email" type="email" name="client_email" class="input-field active"
                           data-formvalidation-input
                           data-formvalidation-required="true"/>
                    </div>
                </div>
                <div class="btn-controls">
                    <input type="submit" class="btn-primary" value="{% trans %} password-forgotten_pop-up-submit-button {% endtrans %}"/>
                </div>
            </div>
        </div>
    </form>
    </div>
</div><!-- /#dialog-conditions-content -->


