{% extends 'layouts/_layout.html.twig' %}

{% block siteContent %}
    <article id="deposer-projet" class="page">
        <div class="hero-wrap">
            <header class="page-header">
                <div class="site-wrap">
                    <h1 id="project-create-title" class="h1">{% trans %} project-request_page-title {% endtrans %}</h1>
                </div><!-- /.site-wrap -->
            </header><!-- /.page-header -->

            <div class="page-content">
                <div class="site-wrap">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="form-project-create-nav tab-nav">
                                <ul class="nav nav-progress">
                                    <li id="project-create-1" role="presentation" class="complete">
                                        <span>
                                            <span class="project-create-progress-point">1.</span>
                                            <span class="label hide-mobile">{% trans %} project-request_contact-tab-title {% endtrans %}</span>
                                        </span>
                                    </li>
                                    <li id="project-create-2" role="presentation" class="complete">
                                        <span>
                                            <span class="project-create-progress-point">2.</span>
                                            <span class="label hide-mobile">{% trans %} project-request_finance-tab-title {% endtrans %}</span>
                                        </span>
                                    </li>
                                    <li id="project-create-3" role="presentation" class="active">
                                        <span>
                                            <span class="project-create-progress-point">3.</span>
                                            <span class="label hide-mobile">{% trans %} project-request_emails-tab-title {% endtrans %}</span>
                                        </span>
                                    </li>
                                </ul><!-- /.nav-progress -->
                            </div><!-- /.form-project-create-nav -->
                        </div>
                    </div>

                    <div class="row ui-sticky-parent">
                        <div class="col-form col-lg-8 col-md-8">
                            <div class="form-project-create-content tab-content">
                                <div id="form-project-create-3" aria-labelledby="project-create-3 project-create-title">
                                    <div class="panel">
                                        <p>{{ 'project-request_stop-email-content'|trans|raw }}</p>

                                        <div class="btn-toolbar">
                                            <a href="#" class="btn-default ui-open-site-search">{{ 'project-request_end-page-question-button'|trans|raw }}</a>
                                            <a href="{{ path('home') }}" class="btn-primary">{{ 'project-request_end-page-go-home-button'|trans|raw }}</a>
                                        </div><!-- /.btn-toolbar -->
                                    </div><!-- /.panel -->
                                </div><!-- /#form-project-create-3.tab-pane -->
                            </div><!-- /.form-project-create-content -->
                        </div><!-- /.col-form -->
                    </div><!-- /.row -->
                </div><!-- /.site-wrap -->
            </div><!-- /.page-content -->

            {% include 'partials/components/list-socialmedia.html.twig' %}
        </div><!-- /.hero-wrap -->
    </article><!-- /.page -->
{% endblock %}
