<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="no-js">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cabin:400,700,400" media="all">
        <link rel="stylesheet" href="{{ absolute_url(asset('fonts/style.css', 'gulp')) }}"/>
        <link rel="stylesheet" href="{{ absolute_url(asset('css/main.css', 'gulp')) }}"/>
    </head>
    <body>
        <p style="text-align: right; font-size: 0.875rem;">{% trans with {'%year%' : 'now'|date('Y') } %} lender-evaluation_pdf-footer {% endtrans %}</p>
    </body>
</html>
