//
// Unilend Dimensions
// Widths, heights, etc.

// Breakpoints by device name
// If you change any of these breakpoints, ensure to update the main.dev.js breakpoints
$width-desktop-max:    99999px;
$width-desktop:        1600px;
$width-laptop-max:     $width-desktop - 1;
$width-laptop:         1300px;
$width-tablet-l-max:   $width-laptop - 1;
$width-tablet-l:       1024px;
$width-tablet-p-max:   $width-tablet-l - 1;
$width-tablet-p:       800px;
$width-mobile-l-max:   $width-tablet-p - 1;
$width-mobile-l:       600px;
$width-mobile-p-max:   $width-mobile-l - 1;
$width-mobile-p:       400px;

// Breakpoints by grid name
$width-lg-max:         99999px;
$width-lg:             $width-desktop;
$width-md-max:         $width-laptop-max;
$width-md:             $width-tablet-l;
$width-sm-max:         $width-tablet-p-max;
$width-sm:             $width-mobile-l;
$width-xs-max:         $width-mobile-p-max;
$width-xs:             0;

// Site/hero/readable wrap widths
// Grid
$width-hero-wrap-xs:   100%;
$width-hero-wrap-sm:   100%;
$width-hero-wrap-md:   $width-desktop;
$width-hero-wrap-lg:   1800px;

$width-site-wrap-xs:   100%;
$width-site-wrap-sm:   100%;
$width-site-wrap-md:   $width-laptop;
$width-site-wrap-lg:   1400px;

$width-readable-wrap-xs: 500px;
$width-readable-wrap-sm: 600px;
$width-readable-wrap-md: 700px;
$width-readable-wrap-lg: 800px;

// Devices
$width-hero-wrap-mobile-p:    $width-hero-wrap-xs;
$width-hero-wrap-mobile-l:    $width-hero-wrap-sm;
$width-hero-wrap-tablet-p:    $width-hero-wrap-sm;
$width-hero-wrap-tablet-l:    $width-hero-wrap-md;
$width-hero-wrap-laptop:      $width-hero-wrap-md;
$width-hero-wrap-desktop:     $width-hero-wrap-lg;

$width-site-wrap-mobile-p:    $width-site-wrap-xs;
$width-site-wrap-mobile-l:    $width-site-wrap-sm;
$width-site-wrap-tablet-p:    $width-site-wrap-sm;
$width-site-wrap-tablet-l:    $width-site-wrap-md;
$width-site-wrap-laptop:      $width-site-wrap-md;
$width-site-wrap-desktop:     $width-site-wrap-lg;

$width-readable-wrap-mobile-p: $width-readable-wrap-xs;
$width-readable-wrap-mobile-l: $width-readable-wrap-sm;
$width-readable-wrap-tablet-p: $width-readable-wrap-sm;
$width-readable-wrap-tablet-l: $width-readable-wrap-md;
$width-readable-wrap-laptop:   $width-readable-wrap-md;
$width-readable-wrap-desktop:  $width-readable-wrap-lg;

// Default
$width-hero-wrap:      $width-hero-wrap-xs;
$width-site-wrap:      $width-site-wrap-xs;
$width-readable-wrap:  $width-readable-wrap-xs;

// The site margin (minimum distance between site content edge to browser window edge)
// Devices
$width-site-margin-mobile-p: 20px;
$width-site-margin-mobile-l: 20px;
$width-site-margin-tablet-p: 40px;
$width-site-margin-tablet-l: 50px;
$width-site-margin-laptop:   50px;
$width-site-margin-desktop:  60px;

// Grid
$width-site-margin-xs:       20px;
$width-site-margin-sm:       40px;
$width-site-margin-md:       50px;
$width-site-margin-lg:       60px;

// Default
$site-margin:          $width-site-margin-xs;

// Buttons
$height-btn-xxs:       30px; // Extra Extra Small
$height-btn-xs:        40px; // Extra Small
$height-btn-sm:        40px; // Small
$height-btn-md:        50px; // Medium
$height-btn-lg:        60px; // Large
$height-btn-hg:        80px; // Huge

// Default
$height-btn:           $height-btn-xs;

// Inputs
$height-input-xs:      40px;
$height-input-sm:      40px;
$height-input-md:      50px;
$height-input-lg:      50px;
$height-input-hg:      60px;

// Default
$height-input:         $height-input-xs;

// Pips
$height-pip:           16px;

// Site header
$height-site-header:      60px;
$height-site-header-full: 140px;

// Fixed menus
$height-fixed-menu:    65px;

// Pagination
$height-pagination:    100px;

// Video play button
$size-btn-media: 60px;
$size-btn-media-hover: 100px;
$fs-btn-media: 30px; // Font size

$size-btn-media-md: 80px;
$size-btn-media-md-hover: 114px;
$fs-btn-media-md: 40px; // Font size

// Z-Indexes
$depth-tooltip: 7000; // Bootstrap
$depth-site-header: 8000;
$depth-media-overlay: 8010; // Fancybox
$depth-site-mobile-menu: 9999;
$depth-sticky-aside: 6000;
$depth-drop: 8005;
