$icomoon-font-path: "fonts" !default;

$fa-list-u16: "\e968";
$fa-list-u32: "\e969";
$fa-list-u: "\e969";
$fa-list-u64: "\e96a";
$fa-grip-u16: "\e965";
$fa-grip-u32: "\e966";
$fa-grip-u: "\e966";
$fa-grip-u64: "\e967";
$fa-angle-d-u16: "\e900";
$fa-angle-d-u32: "\e901";
$fa-angle-d-u: "\e901";
$fa-angle-d-u64: "\e902";
$fa-angle-l-u16: "\e903";
$fa-angle-l-u32: "\e904";
$fa-angle-l-u: "\e904";
$fa-angle-l-u64: "\e905";
$fa-angle-r-u16: "\e906";
$fa-angle-r-u32: "\e907";
$fa-angle-r-u: "\e907";
$fa-angle-r-u64: "\e908";
$fa-angle-u-u16: "\e909";
$fa-angle-u-u32: "\e90a";
$fa-angle-u-u: "\e90a";
$fa-angle-u-u64: "\e90b";
$fa-autolend-u16: "\e90c";
$fa-autolend-u32: "\e90d";
$fa-autolend-u: "\e90d";
$fa-autolend-u64: "\e90e";
$fa-ban-u16: "\e90f";
$fa-rejected-u16: "\e90f";
$fa-refused-u16: "\e90f";
$fa-ban-u32: "\e910";
$fa-rejected-u32: "\e910";
$fa-refused-u32: "\e910";
$fa-ban-u: "\e910";
$fa-rejected-u: "\e910";
$fa-refused-u: "\e910";
$fa-ban-u64: "\e911";
$fa-rejected-u64: "\e911";
$fa-refused-u64: "\e911";
$fa-bell-u16: "\e912";
$fa-notification-u16: "\e912";
$fa-bell-u32: "\e913";
$fa-notification-u32: "\e913";
$fa-bell-u: "\e913";
$fa-notification-u: "\e913";
$fa-bell-u64: "\e914";
$fa-notification-u64: "\e914";
$fa-calendar-alt-u16: "\e915";
$fa-calendar-alt-u: "\e915";
$fa-calendar-alt-u32: "\e916";
$fa-calendar-alt-u2: "\e916";
$fa-calendar-alt-u64: "\e917";
$fa-calendar-u16: "\e918";
$fa-calendar-u32: "\e919";
$fa-calendar-u: "\e919";
$fa-calendar-u64: "\e91a";
$fa-caret-d-u: "\e91b";
$fa-caret-d-u16: "\e91b";
$fa-caret-d-u32: "\e91b";
$fa-caret-d-u64: "\e91b";
$fa-caret-l-u: "\e91c";
$fa-caret-l-u16: "\e91c";
$fa-caret-l-u32: "\e91c";
$fa-caret-l-u64: "\e91c";
$fa-caret-r-u: "\e91d";
$fa-caret-r-u16: "\e91d";
$fa-caret-r-u32: "\e91d";
$fa-caret-r-u64: "\e91d";
$fa-caret-u-u: "\e91e";
$fa-caret-u-u16: "\e91e";
$fa-caret-u-u32: "\e91e";
$fa-caret-u-u64: "\e91e";
$fa-check-u16: "\e91f";
$fa-check-u32: "\e920";
$fa-check-u: "\e920";
$fa-check-u64: "\e921";
$fa-clock-u16: "\e922";
$fa-clock-u32: "\e923";
$fa-clock-u: "\e923";
$fa-clock-u64: "\e924";
$fa-close-u16: "\e925";
$fa-delete-u16: "\e925";
$fa-cross-u16: "\e925";
$fa-times-u16: "\e925";
$fa-close-u32: "\e926";
$fa-delete-u32: "\e926";
$fa-cross-u32: "\e926";
$fa-times-u32: "\e926";
$fa-close-u: "\e926";
$fa-delete-u: "\e926";
$fa-cross-u: "\e926";
$fa-times-u: "\e926";
$fa-close-u64: "\e927";
$fa-delete-u64: "\e927";
$fa-cross-u64: "\e927";
$fa-times-u64: "\e927";
$fa-dashboard-u16: "\e928";
$fa-dashboard-u32: "\e929";
$fa-dashboard-u: "\e929";
$fa-dashboard-u64: "\e92a";
$fa-edit-u16: "\e92b";
$fa-pencil-u16: "\e92b";
$fa-pen-u16: "\e92b";
$fa-edit-u32: "\e92c";
$fa-pencil-u32: "\e92c";
$fa-pen-u32: "\e92c";
$fa-edit-u: "\e92c";
$fa-pencil-u: "\e92c";
$fa-pen-u: "\e92c";
$fa-edit-u64: "\e92d";
$fa-pencil-u64: "\e92d";
$fa-pen-u64: "\e92d";
$fa-euro-o-u16: "\e92e";
$fa-balance-u16: "\e92e";
$fa-money-u16: "\e92e";
$fa-euro-o-u32: "\e92f";
$fa-balance-u32: "\e92f";
$fa-money-u32: "\e92f";
$fa-euro-o-u: "\e92f";
$fa-balance-u: "\e92f";
$fa-money-u: "\e92f";
$fa-euro-o-u64: "\e930";
$fa-balance-u64: "\e930";
$fa-money-u64: "\e930";
$fa-euro-u16: "\e931";
$fa-euro-u32: "\e932";
$fa-euro-u: "\e932";
$fa-euro-u64: "\e933";
$fa-excel-u16: "\e934";
$fa-excel-u32: "\e934";
$fa-excel-u64: "\e934";
$fa-excel-u: "\e934";
$fa-exchange-u16: "\e935";
$fa-operations-u16: "\e935";
$fa-exchange-u32: "\e936";
$fa-operations-u32: "\e936";
$fa-exchange-u: "\e936";
$fa-operations-u: "\e936";
$fa-exchange-u64: "\e937";
$fa-operations-u64: "\e937";
$fa-eye-u16: "\e938";
$fa-show-u16: "\e938";
$fa-view-u16: "\e938";
$fa-eye-u32: "\e939";
$fa-eye-u: "\e939";
$fa-show-u32: "\e939";
$fa-show-u: "\e939";
$fa-view-u32: "\e939";
$fa-view-u: "\e939";
$fa-eye-u64: "\e93a";
$fa-show-u64: "\e93a";
$fa-view-u64: "\e93a";
$fa-file-u16: "\e93b";
$fa-project-u16: "\e93b";
$fa-file-u32: "\e93c";
$fa-project-u32: "\e93c";
$fa-file-u: "\e93c";
$fa-project-u: "\e93c";
$fa-file-u64: "\e93d";
$fa-project-u64: "\e93d";
$fa-info-u16: "\e93e";
$fa-info-u32: "\e93f";
$fa-info-u: "\e93f";
$fa-info-u64: "\e940";
$fa-interest-u16: "\e941";
$fa-linechart-u16: "\e941";
$fa-network-u16: "\e941";
$fa-linegraph-u16: "\e941";
$fa-interest-u32: "\e942";
$fa-linechart-u32: "\e942";
$fa-network-u32: "\e942";
$fa-linegraph-u32: "\e942";
$fa-interest-u: "\e942";
$fa-linechart-u: "\e942";
$fa-network-u: "\e942";
$fa-linegraph-u: "\e942";
$fa-interest-u64: "\e943";
$fa-linechart-u64: "\e943";
$fa-network-u64: "\e943";
$fa-linegraph-u64: "\e943";
$fa-lock-u16: "\e944";
$fa-secure-u16: "\e944";
$fa-lock-u32: "\e945";
$fa-secure-u32: "\e945";
$fa-lock-u: "\e945";
$fa-secure-u: "\e945";
$fa-lock-u64: "\e946";
$fa-secure-u64: "\e946";
$fa-map-marker-u16: "\e947";
$fa-pin-u16: "\e947";
$fa-map-marker-u32: "\e948";
$fa-pin-u32: "\e948";
$fa-map-marker-u: "\e948";
$fa-pin-u: "\e948";
$fa-map-marker-u64: "\e949";
$fa-pin-u64: "\e949";
$fa-plus-u16: "\e94a";
$fa-add-u16: "\e94a";
$fa-plus-u32: "\e94b";
$fa-add-u32: "\e94b";
$fa-plus-u: "\e94b";
$fa-add-u: "\e94b";
$fa-plus-u64: "\e94c";
$fa-add-u64: "\e94c";
$fa-print-u16: "\e94d";
$fa-print-u32: "\e94e";
$fa-print-u: "\e94e";
$fa-print-u64: "\e94f";
$fa-profile-alt-u16: "\e950";
$fa-user-alt-u16: "\e950";
$fa-person-alt-u16: "\e950";
$fa-profile-alt-u32: "\e951";
$fa-user-alt-u32: "\e951";
$fa-person-alt-u32: "\e951";
$fa-profile-alt-u: "\e951";
$fa-user-alt-u: "\e951";
$fa-person-alt-u: "\e951";
$fa-profile-alt-u64: "\e952";
$fa-user-alt-u64: "\e952";
$fa-person-alt-u64: "\e952";
$fa-profile-u16: "\e953";
$fa-user-u16: "\e953";
$fa-person-u16: "\e953";
$fa-profile-u32: "\e954";
$fa-user-u32: "\e954";
$fa-person-u32: "\e954";
$fa-profile-u: "\e954";
$fa-user-u: "\e954";
$fa-person-u: "\e954";
$fa-profile-u64: "\e955";
$fa-user-u64: "\e955";
$fa-person-u64: "\e955";
$fa-sliders-u16: "\e956";
$fa-settings-u16: "\e956";
$fa-sliders-u32: "\e957";
$fa-settings-u32: "\e957";
$fa-sliders-u: "\e957";
$fa-settings-u: "\e957";
$fa-sliders-u64: "\e958";
$fa-settings-u64: "\e958";
$fa-sort-asc-u16: "\e959";
$fa-sort-up-u16: "\e959";
$fa-sort-asc-u32: "\e95a";
$fa-sort-up-u32: "\e95a";
$fa-sort-asc-u: "\e95a";
$fa-sort-up-u: "\e95a";
$fa-sort-asc-u64: "\e95b";
$fa-sort-up-u64: "\e95b";
$fa-sort-desc-u16: "\e95c";
$fa-sort-down-u16: "\e95c";
$fa-sort-desc-u32: "\e95d";
$fa-sort-down-u32: "\e95d";
$fa-sort-desc-u: "\e95d";
$fa-sort-down-u: "\e95d";
$fa-sort-desc-u64: "\e95e";
$fa-sort-down-u64: "\e95e";
$fa-sort-u16: "\e95f";
$fa-sort-u32: "\e960";
$fa-sort-u: "\e960";
$fa-sort-u64: "\e961";
$fa-warning-u16: "\e962";
$fa-error-u16: "\e962";
$fa-alert-u16: "\e962";
$fa-warning-u32: "\e963";
$fa-error-u32: "\e963";
$fa-alert-u32: "\e963";
$fa-warning-u: "\e963";
$fa-error-u: "\e963";
$fa-alert-u: "\e963";
$fa-warning-u64: "\e964";
$fa-error-u64: "\e964";
$fa-alert-u64: "\e964";
$fa-search: "\f002";
$fa-envelope-o: "\f003";
$fa-star: "\f005";
$fa-star-o: "\f006";
$fa-user: "\f007";
$fa-th-large: "\f009";
$fa-check: "\f00c";
$fa-close: "\f00d";
$fa-remove: "\f00d";
$fa-times: "\f00d";
$fa-power-off: "\f011";
$fa-cog: "\f013";
$fa-gear: "\f013";
$fa-trash-o: "\f014";
$fa-file-o: "\f016";
$fa-clock-o: "\f017";
$fa-repeat: "\f01e";
$fa-rotate-right: "\f01e";
$fa-refresh: "\f021";
$fa-lock: "\f023";
$fa-flag: "\f024";
$fa-print: "\f02f";
$fa-list: "\f03a";
$fa-pencil: "\f040";
$fa-map-marker: "\f041";
$fa-edit: "\f044";
$fa-pencil-square-o: "\f044";
$fa-arrows: "\f047";
$fa-play: "\f04b";
$fa-chevron-left: "\f053";
$fa-chevron-right: "\f054";
$fa-question-circle: "\f059";
$fa-info-circle: "\f05a";
$fa-ban: "\f05e";
$fa-expand: "\f065";
$fa-compress: "\f066";
$fa-plus: "\f067";
$fa-exclamation-circle: "\f06a";
$fa-eye: "\f06e";
$fa-exclamation-triangle: "\f071";
$fa-warning: "\f071";
$fa-calendar: "\f073";
$fa-chevron-up: "\f077";
$fa-chevron-down: "\f078";
$fa-cogs: "\f085";
$fa-gears: "\f085";
$fa-twitter: "\f099";
$fa-facebook: "\f09a";
$fa-facebook-f: "\f09a";
$fa-bell-o: "\f0a2";
$fa-globe: "\f0ac";
$fa-table: "\f0ce";
$fa-google-plus: "\f0d5";
$fa-sort: "\f0dc";
$fa-unsorted: "\f0dc";
$fa-sort-desc: "\f0dd";
$fa-sort-down: "\f0dd";
$fa-sort-asc: "\f0de";
$fa-sort-up: "\f0de";
$fa-envelope: "\f0e0";
$fa-linkedin: "\f0e1";
$fa-exchange: "\f0ec";
$fa-bell: "\f0f3";
$fa-file-text-o: "\f0f6";
$fa-angle-left: "\f104";
$fa-angle-right: "\f105";
$fa-angle-up: "\f106";
$fa-angle-down: "\f107";
$fa-quote-left: "\f10d";
$fa-quote-right: "\f10e";
$fa-exclamation: "\f12a";
$fa-ellipsis-h: "\f141";
$fa-ellipsis-v: "\f142";
$fa-eur: "\f153";
$fa-euro: "\f153";
$fa-youtube: "\f167";
$fa-youtube-play: "\f16a";
$fa-file-pdf-o: "\f1c1";
$fa-file-word-o: "\f1c2";
$fa-file-excel-o: "\f1c3";
$fa-file-powerpoint-o: "\f1c4";
$fa-file-image-o: "\f1c5";
$fa-file-photo-o: "\f1c5";
$fa-file-picture-o: "\f1c5";
$fa-file-archive-o: "\f1c6";
$fa-file-zip-o: "\f1c6";
$fa-file-audio-o: "\f1c7";
$fa-file-sound-o: "\f1c7";
$fa-file-movie-o: "\f1c8";
$fa-file-video-o: "\f1c8";
$fa-file-code-o: "\f1c9";
$fa-sliders: "\f1de";
$fa-share-alt: "\f1e0";
$fa-line-chart: "\f201";
$fa-facebook2: "\f230";
$fa-percent: "\f295";
$fa-question-circle-o: "\f29c";

