{{ form_start(trancheForm) }}
    {{ form_row(trancheForm.tranches) }}
    <div class="text-align-right">
        <button type="submit" class="btn-primary btn-shape-xs" data-spinnerbutton>{% trans %} common.confirmation-button-label {% endtrans %}</button>
    </div>
{{ form_end(trancheForm) }}
