.list-projects.borrower-projects-overview .project {
  .project-number {
    margin-bottom:20px;
    color:#b20066;
  }
}
.borrower-profil-button-modification {
  margin-top:35px;
}
#user-borrower-dashboard .project-list-item {
  border-bottom:none;
  background-color:#eceaed;
}

#user-borrower-dashboard .project-list-item:hover {
  background-color:#eceaed;
}