//
// Captcha style
//

.captcha-wrapper {
  background-color:#fadfe4;
  box-sizing:border-box;
  padding:10px 0;
  margin-top:30px;
  .captcha_login {
    display:block;
    margin:10px auto 0 auto;
    background-color:#fff;
  }
  #captcha.form-field {
    margin-top:30px;
    margin-bottom:0;
    box-sizing:border-box;
    padding:0 10px;
    min-height:auto;
    label[for='connect-access-catpcha'] {
      font-size:14px;
      color:#302a32;
      line-height:1.3em;
      margin-bottom:0px;
      padding-bottom:10px;
      padding-left:10px;
      margin-top:10px;
    }
    input{
      background-color:#fff;
      border-radius:4px;
      border-style:solid;
      border-width:2px;
    }
  }
}