.cookie-box {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 30px;
  display: none;

  position: fixed;
  bottom: 0;
  z-index: $depth-site-header - 1;

  background-color: fade-out($c-bg3, .1);
  color: $c-t1;

  p {
    margin: 0;
    font-size: 14px;
    line-height: 1.3em;
    text-align: center;
  }
  .fleft, .fright {
    width: 100%;
  }
  .fright {
    padding-top: 10px;
  }
  .inner {
    max-width: 990px;
    margin: 0 auto;
  }
  @media (min-width: 768px) {
    padding: 10px 50px;
    p {
      text-align: left;
    }
    .fleft {
      width: 70%;
    }
    .fright {
      padding: 0;
      width: 30%;
      p {
        text-align: right;
      }
    }
  }
  @media (min-width: 1024px) {
    .fleft {
      width: 80%;
    }
    .fright {
      width: 20%;
    }
  }
}
