.cookie-box {
  box-sizing: border-box;
  width: 100%;
  padding: 30px;

  position: fixed;
  bottom: 0;
  z-index: $depth-site-header - 1;

  background-color: fade-out($c-bg3, .1);
  color: $c-t1;
  font-size: 14px;
  line-height: 1.2em;

  .fleft {
    width: 80%;

    p {
      margin: 0;
    }
  }

  .fright {
    width: 20%;
    text-align: right;

    p {
      margin: 0;
    }
  }
}