//
// Unilend Password Check
//

.ui-passwordcheck {

}

.ui-passwordcheck-input-wrap {
  position: relative;
}

.ui-passwordcheck-level {
  width: 100%;
  height: 4px;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.ui-passwordcheck-level-bar {
  width: 0;
  height: 100%;
  transition: width .2s;

  .ui-passwordcheck-checked & {
    min-width: 40px;
  }

  .ui-passwordcheck-level-weak-very & {
    background-color: #f00;
  }

  .ui-passwordcheck-level-weak & {
    background-color: #f90;
  }

  .ui-passwordcheck-level-medium & {
    background-color: #09f;
  }

  .ui-passwordcheck-level-strong & {
    background-color: #0f9;
  }

  .ui-passwordcheck-level-strong-very & {
    background-color: $c-p1;
  }
}

.ui-passwordcheck-level-label {
  padding: 5px 0;
  margin-top: 10px;
  color: $c-t1;
  font-size: 16px;
}

.ui-passwordcheck-info {
  color: $c-t2;
  font-size: 14px;
  line-height: 1.3em;

  ul {
    @include block-list;
    display: none;
    padding: 5px 10px;
    background-color: $c-bg4;
    border: solid 2px $c-bg2;
    border-radius: 2px;
    color: $c-t2;

    li {
      padding: 5px 10px;
    }

    .ui-passwordcheck-info-open & {
      display: block;
    }
  }
}
