//
// Unilend Ratings
//

@mixin rating-graphics-and-sizes($size-factor: 1) {
  $width: 70 * $size-factor;
  $height: 10 * $size-factor;
  $strokeWidth: 2 * $size-factor;
  $xPos: $height * .5;
  $yPos: $height * .5;
  $radius: 3.5 * $size-factor;
  width: $width * 1px;
  height: $height * 1px;

  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20width%3D%22140%22%20height%3D%2220%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20140%2020%22%3E%3Cg%20id%3D%22circle%22%20fill%3D%22none%22%20stroke%3D%22%23eceaed%22%20stroke-width%3D%224%22%3E%3Ccircle%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%227%22%2F%3E%3Ccircle%20cx%3D%2240%22%20cy%3D%2210%22%20r%3D%227%22%2F%3E%3Ccircle%20cx%3D%2270%22%20cy%3D%2210%22%20r%3D%227%22%2F%3E%3Ccircle%20cx%3D%22100%22%20cy%3D%2210%22%20r%3D%227%22%2F%3E%3Ccircle%20cx%3D%22130%22%20cy%3D%2210%22%20r%3D%227%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');

  &:before {
    background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20width%3D%22140%22%20height%3D%2220%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20140%2020%22%3E%3Cg%20id%3D%22circle%22%20fill%3D%22none%22%20stroke%3D%22%23b20066%22%20stroke-width%3D%224%22%3E%3Ccircle%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%227%22%2F%3E%3Ccircle%20cx%3D%2240%22%20cy%3D%2210%22%20r%3D%227%22%2F%3E%3Ccircle%20cx%3D%2270%22%20cy%3D%2210%22%20r%3D%227%22%2F%3E%3Ccircle%20cx%3D%22100%22%20cy%3D%2210%22%20r%3D%227%22%2F%3E%3Ccircle%20cx%3D%22130%22%20cy%3D%2210%22%20r%3D%227%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  }

  &.rating-0-5:before {
    width: 5px * $size-factor;
  }

  &.rating-1:before {
    width: 10px * $size-factor;
  }

  &.rating-1-5:before {
    width: 20px * $size-factor;
  }

  &.rating-2:before {
    width: 30px * $size-factor;
  }

  &.rating-2-5:before {
    width: 35px * $size-factor;
  }

  &.rating-3:before {
    width: 40px * $size-factor;
  }

  &.rating-3-5:before {
    width: 50px * $size-factor;
  }

  &.rating-4:before {
    width: 60px * $size-factor;
  }

  &.rating-4-5:before {
    width: 65px * $size-factor;
  }

  &.rating-5:before {
    width: 70px * $size-factor;
  }
}

@mixin rating {
  display: inline-block;
  width: 70px;
  height: 10px;
  overflow: hidden;
  position: relative;

  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;

  &:before {
    content: ' ';
    display: block;
    width: 0;
    height: 100%;
    overflow: hidden;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include rating-graphics-and-sizes;

  &.rating-big {
    @include rating-graphics-and-sizes(2);
  }
}

.rating {
  @include rating;
}
