//
// Unilend Tabs
//

.tabs {

  // Nested
  &.nested-tabs {
    .tabs-nav,
    .tab-navigation,
    .tabs-navigation {
      z-index: $depth-tooltip - 20;
    }
  }
}

// Really need to make class names consistent in the HTML...
.tabs-nav,
.tab-navigation,
.tabs-navigation {

}

// Hide tabbable panes to start, show them when `.active`
.tab-content,
.tabs-content,
.tabbed-content {
  position: relative;

  > .tab-pane {
    display: none;
  }

  > .active {
    display: block;
  }
}

.tab-pane {
  position: relative;
}
