//
// Unilend Forms
//

form {
  // Automatic column padding for md/lg devices
  @include devices('md', 'lg') {
    > .row-multi-col {
      > * {
        padding-left: 10px;
        padding-right: 10px;
      }

      // Forms only have two columns
      // First
      > :nth-of-type(1) {
        padding-left: 0;
      }

      // Second
      > :nth-of-type(2) {
        padding-right: 0;
      }
    }

    fieldset {
      .row-multi-col {
        > * {
          padding-left: 10px;
          padding-right: 10px;
        }

        // Forms only have two columns
        // First
        > :nth-of-type(1) {
          padding-left: 0;
        }

        // Second
        > :nth-of-type(2) {
          padding-right: 0;
        }
      }
    }
  }
}

.field-required {
  color: $c-p1;
}

.field-help {
  color: $c-t3;
  font-size: 16px;
  font-style: italic;
  line-height: 1.4em;

  a {
    @include link-states(
      $link: (
        color: $c-t3
      ),
      $hover: (
        color: $c-t2
      ),
      $active: (
        color: $c-t1
      )
    );
  }
}

.form-field {
  margin-bottom: 20px;
  position: relative;

  > label,
  .form-field-label {
    display: block;
    margin-bottom: 10px;
  }
}

.form-field-multi {
  @include devices('xs') {
    .list-input-values {
      @include block-list;
    }
  }

  @include devices('md', 'lg') {
    @include clearfix;

    > .field-label {
      width: 25%;
      float: left;
    }

    > .list-input-values {
      width: 75%;
      float: left;
    }
  }
}

.input-group {
  position: relative;

  > .btn-group {
    padding: 0 20px;

    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;

    line-height: $height-input;
    text-align: center;

    > * {
      display: inline-block;
      color: $c-t3;
    }
  }

  &.set-left {
    @include text-inputs($inheritance: '>') {
      padding-left: 3em;
    }

    > .btn-group {
      left: 0;
    }
  }

  &.set-right {
    @include text-inputs($inheritance: '>') {
      padding-right: 3em;
    }

    > .btn-group {
      right: 0;
    }
  }

  // No responsive inputs yet
  // @include devices('sm') {
  //   > .btn-group {
  //     line-height: $height-input-sm - 4px;
  //   }
  // }

  // @include devices('md') {
  //   > .btn-group {
  //     line-height: $height-input-md - 4px;
  //   }
  // }

  // @include devices('lg') {
  //   > .btn-group {
  //     line-height: $height-input-lg - 4px;
  //   }
  // }
}

// Generic input field style
.input-field {
  @include input;
}

// Single line text inputs need height set
@include text-inputs($textarea: false) {
  &.input-field {
    @include input-size-default($single-line: true);
  }

  &.input-field-short {
    max-width: 100px;
    width: auto;
  }
}

// Multi-line inputs do not need height set
textarea.input-field {
  @include input-size-default($single-line: false);
}

// Select fields are white instead of grey
select.input-field {
  @include input-size-default($single-line: true);
  background-color: $c-white;
  border-color: $c-bg3;
  color: $c-t1;
}

.field-label-short {
  min-width: 120px;
}

.input-field-short {
  display: inline-block;
  width: auto;
}

// Inline form field
.form-field-inline {
  display: block;
  color: $c-t1;
  margin: 0;
  position: relative;
  vertical-align: middle;

  > .btn-group {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    line-height: $height-input; // Height of input
    text-align: center;
    vertical-align: middle;

    &:nth-of-type(0n+1) {
      left: 0;
    }

    &:nth-last-of-type(0n+1) {
      right: 0;
    }
  }

  // Text inputs
  .input-field {
    @include input;
    @include input-size-default($single-line: true);
    padding-left: $height-input;
  }

  // No responsive inputs yet
  // @include devices('sm') {
  //   > .btn-group {
  //     line-height: $height-input-sm;
  //   }
  // }

  // @include devices('md') {
  //   > .btn-group {
  //     line-height: $height-input-md;
  //   }
  // }

  // @include devices('lg') {
  //   > .btn-group {
  //     line-height: $height-input-lg;
  //   }
  // }
}

.form-field-single-checkbox,
.form-field-single-radio {
  @include clearfix;
  position: relative;

  input {
    position: absolute;
    left: 0;
    top: 0;

    margin-top: .35em;
  }

  .label {
    display: block;
    margin-left: 1.5em;
  }
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  font-size: 21px;
  line-height: 32px;
  vertical-align: baseline;
}

// Custom Input Duration (used in emprunter-sim)
.custom-input-duration {
  @include clearfix;
  border-radius: 5px;

  display: block;
  width: 100%;
  height: 5px;
  margin: 20px 0;
  background-color: $c-bg2;
  overflow: visible;

  input[type="radio"] {
    display: inline-block;

    &:checked + span {
      color: $c-t1;
      font-weight: bold;
    }
  }

  label {
    box-sizing: border-box;
    float: left;
    width: (100% / 9); // 9 items
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -14px;
    text-align: center;

    > span {
      display: block;
      color: $c-t3;
    }
  }
}

// Custom file upload
.custom-input-file {
  .input-field {
    @include input-size-lg($single-line: true);
  }

  input[type="file"] {
    @include hide-accessible;
  }
}

// List of input values (e.g. checkboxes or radio buttons)
.list-input-values {
  @include inline-block-list;

  li {
    margin-right: 20px;
  }
}

// IBAN input
.custom-input-iban {
  position: relative;

  // .input-field.iban-input {
  //   width: 100%;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   z-index: 2;

  //   color: transparent !important;
  //   background-color: transparent !important;
  //   border-color: transparent !important;
  // }
}
