//
// Unilend Lists
// Custom lists (more complex lists are in the `./src/sass/site/components/lists/` folder)

.list-checked {
  @include block-list;

  > li {
    padding-left: 2em;
    margin-bottom: 15px;
    position: relative;
    list-style-type: none;

    &:before {
      content: '\f00c';
      font-family: $ff-icon;
      position: absolute;
      left: 0;
    }
  }
}

.list-links {
  @include block-list;

  > li {
    padding-left: 1em;
    margin-bottom: 15px;
    position: relative;
    list-style-type: none;

    &:before {
      content: '\f105';
      font-family: $ff-icon;
      position: absolute;
      left: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.list-2col {
  @include clearfix;

  > dt,
  > dd {
    float: left;
    box-sizing: border-box;
  }

  > dt {
    width: 30%;
    padding-right: 10px;
    clear: left;
  }

  > dd {
    width: 70%;
    padding-left: 10px;
    clear: right;
  }
}
