#form > .wrapper > #form_inscription.etape1.form-alone, #form > .wrapper.etape2 > #form_inscription.etape2.form-alone{
    width:100%;
    position:static;
}
#form.alone > .wrapper > #form_inscription #inscription_submit{
    margin-bottom:0;
}
@media screen and (max-width: 960px){
    #form.alone{
        position:static;
    }
    #form.alone > .wrapper > form > .form_content{
        height:auto;
    }
}
