//
// Unilend Dashboard Panel
//

$height-panel-header-sm: ((15px * 2) + $fs-h5);
$height-panel-footer-sm: ((15px * 2) + $fs-base);
$height-panel-header-md: ((20px * 2) + $fs-h4);
$height-panel-footer-md: ((20px * 2) + $fs-base);
$height-panel-header-lg: ((30px * 2) + $fs-h3);
$height-panel-footer-lg: ((30px * 2) + $fs-base);

@mixin dashboard-panel($padding: 15px, $spacing: 20px) {
  margin: 0 0 $spacing;
  color: $c-t2;
  font-size: $fs-base * .9;
  line-height: 1.3em;

  transition: background-color .2s;

  .dashboard-panel-header {
    box-sizing: border-box;
    position: relative;
  }

  .dashboard-panel-title {
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dashboard-panel-content {
    box-sizing: border-box;
    background-color: $c-white;
  }

  .dashboard-panel-footer {
    box-sizing: border-box;
    text-align: center;
    background-color: $c-white;
  }

  // Add extra margins for larger screens
  @include devices('md', 'lg') {
    margin: 0;

    .dashboard-panel-header {
      margin-left: $spacing;
      margin-top: $spacing;
      margin-right: $spacing;
      margin-bottom: 0;
    }

    .dashboard-panel-content {
      margin-left: $spacing;
      margin-top: 0;
      margin-right: $spacing;
      margin-bottom: 0;
    }

    .dashboard-panel-footer {
      margin-left: $spacing;
      margin-top: 0;
      margin-right: $spacing;
      margin-bottom: $spacing;
    }
  }

  .message,
  .message-info,
  .message-alert,
  .message-success,
  .message-error {
    padding: $padding;
    margin-bottom: 0;
  }
}

// Small
@mixin dashboard-panel-sm($padding: 20px) {
  @include dashboard-panel($padding: $padding);

  .dashboard-panel-header {
    height: $height-panel-header-md;
    padding: $padding;

    background-color: $c-white;
    border-bottom: solid 1px $c-bg2;
    color: $c-t1;
    line-height: 1em;
    text-align: center;
  }

  .dashboard-panel-title {
    margin: 0;
    font-size: $fs-h4;
    color: $c-p1;
  }

  .dashboard-panel-content {
    padding: $padding;
  }

  .dashboard-panel-footer {
    min-height: $height-panel-footer-md;
    padding: $padding;

    color: $c-t2;
    line-height: 1em;

    a {
      @include link-states(
        $link: (
          color: $c-p1
        )
      );
    }
  }
}

// Medium
@mixin dashboard-panel-md($padding: 20px) {
  @include dashboard-panel($padding: $padding);

  .dashboard-panel-header {
    height: $height-panel-header-md;
    padding: $padding;

    background-color: $c-white;
    border-bottom: solid 2px $c-bg2;
    color: $c-t1;
    line-height: 1em;
    text-align: left;
  }

  .dashboard-panel-title {
    margin: 0;
    font-size: $fs-h4;
    color: $c-p1;
  }

  .dashboard-panel-content {
    padding: $padding;
  }

  .dashboard-panel-footer {
    min-height: $height-panel-footer-md;
    padding: $padding;

    color: $c-t2;
    line-height: 1em;

    a {
      @include link-states(
        $link: (
          color: $c-p1
        )
      );
    }
  }
}

// Large
@mixin dashboard-panel-lg($padding: 30px) {
  @include dashboard-panel($padding);
  @include dashboard-panel-md($padding);
  font-size: $fs-base;

  .dashboard-panel-header {
    height: $height-panel-header-lg;
    padding: $padding;
  }

  .dashboard-panel-title {
    font-size: $fs-h3;
  }

  .dashboard-panel-content {
    padding: $padding;
  }

  .dashboard-panel-footer {
    min-height: $height-panel-footer-lg;
    padding: $padding;
  }
}

// Base class
.dashboard-panel {
  @include dashboard-panel-sm;

  @include devices('md') {
    @include dashboard-panel-md;
  }

  @include devices('lg') {
    @include dashboard-panel-lg;
  }
}

// Alternative panel (notifications)
@mixin dashboard-panel-alt {
  @include dashboard-panel;
  .dashboard-panel-header {
    height: $height-panel-header-sm;
    padding: 15px 20px;

    background-color: $c-bg3;
    color: $c-t1;
    line-height: 1em;
  }

  .dashboard-panel-title {
    margin: 0;
    color: inherit;
    font-size: $fs-h5;
    line-height: 1em;
  }

  .dashboard-panel-content {
    padding: 20px;
  }

  .dashboard-panel-footer {
    min-height: $height-panel-footer-sm;
    padding: 15px 20px;
    background-color: $c-t3;
    color: $c-t1;
    line-height: 1em;

    a {
      @include link-states(
        $link: (
                color: $c-t1,
                text-decoration: none
        )
      );
    }
  }
}

// Alt class
.dashboard-panel-alt {
  @include dashboard-panel-alt;
}
