{% extends 'layouts/_layout.html.twig' %}
{% block siteContent %}
    {% set passWordChangeSuccess = false %}

    <div class="site-wrap">
        <section class="page-section">
            <h1>{% trans %} password-forgotten_new-password-page-title {% endtrans %}</h1>
            <div class="row">
                <div class="col-lg-8 col-md-8 page-content" data-equal-height="md lg" data-equal-height-group="content">
                    <section id="password-forgotten-password-edit" role="tabpanel" class="profile-security-password-view collapse in">

                        <div id="form-profile-security-password-notifications">
                            {% if app.session.flashBag.has('passwordErrors') %}
                                <div class="message-error">
                                    {% for error in app.session.flashBag.get('passwordErrors') %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if app.session.flashBag.has('passwordSuccess')%}
                                {% set passWordChangeSuccess = true %}
                                <div class="message-success">
                                    {% for message in app.session.flashBag.get('passwordSuccess') %}
                                        <span>{{ message }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        {% if false == passWordChangeSuccess %}
                        <form id="form-password-forgotten-edit" action="{{ path('save_new_password', {'clientHash' : clientHash}) }}" method="post" class="form-security form-profile-security-password-edit"
                              data-formvalidation
                              data-formvalidation-notificationselem="#form-profile-security-password-notifications">

                            <div class="row row-multi-col-computer">
                                <div class="form-field col-lg-6 col-md-6">
                                    <label for="form-password-forgotten-password-new">{% trans %} lender-profile_security-password-section-new-password-field-label {% endtrans %}
                                        <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                                    <input id="form-password-forgotten-password-new" type="password" name="client_new_password" value="" class="input-field"
                                           data-passwordcheck
                                           data-formvalidation-input
                                           data-formvalidation-required="true"
                                           data-formvalidation-minlength="6"/>
                                </div><!-- /.form-field -->
                                <div class="form-field col-lg-6 col-md-6">
                                    <label for="form-password-forgotten-password-new-confirmation">{% trans %} lender-profile_security-password-section-new-password-confirmation-field-label {% endtrans %}
                                        <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                                    <div class="input-group">
                                        <input id="form-password-forgotten-password-new-confirmation" type="password"
                                               name="client_new_password_confirmation" value="" class="input-field"
                                               data-formvalidation-input
                                               data-formvalidation-required="true"
                                               data-formvalidation-samevalueas="#form-password-forgotten-password-new"/>
                                    </div>
                                </div><!-- /.form-field -->
                            </div>

                            <div class="row">
                                <label for="form-password-forgotten-security-question">{% trans %} password-forgotten_new-password-page-secret-question-label {% endtrans %}</label>
                                <div id="form-password-forgotten-security-question">
                                    <p>{{ secretQuestion }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-field">
                                    <label for="form-profile-security-security-answer">{% trans %} common_security-answer {% endtrans %}
                                        <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                                    <input type="text" id="form-profile-security-security-answer" name="client_secret_answer" class="input-field" data-formvalidation-input data-formvalidation-required="true" value=""/>
                                </div><!-- /.form-field -->
                            </div>


                            <div class="btn-controls">
                                <button class="btn-primary" >{% trans %} password-forgotten_new-password-page-submit-button {% endtrans %}</button>
                            </div><!-- /.btn-controls -->
                        </form><!-- /.form-security-password-edit -->
                        {% endif %}
                    </section><!-- /#profile-security-password-edit -->
                </div><!-- /.page-content -->
            </div><!-- /.row -->
        </section>
    </div><!-- /.site-wrap -->

{% endblock %}
