{% extends 'layouts/_layout.html.twig' %}

{% set page = {
    title: 'Projets',
    permalink: route('projets')
} %}

{% block siteContent %}
    <article id="projets-index" class="page" data-has-spinner>
        <header class="page-header page-header-hero">
            <div class="hero-wrap">
                <div class="site-wrap">
                    <h2 class="page-title">
                        {{ 'projects-listing_page-title'|transchoice(projectsInFunding, {'%numberProjects%' : projectsInFunding|localizednumber , '%numberFinancedProjects%' : getStatistic('numberOfFinancedProjects')|localizednumber , '%numberActiveLenders%' : getStatistic('numberOfActiveLenders')|localizednumber})|nbsp|raw }}
                    </h2>
                </div><!-- /.site-wrap -->

                {% include 'partials/components/list-socialmedia.html.twig' %}
            </div><!-- /.hero-wrap -->
        </header><!-- /.page-header -->

        <section id="projets-index-project-list" class="page-section">
            <div class="site-wrap">

                {% include 'partials/components/project-list/project-list.html.twig' %}

                <div class="row page-section-footer">
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="btn-toolbar">
                            <a href="{{ path('lender_subscription_personal_information') }}" class="btn-primary">{% trans %} projects-listing_become-lender-button {% endtrans %}</a>
                        </div>
                    {% endif %}
                    <p>
                        <a href="{{ route('emprunter') }}" class="link c-p2">{% trans %} projects-listing_become-borrower-button {% endtrans %}</a>
                    </p>
                </div><!-- /.page-section-footer -->
            </div><!-- /.site-wrap -->
        </section><!-- /.page-section -->

    </article><!-- /.page -->
{% endblock %}
