{# Projects Index #}
{% extends 'layouts/_layout.html.twig' %}

{# Page data #}
{% set bodyId = '' %}
{% set page = {
title: 'Projets',
permalink: route('projets')
} %}

{% block siteContent %}
    <article id="projets-index" class="page">

        <header class="page-header page-header-hero">
            <div class="hero-wrap">
                <div class="site-wrap">
                    <h2 class="page-title">{{ __('%s projects in progress, %s projects financed, %s active lenders.', 'pageProjetsIndexHeaderTitle')|format(placeholderData.totalProjectsInProgress|__num|nbsp, placeholderData.totalProjectsFinanced|__num|nbsp, placeholderData.totalLendersActive|__num|nbsp) }}</h2>
                </div><!-- /.site-wrap -->

        {% include 'partials/components/list-socialmedia.twig' %}
            </div><!-- /.hero-wrap -->
        </header><!-- /.page-header -->

        <section id="projets-index-project-list" class="page-section">
            <div class="site-wrap">
                {% include 'partials/components/project-list.html.twig' %}
                <div class="row page-section-footer">
                    <div class="btn-toolbar">
                        <a href="{{ route('preter/new') }}" class="btn-primary">Pas encore prêteur&nbsp;? Créer un compte</a>
                    </div>
                    <p>
                        <a href="{{ route('emprunter') }}" class="link c-p2">Vous êtes une entreprise et souhaitez emprunter&nbsp;?</a>
                    </p>
                </div><!-- /.page-section-footer -->
            </div><!-- /.site-wrap -->
        </section><!-- /.page-section -->

    </article><!-- /.page -->
{% endblock %}
