{# Projects Index #}
{% extends 'layouts/_layout.html.twig' %}

{# Page data #}
{% set bodyId = '' %}
{% set page = {
title: 'Projets',
permalink: route('projets')
} %}

{% block siteContent %}
    <article id="projets-index" class="page">
        <header class="page-header page-header-hero">
            <div class="hero-wrap">
                <div class="site-wrap">
                    <h2 class="page-title">
                        {{ "projects-listing_page-title"|transchoice(projectsInFunding, { '%numberProjects%' : projectsInFunding , '%numberFinancedProjects%' : stats.numberProjects , '%numberActiveLenders%' : stats.numberActiveLenders })|nbsp|raw }}
                    </h2>
                </div><!-- /.site-wrap -->

                {% include 'partials/components/list-socialmedia.html.twig' %}
            </div><!-- /.hero-wrap -->
        </header><!-- /.page-header -->

        <section id="projets-index-project-list" class="page-section">
            <div class="site-wrap">
                {% include 'partials/components/project-list.html.twig' %}
                <div class="row page-section-footer">
                    <div class="btn-toolbar">
                        <a href="{{ route('preter/new') }}" class="btn-primary">{% trans %} projects-listing_become-lender-button {% endtrans %}</a>
                    </div>
                    <p>
                        <a href="{{ route('emprunter') }}" class="link c-p2">{% trans %} projects-listing_become-borrower-button {% endtrans %}</a>
                    </p>
                </div><!-- /.page-section-footer -->
            </div><!-- /.site-wrap -->
        </section><!-- /.page-section -->

    </article><!-- /.page -->
{% endblock %}
