{# User / Preter / Profile #}
{% extends 'layouts/_dashboard-borrower.twig' %}
{% import 'extensions/_general.macros.twig' as general %}
{% import 'partials/common/_custom-input.macros.twig' as customInput %}

{# Page data #}
{% set bodyId = '' %}
{% set page = {
    id: 'user-borrower-profile',
    title: 'Emprunteur / Profil',
    permalink: route('user/borrower/profile'),
    classNames: 'user-borrower-profile'
} %}

{# See config/twig.json for the data value of `userProfile` #}
{# @todo Update the edited input output variables with what was saved (should be in an AJAX call) #}

{% block dashboardContent %}

    <div class="dashboard-tabs">
        <div class="dashboard-tabs-content">
            <div role="tabpanel" class="dashboard-tab-pane">
                <article class="panel">
                    <header class="panel-header">
                        <h3>Nous contacter</h3>
                    </header>
                    <section>
                        <section class="page-section">
                            <form action="{{ route('contact/email') }}" method="post">
                                <div class="row row-multi-col">
                                    <div class="col-lg-6 col-md-6 col-sm-4">
                                        <div class="form-field">
                                            <label for="contact-message-lastname">SIREN</label>
                                            <input type="text" id="contact-message-siren" name="message[siren]" value="438902363 prérempli" class="input-field">
                                        </div><!-- /.form-field -->
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-4">
                                        <div class="form-field">
                                            <label for="contact-message-lastname">Raison sociale</label>
                                            <input type="text" id="contact-message-raisonsociale" name="message[raisonsociale]" value="Exemple nom prérempli" class="input-field">
                                        </div><!-- /.form-field -->
                                    </div>
                                </div>
                                <div class="row row-multi-col">
                                    <div class="col-lg-6 col-md-6 col-sm-4">
                                        <div class="form-field">
                                            <label for="contact-message-lastname">Nom</label>
                                            <input type="text" id="contact-message-lastname" name="message[lastname]" value="Raux" class="input-field">
                                        </div><!-- /.form-field -->
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-4">
                                        <div class="form-field">
                                            <label for="contact-message-firstname">Prénom</label>
                                            <input type="text" id="contact-message-firstname" name="message[firstname]" value="David" class="input-field">
                                        </div><!-- /.form-field -->
                                    </div>
                                </div>
                                <div class="row row-multi-col">
                                    <div class="col-lg-6 col-md-6 col-sm-4">
                                        <div class="form-field">
                                            <label for="contact-message-mobile">Portable</label>
                                            <input type="text" id="contact-message-mobile" name="mobile[society]" value="0102030405" class="input-field">
                                        </div><!-- /.form-field -->
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-4">
                                        <div class="form-field">
                                            <label for="contact-message-company">Email</label>
                                            <input type="text" id="contact-message-email" name="message[email]" value="david.raux@unilend.fr" class="input-field">
                                        </div><!-- /.form-field -->
                                    </div>
                                </div>
                                <div class="row row-multi-col">
                                    <div class="col-lg-12 col-md-12 col-sm-8">
                                        <div class="form-field">
                                            <label for="contact-message-sujet">Sélectionnez un sujet</label>
                                            <select id="contact-message-sujet" name="message[sujet]" class="input-field">
                                                <option value="">Autres</option>
                                                <option>Changement de RIB</option>
                                                <option>Demande de remboursement anticipé</option>
                                                <option>Facture</option>
                                                <option>Nouveau projet</option>
                                            </select>
                                        </div><!-- /.form-field -->
                                    </div>
                                </div>
                                <div class="row row-multi-col">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-field">
                                            <label for="contact-message-body">Message</label>
                                            <textarea id="contact-message-body" name="message[body]" value="" rows="8" class="input-field"></textarea>
                                        </div><!-- /.form-field -->
                                    </div>
                                </div>
                                <div class="row row-multi-col">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-field">
                                            <input type="text" id="upload-form input" name="upload-file" value="Aucun fichier séléctionné" class="input-field">
                                        </div><!-- /.form-field -->
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <a href="#" class="btn-primary btn-shape-sm">Parcourir</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <button class="btn-primary">Envoyer</button>
                                </div>
                            </form>
                        </section><!-- /.page-section -->
                </article><!-- /.panel -->
            </div><!-- /#profile-info.dashboard-tab-pane -->
        </div><!-- /.dashboard-tabs-content -->
    </div><!-- /.dashboard-tabs -->

{% endblock %}
