{# User / Preter / Dashboard #}
{% extends 'layouts/_dashboard-borrower.twig' %}
{% import 'partials/common/_custom-input.macros.twig' as customInput %}

{% set page = {
    id: 'user-borrower-dashboard',
    title: 'Emprunteur / Dashboard',
    permalink: route('user/borrower/dashboard'),
    classNames: 'user-emprunteur-dashboard'
} %}

{% block dashboardContent %}


<div class="dashboard-tabs tabs">
    <div class="dashboard-tabs-nav">
        <ul class="nav nav-dashboard-tabs" data-nav-dropdown-menu="mobile">{#
      #}<li role="presentation" class="active"><a href="#profile-projects" role="tab" data-toggle="tab">Vos projets</a></li>{#
      #}<li role="presentation"><a href="#profile-newrequest" role="tab" data-toggle="tab">Nouvelle demande</a></li>{#
    #}</ul>
    </div><!-- /.dashboard-nav-content -->
    <div class="dashboard-tabs-content tab-content">
        <div id="profile-projects" role="tabpanel" class="dashboard-tab-pane tab-pane active">
            <article class="panel">
                <section role="tablist" class="ui-toggle-group" aria-multiselectable="true">
                    <section role="tabpanel" class="profile-info-view collapse in">
                        <div class="message">
                            <p>Vous avez 1 projet en cours</p>
                            <ul class="list-projects borrower-projects-overview">
                                <li class="project">
                                    <div class="project-number"><span class="project-label">N° Dossier : </span>26781</div>
                                    <div class="project-single-description c-t1"><span class="project-label c-t3">Nature :&nbsp;&nbsp;</span>Aménager de nouveaux locaux</div>
                                    <div class="project-single-description c-t1"><span class="project-label c-t3">Montant et durée :&nbsp;&nbsp;</span>30 000 € / 60 Mois</div>
                                    <div class="project-single-description c-t1"><span class="project-label c-t3">Date de clôture :&nbsp;&nbsp;</span>29/07/2016</div>
                                    <div class="project-interest">8,2%</div>
                                    <div class="project-period">7 jours restants</div>
                                    <div class="project-offers"><span class="value">117</span> offres</div>
                                    <a href="#todo" class="project-hotspot">&nbsp;</a>
                                </li>
                            </ul>
                    </section>
                </section><!-- /.ui-toggle-group -->
            </article><!-- /.panel -->
        </div><!-- /#profile-info.dashboard-tab-pane -->
        <div id="profile-newrequest" role="tabpanel" class="dashboard-tab-pane tab-pane">
            <article class="panel">
                <section id="profile-fiscalite-bank-section" role="tablist" class="ui-toggle-group" aria-multiselectable="true">
                    <section id="profile-fiscalite-bank-view" role="tabpanel" class="profile-bank-view collapse in">
                        <div class="dashboard-newrequest">
                            <form action="get">
                                <div class="form-field">
                                    <label for="form-name">Montant souhaité</label>
                                    <input type="number" id="form-amount" name="amount" value="" placeholder="min 20 000 €" class="input-field">
                                </div>
                                <div class="form-field">
                                    <label for="form-select">Durée</label>
                                    <select id="form-select" name="duration" class="input-field">
                                        <optgroup label="Alphabet">
                                            <option value="3">3 Mois</option>
                                            <option value="6">6 Mois</option>
                                            <option value="9">9 Mois</option>
                                            <option value="12">12 Mois</option>
                                            <option value="18">18 Mois</option>
                                            <option value="24">24 Mois</option>
                                            <option value="36">36 Mois</option>
                                            <option value="48">48 Mois</option>
                                            <option value="60">60 Mois</option>
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="form-field">
                                    <label for="form-message">Décrivez-nous votre projet</label>
                                    <textarea id="form-message" class="input-field" rows="6">Message :</textarea>
                                </div>
                                <button class="btn-primary"><span class="icon fa-angle-right"></span> Valider</button>
                            </form>
                        </div><!-- /.dashboard-newrequest -->
                    </section>
                </section><!-- /.ui-toggle-group -->
            </article><!-- /.panel -->
        </div><!-- /#profile-fiscalite.dashboard-tab-pane -->
    </div><!-- /.dashboard-tabs-content -->
</div><!-- /.dashboard-tabs -->

{% endblock %}
