{# User / Preter / Profile #}
{% extends 'layouts/_dashboard-borrower.twig' %}
{% import 'extensions/_general.macros.twig' as general %}
{% import 'partials/common/_custom-input.macros.twig' as customInput %}

{% set page = {
  id: 'user-borrower-faq',
  title: 'Emprunteur / faq',
  permalink: route('user/borrower/faq'),
  classNames: 'user-borrower-faq'
} %}

{# See config/twig.json for the data value of `userProfile` #}
{# @todo Update the edited input output variables with what was saved (should be in an AJAX call) #}

{% block dashboardContent %}

  <div class="dashboard-tabs">
    <div class="dashboard-tabs-content">
      <div role="tabpanel" class="dashboard-tab-pane">
        <article class="panel faq-panel">
          <div class="top-anchor"><a href="#top-anchor"><span class="icon fa-angle-u-u"></span></a></div>
          <header class="panel-header">
            <h3 id="top-anchor">FAQ Emprunteur</h3>
          </header>
          <section class="faq-section">
            <p>Ce guide vous explique comment présenter votre projet en quelques minutes, quel est le déroulement d'une campagne de financement et comment se passent vos remboursements.<br>
              Pour emprunter vous pouvez aussi nous appeler au <strong>01 82 83 66 55</strong>
            </p>
            <ul>
              <li>
                <a href="#section-1" class="link">
                  Que se passe t-il au une fois que j'ai signé le pouvoir et le mandat de prélèvement ?
                </a>
              </li>
              <li>
                <a href="#section-2" class="link">
                  Sous combien de temps puis-je disposer de mon argent une fois le pouvoir et le mandat de prélèvement signés ?
                </a>
              </li>
              <li>
                <a href="#section-3" class="link">
                  Quelles sont mes obligations une fois que l'argent m'a été crédité ?
                </a>
              </li>
              <li>
                <a href="#section-4" class="link">
                  Unilend et mon banquier
                </a>
              </li>
              <li>
                <a href="#section-5" class="link">
                  Que se passe t-il si mon prélèvement est rejeté ?
                </a>
              </li>
              <li>
                <a href="#section-6" class="link">
                  Comment est comptabilisée la ligne de trésorerie Unilend ? Mon comptable ne sait pas retraiter l'information.
                </a>
              </li>
              <li>
                <a href="#section-7" class="link">
                  Quelles pièces dois-je transmettre par la suite ?
                </a>
              </li>
            </ul>
          </section><!-- /.faq-section -->
          <section id="section-1" class="faq-section">
            <h4>Que se passe t-il une fois que j'ai signé le pouvoir et le mandat de prélèvement ?</h4>
            <p>
              <strong>Vous avez accepté l’offre de prêt formulée par les prêteurs.</strong> Unilend crédite le compte bancaire que vous lui avez communié du montant du prêt sollicité, déduction faite de sa commission pour un montant de 4% HT. Les coordonnées bancaires utilisées apparaissent sur le mandat de prélèvement que vous avez signé. Une facture de la commission vous est alors envoyée par courriel.
            </p>
            <p>
              La première mensualité est prélevée environ 18 jours après le déblocage, conformément au tableau d'amortissement figurant dans le pouvoir que vous avez signé. Tous les mois, Unilend prélève une commission de gestion équivalente à 1% du capital restant dû. Cette commission est lissée sur la durée du prêt et prélevée avec votre mensualité (voir le détail dans le tableau d’amortissement inclus dans le pouvoir).
            </p>
            <p>
              Nous adressons tous les mois une facture correspondant à cette commission, afin de vous permettre de traiter la TVA comme sur toute autre facture. Cette facture, sous format .PDF, peut être adressée à l'adresse courriel de votre choix (à défaut d'indication contraire, à votre adresse), et est accessible en permanence dans votre espace emprunteur.
            </p>
          </section>
          <section id="section-2" class="faq-section">
            <h4>Sous combien de temps puis-je disposer de mon argent une fois le pouvoir et le mandat de prélèvement signés ?</h4>
            <p>
              Il faut compter 48 H ouvrées pour que la banque vous verse les fonds. Le délai peut-être allongé si le virement intervient en jours de fermeture des banques (week-end, jours fériés).
            </p>
          </section>
          <section id="section-3" class="faq-section">
            <h4>Quelles sont mes obligations une fois que l'argent m'a été crédité ?</h4>
            <p>
              En tant que représentant légal de votre entreprise, vous l’avez engagée à rembourser l’emprunt obtenu auprès des prêteurs. Il est de votre responsabilité de faire en sorte de provisionner suffisamment votre compte bancaire aux dates indiquées sur votre tableau d'amortissement de manière à ce qu'Unilend soit en mesure de rembourser l'intégralité des prêteurs qui vous ont fait confiance.
            </p>
          </section>
          <section id="section-4" class="faq-section">
            <h4>Unilend et mon banquier</h4>
            <p>
              L’emprunt obtenu auprès de la communauté de prêteurs Unilend va vous permettre de concrétiser votre projet. Il peut intervenir en complément ou non d’un concours bancaire classique.
            </p>
            <p>
              Il est important que votre banquier soit au courant de son existence et du prélèvement associé. Unilend s’inscrit naturellement comme une source de diversification de vos sources de financement sans concurrencer votre partenaire financier qui conserve la tenue de vos comptes et la domiciliation de vos revenus.
            </p>
          </section>
          <section id="section-5" class="faq-section">
            <h4>Que se passe t-il si mon prélèvement est rejeté ?</h4>
            <p>
              Si un incident de prélèvement survient et rend impossible le remboursement d'une mensualité, Unilend en informe immédiatement les prêteurs et prend contact avec vous pour régulariser l'incident.<br>
              Vous avez alors <u>8 jours</u> à compter du dernier quantième resté impayé pour régulariser votre situation.<br>
              En cas de retard de paiement, les sommes dues seront de plein droit productrices d’intérêt au taux légal en vigueur en France majoré de cinq points (5%), en faveur d’Unilend. Unilend mandatera pour le compte des prêteurs une société de recouvrement spécialisée si deux retards consécutifs sont constatés.<br>
              Dès 180 jours de retard, le capital restant dû devient exigible immédiatement en totalité.
            </p>
            <p>
              Constitue un incident de paiement l’impossibilité pour Unilend de prélever l’échéance due conformément au tableau d’amortissement et rembourser les prêteurs dans le délai prévu, ou l’absence de régularisation de la part de l’emprunteur dans les 8 jours suivant le 1er rejet de prélèvement.
            </p>
            <p>
              Nous attirons votre attention sur le fait que la communication de l'incident de paiement auprès de la communauté de prêteurs vous ayant fait confiance peut avoir des conséquences négatives sur la notoriété de votre société.
            </p>
            <p>
              Pour cette raison, nous vous suggérons fortement d’informer expressément votre service comptable ainsi que votre chargé d'affaires au sein de votre banque de la dénomination des prélèvements Unilend qui sont présentés avec le libellé suivant :
            </p>
            <p>
              <strong>"Société Française pour le Financement des PME" ou "SFF PME".</strong>
            </p>
            <p>
              Si le prélèvement est connu et identifié, tout rejet « accidentel » pour méconnaissance de la part de votre service comptable ou de votre banque pourra être évité.
            </p>
          </section>
          <section id="section-6" class="faq-section">
            <h4>Comment est comptabilisée la ligne de trésorerie Unilend ? Mon comptable ne sait pas retraiter l'information.</h4>
            <p>La ligne de trésorerie Unilend s'impute en bas de bilan de la liasse de ma société.</p>
            <p>
              La dette apparaît dans "autres dettes et assimilées" pour la valeur du capital emprunté. Le compte 168100 "autres emprunts" est mouvementé pour le montant du capital. Le pouvoir que vous avez signé contient un tableau d’amortissement vous permettant de disposer du montant du capital restant du et des intérêts payés chaque année pour votre clôture comptable. Ce document est disponible dans votre espace emprunteur.
            </p>
          </section>
          <section id="section-7" class="faq-section">
            <h4>Quelles pièces dois-je transmettre par la suite ?</h4>
            <p>
              Conformément à l’article 9 des Conditions Générales de Vente, vous disposez de 180 jours après chaque clôture d’exercice comptable pour nous envoyer votre dernière liasse fiscale et le rapport des commissaires aux comptes le cas échéant.
            </p>
            <p>
              Vous devez également nous communiquer toute modification affectant l'entreprise (changement de gérant, de forme sociale, transfert du siège social, ouverture d’une procédure de sauvegarde…) sur l’adresse mail emprunteur@unilend.fr
            </p>
          </section>
        </article><!-- /.panel -->
      </div><!-- /#profile-info.dashboard-tab-pane -->
    </div><!-- /.dashboard-tabs-content -->
  </div><!-- /.dashboard-tabs -->

{% endblock %}
