{% block header %}
    {% include '@UnilendFrontBundle/partials/test/_test.header.twig' %}
{% endblock %}

{% block content %}
    <p>No content set</p>
{% endblock %}

{% block footer %}
    {% include '@UnilendFrontBundle/partials/test/_test.footer.twig' %}
{% endblock %}