{# About - Legals Page #}
{% extends 'layouts/_page-simple.twig' %}

{% set page = {
  id: 'page-legal',
  title: 'Informations Légales',
  permalink: route('legal')
} %}

{% block extendPageHeader %}
  <div class="page-header-image">{{ svgimage('#header-legal', '', 300, 300) }}</div>
{% endblock %}

{% block pageAsideBody %}
  <div class="page-aside-body h-card vcard ui-has-sticky">
    <h4>Siège social</h4>
    <span class="sr-only p-name fn p-org org">Unilend</span>
    <address class="p-adr h-adr">
      <span class="p-street-address">6 rue du Général Clergerie</span><br>
      <span class="p-postal-code">75116</span> <span class="p-locality">Paris</span> &ndash; <span class="p-country-name">France</span>
    </address>
    <div><a href="mailto:contact@unilend.fr" title="Email" class="p-email">contact@unilend.fr</a></div>
    <div><a href="tel:+33182285120" title="Telephone" class="p-tel">01 82 28 51 20</a></div>
    <div>790 766 034 RCS Paris</div>
    <div>Siret: 790 766 034 00025</div>
    <div>TVA intracommunautaire: FR57790766034</div>
    <div>Code APE: 8291Z</div>
  </div><!-- /.page-aside-body -->
{% endblock %}

{% block pageContentBody %}
  <section class="page-section">
    <h2 class="h4">Informations légales concernant la société</h2>
    <p>Le site Unilend est édité par la Société française pour le financement des PME - SFFPME - SAS au capital de 515 350 euros .Le directeur de la publication est Monsieur François Prioux, en sa qualité de président de la Société française pour le financement des PME - SFF PME SAS.</p>
  </section><!-- /.page-section -->

  <section class="page-section">
    <h2 class="h4">Informations concernant le service</h2>
    <p>Unilend est intermédiaire en financement participatif (IFP) inscrit à l’ORIAS sous le numéro 15006955.</p>
    <p><a href="#todo" class="link">En savior + sur Orias</a></p>

    <p>Le service de paiement Unilend est distribué par la Société française pour le financement des PME - SFF PME SAS, agent prestataire de services de paiement mandaté par la SFPMEI et enregistré auprès de l'Autorité de contrôle prudentiel et de résolution (ACPR) sous le numéro 790766034.</p>
    <p>Les informations d'enregistrement sont disponibles sur le site du registre des agents financiers.</p>
    <p><a href="#todo" class="link">Consulter le registre</a></p>

    <p>Le service de paiement Unilend est fourni par la Société financière du porte-monnaie électronique interbancaire (SFPMEI), société par actions simplifiée au capital de 3 732 089€ dont le siège social est situé 29 rue du Louvre - 75002 Paris, immatriculée au registre du commerce et des sociétés de Paris sous le numéro 422 721 274. La SFPMEI est un établissement de crédit (code établissement 14378) agréé en date du 30 décembre 1999 par l’Autorité de contrôle prudentiel et de résolution (ACPR).</p>
    <p>Le site Unilend est hébergé par Equinoa - Relance, SARL au capital de 67 100 euros dont le siège social est situé 11 bis rue Bachaumont - 75002 Paris</p>
  </section><!-- /.page-section -->

  <section class="page-section">
    <h2 class="h4">Informations concernant le traitement des réclamations</h2>
    <p>Le prêteur et le Bénéficiaire peuvent s'adresser au service réclamation d'Unilend à l'adresse <a href="mailto:contact@unilend.fr">contact@unilend.fr</a>.</p>
    <p>En cas de différend, une solution amiable sera recherchée avant toute action judiciaire. Le Partenaire Bancaire étant adhérent à l’Association des Sociétés Financières, le médiateur compétent peut être saisi par courrier à l’adresse suivante : M. le Médiateur de l’ASF 75854 Paris Cedex 17.</p>
  </section><!-- /.page-section -->
{% endblock %}
