//
// Unilend Project List
//

.project-list {
  .pagination-wrap {
    background-color: $c-bg2;
    color: $c-t3;

    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;

    @include devices('xs', 'sm') {
      .pagination-location {
        display: block;
        margin: 0 0 20px;
      }

      .pagination-info {
        margin-bottom: 0;
        text-align: center;

        .pagination-next {
          display: block;
        }
      }

      .pagination-index {
        display: none;
      }
    }

    @include devices('lg') {
      padding-left: 40px !important;
      padding-right: 40px !important;
    }
  }

  margin-bottom: 30px;

  @include devices('tablet-l') {
    margin-left: $width-site-margin-tablet-l;
    margin-right: $width-site-margin-tablet-l;
  }
}

.project-list-content {
  box-sizing: border-box;
  // display: table;
  width: 100%;
  // height: 100%;
  background-color: $c-bg4;
  border: solid 8px $c-bg2;
  margin-bottom: 20px;
}

// Sortable responsive filters
#{$js-sortable-responsivefilters} {
  margin-bottom: 0;
  padding-bottom: 10px;
  background-color: $c-bg2;
}

.project-list-filters {
  display: table;
  width: 100%;
  background-color: $c-bg2;

  a {
    @include link-states(
      $link: (
        color: $c-t2,
        text-decoration: none
      ),
      $hover: (
        color: $c-t1,
        text-decoration: none
      ),
      $active: (
        color: $c-t1,
        text-decoration: none
      )
    );
  }

  > * {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
  }

  > :first-child {
    padding-left: 10px;
  }

  > :last-child {
    padding-right: 10px;
  }

  // Make invisible for the drop-down filters that Sortable puts above the table
  @include devices('xs', 'sm') {
    display: none;
  }
}

.project-list-filter {
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 18px;
  font-size: 11px;
  letter-spacing: 2px;
  line-height: 1em;
  overflow: hidden;
  text-align: center !important;
  text-transform: uppercase;
  vertical-align: middle;

  @include devices('sm', 'laptop', 'lg') {
    font-size: 13px;
  }

  // Currently sorted column
  &#{$js-current-sortable-column} {
    color: $c-t1;
  }
}

// Remove border from last item
.project-list-items > .project-list-item:last-child {
  border-bottom-width: 0;
}

.project-list-item {
  display: table;
  width: 100%;
  background-color: $c-white;
  border-bottom: solid 2px $c-bg2;
  position: relative;
  cursor: pointer;

  // Interferes with linear-gradient on project-list-item-cost
  // transition: background-color .2s;

  // Change on hover/active
  &:hover,
  &:active,
  &.current,
  &.active {
    background-color: $c-bg3;

    .project-list-item-info .project-list-item-description {
      @include text-overflow-gradient($bg-color: $c-bg3, $height: $lh-base);
    }
  }

  // Completed/expired project
  &#{$js-expired-project} {
    opacity: .5;
    background-color: $c-bg3;

    .project-list-item-info .project-list-item-description {
      @include text-overflow-gradient($bg-color: $c-bg3, $height: $lh-base);
    }

    .project-list-item-view a {
      color: $c-t1 !important;
    }

    .project-list-item-category {
      @include filter(grayscale(100%));
    }
  }

  > * {
    display: table-cell;
    padding: 20px;
    vertical-align: middle;

    box-sizing: border-box;
  }

  // Remove floats to allow vertical alignment
  &.row > * {
    float: none;
  }

  // @include devices('md', 'lg') {
  //   > * {
  //     padding: 20px;
  //   }
  // }
  @include devices('xs') {
    > * {
      padding: 10px;
    }
  }
}


// Specific stylings for project-list-item properties
.project-list-item {
  position: relative;

  // Category
  .project-list-item-category {
    padding: 0 !important;
    position: relative;

    .icon {
      font-size: $fs-title;
    }
  }

  // Info (title, meta, location, cost, description)
  .project-list-item-info {
    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  // Title
  .project-list-item-title {
    color: $c-t1;
    font-size: 22px;
    margin: 0 0 10px;

    a {
      @include link-states(
        $link: (
          color: $c-t1,
          text-decoration: none
        ),
        $hover: (
          color: $c-t1,
          text-decoration: none
        ),
        $active: (
          color: $c-t1,
          text-decoration: none
        )
      );
    }
  }

  .project-list-item-meta {
    color: $c-t3;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }

  // Description
  .project-list-item-description {
    color: $c-t2;
    font-size: 16px;
    line-height: $lh-base;
    max-height: $lh-base * 2;
    overflow: hidden;
    @include text-overflow-gradient($bg-color: $c-white, $height: $lh-base);

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  // View project info
  .project-list-item-view {
    position: relative;

    > a {
      display: block;
      font-size: $fs-title;
    }
  }
}

// Responsive overrides
// -- Mobile devices (mobile-p, mobile-l)
@include devices('mobile', 'tablet-p') {
  .project-list-item {
    display: block;
    @include clearfix;

    > * {
      display: block;
    }

    // 1
    .project-list-item-category {
      display: none;
    }

    // 2
    .project-list-item-info {
      width: 100%;
      clear: both;
      padding-bottom: 0;
    }

    // 6
    .project-list-item-view {
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: right;
      line-height: 60px;
      padding-top: 10px;
    }
  }
}

// -- Medium devices (tablet-l)
@include devices('tablet-l') {
  // .project-list-item {
    // 1
    .project-list-item-category {
      width: 15%;
      text-align: center;
    }

    // 2
    .project-list-item-info {
      width: 32%;
    }

    // 3
    .project-list-item-view {
      width: 5%;
      text-align: center;
    }
  // }
}

// Medium devices: laptop
@include devices('laptop') {
  // 1
  .project-list-item-category {
    width: 12.5%;
    text-align: center;
  }

  // 2
  .project-list-item-info {
    width: 32%;
  }

  // 3
  .project-list-item-view {
    width: 5%;
    text-align: center;
  }
}

// -- Large devices
@include devices('lg') {
  // 1
  .project-list-item-category {
    width: 15%;
    text-align: center;
  }

  // 2
  .project-list-item-info {
    width: 35%;
  }

  // 3
  .project-list-item-view {
    width: 10%;
    text-align: center;
  }
}
