{# Panel - My Offers in progress #}
{% embed 'partials/components/dashboard-panel.html.twig' %}
    {% block panelAttributes %}id="myoffers"{% endblock %}
    {% block panelClassNames %}dashboard-panel dashboard-myoffers ui-draggable {% if panelInfo.hidden == true %} ui-dashboard-panel-hidden {% endif %} col-lg-6 col-md-6 col-sm-8 col-xs-4{% endblock %}
    {% block panelTitle %}{{ "lender-dashboard_panel-title-#{ panelId }" | trans }}{% endblock %}
    {% block panelControls %}
        <span class="ui-draggable-handle"></span>
    {% endblock %}
    {% block panelContent %}
        <div class="autolend">
            <div class="field-help">
                <div class="hide-xs hide-sm">Rendez-vous sur
                    <a href="{#@todo put the correct route name to autolend settings here#}">votre espace Autolend</a> pour configurer les offres
                </div>
            </div><!-- /.field-help -->
        </div><!-- /.autolend -->
        <div class="message">
            <p>{% transchoice ongoingBids with {'%count%': ongoingBids} %} lender-dashboard_my-offers-panel-offers-in-progress-number {% endtranschoice %}</p>
        </div><!-- /.message -->
        {% if ongoingProjects|length > 0 %}
            <ul class="list-myoffers">
                {# Placeholder #}
                {% for project in ongoingProjects %}
                    <li class="myoffer">
                        <div class="myoffer-project-name">{{ project.title }}</div>
                        <div class="myoffer-project-cost">{{ project.amount|localizednumber }}&nbsp;€</div>
                        <div class="myoffer-project-period">{% transchoice project.days_left with {'%daysCount%': project.days_left} %} lender-dashboard_project-remaining-days-before-closure {% endtranschoice %}</div>
                        {% for bid in project.aPendingBids %}
                            <div class="myoffer-amount">
                                {% set transParams = {
                                        '%amount%' : '<span class="amount">' ~ bid.amount_euro|localizednumber|nbsp ~ '€</span>',
                                        '%rate%' : '<span class="interest">' ~ bid.rate|localizednumber|nbsp ~ '%</span>'
                                    }
                                %}
                                {% if bid.id_autobid != 0 %}<span class="icon fa-autolend-u"></span> Autolend: {% endif %} {% trans with transParams %} lender-dashboard_my-offers-panel-bid-amount-and-rate {% endtrans %}
                            </div>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul><!-- /.list-myoffers -->
        {% endif %}
    {% endblock %}
    {% if ongoingProjects|length > 0 %}
        {% block panelFooter %}

            {#@todo use correct link into lenders offers list detais page#}

            <a href="#todo" class="link">{% trans %} lender-dashboard_see-all-my-offers-in-progress {% endtrans %}</a>
        {% endblock %}
    {% endif %}
{% endembed %}