{% set lendindgData = [
    {name: 'Collectivités publiques', y: 9600000, color: '#1b88db'},
    {name: 'Entreprises', y: 6300000, color: '#ffca2c'},
    {name: 'Énergie', y: 12500000, color: '#f76965'}
] %}

{% set walletAllocationChartData = {
    type: 'preterProjectsAccount',
    background: 'none',
    highcharts: {
        chart: {
            type: 'pie',
            marginTop: 0,
            marginBottom: 0,
            marginLeft: 0,
            marginRight: 0,
            spacingTop: 0,
            spacingBottom: 0,
            spacingLeft: 0,
            spacingRight: 0
        },
        title: {
            text: ''
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            pie: {
                innerSize: '50%',
                showInLegend: true,
                dataLabels: {
                    enabled: false
                }
            }
        },
        series: [{
            name: 'lender-dashboard-wallet_money-tab-grap-title',
            data: lendindgData
        }],
        tooltip: {
            valueSuffix: ' €'
        }
    }
} %}

<article class="dashboard-panel ui-draggable ui-dashboard-panel col-lg-12 col-md-12 col-sm-8 col-xs-4">
    <header class="dashboard-panel-header">
        <h3 class="dashboard-panel-title">Répartition par marché</h3>
    </header>
    <div class="dashboard-panel-content">
        <div class="row tabs">
            <div class="tab-content">
                <div id="mywallet-sectors" role="tabpanel" class="tab-pane active row">
                    <div class="row">
                        <div class="col-info col-lg-4 col-md-5 col-sm-8 col-xs-4">
                            <h2>Total financé</h2>
                            <h2>28 400 000 €</h2>
                            <dl>
                                {% for i, data in walletAllocationChartData.highcharts.series[0].data %}
                                    <div class="dl-group dl-group-full">
                                        <dt>
                                            {% if data.color %}
                                            <span class="chart-key-icon" style="background: {{ data.color }}"></span>
                                            {% endif %}
                                            <span class="label">{{ data.name }}</span>
                                        </dt>
                                        <dd style="text-align: right">{{ data.y|number_format(0, ',', '&nbsp;')|raw }}&nbsp;€</dd>
                                    </div>
                                {% endfor %}
                            </dl>
                        </div><!-- /.col-info -->
                        <div class="col-graph col-lg-8 col-md-7 col-sm-8 col-xs-4">
                            <div class="chart" data-chartview='{{ walletAllocationChartData|json_encode|escape('html_attr') }}'></div>
                        </div><!-- /.col-graph -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
