{# Projects Index #}
{% extends 'layouts/_layout.twig' %}
{% import 'partials/modules/_project-list.macros.twig' as projectList %}

{# Page data #}
{% set page = {
  title: 'Projets',
  permalink: route('projets')
} %}

{# Placeholder Data (temp until hooked into backend) #}
{% set placeholderData = {
  totalProjectsInProgress: 1545,
  totalProjectsFinanced: 8123,
  totalLendersActive: 5431,

  filterItems: [{
    column: 'category',
    sortBy: 'categoryId',
    label: __('Category', 'projectListFilterCategory')
  },{
    column: 'info',
    sortBy: 'cost',
    label: __('Cost', 'projectListFilterCost')
  },{
    column: 'stats',
    sortBy: 'interest',
    label: __('Interest', 'projectListFilterInterest')
  },{
    column: 'rating',
    sortBy: 'rating',
    label: __('Rating', 'projectListFilterRating')
  },{
    column: 'period',
    sortBy: 'daysLeft',
    label: __('Time Remaining', 'projectListFilterPeriod')
  },{
    column: 'view',
    sortBy: false,
    label: '&nbsp;'
  }],

  listItems: [{
    id: '12345',
    title: 'Example project',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel dolor a ipsum consectetur vulputate. Proin viverra sodales sem facilisis aliquet. Integer tincidunt congue iaculis. Sed vel massa ex. Nam cursus scelerisque ligula, id ullamcorper neque elementum et. Quisque quis nisi tortor. Phasellus id dolor ut eros scelerisque pharetra at non tellus. Cras lacinia ex egestas eros gravida, ut porta lorem dignissim. Mauris tristique nulla tortor, eget mattis lorem dapibus in. Sed sed interdum neque. Ut semper eleifend urna, et hendrerit purus volutpat vitae. Quisque rutrum ex lectus, rutrum tempus mauris mollis quis. Duis et lacinia turpis. Praesent condimentum vitae erat ultrices mollis. Phasellus eget condimentum libero. Aenean accumsan viverra mauris, vel euismod ipsum consequat non.',
    permalink: route('project/12345'),
    image: siteurlmedia('promos/homeacq-promo-emprunter-600x400.jpg'),
    locationCity: 'Paris',
    locationPostCode: '75002',
    categoryId: 1,
    cost: 150000.12,
    interest: 7.2,
    totalOffers: 1500,
    rating: 3.5,
    dateExpires: 'now'|date_modify('+4 days')|date('d F Y H:i:s'),
    daysLeft: 4,
    currentUserInvolved: false,
    currentUserTotalOffers: 0
  },{
    id: '12345',
    title: 'User has made an offer',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel dolor a ipsum consectetur vulputate. Proin viverra sodales sem facilisis aliquet. Integer tincidunt congue iaculis. Sed vel massa ex. Nam cursus scelerisque ligula, id ullamcorper neque elementum et. Quisque quis nisi tortor. Phasellus id dolor ut eros scelerisque pharetra at non tellus. Cras lacinia ex egestas eros gravida, ut porta lorem dignissim. Mauris tristique nulla tortor, eget mattis lorem dapibus in. Sed sed interdum neque. Ut semper eleifend urna, et hendrerit purus volutpat vitae. Quisque rutrum ex lectus, rutrum tempus mauris mollis quis. Duis et lacinia turpis. Praesent condimentum vitae erat ultrices mollis. Phasellus eget condimentum libero. Aenean accumsan viverra mauris, vel euismod ipsum consequat non.',
    permalink: route('project/12345'),
    image: siteurlmedia('promos/homeacq-promo-emprunter-600x400.jpg'),
    locationCity: 'Paris',
    locationPostCode: '75872',
    categoryId: 1,
    cost: 150000,
    interest: 7.2,
    totalOffers: 1500,
    rating: 2,
    dateExpires: 'now'|date_modify('+1 week')|date('d F Y H:i:s'),
    daysLeft: 8,
    currentUserInvolved: true,
    currentUserTotalOffers: 5,
    currentUserOffers: {
      inProgress: 5,
      accepted: 0,
      rejected: 0
    }
  },{
    id: '12345',
    title: '48 hours left',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel dolor a ipsum consectetur vulputate. Proin viverra sodales sem facilisis aliquet. Integer tincidunt congue iaculis. Sed vel massa ex. Nam cursus scelerisque ligula, id ullamcorper neque elementum et. Quisque quis nisi tortor. Phasellus id dolor ut eros scelerisque pharetra at non tellus. Cras lacinia ex egestas eros gravida, ut porta lorem dignissim. Mauris tristique nulla tortor, eget mattis lorem dapibus in. Sed sed interdum neque. Ut semper eleifend urna, et hendrerit purus volutpat vitae. Quisque rutrum ex lectus, rutrum tempus mauris mollis quis. Duis et lacinia turpis. Praesent condimentum vitae erat ultrices mollis. Phasellus eget condimentum libero. Aenean accumsan viverra mauris, vel euismod ipsum consequat non.',
    permalink: route('project/12345'),
    image: siteurlmedia('promos/homeacq-promo-emprunter-600x400.jpg'),
    locationCity: 'Paris',
    locationPostCode: '75995',
    categoryId: 3,
    cost: 140000,
    interest: 6.5,
    totalOffers: 1200,
    rating: 4,
    dateExpires: 'now'|date_modify('+1 day 12 hours')|date('d F Y H:i:s'),
    daysLeft: 1.5,
    currentUserInvolved: false,
    currentUserTotalOffers: 0
  },{
    id: '12345',
    title: 'Less than 48 hours left',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel dolor a ipsum consectetur vulputate. Proin viverra sodales sem facilisis aliquet. Integer tincidunt congue iaculis. Sed vel massa ex. Nam cursus scelerisque ligula, id ullamcorper neque elementum et. Quisque quis nisi tortor. Phasellus id dolor ut eros scelerisque pharetra at non tellus. Cras lacinia ex egestas eros gravida, ut porta lorem dignissim. Mauris tristique nulla tortor, eget mattis lorem dapibus in. Sed sed interdum neque. Ut semper eleifend urna, et hendrerit purus volutpat vitae. Quisque rutrum ex lectus, rutrum tempus mauris mollis quis. Duis et lacinia turpis. Praesent condimentum vitae erat ultrices mollis. Phasellus eget condimentum libero. Aenean accumsan viverra mauris, vel euismod ipsum consequat non.',
    permalink: route('project/12345'),
    image: siteurlmedia('promos/homeacq-promo-emprunter-600x400.jpg'),
    locationCity: 'Paris',
    locationPostCode: '75995',
    categoryId: 3,
    cost: 140000,
    interest: 6.5,
    totalOffers: 1200,
    rating: 4,
    dateExpires: 'now'|date_modify('+3 hours')|date('d F Y H:i:s'),
    daysLeft: 0.01,
    currentUserInvolved: false,
    currentUserTotalOffers: 0
  },{
    id: '12345',
    title: 'Expired item',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel dolor a ipsum consectetur vulputate. Proin viverra sodales sem facilisis aliquet. Integer tincidunt congue iaculis. Sed vel massa ex. Nam cursus scelerisque ligula, id ullamcorper neque elementum et. Quisque quis nisi tortor. Phasellus id dolor ut eros scelerisque pharetra at non tellus. Cras lacinia ex egestas eros gravida, ut porta lorem dignissim. Mauris tristique nulla tortor, eget mattis lorem dapibus in. Sed sed interdum neque. Ut semper eleifend urna, et hendrerit purus volutpat vitae. Quisque rutrum ex lectus, rutrum tempus mauris mollis quis. Duis et lacinia turpis. Praesent condimentum vitae erat ultrices mollis. Phasellus eget condimentum libero. Aenean accumsan viverra mauris, vel euismod ipsum consequat non.',
    permalink: route('project/12345'),
    image: siteurlmedia('promos/homeacq-promo-emprunter-600x400.jpg'),
    locationCity: 'Paris',
    locationPostCode: '75663',
    categoryId: 9,
    cost: 110000,
    interest: 7,
    totalOffers: 1723,
    rating: 4.5,
    dateExpires: '28 March 2016 00:00:00',
    daysLeft: 0,
    currentUserInvolved: false,
    currentUserTotalOffers: 0
  },{
    id: '12345',
    title: 'Current user has made rejected offers',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel dolor a ipsum consectetur vulputate. Proin viverra sodales sem facilisis aliquet. Integer tincidunt congue iaculis. Sed vel massa ex. Nam cursus scelerisque ligula, id ullamcorper neque elementum et. Quisque quis nisi tortor. Phasellus id dolor ut eros scelerisque pharetra at non tellus. Cras lacinia ex egestas eros gravida, ut porta lorem dignissim. Mauris tristique nulla tortor, eget mattis lorem dapibus in. Sed sed interdum neque. Ut semper eleifend urna, et hendrerit purus volutpat vitae. Quisque rutrum ex lectus, rutrum tempus mauris mollis quis. Duis et lacinia turpis. Praesent condimentum vitae erat ultrices mollis. Phasellus eget condimentum libero. Aenean accumsan viverra mauris, vel euismod ipsum consequat non.',
    permalink: route('project/12345'),
    image: siteurlmedia('promos/homeacq-promo-emprunter-600x400.jpg'),
    locationCity: 'Paris',
    locationPostCode: '75009',
    categoryId: 9,
    cost: 210000,
    interest: 7.1,
    totalOffers: 12345,
    rating: 4,
    dateExpires: 'now'|date_modify('+1 week')|date('d F Y H:i:s'),
    daysLeft: 7,
    currentUserInvolved: true,
    currentUserTotalOffers: 10,
    currentUserOffers: {
      rejected: 10
    }
  },{
    id: '12345',
    title: 'Current user has made offers that have been accepted and in progress',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel dolor a ipsum consectetur vulputate. Proin viverra sodales sem facilisis aliquet. Integer tincidunt congue iaculis. Sed vel massa ex. Nam cursus scelerisque ligula, id ullamcorper neque elementum et. Quisque quis nisi tortor. Phasellus id dolor ut eros scelerisque pharetra at non tellus. Cras lacinia ex egestas eros gravida, ut porta lorem dignissim. Mauris tristique nulla tortor, eget mattis lorem dapibus in. Sed sed interdum neque. Ut semper eleifend urna, et hendrerit purus volutpat vitae. Quisque rutrum ex lectus, rutrum tempus mauris mollis quis. Duis et lacinia turpis. Praesent condimentum vitae erat ultrices mollis. Phasellus eget condimentum libero. Aenean accumsan viverra mauris, vel euismod ipsum consequat non.',
    permalink: route('project/12345'),
    image: siteurlmedia('promos/homeacq-promo-emprunter-600x400.jpg'),
    locationCity: 'Paris',
    locationPostCode: '75021',
    categoryId: 9,
    cost: 140000,
    interest: 5.5,
    totalOffers: 987,
    rating: 3.5,
    dateExpires: 'now'|date_modify('+2 week')|date('d F Y H:i:s'),
    daysLeft: 14,
    currentUserInvolved: true,
    currentUserTotalOffers: 10,
    currentUserOffers: {
      accepted: 5,
      inProgress: 5
    }
  }]
} %}

{% block siteContent %}
  <article id="projets-index" class="page">

    <header class="page-header page-header-hero">
      <div class="hero-wrap">
        <div class="site-wrap">
          <h2 class="page-title">{{ __('%s projects in progress, %s projects financed, %s active lenders.', 'pageProjetsIndexHeaderTitle')|format(placeholderData.totalProjectsInProgress|__num|nbsp, placeholderData.totalProjectsFinanced|__num|nbsp, placeholderData.totalLendersActive|__num|nbsp) }}</h2>
        </div><!-- /.site-wrap -->

        {% include '@UnilendFrontBundle/partials/components/list-socialmedia.twig' %}
      </div><!-- /.hero-wrap -->
    </header><!-- /.page-header -->

    <section id="projets-index-project-list" class="page-section">
      <div class="site-wrap">
        {{ projectList.render(
          'projets-index-project-list-module',
          placeholderData.filterItems,
          placeholderData.listItems,
          false,
          {
            pageUrl: 'projects/%index%',
            totalItems: 280,
            currentIndex: 7
          }
        ) }}

        <div class="row page-section-footer">
          <div class="btn-toolbar">
            <a href="{{ route('preter/new') }}" class="btn-primary">Pas encore prêteur&nbsp;? Créer un compte</a>
          </div>
          <p><a href="{{ route('emprunter') }}" class="link c-p2">Vous êtes une entreprise et souhaitez emprunter&nbsp;?</a></p>
        </div><!-- /.page-section-footer -->
      </div><!-- /.site-wrap -->
    </section><!-- /.page-section -->

  </article><!-- /.page -->
{% endblock %}
