{% extends 'layouts/_layout.html.twig' %}

{% set bodyClassNames = 'layout-page-simple' %}

{% block siteContent %}
    <article{% if page.id is defined %} id="{{ page.id }}"{% endif %} class="page page-simple{% if page.classNames is defined %} {{ page.classNames }}{% endif %}">
        {% block pageHeader %}
            <header class="page-header">
                <div class="hero-wrap">
                    <div class="site-wrap">
                        {% block pageTitle %}
                            <h1 class="page-title"></h1>
                        {% endblock %}
                        {% block extendPageHeader %}{% endblock %}
                    </div><!-- /.site-wrap -->
                    {% include 'partials/components/list-socialmedia.html.twig' %}
                </div><!-- /.hero-wrap -->
            </header><!-- /.page-header -->
        {% endblock %}

        <div class="site-wrap">
            <div class="row">
                {% block pageAside %}
                    <aside class="col-lg-6 col-md-6 page-aside ui-sticky-bounds" data-equal-height="md lg" data-equal-height-group="content">
                        {% block pageAsideBody %}&nbsp;{% endblock %}
                    </aside><!-- /.page-aside -->
                {% endblock %}

                {% block pageContent %}
                    <div class="col-lg-6 col-md-6 page-content" data-equal-height="md lg" data-equal-height-group="content">
                        {% block pageContentBody %}
                            {% include 'partials/site/not-found.twig' %}
                        {% endblock %}
                    </div><!-- /.page-content -->
                {% endblock %}
            </div><!-- /.row -->
        </div><!-- /.site-wrap -->
    </article><!-- /.page -->
{% endblock %}
