/***************************************/
/* DEFINITION DES STYLES DE CARACTERES */
/***************************************/

body { background: #E3E4E5; font: 12px Arial, Helvetica, sans-serif; color: #313537; }

a { color: #2bc9af; text-decoration: none; cursor: pointer; }
a:focus, a:hover { color: #a1a5a7; text-decoration: underline; }

h1, h2, h3 { font-weight: bold; }
h1 { font-size: 18px; line-height: 34px; margin: 0 0 15px; }
h2 { font-size: 16px; line-height: 1; margin: 0 0 10px; }
h3 { font-size: 14px; line-height: 1; margin: 0 0 10px; }

p { margin: 0 0 15px; }

.center { text-align: center; }

/***********************/
/* STRUCTURE DES BLOCS */
/***********************/

#contener.debug { margin-top: 45px; }

.debug-environment { position:fixed; top:0; width:100%; height:45px; background-color:#8acf00; z-index:999; font-size:12px; text-align:center; color:#fff; line-height:45px }
.debug-environment .environment { background-color:#2bc9af; padding:8px 10px; display:inline; height:40px; text-align:center; color:#f1f1f1; }

#logo_site { width: 252px; margin: 150px auto 30px; }

.btn-primary, .btn-default {  display: inline-block; margin-bottom: 0; text-align: center; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; user-select: none; font-size: 12px; line-height: 20px; border-radius: 2px; font-weight: bold; }
.btn-primary:hover, .btn-default:hover, .btn-primary:focus, .btn-default:focus, .btn-primary:active:focus, .btn-default:active:focus { text-decoration: none; }
.btn-primary { background-color: #2bc9af; border: 1px solid #2bc9af; color: #fff !important; }
.btn-primary:hover { background-color: #2bc9af; border-color: #2bc9af; }
.btn-primary:active:focus, .btn-primary:active, .btn-primary:focus { background-color: #2bc9af; border-color: #2bc9af; box-shadow: none; }
.btn-default { background-color: #B1ADB2; border-color: #B1ADB2; color: #fff !important; }
.btn-default:hover { background-color: #8B888C; border-color: #8B888C; }
.btn-default:active:focus, .btn-default:active, .btn-default:focus { background-color: #959595; border-color: #959595; box-shadow: none; }
.btn { display: inline-block; background: #2bc9af; border: 1px solid #2bc9af;  color: #FFF; margin: 0; padding: 5px; text-align: center; font: bold 12px Verdana, Geneva, sans-serif; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.btn_link { background: #2bc9af; border: 1px solid #2bc9af; color: #FFF; margin: 0; height: 27px; padding: 3px 10px; text-align: center; font: bold 12px/20px Verdana, Geneva, sans-serif; cursor: pointer; text-decoration:none; }
.btn_link:hover, .btn_link:focus, .btn_link:visited { color: #FFF; text-decoration:none; }
.btnDroite { text-align: right; margin: -30px 0 20px 0; }

#header { padding: 10px 15px; height: 80px; background-color: #FFF; }

.logo_header img { display: block; max-width: 100%; height: auto; }

.bloc_info_header { position: relative; float: right; display: inline; margin: 0; padding: 0; text-align:right; }

#navigation { height: 34px; background: #e3e4e5; text-align: center; position: relative; }
#navigation > ul { display: table; list-style: none; margin: 0; padding: 0; width: 100%; position: absolute; top: 0; left: 0; }
#navigation > ul > li { display: table-cell; position: relative; width: 25%; }
#navigation > ul > li > a { display: block; padding: 10px 12px; color: #000; font-weight: bold; text-decoration: none; }
#navigation > ul > li.active > a,
#navigation > ul > li:hover > a { background: #2bc9af; color: #fff; }

#contenu { padding: 15px; background: #FFF; }

#footer { margin: 30px auto; padding: 20px 0 0 0; width: 1200px; height: 35px; background-color: #FFF; }

#pager { margin: 0 auto; padding: 0; width: 1200px; text-align: center; }
#pager img { margin: 0; padding: 0; cursor:pointer; vertical-align: middle; }
#pager .pagedisplay { margin: 0; padding: 5px 0 0 0; width: 50px; text-align: center; border:0; font-size: 12px; color:#2bc9af; }
#pager .pagesize { display:none; }

.table > thead > tr > th { background: #2bc9af; border-bottom: 1px solid #2bc9af; color: #fff; vertical-align: top; }
.table > thead > tr > th:first-child { border-left: 1px solid #2bc9af; }
.table > thead > tr > th:last-child { border-right: 1px solid #2bc9af; }
.table > tbody > tr > td:first-child { border-left: 1px solid #dddddd; }
.table > tbody > tr > td:last-child { border-right: 1px solid #dddddd; }
.table > tbody > tr:last-child > td { border-bottom: 1px solid #dddddd; }

/************/
/* COLORBOX */
/************/

#popup { background-color: #FFF; padding: 20px;  }

.closeBtn { position:absolute; top: 8px; right: 8px; }

table.formColor { width: 500px; margin: 0; }
table.formColor th { text-align: right; vertical-align: middle; padding: 5px 5px; }
table.formColor td { text-align: left; vertical-align: middle; padding: 5px 5px; }
table.formColor label { cursor: pointer; font-weight: bold; }

table.formMail { width: 600px; margin: 0; }
table.formMail th { text-align: left; vertical-align: middle; padding: 5px 5px; }
table.formMail td { text-align: left; vertical-align: middle; padding: 5px 5px; }

table.large { width: 100%; margin: 0; }
table.large th { text-align: left; vertical-align: middle; padding: 0; }
table.large th.bas { text-align: left; vertical-align: middle; padding: 0 0 10px; }
table.large td { text-align: right; vertical-align: middle; padding: 0 0 10px; }
table.large label { cursor: pointer; font-weight: bold; }

.input_large { width: 250px; height: 25px; background: #ECECEC; border: 1px solid #A1A5A7; margin: 0; padding: 0 4px; font: 12px Arial, Helvetica, sans-serif; }
.input_court { width: 50px; height: 25px; background: #ECECEC; border: 1px solid #A1A5A7; margin: 0; padding: 0 4px; font: 12px Arial, Helvetica, sans-serif; }
.input_dp { float:left; width: 75px; height: 25px; background: #ECECEC; border: 1px solid #A1A5A7; margin: 0; padding: 0 4px; font: 12px Arial, Helvetica, sans-serif; text-align:center }
.textarea { width: 250px; height: 100px; background: #ECECEC; border: 1px solid #A1A5A7; margin: 0; padding: 4px; font: 12px Arial, Helvetica, sans-serif; }
.textarea_lng { width: 800px; height: 150px; background: #ECECEC; border: 1px solid #A1A5A7; margin: 0; padding: 4px; font: 12px Arial, Helvetica, sans-serif; }
.select { width: 260px; height: 25px; background: #ECECEC;  border: 1px solid #A1A5A7; margin: 0; padding: 5px 3px; font: 12px Arial, Helvetica, sans-serif; }

.ui-autocomplete { background: #f4f4f4 none repeat scroll 0 0; color: #a1a5a7; border: 1px solid #dbdcdd; border-radius: 4px; z-index: 99999; max-height: 200px; overflow-x: hidden; overflow-y: scroll; max-width: 350px;}
.ui-datepicker-trigger { vertical-align: middle; }

.ui-datepicker { padding: 0; border: 0; background: #e3e4e5; box-shadow: 0px 0px 3px #999; }
.ui-datepicker .ui-datepicker-header { position: relative; padding: 5px; border: 0; border-radius: 0;}
.ui-datepicker select { color: #000; width: 47.5%; border: 0; }
.ui-datepicker select.ui-datepicker-month { margin-right: 5%; }
.ui-datepicker table { margin: 0; }
.ui-datepicker td { padding: 0; }
.ui-datepicker td span, .ui-datepicker td a { text-align: center; }
.ui-widget-content a { font-style: normal; }
.ui-datepicker-prev, .ui-datepicker-next { background: transparent!important; border-color: transparent!important; top: 0!important; height: 30px!important;  }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #f6f6f6; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{ border: 1px solid #2ba48f; background: #2ba48f; color: #ffffff; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { background-color: #61d3bc; border-color: #2ba48f; color: #fff; }
.ui-datepicker-trigger { display: none; }

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    top: 7px !important;
}
.dataTables_paginate ul.pagination {
    margin: 12px 0;
    white-space: nowrap;
    float: right;
}
.dataTables_paginate ul.pagination > li {
    display: block;
    float: left;
    margin: 0 0 5px 5px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    color: #2bc9af;
    -webkit-box-shadow: 0 2px #2bc9af;
    box-shadow: 0 2px #2bc9af;
}

.ui-widget-content a {
    color: inherit;
}
