{# Error - Invalid Route page #}
{% extends 'pages/error.twig' %}

{# Page data #}
{% set bodyId = '' %}
{% set page = {
  id: 'page-error',
  title: 'Error',
  permalink: route('error/invalidroute'),
  classNames: 'error-invalidroute'
} %}

{% block extendHead %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/monokai-sublime.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
  <script type="text/javascript">if (hljs) hljs.initHighlightingOnLoad()</script>
{% endblock %}

{% block pageAsideBody %}
  <div class="message-alert">
    <p>This page is only utilised for debugging purposes during development</p>
  </div><!-- /.message-alert -->
{% endblock %}

{% block pageContentBody %}
  <section class="page-section">
    <h2>Invalid route was given</h2>
    <p>The route <span id="invalid-route"></span> didn't match any of the given routes within the <code>routes</code> object specfied in the Twig's configuration file for this build.</p>
    <p>Current Twig build configuration:</p>
    <pre><code class="json">{{ {
  env: env,
  lang: lang,
  site: site,
  siteurl: siteurl(''),
  siteurlajax: siteurlajax(''),
  siteurlassets: siteurlassets(''),
  siteurljs: siteurljs(''),
  siteurlcss: siteurlcss(''),
  siteurlmedia: siteurlmedia(''),
  routes: routes
}|json_encode_prettyprint() }}</code></pre>
    <p><a href="{{ route('/') }}" class="btn-primary">Home</a></p>
  </section><!-- /.page-section -->
{% endblock %}
