/* line 8, ../sass/ie.scss */

.ie9 .page-header-hero .list-sharing,
.ie9 .cta-video-hero .list-sharing {
  text-align: right;
}

/* line 11, ../sass/ie.scss */

.ie9 .page-header-hero .list-sharing > li,
.ie9 .cta-video-hero .list-sharing > li {
  text-align: right;
}

/* line 17, ../sass/ie.scss */

.ie9 .project-list-item {
  height: 100%;
}

/* line 21, ../sass/ie.scss */

.ie9 .project-list-item-category {
  overflow: auto;
  height: 100%;
}

/* line 26, ../sass/ie.scss */

.ie9 .project-list-item-image {
  zoom: 1;
  height: 100%;
}