{% set sectorData = [
    {name: 'Agriculture', value: 55, svgIconId: '#category-sm-1'},
    {name: 'Énergie', value: 48, svgIconId: '#category-sm-12'},
    {name: 'Industrie', value: 40, svgIconId: '#category-sm-8'},
    {name: 'Construction / BTP', value: 35, svgIconId: '#category-sm-3'},
    {name: 'Transport', value: 33, svgIconId: '#category-sm-14'},
    {name: 'Alimentation', value: 30, svgIconId: '#category-sm-2'},
    {name: 'Médical', value: 28, svgIconId: '#category-sm-10'},
    {name: 'Restauration', value: 25, svgIconId: '#category-sm-11'},
    {name: 'Commerce de proximité', value: 22, svgIconId: '#category-sm-4'},
    {name: 'Culture', value: 20, svgIconId: '#category-sm-6'},
    {name: 'R&D', value: 19, svgIconId: '#category-sm-9'},
    {name: 'Commerce de gros', value: 17, svgIconId: '#category-sm-13'},
    {name: 'Hôtellerie', value: 16, svgIconId: '#category-sm-7'},
    {name: 'Autres', value: 12, svgIconId: '#category-sm-15'},
] %}

{% set walletSectorChartData = {
    type: 'preterProjectsCategories',
    background: 'none',
    highcharts: {
        chart: {
            type: 'treemap',
            marginTop: 0,
            marginBottom: 0,
            marginLeft: 0,
            marginRight: 0,
            spacingTop: 0,
            spacingBottom: 0,
            spacingLeft: 0,
            spacingRight: 0
        },
        title: {
            text: ''
        },
        plotOptions: {
            treemap: {
                borderWidth: 2,
                dataLabels: {
                    useHTML: true,
                    zIndex: -1
                }
            }
        },
        tooltip: {
            backgroundColor: "rgba(255,255,255,1)",
            useHTML: true
        },
        series: [{
            type: 'treemap',
            layoutAlgorithm: 'squarified',
            data: sectorData
        }]
    }
} %}

<article class="dashboard-panel ui-draggable ui-dashboard-panel col-lg-6 col-md-6 col-sm-6 col-xs-4">
    <header class="dashboard-panel-header">
        <h3 class="dashboard-panel-title">Répartition par secteur d‘activité</h3>
    </header>
    <div class="dashboard-panel-content" style="height: 440px;">
        <div class="chart" data-chartview="{{ walletSectorChartData|json_encode|escape('html_attr') }}"></div>
    </div>
</article>
