{% set months = ['01/2018', '02/2018', '03/2018', '04/2018', '05/2018', '06/2018', '07/2018', '08/2018', '09/2018', '10/2018', '11/2018', '12/2018'] %}
{% set borrowingAmounts = [0,     0,     -60000, -100000, 0,     -60000, 0,    -80000, -20000, 0, -70000,  0] %}
{% set lendingAmounts =   [60000, 80000,  0,      200000, 350000, 0,     20000, 0,      90000, 0,  300000, 120000] %}
{% set diffAmounts = [60000, 80000, -60000, 100000, 350000, -60000, 20000, -80000, 70000, 0, 230000, 120000] %}

{% set operationChartData = {
    type: 'monthlyOperation',
    background: 'none',
    highcharts: {
        title: {
            text: ''
        },
        xAxis: [{
            categories: months,
            crosshair: true,
            reversed: false,
            labels: {
                step: 1,
                style: {
                    color: '#111'
                }
            },
        }, {
            opposite: true,
            reversed: false,
            crosshair: true,
            categories: months,
            linkedTo: 0,
            labels: {
                step: 1,
                style: {
                    color: '#111'
                }
            }
        }],
        yAxis: [{
            title: {
                text: null
            },
            labels: {
                style: {
                    color: '#111'
                }
            }
        }, {
            title: {
                text: null
            },
        }],
        series: [{
            name: 'Emprunts',
            type: 'column',
            data: borrowingAmounts
        }, {
            name: 'Prêts',
            type: 'column',
            data: lendingAmounts
        }, {
            name: 'Difference Emprunts / Prêts',
            type: 'spline',
            data: diffAmounts
        }],
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        }
    }
} %}

<article class="dashboard-panel dashboard-mywallet ui-draggable ui-dashboard-panel col-lg-12 col-md-12 col-sm-8 col-xs-4">
    <header class="dashboard-panel-header">
        <h3 class="dashboard-panel-title">Les opérations sur 12 mois coulissants </h3>
    </header>
    <div class="dashboard-panel-content">
        <div class="row tabs">
            <div class= tab-content" style="background-color: #eceaed">
                <div id="mywallet-sectors" role="tabpanel" class="tab-pane active">
                    <div class="row">
                        <div class="col-graph">
                            <div class="chart" data-chartview='{{ operationChartData|json_encode|escape('html_attr') }}'></div>
                        </div><!-- /.col-graph -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="dashboard-panel-footer">
    </footer>
</article>
