{% set grade = [
    'Première qualité',
    'Haute qualité',
    'Qualité moyenne supérieure',
    'Qualité moyenne inférieure',
    'Spéculatif',
    'Très spéculatif',
    'Risque élevé',
    'Ultra spéculatif',
    'En défaut, avec quelques espoirs de recouvrement',
    'En défaut sélectif', 'En défaut'
] %}
{% set borrowingAmounts = [4000000, 8000000, 6000000, 3000000, 2000000, 0, 0, 0, 0, 0] %}

{% set borrowByRiskChartData = {
    type: 'borrowByRisk',
    background: 'none',
    highcharts: {
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        xAxis: {
            title: {
                text: null
            },
            categories: grade,
            crosshair: true,
            labels: {
                style: {
                    color: '#fff'
                }
            },
        },
        yAxis: {
            title: {
                text: ''
            },
            labels: {
                style: {
                    color: '#fff'
                }
            }
        },
        series: [{
            showInLegend: false,
            name: 'Emprunts',
            data: borrowingAmounts
        }]
    }
} %}

<article class="dashboard-panel dashboard-mywallet ui-draggable ui-dashboard-panel col-lg-12 col-md-12 col-sm-8 col-xs-4">
    <header class="dashboard-panel-header">
        <h3 class="dashboard-panel-title">Répartition par notation</h3>
        <div class="dashboard-panel-controls">
            <span class="ui-draggable-handle"></span>
            <a href="javascript:;" class="btn-close"><span class="sr-only">Masquer le message</span></a>
        </div>
    </header>
    <div class="dashboard-panel-content">
        <div class="row tabs">
            <div class="dashboard-mywallet-content tab-content">
                <div id="mywallet-sectors" role="tabpanel" class="tab-pane active">
                    <div class="row">
                        <div class="col-graph">
                            <div class="chart" data-chartview='{{ borrowByRiskChartData|json_encode|escape('html_attr') }}'></div>
                        </div><!-- /.col-graph -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="dashboard-panel-footer">
    </footer>
</article>
