{% extends ':frontbundle/demo:_layout.html.twig' %}

{% set page = {
    id: 'demo-loans',
    classNames: ''
} %}

{% block dashboardContent %}
    <section class="dashboard-tabs tabs">
        {% if projects|length > 1 %}
            <div class="dashboard-tabs-nav">
                <ul class="nav nav-dashboard-tabs">
                    {% if projects.borrower is defined %}
                        {% if active is not defined %}
                            {% set active = 'borrower' %}
                        {% endif %}
                        <li data-equal-width role="presentation"{% if active == 'borrower' %} class="active"{% endif %}>
                            <a href="#tab-borrower" role="tab" data-toggle="tab">Dossiers déposés</a>
                        </li>
                    {% endif %}
                    {% if projects.broker is defined %}
                        {% if active is not defined %}
                            {% set active = 'broker' %}
                        {% endif %}
                        <li data-equal-width role="presentation"{% if active == 'broker' %} class="active"{% endif %}>
                            <a href="#tab-broker" role="tab" data-toggle="tab">Arrangements et notation</a>
                        </li>
                    {% endif %}
                    {% if projects.lender is defined %}
                        {% if active is not defined %}
                            {% set active = 'lender' %}
                        {% endif %}
                        <li data-equal-width role="presentation"{% if active == 'lender' %} class="active"{% endif %}>
                            <a href="#tab-lender" role="tab" data-toggle="tab">Syndications souscrites</a>
                        </li>
                    {% endif %}
                </ul>
            </div><!-- /.dashboard-tabs-nav -->
        {% endif %}

        <div class="dashboard-tabs-content tab-content">
            {% if projects.borrower is defined and projects.borrower|length %}
                {% include ':frontbundle/demo/partials:projects.html.twig' with {'projectsType': 'borrower', 'active': active|default('borrower')} %}
            {% endif %}
            {% if projects.broker is defined and projects.broker|length %}
                {% include ':frontbundle/demo/partials:projects.html.twig' with {'projectsType': 'broker', 'active': active|default('broker')} %}
            {% endif %}
            {% if projects.lender is defined and projects.lender|length %}
                {% include ':frontbundle/demo/partials:lender.html.twig' with {'active': active|default('lender')} %}
            {% endif %}
        </div><!-- /.dashboard-tabs-content -->
    </section><!-- /.dashboard-tabs -->
{% endblock %}

{% block pageHeadScripts %}
    <style>
        .bubble {
            display: inline-block;
            border-radius: 12px;
            padding: 0 10px;
            line-height: 18px;
            color: #fbf9fb;
            font-weight: 900;
        }
    </style>
{% endblock %}
