{% extends ':frontbundle/demo:_layout.html.twig' %}

{% set page = {
    id: 'demo-reporting',
    classNames: ''
} %}

{% block dashboardContent %}
    <section class="dashboard-panels-content">
        {% include ':frontbundle/demo/partials/reporting:category.html.twig' %}
        {% include ':frontbundle/demo/partials/reporting:region.html.twig' %}
        {% include ':frontbundle/demo/partials/reporting:canal.html.twig' %}
        {% include ':frontbundle/demo/partials/reporting:operation.html.twig' %}
        {% include ':frontbundle/demo/partials/reporting:risk.html.twig' %}
    </section><!-- /.dashboard-tabs -->
{% endblock %}
