{% extends 'layouts/_layout_lender.html.twig' %}

{% import 'extensions/_general.macros.twig' as general %}

{% set page = {
    id: 'user-preter-profile',
    title: 'Prêteur / Profil',
    permalink: route('user/preter/profile'),
    classNames: 'user-preter-profile'
} %}

{# See config/twig.json for the data value of `userProfile` #}
{# @todo Update the edited input output variables with what was saved (should be in an AJAX call) #}

{% block dashboardContent %}
    <div class="dashboard-tabs tabs">
        <div class="dashboard-tabs-nav">
            <ul class="nav nav-dashboard-tabs" data-nav-dropdown-menu="mobile">{#
                #}<li role="presentation" class="active">
                    <a href="#profile-info" role="tab" data-toggle="tab">{% trans %} lender-profile_tab-title-1 {% endtrans %}</a>
                </li>{#
                #}<li role="presentation">
                    <a href="#profile-fiscalite" role="tab" data-toggle="tab">{% trans %} lender-profile_tab-title-2 {% endtrans %}</a>
                </li>{#
                #}<li role="presentation">
                    <a href="#profile-security" role="tab" data-toggle="tab">{% trans %} lender-profile_tab-title-3 {% endtrans %}</a>
                </li>{#
                #}<li role="presentation">
                    <a href="#profile-alerts" role="tab" data-toggle="tab">{% trans %} lender-profile_tab-title-4 {% endtrans %}</a>
                </li>{#
            #}</ul>
        </div><!-- /.dashboard-nav-content -->

        <div class="dashboard-tabs-content tab-content">
            <div id="profile-info" role="tabpanel" class="dashboard-tab-pane tab-pane active">
                {% include('pages/lender_profile/partials/personal_information.html.twig') %}
            </div><!-- /#profile-info.dashboard-tab-pane -->

            <div id="profile-fiscalite" role="tabpanel" class="dashboard-tab-pane tab-pane">
                {% include('pages/lender_profile/partials/fiscal_information.html.twig') %}
            </div><!-- /#profile-fiscalite.dashboard-tab-pane -->

            <div id="profile-security" role="tabpanel" class="dashboard-tab-pane tab-pane">
                {% include('pages/lender_profile/partials/security.html.twig') %}
            </div><!-- /#profile-security.dashboard-tab-pane -->

            <div id="profile-alerts" role="tabpanel" class="dashboard-tab-pane tab-pane">
                {% include('pages/lender_profile/partials/notifcations.html.twig') %}
            </div><!-- /#profile-alerts.dashboard-tab-pane -->
        </div><!-- /.dashboard-tabs-content -->
    </div><!-- /.dashboard-tabs -->
{% endblock %}
