/**************************/
/**** FICHIER CSS ADMIN ***/
/**************************/

/***************************************/
/* DEFINITION DES STYLES DE CARACTERES */
/***************************************/

body { font: 12px Arial, Helvetica, sans-serif; color: #b20066; }

a:focus, a:hover { color: #A1A5A7; text-decoration: underline; }

a { color: #b20066; text-decoration: none; cursor: pointer; }

h1, h2, h3 { font-weight: bold; color: #b20066; }

h1 { font-size: 18px; line-height: 34px; margin: 0 0 15px; }

h2 { font-size: 16px; line-height: 1; margin: 0 0 10px; }

h3 { font-size: 14px; line-height: 1; margin: 0 0 10px; }

p { margin: 0 0 15px; }

.red { color: #F00; }

.center { text-align: center; }

.right { text-align: right; }

/***********************/
/* STRUCTURE DES BLOCS */
/***********************/

body { background: #E3E4E5; }

body.loginBody { background: #FFF; }

#contener.debug { margin-top: 45px; }

.debug-environment { position:fixed; top:0; width:100%; height:45px; background-color:#8acf00; z-index:999; font-size:12px; text-align:center; color:#fff; line-height:45px }

.debug-environment .environment { background-color:#b20066; padding:8px 10px; display:inline; height:40px; text-align:center; color:#f1f1f1; }

.debug-environment .wiki { background-color:#b20066; padding:8px 10px; margin-left: 10px; display:inline; height:40px; text-align:center; }

.debug-environment .wiki a { color:#f1f1f1; }

#contenerIframe { position: absolute;  top: 0; left: 0; margin: 0; padding: 0; width: 100%; text-align: left;}

#logo_site { width: 252px; margin: 150px auto 30px; }

#contenu_login { width: 430px; margin: 0 auto; padding: 20px; border: 1px solid #b20066; -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; text-align: center; }

table.login { width: 378px; margin: 0 auto; }

table.login td { text-align: right; vertical-align: middle; padding: 10px 10px; }

table.login label { cursor: pointer; font-weight: bold; }

.input_login { width: 200px; height: 25px; background: #FFF; border: 1px solid #b20066; margin: 0; padding: 0 4px; font: 12px Arial, Helvetica, sans-serif; color: #b20066; }

.btn-primary, .btn-default {  display: inline-block; margin-bottom: 0; text-align: center; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; user-select: none; font-size: 12px; line-height: 20px; border-radius: 2px; font-weight: bold; }
.btn-primary:hover, .btn-default:hover, .btn-primary:focus, .btn-default:focus, .btn-primary:active:focus, .btn-default:active:focus { text-decoration: none; }
.btn-primary { background-color: #b20066; border: 1px solid #b20066; color: #fff; }
.btn-primary:hover { background-color: #9a1d5a; border-color: #9a1d5a; color: #fff; }
.btn-primary:active:focus, .btn-primary:active, .btn-primary:focus { background-color: #85194d; border-color: #85194d; color: #fff;  box-shadow: none; }
.btn-default { background-color: #B1ADB2; border-color: #B1ADB2; color: #fff; }
.btn-default:hover { background-color: #8B888C; border-color: #8B888C; color: #fff; }
.btn-default:active:focus, .btn-default:active, .btn-default:focus { background-color: #959595; border-color: #959595; color: #fff; box-shadow: none; }
.btn-sm { padding: 2px 8px; font-size: 11px; line-height: 16px; font-weight: normal; letter-spacing: 0.05em; }
.btn { display: inline-block; background: #b20066; border: 1px solid #b20066;  color: #FFF; margin: 0; padding: 5px; text-align: center; font: bold 12px Verdana, Geneva, sans-serif; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.btn.btnDisabled { background: #fff; color: #b20066; }
.btnRouge { background: #FF0000; border: 1px solid #FF0000; color: #FFF; margin: 0; padding: 5px; text-align: center; font: bold 12px Verdana, Geneva, sans-serif; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.btn_link { background: #b20066; border: 1px solid #b20066; color: #FFF; margin: 0; height: 27px; padding: 3px 10px; text-align: center; font: bold 12px/20px Verdana, Geneva, sans-serif; cursor: pointer; text-decoration:none; }
.btn_link:hover, .btn_link:focus, .btn_link:visited, .btnRouge:hover, .btnRouge:focus, .btnRouge:visited { color: #FFF; text-decoration:none; }
.btn.btnDisabled:hover, .btn.btnDisabled:focus, .btn.btnDisabled:visited { color: #b20066; }
.btnDroite { text-align: right; margin: -30px 0 20px 0; }

#footer_login { margin: 30px auto 0; padding: 0; }

#header { padding: 10px 15px; height: 80px; background-color: #FFF; }

.logo_header img { display: block; max-width: 100%; height: auto; }

.bloc_info_header { position: relative; float: right; display: inline; margin: 0; padding: 0; text-align:right; }

#quick_search { margin-top: 10px; }

#navigation { height: 34px; background: #b20066; text-align: center; position: relative; }
#navigation ul { list-style: none; margin: 0; padding: 0; width: 100%; position: absolute; top: 0; left: 0; }
#navigation > ul { display: table; }
#navigation > ul > li { display: table-cell; position: relative;  }
#navigation ul li > * { display: block; padding: 10px 12px; color: #fff; text-decoration: none; font-weight: bold; cursor: pointer; }
#navigation ul li > *.active, #navigation ul li:hover > * { background: #e3e4e5; color: #000 }
#navigation ul li ul { position: absolute; z-index: 500; top: 34px; left: 0; display: none; background: #e3e4e5; min-width: 170px; padding: 0; }
#navigation ul li ul li { float: none; width: auto; text-align: left; }
#navigation ul li:last-child ul { min-width: 0; }
#navigation ul li ul li a { color: #000; }
#navigation ul li ul li a:hover { background: #b20066; color: #fff; }
#navigation ul li:hover > ul { display: block; }

#contenu { padding: 15px; background: #FFF; }

.breadcrumbs { margin: 0 0 10px 0; padding: 0; overflow: hidden; list-style: none; font-size: 12px; position: relative; }

.breadcrumbs li { float: left; padding: 0 3px 0 0; margin: 0; }

.breadcrumbs li a { color: #b20066; }

#footer { margin: 30px auto; padding: 20px 0 0 0; width: 1200px; height: 35px; background-color: #FFF; }

#pager,#pager1,#pager2,#pager3,#pager4,#pager5 { margin: 0 auto; padding: 0; width: 1200px; text-align: center; }

#pager img,#pager1 img,#pager2 img,#pager3 img,#pager4 img,#pager5 img { margin: 0; padding: 0; cursor:pointer; vertical-align: middle; }

#pager .pagedisplay,#pager1 .pagedisplay,#pager2 .pagedisplay,#pager3 .pagedisplay,#pager4 .pagedisplay,#pager5 .pagedisplay { margin: 0; padding: 5px 0 0 0; width: 50px; text-align: center; border:0; font-size: 12px; color:#b20066; }

#pager .pagesize,#pager1 .pagesize,#pager2 .pagesize,#pager3 .pagesize,#pager4 .pagesize,#pager5 .pagesize { display:none; }

table.form_periode { width: 300px; margin: 0 auto 20px; background-color:#b20066; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }

table.form_periode td { text-align: center; vertical-align: middle; padding: 5px 5px 10px; }

table.form_periode th { text-align: center; vertical-align: middle; padding: 5px; }

table.form_periode td.btn_tab { padding: 5px 15px 5px 5px; text-align: left; vertical-align: middle; }

table.form_periode td.multiple { padding: 5px 5px 10px 5px; text-align: right; vertical-align: middle; }

table.cont_periode { width: 800px; margin: 0 auto; }

table.form_periode td { text-align: center; vertical-align: middle; }

.table > thead > tr > th { background: #b20066; border-bottom: 1px solid #b20066; color: #fff; vertical-align: top; }
.table > thead > tr > th:first-child { border-left: 1px solid #b20066; }
.table > thead > tr > th:last-child { border-right: 1px solid #b20066; }
.table > tbody > tr > td:first-child { border-left: 1px solid #dddddd; }
.table > tbody > tr > td:last-child { border-right: 1px solid #dddddd; }
.table > tbody > tr:last-child > td { border-bottom: 1px solid #dddddd; }

#onglets { margin: 15px auto; padding: 0 0 5px 0; width: 1160px; border-bottom: 5px solid #E3E4E5; }

#onglets a { background-color: #b20066; color: white; text-decoration: none; margin: 0; padding: 5px 8px 5px 8px; text-align: center; font-size:12px; font-weight:bold; cursor: pointer; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }

#onglets a.active { background-color: #E3E4E5; color: #FFF; }

/************/
/* COLORBOX */
/************/

#popup { background-color: #FFF; padding: 20px; border: 2px solid #E3E4E5; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }

.closeBtn { position:absolute; top: 8px; right: 8px; }

table.recupPassword { width: 360px; margin: 0; }

table.recupPassword td { text-align: right; vertical-align: middle; padding: 5px 5px; }

table.recupPassword label { cursor: pointer; font-weight: bold; }

.input_recupPassword { width: 150px; height: 25px; background: #FFF; border: 1px solid #E3E4E5; margin: 0; padding: 0 4px; font: 12px Arial, Helvetica, sans-serif; color: white; }

table.formColor { width: 500px; margin: 0; }

table.formColor th { text-align: right; vertical-align: middle; padding: 5px 5px; }

table.formColor td { text-align: left; vertical-align: middle; padding: 5px 5px; }

table.formColor label { cursor: pointer; font-weight: bold; }

table.formMail { width: 600px; margin: 0; }

table.formMail th { text-align: left; vertical-align: middle; padding: 5px 5px; }

table.formMail td { text-align: left; vertical-align: middle; padding: 5px 5px; }

table.large { width: 100%; margin: 0; }

table.large th { text-align: left; vertical-align: middle; padding: 0; }

table.large th.bas { text-align: left; vertical-align: middle; padding: 0 0 10px; }

table.large td { text-align: right; vertical-align: middle; padding: 0 0 10px; }

table.large label { cursor: pointer; font-weight: bold; }

table.form { width: 100%; margin: 0; }

table.form th { text-align: right; vertical-align: middle; padding: 5px 5px 5px 0; }

table.form td { text-align: left; vertical-align: middle; padding: 5px 0 5px 5px; }

table.form label { cursor: pointer; font-weight: bold; }

table.form td.vign { padding: 7px 10px 4px 5px; text-align: center; vertical-align: top; width: 135px; height: 135px; }

table.form td img.vign { margin: 5px 0; padding:0; }

table.form td img.delete { vertical-align: middle; }

table.form td img.case { vertical-align: middle; cursor:pointer; }

table.lng { width: 100%; margin: 20px 0 0; }

table.lng th { text-align: right; vertical-align: middle; padding: 10px; }

table.lng td { text-align: left; vertical-align: middle; padding: 10px; }

table.lng label { cursor: pointer; font-weight: bold; }

.input_big { width: 100%; height: 25px; background: #ECECEC; border: 1px solid #A1A5A7; margin: 0; padding: 0 4px; font: 12px Arial, Helvetica, sans-serif; color: #b20066; }

.input_large { width: 250px; height: 25px; background: #ECECEC; border: 1px solid #A1A5A7; margin: 0; padding: 0 4px; font: 12px Arial, Helvetica, sans-serif; color: #b20066; }

.input_moy { width: 150px; height: 25px; background: #ECECEC; border: 1px solid #A1A5A7; margin: 0; padding: 0 4px; font: 12px Arial, Helvetica, sans-serif; color: #b20066; }

.input_court { width: 50px; height: 25px; background: #ECECEC; border: 1px solid #A1A5A7; margin: 0; padding: 0 4px; font: 12px Arial, Helvetica, sans-serif; color: #b20066; }

.input_dp { float:left; width: 75px; height: 25px; background: #ECECEC; border: 1px solid #A1A5A7; margin: 0; padding: 0 4px; font: 12px Arial, Helvetica, sans-serif; color: #b20066; text-align:center }

.textarea { width: 250px; height: 100px; background: #ECECEC; border: 1px solid #A1A5A7; margin: 0; padding: 4px; font: 12px Arial, Helvetica, sans-serif; color: #b20066; }

.textarea_big { width: 100%; height: 500px; background: #ECECEC; border: 1px solid #A1A5A7; margin: 0; padding: 4px; font: 12px Arial, Helvetica, sans-serif; color: #b20066; }

.textarea_large { width: 100%; height: 150px; background: #ECECEC; border: 1px solid #A1A5A7; margin: 0; padding: 4px; font: 12px Arial, Helvetica, sans-serif; color: #b20066; }

.textarea_lng { width: 800px; height: 150px; background: #ECECEC; border: 1px solid #A1A5A7; margin: 0; padding: 4px; font: 12px Arial, Helvetica, sans-serif; color: #b20066; }

.select_periode { background: #ECECEC;  border: 1px solid #A1A5A7; margin: 0 0 0 5px; padding: 5px 3px; font: 12px Arial, Helvetica, sans-serif; color: #b20066; }

.select { width: 260px; height: 25px; background: #ECECEC;  border: 1px solid #A1A5A7; margin: 0; padding: 5px 3px; font: 12px Arial, Helvetica, sans-serif; color: #b20066; }

.selectm { width: 260px; background: #ECECEC;  border: 1px solid #A1A5A7; margin: 0; padding: 5px 3px; font: 12px Arial, Helvetica, sans-serif; color: #b20066; height: 90px; }

.radio { float: left; }

.label_radio {  float: left;  margin: 3px 10px 0 0; }

.checkbox { line-height: 20px; }

.gauche { position: relative; float: left; display: inline; margin: 0; padding: 15px 150px 0 0; width: 450px; border-right: 5px solid #b20066; }

.droite { position: relative; float: right; display: inline; margin: 0; padding: 15px 0 0 15px; width: 530px; }

.bloc_onglet { position: relative; float: left; margin: 10px auto 0; padding: 0; width: 100%; }

.clear { clear: both; }

.attention{
    background-color: #FFE8E8;
    color: #C84747;
    font-size: 20px;
    margin: auto auto 10px;
    padding: 5px;
    text-align: center;
    width: 600px;
}

.tabLesStatuts td{padding-right: 5px; padding-top: 5px;}
.tabLesStatuts .btn_link{display:block;}
.btnCompletude{background-color:#5591EC;border-color:#5591EC;}
.tabLesStatuts .btnBackListe{background-color:#BCC2CB;border-color:#BCC2CB;}

.form.tableNotes th {width:15%}
.form.tableNotes td {width:10%}
.form.tableNotes td .input_court{width:27px}

/* message completude */
.liwording td{padding-bottom:3px;padding-right: 5px;}
.liwording img.add{cursor:pointer;vertical-align: middle;}
.input_li{width:90%;margin: 5px;color: #b20066;font: 12px Arial,Helvetica,sans-serif;height: 18px;border: 1px solid #a1a5a7;background:#ececec;}
.delete_li{cursor:pointer;display: inline-block; margin-left: 5px; text-align: center; vertical-align: middle;}
.content_li_wording{border:1px solid; width:100%;min-height:25px;text-align:center;}

#content_email_completude{width:100%;height:150px; color: #b20066;font: 12px Arial,Helvetica,sans-serif;border: 1px solid #a1a5a7;background:#ececec;}
.message_completude{display:none;}

.selectMini { width: 65px; background: #ECECEC;  border: 1px solid #A1A5A7; margin: 0; padding: 5px 3px; font: 12px Arial, Helvetica, sans-serif; color: #b20066; }

#phoca-captcha{float:left;}
.reloadCaptcha{float:left;margin-right:5px;margin-top:4px;cursor:pointer;}

.ui-autocomplete { background: #f4f4f4 none repeat scroll 0 0; color: #a1a5a7; border: 1px solid #dbdcdd; border-radius: 4px; z-index: 99999; max-height: 200px; overflow-x: hidden; overflow-y: scroll; max-width: 350px;}
.ui-widget-content a { color: #a1a5a7; font-size: 14px; font-style: italic; line-height: 1.2; }
.ui-datepicker-trigger { vertical-align: middle; }

/*Autobid table locked version */
.autobid-param-advanced-locked .table-container {
    margin: 0 auto;
    float: none;
    display: block;
}

.param-advanced-edit {

}

.param-advanced-edit span {
    font-style: italic;
    color: #a1a5a7;
    display: block;
    margin: 20px 0;
}

.autobid-param-advanced-table {
    width: 60%;
}
.autobid-param-advanced-table th {
    text-align: center;
    font-size: 14px;
    color: #a1a5a7;
    font-weight: normal;
    background: #f5f6f6;
    width: 16.66666%;
    vertical-align: middle;
}
.autobid-param-advanced-table .table-title {
    background: #a1a5a7;
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 0;
}
.autobid-param-advanced-table .empty {
    background: transparent;

}
.autobid-param-advanced-table td {
    text-align: center;
    background: #c6e9d7;
    color: #42b77a;
    border: 1px solid #fff;
    padding: 5px;
    width: 16.66666%;
    vertical-align: top;
}

.autobid-param-advanced-table td.param-over {
    background: #f9babe;
    color: #ec1a29;
}
.autobid-param-advanced-table td.param-off {
    background: #e3e4e4;
}

.autobid-param-advanced-table td.param-off .param-advanced-bottom {
    display: none;
}

.table-legend > span {
    display: inline-block;
    width: 260px;
    font-style: italic;
    font-size: 14px;
    color: #a1a5a7;
}
.table-legend .rate-legend {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.table-legend .legend-green {
    background: #c6e9d7;
}
.table-legend .legend-red {
    background: #f9babe;
}
.table-legend .legend-gray {
    background: #e3e4e4;
}

.autobid-param-advanced-table td .cell-inner {
    min-height: 30px;
}

.autobid-param-advanced-table td .param-advanced-label {
    vertical-align: middle;
    display: inline-block;
}

.autobid-param-advanced-locked .autobid-param-advanced-table td .param-advanced-label {
    font-size: 14px;
    position: relative;
    top: 10px;
}

.vigilance-status-0 {
    background-color: green;
    border-radius: 7px;
}
.vigilance-status-1 {
    background-color: darkorange;
    border-radius: 7px;
}
.vigilance-status-2 {
    background-color: orangered;
    border-radius: 7px;
}
.vigilance-status-3 {
    background-color: red;
    border-radius: 7px;
}
span[class^="vigilance-status-"], span[class*=" vigilance-status-"] {
    border-radius: 7px;
    padding: 5px;
    width: 84px;
}

.ui-datepicker { padding: 0; border: 0; background: #e3e4e5; box-shadow: 0px 0px 3px #999; }
.ui-datepicker .ui-datepicker-header { position: relative; padding: 5px; border: 0; border-radius: 0;}
.ui-datepicker select { color: #000; width: 47.5%; border: 0; }
.ui-datepicker select.ui-datepicker-month { margin-right: 5%; }
.ui-datepicker table { margin: 0; }
.ui-datepicker td { padding: 0; }
.ui-datepicker td span, .ui-datepicker td a { text-align: center; }
.ui-widget-content a { font-style: normal; }
.ui-datepicker-prev, .ui-datepicker-next { background: transparent!important; border-color: transparent!important; top: 0!important; height: 30px!important;  }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #f6f6f6; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{ border: 1px solid #b20066; background: #b20066; color: #ffffff; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {  background-color: #cf89b2; border-color: #cf89b2; color: #fff; }
.ui-datepicker-trigger { display: none; }

