<div class="project-list-map">
    <div id="project-list-map-view" class="project-list-map-view ui-has-mapview" data-mapview-ajaxurl="{{ path('projects_list_all') }}" data-mapview-ajaxpaginationurl="{{ path('projects_list_json') }}" data-has-spinner="#spinner-project-list-map"></div>
    <div id="spinner-project-list-map" class="spinner-mapview"><span class="icon fa-refresh"></span></div>

    <div class="project-list-map-list">
        <ul class="list-projects">
            {% include 'partials/components/project-list/map-item-template.html.twig' %}
        </ul>
        {% if showPagination %}
        <div class="pagination-wrap">
            <nav class="pagination">
                <div class="pagination-info">
                    {% if pagination.currentIndex < pagination.totalPages %}
                        <a href="{{ path('projects_list', {'page' : pagination.currentIndex + 1 }) }}" class="link pagination-next">
                            {% transchoice pagination.itemsPerPage with {'%items%' : pagination.itemsPerPage } %} projects-listing_pagination-info-next-label {% endtranschoice %}
                        </a>
                    {% endif %}
                </div>
        </div>
        {% endif %}
    </div>
</div><!-- /.project-list-map -->
