{{ form_start(feesForm) }}
    {{ form_row(feesForm.projectFees) }}
    <div class="text-align-right">
        <button type="submit" class="btn-primary btn-shape-xs" data-spinnerbutton>Confirmer</button>
    </div>
{{ form_end(feesForm) }}
