{{ form_start(feesForm) }}
    {{ form_row(feesForm.projectFees) }}
    <div class="text-align-right">
        <button type="submit" class="btn-primary btn-shape-xs" data-spinnerbutton>{% trans %} project-edit.fees-edition-confirmation-button-label {% endtrans %}</button>
    </div>
{{ form_end(feesForm) }}
