<div class="cookie-box" data-cookies-law>
    <div class="inner">
        <p>{% trans %} footer_accept-cookie-content {% endtrans %}</p>
        <a role="button" class="icon" data-cookies-law-accept><span class="fa fa-cross-u16"></span></a>
    </div>
</div>
