<ul class="list-socialmedia">
    <li><a href="{{ setting('Facebook') }}" target="_blank" class="btn-facebook" title="{% trans %} common_facebook-link-title {% endtrans %}"><span class="sr-only">Facebook</span></a></li>
    <li><a href="{{ setting('Twitter') }}" target="_blank" class="btn-twitter" title="{% trans %} common_twitter-link-title {% endtrans %}"><span class="sr-only">Twitter</span></a></li>
</ul><!-- /.list-sharing -->