<div id="scroll-more" class="scroll-more">
    <div class="scroll-more-wrap">
        <a class="scroll-more-arrow">
            <span class="icon fa-angle-down fa-1"></span>
            <span class="icon fa-angle-down fa-2"></span>
            <span class="icon fa-angle-up fa-3"></span>
            <span class="icon fa-angle-up fa-4"></span>
        </a>
    </div>
</div><!-- /.scroll-more -->