<nav id="sidebar">
    <div id="sidebar-scroll">
        <div class="sidebar-content">
            <div class="side-header side-content">
                <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                    <i class="fa fa-times"></i>
                </button>
                <a class="h5 text-white pull-left" href="{{ app.adminUrl }}">
                    <img src="{{ app.staticUrl }}/assets/images/logo/logo-unilend-52x52-purple.png" srcset="{{ app.staticUrl }}/assets/images/logo/logo-unilend-52x52-purple@2x.png 2x" alt="Unilend">
                </a>
                <div class="clearfix"></div>
                {% if 'prod' != app.environment %}
                    <div class="environment bg-primary text-uppercase">
                        <a href="https://unilend.atlassian.net/wiki/pages/viewpage.action?pageId=46694427" target="_blank"><span class="fa fa-info-circle"></span></a>
                        <span class="font-w300">Environnement :</span>
                        <span class="font-w600">{{ app.environment }}</span>
                    </div>
                {% endif %}
            </div>
            <div class="side-content side-content-full">
                {% include 'navigation.html.twig' %}
            </div>
        </div>
    </div>
</nav>