var $buttonHolder = $('<div class="row" data-fee-buttons></div>');

var $addFeeButton = $(
    '<div class="col-lg-6 col-md-6">' +
    '    <a href="javascript:;" class="btn-default btn-shape-sq-md margin-10-t" data-action="ui-form-lending-fee-add">' +
    '        <span class="icon fa-plus-u16 c-t2"></span>' +
    '    </a>' +
    '</div>'
);

var $buttons = $buttonHolder.append($addFeeButton);

var $validFeeButton = $(
    '<div class="col-lg-6 col-md-6" style="display: none">' +
    '    <button class="btn-primary btn-shape-xs ui-spinnerbutton" data-action="ui-form-lending-fee-valid">Valider</button>' +
    '</div>'
)
{% if project is defined %}
if (window.location.pathname === '{{ path('demo_project_details', {hash: project.hash})|raw }}') {
    $buttonHolder.append($validFeeButton);
}
{% endif %}

var $collectionHolder = $('div.fees');

$collectionHolder.append($buttons);

$collectionHolder.data('index', $collectionHolder.find(':input').length);

$addFeeButton.find('a').on('click', function () {
    addFeeForm($collectionHolder, $buttons, $validFeeButton);
});

{% if project is defined %}
$validFeeButton.find('button').on('click', function () {
    console.log($collectionHolder.find(':input').serialize());
    $.ajax({
        url: '{{ path('demo_add_project_fees', {hash: project.hash}) }}',
        method: 'POST',
        data: $collectionHolder.find(':input').serialize()
    }).done(function () {
        window.location.reload(false);
    })
})
{% endif %}
function addFeeForm($collectionHolder, $buttons, $validFeeButton) {
    var prototype = $collectionHolder.data('prototype');
    var prototypeName = $attachmentCollectionHolder.data('prototype-name');
    var index = $collectionHolder.data('index');
    var newForm = prototype;

    newForm = newForm.replace(new RegExp(prototypeName, 'g'), index);

    $collectionHolder.data('index', index + 1);

    var $newFormDiv = $('<div class="row row-multi-col-computer"></div>').append(newForm);
    $buttons.before($newFormDiv);

    $validFeeButton.show();

    var $removeFormButton = $newFormDiv.find(`[data-action='ui-form-lending-fee-remove']`);

    $removeFormButton.on('click', function () {
        $newFormDiv.remove();
        if ($collectionHolder.find(':input').length === 1) {
            $validFeeButton.hide();
        }
    });

    var $feeTypeSelector = $newFormDiv.find(`[data-field="ui-form-fee-type"]`);

    $feeTypeSelector.on('change', function () {
        var selectedType = $(this).children("option:selected").val();
        if (selectedType === '2') {
            $newFormDiv.find('input[type=checkbox]').prop("checked", true);
        } else {
            $newFormDiv.find('input[type=checkbox]').prop("checked", false);
        }
    });

    var $feeRateInput = $newFormDiv.find("input[id$='_percentFee_rate']");

    $feeRateInput.on('change keyup keydown focusout', function () {
        $(this).parent().find('.rate-amount').remove();
        if (false === $newFormDiv.find('input[type=checkbox]').prop("checked") && $feeRateInput.val()) {
            var referenceAmount = $(`[data-fee-reference-amount]`).val()
            if (referenceAmount === "") {
                referenceAmount = $(`[data-fee-reference-amount]`).text().replace(/[\n\r\s€]/g, '').replace(',', '.')
                referenceAmount = parseFloat(referenceAmount);
            }
            var rate = $feeRateInput.val().replace(',', '.')
            var rateAmount = rate * referenceAmount / 100
            if (rateAmount > 0) {
                $feeRateInput.after('<small class="help-text rate-amount" style="display: block;">soit ' + rateAmount.toFixed(2).replace('.', ',') + ' €</small>');
            }
        }
    })
}
