/* ==========================================================================
	#Fonts
========================================================================== */

@font-face {
	font-family: 'MyriadPro';
	src: url('fonts/myr-regular-webfont.eot');
	src: url('fonts/myr-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/myr-regular-webfont.woff') format('woff'),
		 url('fonts/myr-regular-webfont.ttf') format('truetype'),
		 url('fonts/myr-regular-webfont.svg#untitled1medium') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('fonts/myr-semibold-webfont.eot');
	src: url('fonts/myr-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/myr-semibold-webfont.woff') format('woff'),
		 url('fonts/myr-semibold-webfont.ttf') format('truetype'),
		 url('fonts/myr-semibold-webfont.svg#untitled1medium') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('fonts/myriadpro-bold-webfont.eot');
	src: url('fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/myriadpro-bold-webfont.woff') format('woff'),
		 url('fonts/myriadpro-bold-webfont.ttf') format('truetype'),
		 url('fonts/myriadpro-bold-webfont.svg#untitled1medium') format('svg');
	font-weight: 700;
	font-style: normal;
}


@font-face {
    font-family: 'TrendSansOne';
    src: url('fonts/latinotype_-_trendsansone-webfont.eot');
    src: url('fonts/latinotype_-_trendsansone-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/latinotype_-_trendsansone-webfont.woff') format('woff'),
         url('fonts/latinotype_-_trendsansone-webfont.ttf') format('truetype'),
         url('fonts/latinotype_-_trendsansone-webfont.svg#trend_sansone') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TrendSansOne';
    src: url('fonts/trendsans-one-webfont.eot');
    src: url('fonts/trendsans-one-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/trendsans-one-webfont.woff') format('woff'),
         url('fonts/trendsans-one-webfont.ttf') format('truetype'),
         url('fonts/trendsans-one-webfont.svg#trend_sansone') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'TrendSansOne';
		src: url('fonts/trendsans-one-webfont.svg#trend_sansone') format('svg');
	}
}


/* ==========================================================================
	#Reset
========================================================================== */

* { margin: 0; padding: 0; outline: 0; -webkit-tap-highlight-color: transparent; }

/* ==========================================================================
	#Global
========================================================================== */

body,
html { height: 100%; }

body {
	font-family: 'MyriadPro', Verdana, Tahoma, Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #727276;
	font-weight: 400; 
	font-style: normal; 
	text-transform: none; 
	text-decoration: none; 
	text-shadow: none; 
	letter-spacing: 0;
	word-spacing: 0;
	text-size-adjust: none;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	background: #fff;
	min-width: 100%;
}

a { color: #b40167; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

a img,
table, 
iframe,
fieldset { border: 0 none; }

img { max-width: 100%; height: auto; }

a,
input[type="submit"],
input[type="button"],
input[type="reset"],
button { cursor: pointer; }

sup,
sub { line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main,
.cl { display: block; }

ul,
ol { list-style-position: inside; }

nav ul { list-style: none outside none; }

table { width: 100%; border-collapse: collapse; border-spacing: 0; }

/* ==========================================================================
	#Helpers
========================================================================== */

.cf,
.button,
[class^="icon-"] { *zoom: 1; }

.cl { height: 0; }

.cf:before,
.cf:after { content: ""; line-height: 0; display: table; }

.cl,
.cf:after { clear: both; }

.cl,
.notext,
[class^="icon-"],
.flex-direction-nav,
.flex-control-nav { font-size: 0; line-height: 0; text-indent: -4000px; }

.left,
.alignleft { float: left; }

.right,
.alignright { float: right; }

.shell { width: 1092px; margin: 0 auto; padding: 47px 0 27px; }

/* ==========================================================================
	#Headings
========================================================================== */

h1 { font-size: 28px; line-height: 35px; font-weight: 700; text-transform: uppercase; }
h2 { font-size: 30px; line-height: 34px; font-weight: 700; }

/* ==========================================================================
	#Form Elements
========================================================================== */

::-webkit-input-placeholder { color: #999; opacity: .4; }
:-moz-placeholder { color: #999; opacity: .4; }
::-moz-placeholder { color: #999; opacity: .4; }
:-ms-input-placeholder { color: #999; opacity: .4; }

input,
textarea,
select { font-family: 'MyriadPro', Verdana, Tahoma, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #999; width: 243px; height: 20px; display: block; padding: 20px 15px; border: 0 none; background-color: #fff; border-radius: 5px; box-shadow: none; }
select { font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif; height: 60px; }
textarea { height: 120px; resize: none; overflow: auto; -webkit-overflow-scrolling: touch; }

input[type="hidden"] { display: none; }

input[type="radio"],
input[type="checkbox"] { width: auto; height: auto; padding: 0; border: 0; }

input,
textarea,
a[href^="tel"] { -webkit-appearance: none; -moz-appearance: none; }

input[type="checkbox"] { -webkit-appearance: checkbox; -moz-appearance: checkbox; }
input[type="radio"] { -webkit-appearance: radio; -moz-appearance: radio; }

/* ==========================================================================
	#Landing Page
========================================================================== */

.page-landing .container { padding-bottom: 35px; }
.page-landing .content { width: 719px; }
.page-landing .page-header { padding-bottom: 25px; }
.page-landing .logo { width: 319px; }
.page-landing .logo img { width: 100%; height: 78px; display: block; }
.page-landing .language-select { font-size: 20px; line-height: 22px; color: #fff; text-align: center; width: 166px; position: relative; padding: 6px 0 6px 61px; margin: 10px 8px 0 0; background: #019bb3; border-radius: 0 22px 22px 0; }
.page-landing .language-select img { width: 61px; height: 56px; display: block; position: absolute; top: 0; left: 0; }
.page-landing .process h1 { color: #b30167; text-align: center; padding-bottom: 51px; position: relative; left: -22px; }
.page-landing .process ul { list-style: none outside none; padding-bottom: 57px; }
.page-landing .process ul li { width: 171px; float: left; padding: 0 34px; }
.page-landing .process ul li img { width: auto; height: 93px; display: block; margin: 0 auto 36px; }
.page-landing .process ul li p { font-size: 16px; line-height: 20px; color: #a3a4a6; }
.page-landing .process ul li p strong { font-size: 30px; color: #b40167; }
.page-landing .button-cta { font-size: 26px; line-height: 37px; color: #fff; font-weight: 600; text-align: center; display: block; position: relative; padding: 20px 0; border-bottom: 4px solid #096d7c; margin-right: 37px; background: #019bb3; text-transform: uppercase;}
.page-landing .button-cta .after { width: 37px; height: 81px; display: block; position: absolute; top: 0; right: -37px; background: url(images/btn-shape01.png) no-repeat 0 0; }
.page-landing .signup { width: 334px; padding-top: 9px; }
.page-landing .signup h2 { color: #fff; text-align: center; padding: 13px 20px 14px; border-bottom: 1px solid #fff; background: #b10366; border-radius: 8px 8px 0 0; }
.page-landing .signup form { padding: 21px 30px; background: #eee; border-radius: 0 0 8px 8px; }
.page-landing .signup .field { margin-bottom: 22px; display: block; }
.page-landing .signup .form-row { position: relative; }
.page-landing .signup .form-row .LV_validation_message { position: absolute; top: 100%; left: 0; color: #f00; display: none !important; }
.page-landing .signup .button { font-family: 'Myriad Pro', Verdana, Tahoma, Helvetica, Arial, sans-serif;font-size: 30px; line-height: 40px; color: #fff; font-weight: 600; text-align: center; width: 100%; height: 85px; display: block; padding: 20px 0; border: 0; border-bottom: 5px solid #6a013c; background: #b10366; border-radius: 8px; box-shadow: none; }
.page-landing .signup .button .arrow { width: 15px; height: 26px; display: inline-block; vertical-align: middle; margin-left: 12px; background: url(images/icon-arrow.png) no-repeat 0 0; position: relative; top: 1px; }
.page-landing .featured-articles { position: relative; padding: 23px 66px 19px 67px; margin-bottom: 35px; background: #fafafa; }
.page-landing .featured-articles .slides { list-style: none outside none; }
.page-landing .featured-articles .carousel { width: 960px; margin: 0 auto; }
.page-landing .featured-articles .carousel li { width: 320px; float: left; }
.page-landing .featured-articles .prev-slide,
.page-landing .featured-articles .next-slide { width: 20px; height: 44px; display: block; position: absolute; top: 50%; margin-top: -22px; background-repeat: no-repeat; background-position: 50% 50%; }
.page-landing .featured-articles .prev-slide { left: 24px; background-image: url(images/icon-arrow-left.png); }
.page-landing .featured-articles .next-slide { right: 24px; background-image: url(images/icon-arrow-right.png); }
.page-landing .featured-articles .slide { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #727276; display: block; }
.page-landing .featured-articles .slide img { width: 109px; height: 72px; float: left; padding: 2px; border: 1px solid #d2d2d2; margin-right: 5px; background: #fff; }
.page-landing .featured-articles .slide strong,
.page-landing .featured-articles .slide span { color: #b10366; display: block; }

.page-landing .partners span { float: left; margin-left: 63px; }
.page-landing .partners span:first-child { margin-left: 0; }
.page-landing .partners span img { display: block; }

/* add */

.radio-holder { *zoom:1; }
.radio-holder:after { content:''; display:table; clear:both; }
.radio-holder label { float:left; background:url(images/radios.png) no-repeat 0 0; line-height:16px; padding-left:25px; cursor:pointer; font-size:16px; }
.radio-holder.checked label { background-position:0 -100px; }
.radio-holder input { opacity:0; filter:alpha(opacity=0); visibility:hidden; position:absolute; }


.euro-sign {
    font-size: 20px;
    left: 235px;
    position: relative;
    top: 40px;
}


.page-landing .signup .form-row{/*margin-bottom:22px;*/ margin-bottom: 5px;}
.page-landing .process ul li p{text-align:left;}
.form-row em{font-style:normal;}


.selectbox_duree{width:273px;}
.c2-sb-inner-wrap{border:none;background-color:white;padding: 20px 15px;border-radius: 5px;height:20px;}
.c2-sb-text{height:20px;line-height: 20px;font-size:16px;color:#999;font-family: "MyriadPro",Verdana,Tahoma,Helvetica,Arial,sans-serif;font-style:normal;}
.c2-sb-wrap{margin-bottom:25px;}

.c2-sb-list-wrap{border-radius:0 0 5px 5px;background-color:white;border:none;}
.c2-sb-list-item-link{font-size:16px;font-style:normal;}

/* === Elements - Icons === */
[class^='icon-'], [class*=' icon-'] { display:inline-block; background:url(images/sprite.png) no-repeat 0 0; width:16px; height:16px; border:none; text-align:center; vertical-align:middle; *display:inline; *zoom:1; }

.icon-arrow-down { background-position:-225px -66px; width:17px; height:11px; }
.icon-arrow-down.up { background-position: -37px -141px; width: 11px; height: 17px; }
.c2-sb-button{padding-top:4px;}


/* ==========================================================================
	#Responsive
========================================================================== */

@media ( max-width: 1200px ) {
	.shell { width: 960px; }

	.page-landing .content { width: 610px; }
	.page-landing .process ul li { padding: 0 16px; }
	.page-landing .button-cta { font-size: 24px; }

	.page-landing .featured-articles .carousel { width: 640px; }

	.page-landing .partners span { width: 14.28%; margin: 0; }
	.page-landing .partners span:first-child { width: 14.32%; }
	.page-landing .partners span img { margin: 0 auto; }
	
	
}

@media ( max-width: 1023px ) {
	.tablet-hidden { display: none; }

	.shell { width: 700px; padding-top: 39px; }
	
	.page-landing .content { width: 395px; }
	.page-landing .process h1 { font-size: 23px; line-height: 35px; padding-bottom: 45px; }
	.page-landing .process h1 br { display: none; }
	.page-landing .process ul { padding-bottom: 40px; }
	.page-landing .process ul li { width: 125px; padding: 0 0 0 10px; }
	.page-landing .process ul li:first-child { padding-left: 0; }
	.page-landing .process ul li img { height: 70px; }
	.page-landing .process ul li p { font-size: 14px; }
	.page-landing .process ul li p strong { font-size: 26px; }
	.page-landing .button-cta { font-size: 20px; line-height: 25px; text-align: right; padding: 14px 12px 13px 50px; }

	.page-landing .signup { width: 285px; }
	.page-landing .signup h2 { font-size: 25px; line-height: 34px; padding: 13px 10px 14px; }
	.page-landing .signup .field { width: 195px; }

	.page-landing .featured-articles { padding: 23px 30px 19px; }
	.page-landing .featured-articles .prev-slide { left: 10px; }
	.page-landing .featured-articles .next-slide { right: 10px; }

	.page-landing .partners span,
	.page-landing .partners span:first-child { width: 20%; }
	.page-landing .partners span img { margin: 0; }
	.page-landing .partners span.mobile-hidden { width: 17%; }
	.page-landing .partners span.mobile-hidden + span.mobile-hidden { width: 23%; }
	.page-landing .partners span.mobile-hidden + span.mobile-hidden img { margin-left: auto; }
	
	.page-landing .button-cta.emprunteur .after{background-size:25px;}
	
	.page-landing .process ul li p {
		width: 120px;
		font-size: 13px;
	}
	
	.euro-sign {
    left: 186px;
	}
	
	.c2-sb-wrap {
    display: block;
    position: relative;
    right: 0;
    width: 223px;
	margin: auto;
	float: none;
	}
	
	.c2-sb-button{float:right;}
	
}

@media ( max-width: 767px ) {
	.mobile-hidden { display: none; }

	.shell { width: auto; padding: 20px; }

	.page-landing .logo { width: 280px; }
	.page-landing .logo img { width: 100%; height: auto; }

	.page-landing .content,
	.page-landing .signup { width: auto; float: none; }

	.page-landing .process h1 { font-size: 25px; line-height: 40px; left: auto; position: static; padding-bottom: 25px; }
	.page-landing .process ul { padding: 0; }
	.page-landing .process ul li { width: 150px; float: none; margin: 0 auto 40px; }
	.page-landing .process ul li img { height: 90px; margin-bottom: 20px; }
	.page-landing .button-cta { font-size: 20px; line-height: 25px; padding: 27px 20px; border-bottom-width: 7px; margin: 0 0 68px 0; text-align: center; }
	.page-landing .button-cta .after { width: 76px; height: 45px; top: 100%; left: 50%; margin: 0 0 0 -38px; background-image: url(images/btn-shape02.png); }
	.page-landing .signup .field { width: 190px; margin: 0 auto /*22px*/ 0; }
	
	.page-landing .signup .form-row{margin-bottom:22px;}
	
	.page-landing .partners span,
	.page-landing .partners span:first-child { width: 30%; margin: 0 0 0 4%; }
	.page-landing .partners span:first-child { margin: 0; }
	.page-landing .partners span img { margin: 0 0 0 auto; }
	.page-landing .partners span:first-child img { margin: 0 auto 0 0; }

	.page-landing .featured-articles .carousel { width: 220px; }
	.page-landing .featured-articles .carousel .slide { font-size: 12px; }
	.page-landing .featured-articles .carousel .slide img { width: 70px; height: auto; margin-bottom: 40px; }
	
	
	.page-landing .process ul li {
		width: 200px;
	}
	
	.page-landing .process ul li p {
		width: 200px;
		text-align:center;
	}
	
	.euro-sign {
    display: block;
    left: auto;
    margin: auto;
    position: inherit;
    right: -77px;
    text-align: center;
    top: 40px;
    width: 30px;
	}
	
	.form-row em{text-align:center;display:block;}
	.form-row em.jusqua{margin-right: 115px;}
	.form-row em.caractmax{margin-right: 80px;}
	
	.c2-sb-wrap {
    display: block;
    position: relative;
    right: 0;
    width: 220px;
	margin: auto;
	float: none;
	}
	
	.c2-sb-button{float:right;}
}


.LV_invalid_field { background:#ffe8e8 url(../../styles/default/images/field-error.png) no-repeat right 0; border-color:#e3bcbc; color:#c84747; }
.LVinvalidfield2 { background:#ffe8e8 url(../../styles/default/images/field-error.png) no-repeat right 0; border-color:#e3bcbc; color:#c84747; }
.LV_valid_field { background-image:url(../../styles/default/images/field-ok.png); background-repeat:no-repeat; background-position:right 0; }
.LV_validation_message { display:none; }


.page-landing .featured-articles .carousel .slide img {
	margin-bottom: 0px !important;
}