//
// Unilend Project Single
//

// Base styles
.project-single {
  position: relative;
  padding-top: 0;
}

// Title
.project-single-title {
  margin-top: 0;
  margin-bottom: 20px;
  color: $c-t1;
  font-size: $fs-h3;
}
