/*
 * @autor : dynamic creative
 * @date : 2014
 */

.onoffswitch-checkbox {
    display:block;
}
.onoffswitch-label {
    display:none;
}

.btype9 {min-height:auto;}
#formBloc .btype6 { min-height:auto; height:40px; }
#formBloc .btype6  i { top:2px; margin-top:0; }