/* === Reset === */
* { margin:0; padding:0; outline:0; }

img { vertical-align:middle; border:0 none; -ms-interpolation-mode:bicubic; }
table { border-collapse:collapse; border-spacing:0; }
sup, sub { vertical-align:baseline; position:relative; top:-0.4em; }
sub { top:0.4em; }
textarea { overflow:auto; resize:none; }


/* === Common Styles === */
html, body { height:100%; }
body {font-size:16px; line-height:1.43; font-family:'Arial', sans-serif;color:#727272; background:#fff; min-width:100%; -webkit-font-smoothing:antialiased; -webkit-tap-highlight-color:rgba(0,0,0,0); }

a { color:#b10366; text-decoration:none; cursor:pointer; }
a:hover { text-decoration:underline; }

h1, h2, h3, h4, h5, h6 { font-family:'TrendSansOne', sans-serif; color:#b10366; padding:0.4em 0 0.7em; font-weight:normal; letter-spacing:-0.12em; text-transform: uppercase;}
h1 { font-size:28px; }
h2 { font-size:24px; }
h3 { font-size:22px; }
h4 { font-size:20px; }
h5 { font-size:18px; }
h6 { font-size:16px; }

p, ul, ol { padding-bottom:1.43em; }
ul, ol { list-style-position:outside; padding-left:130px; color:#b10366; }
ul p , ol p { padding:0; color:#a1a5a7; }

input, textarea, select { font-size:14px; font-family:'Arial', sans-serif; }
input[type="submit"], button { cursor:pointer; overflow:visible; }
fieldset { border:0 none; }

blockquote { width:645px; margin:5px auto 2em; background:#b10366; padding:23px 40px 33px; font-size:16px; line-height:1.38; color:#fff; }

a,
a img { transition: color 1000ms, background-color 1000ms, opacity 1000ms; -webkit-transition: color 1000ms, background-color 1000ms, opacity 1000ms; }

a:hover,
a:hover img { transition: color 300ms, background-color 300ms, opacity 300ms; -webkit-transition: color 300ms, background-color 300ms, opacity 300ms;}

/* === Helper Classes === */
.notext { text-indent:100%; white-space:nowrap; overflow:hidden; }
.left, .alignleft { float:left; display:inline; }
.right, .alignright { float:right; display:inline; }

.tr { text-align:right; }
.tl { text-align:left; }
.tc { text-align:center; }

.clearfix:after { content:''; display:table; clear:both; }
.clearfix { *zoom:1; }

.shell { margin:0 auto; width:960px; }

.introduction {font-size:18px;}
.introduction > span {color:#b10366; font-weight: bold;}
.introduction + ul {padding-left:60px; margin-top:5px;}

.field { border:1px solid #dbdcdd; background:#f4f4f4; border-radius:3px; line-height:18px; height:18px; width:271px; padding:7px 24px 8px 12px; display:block; font-style:italic; color:#a1a5a7; }
textarea.field { height:148px; }

.field-small { width:192px; }
.field-medium { width:310px; }
.field-med { width: 300px; }
.field-large { width:422px; }
.field-extra-large { width:442px; }
.field-xxhalf-large { width: 462px;}
.field-xx-large { width:542px; }
.field-mega { width:902px; }

select.field-hundred { width: 103px; }
select.field-min { width: 150px; }
select.field-almost-small { width:200px; }
select.field-small { width:228px; }
select.field { width:298px; }
select.field-medium { width:346px; }
select.field-large { width:458px; }
select.field-extra-large { width:478px; }
select.field-xx-large { width:578px; }
select.field-mega { width:938px; }

.euro-field { width:264px; }
.euro-field.field-small { width:182px; }
.euro-field.field-medium { width:300px; }
.euro-field.field-large { width:412px; }
.euro-field.field-extra-large { width:432px; }
.euro-field.field-xx-large { width:532px; }
.euro-field.field-mega { width:892px; }

.euro-field { padding-left:22px; }
.euro-sign { position:absolute; margin:7px 0 0 12px; }

.green-span { color: #40b34f; }
.red-span { color: #ec1a29; }
.pinky-span { color: #b10366; }

form .row { *zoom:1; padding-bottom:19px; }
form .row:after { content:''; display:table; clear:both; }
form .row input.field { float:left; }
form .row input.field ~ input.field,
form .row input.field ~ .c2-sb-wrap,

form .row .c2-sb-wrap ~ .field,
form .row .c2-sb-wrap ~ .c2-sb-wrap { margin-left:20px; }

form .row .field-help-before { float:left; margin:10px 0 0 -20px;  }

form .condition-hidden { display:none; }

.form-foot { text-align:right; padding-top:20px; }
.form-foot.centered { text-align:center; padding-left:200px; padding-right:200px; }

.row-cols .col { float:left; width:460px; text-align:right; clear:right; }
.row-cols .col ~ .col { float:right; text-align:left; }

form .system-message { font-size:14px; font-weight:bold; padding:0 0 12px 13px; }
form .system-message.message-positive { color:#3fbd5d; }
form .inline-text { float:left; padding:7px 20px 0 0; }

form .tooltip { background:#f4f4f4; color:#808080; max-width:205px; box-shadow:0 0 3px rgba(0,0,0,0.4); border-radius:4px; }
form .tooltip-arrow { border-right-color:#f4f4f4; }
form p { padding-left:13px; }

.field-caption { font-style:italic; padding-left:13px; font-size:12px; clear:both; display:block; }
.form-caption { font-style:italic; float:right; margin-top:15px; }

.form-content p { padding-left:0; }

.ui-autocomplete { background:#f4f4f4; border:1px solid #dbdcdd; border-radius:4px; }


/* === Common Elements === */
/* === Elements - Buttons === */
#scrollUp {border:none;cursor:pointer;background:transparent;width:30px;height:30px;position:fixed;bottom:100px;right:40%;}

.btn,
.btn:before {
    -webkit-transition:75ms;
       -moz-transition:75ms;
        -ms-transition:75ms;
         -o-transition:75ms;
            transition:75ms;
}
.btn { display:inline-block; height:47px; background:#b10366; border-radius:4px; border:none;padding:0 20px; position:relative; z-index:1; top:-5px; font:18px/47px 'TrendSansOne', sans-serif; letter-spacing:-0.10em; color:#fff; text-align:center; cursor:pointer; *display:inline; *zoom:1; text-transform: uppercase;}
.btn:after { content:''; position:absolute; top:0; left:0; right:0; bottom:0; z-index:-1; background:#b10366; border-radius:4px; }
.btn:before { content:''; position:absolute; bottom:-5px; left:0; right:0; z-index:-2; background:#6b013d; height:10px; border-radius:4px; }

.btn:hover { text-decoration:none; /*top:-2px;*/ }
/*.btn:hover:before { bottom:-2px; }*/
/*.btn:active { top:0; }
.btn:active:before { bottom:0; }*/

.btn.grise1, .btn.grise1:before {background:#727272;}

.btn i { margin:0 4px; }

.btn-small { height:34px; font-size:14px; line-height:34px; padding:0 16px; }
.btn-mini { height:34px; font-size:12px; line-height:34px; padding:0 12px; }
.btn-mega { height:44px; font-size:24px; line-height:1.3; text-align:left; padding:12px 30px; white-space:nowrap; }
.btn-mega small { display:block; font-size:12px; letter-spacing:-0.1em; }
.btn-mega i { position:absolute; top:20px; right:11px; }
.btn-stand-alone { height: 68px; padding: 0 95px 0 65px; line-height: 68px; }
.btn-small.multi { white-space: normal; height: 26px; padding: 4px 7px; line-height: 14px; font-size: 14px; }
.btn-small-font { font-size:11px; }


.btn-warning,
.btn-warning:after { background:#a1a5a7; }
.btn-warning:before { background:#6b6e70; }

.btn-info,
.btn-info:after { background:#8e0252; }

.btn-block { padding:0; display:block; width:100%; }

.file-upload { position:absolute; top:0; left:0; right:0; bottom:0; overflow:hidden; cursor:pointer; opacity:0; filter:alpha(opacity=0); }
.file-upload input { position:absolute; bottom:0; right:0; font-size:40px; cursor:pointer; opacity:0; filter:alpha(opacity=0); height:100%; }

/* === Elements - Icons === */
[class^='icon-'], [class*=' icon-'] { display:inline-block; background:url(images/sprite.png) no-repeat 0 0; width:16px; height:16px; border:none; text-align:center; vertical-align:middle; *display:inline; *zoom:1; }

.icon-arrow-gt { background-position:-235px -97px; width: 16px; height: 40px; }
.icon-bank { background-position:-248px 0; width:19px; height:17px; }
.icon-box-arrow { background-position: 0 -141px; width: 33px; height: 31px; }
.icon-calendar { background-position:-76px 0; }
.icon-clock { background-position:-95px 0; }
.icon-clock-gray { background-position:-75px -141px; }
.icon-clock-green { background-position:-59px -18px; }
.icon-contact-green { background-position:-186px -142px; }
.icon-close { background-position:-133px 0; }
.icon-check { background-position:-152px 0; }
.icon-empty-folder { height: 19px; background-position: -269px -54px; }
.icon-euro { width: 20px; height: 20px; background-position: -262px -27px; }
.icon-gauge { background-position:-57px 0; }
.icon-graph { background-position:-38px 0; }
.icon-graph-gray { background-position:-115px -141px; }
.icon-help { background-position:-114px 0; }
.icon-heart { background-position:-136px -141px; }
.icon-mail { background-position:-190px 0; }
.icon-person { background-position:-19px 0; }
.icon-pdf { width: 20px; height: 24px; background-position: -262px -77px; }
.icon-pig { background-position:-253px -105px; }
.icon-pig-gray { background-position:-53px -141px; }
.icon-plus { width: 10px; height: 10px; background-position:-90px -19px; }
.icon-place { background-position:-171px 0; }
.icon-phone { background-position:-270px 0; height:21px; }
.icon-refresh { background-position:-209px 0; }
.icon-search { background-position:-228px 0; width:17px; }
.icon-search:hover { background-position:-228px -19px; }
.icon-target { background-position:-94px -141px; }

.icon-big-twitter { background-position:0 -38px; width:57px; height:39px; }
.icon-big-facebook { background-position:-60px -38px; width:50px; height:49px; }
a:hover > .icon-big-twitter { background-position:0 -80px; }
a:hover > .icon-big-facebook { background-position:-60px -90px; }

.icon-arrow-big-next,
.icon-arrow-big-prev { width:18px; height:51px; }

.icon-arrow-big-next { background-position:-113px -38px; }
.icon-arrow-big-next:hover { background-position:-134px -38px;}

.icon-arrow-big-prev { background-position:-155px -38px; }
.icon-arrow-big-prev:hover { background-position:-176px -38px; }

.icon-arrow-medium-next { background-position:-197px -38px; width:15px; height:25px; }
.icon-arrow-medium-thin-next { background-position:-215px -38px; width:14px; height:25px; }

.icon-arrow-next,
.icon-arrow-prev { width:11px; height:17px; }

.icon-arrow-next { background-position:-211px -66px; }
.icon-arrow-prev { background-position:-197px -66px; }

.icon-arrow-down { background-position:-225px -66px; width:17px; height:11px; }
.icon-arrow-down.up { background-position: -37px -141px; width: 11px; height: 17px; }

[class^='arrow-'], [class*=' arrow-'] { font-size:4px; line-height:0; background:transparent; border:0 none; display:inline-block; vertical-align:middle; }

.arrow-left,
.arrow-right {
    border-top:1em outset transparent;
    border-bottom:1em outset transparent;
}
.arrow-left {
    border-left:0 none transparent;
    border-right-width:1em;
    border-right-style:solid;
}
.arrow-right {
    border-right:0 none transparent;
    border-left-width:1em;
    border-left-style:solid;
}

.arrow-top,
.arrow-bottom {
    border-left:1em outset transparent;
    border-right:1em outset transparent;
}
.arrow-top {
    border-top:0 none transparent;
    border-bottom-width:1em;
    border-bottom-style:solid;
}
.arrow-bottom {
    border-bottom:0 none transparent;
    border-top-width:1em;
    border-top-style:solid;
}

.arrow-big { font-size:13px; }

/* ===========================
    #Modules
============================ */

/* === Logo === */
.logo { float:left; }
.logo a { float:left; background:url(images/logo.png) no-repeat 0 0; width:252px; height:61px; text-indent:100%; white-space:nowrap; overflow:hidden; }

/* === Search === */
.search { position:relative; float:right; margin:7px 0 0; }
.search button { position:absolute; top:8px; right:10px; z-index:2; }

/* === Copyrights === */
.copyrights { font-size:12px; color:#fff; overflow:hidden; }
.copyrights a { color:#fff; }

/* === Figure === */
.figures { *zoom:1; padding:25px 0 40px; }
.figures:after { content:''; display:table; clear:both; }
.figures .figure ~ .figure { padding-left:75px; }

.figure { float:left; }
.figure img { display:block; margin-bottom:12px; }
.figure-caption { display:block; background:#ededed; padding:4px 12px; }

/* === Table === */
.table th { background-color:#b10366; padding:10px 0; text-align:center; font-family:Helvetica, Arial, sans-serif; text-transform:uppercase;font-weight:400; }
.table td { padding:15px; text-align:center; }
.table td:first-child { text-align:left; }
.table tr:nth-child(even) td { background:#fafafa; }
.table tr:hover td { background:#FBF2F1;}

.table strong { color:#8e0252; }

.table .tooltip.top { margin-top:-18px; }

.table .thumb { border:2px solid #fff; box-shadow:0 0 3px rgba(0,0,0,0.4); float:left; }
.table .description { overflow:hidden; padding:3px 0 0 5px; line-height:18px; }
.table .description h5,
.table .description h6 { font-family:'Arial', sans-serif; letter-spacing:0; padding:0; text-transform: capitalize;}
.table .description h5 { font-size:14px; font-weight:bold; }
.table .description h6 { font-size:14px; }
.table .description p { padding:0; }

/* === Tooltip === */
.tooltip { position:absolute; z-index:999999; background:#a1a5a7; color:#fff; max-width:115px; padding:5px; font-size:14px; line-height:16px; font-weight:normal; border-radius:4px; }
.tooltip.top { margin-top:-8px; }
.tooltip.right { margin-left:8px; }
.tooltip-arrow { position:absolute; top:100%; left:50%; margin-left:-8px; border-width:8px 8px 0; border-color:#a1a5a7 transparent transparent; border-style:solid outset; }
.tooltip.right .tooltip-arrow { top: 50%; left: 0; margin-top: -8px; border-width: 8px; border-left-width: 0; border-color: transparent rgba(161, 165, 167, 0.5) transparent transparent;}
.tooltip.right .tooltip-arrow:after { content:''; border-width:8px; left: 1px; bottom: -8px; border-left-width: 0; border-right-color: #a1a5a7;}

/* === Posts === */
.posts { padding-bottom:30px; }
.posts .entry { padding:15px 0 10px; *zoom:1; }
.posts .entry:after { content:''; display:table; clear:both; }

/* === Contact === */
.contact { *zoom:1; }
.contact:after { content:''; display:table; clear:both; }

/* === Contact Form === */
.contact-form { float:left; width:480px; }

/* === Coupon === */
.coupon .btn { padding:0; width:92px; margin-left:20px; }

/* === Proccess === */
.proccess { font:24px 'TrendSansOne', sans-serif; letter-spacing:-0.03em; color:#2bc9af; padding:27px 0; text-transform: uppercase; }
.proccess a { color:#c2c7c9; }
.proccess a:hover { color:#2bc9af; text-decoration:none; }
.proccess .divider { margin:0 18px; }
.proccess span ~ span { color:#c2c7c9; }

/* === Cards === */
.cards { vertical-align:middle; }
.cards .inline-text { float:none; padding-right:35px; }
.cards img { margin-right:10px; }

/* ===========================
    #Main Style
============================ */
.wrapper { position:relative; min-height:100%; }

.header { position:relative; z-index:3; border-top:6px solid #b10366; padding:16px 0 0; margin-bottom: 104px; }
.header:hover { z-index: 99; }
.header:before { content:''; position:absolute; left:0; right:0; top:-6px; height:1px; background:#fff; }

.main { padding-bottom:510px; }

.footer { position:absolute; bottom:0; left:0; right:0; background:#b10366; height:370px; padding-top:50px; }
.footer-main { height:285px; }

/* ===========================
    #popup
============================ */
.uploader { *zoom: 1; }
.uploader:after { width: 100%; content: ''; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; display:block; }
.uploader input.field { width: 306px; float:left; }
.uploader .btn { float:right; }

form .row.rel { position:relative; }
form .row.rel .euro-sign { left: 0; right: auto; }

/* ===========================
    Tabs Nav & Single project tab
============================ */
.tabs .tab { display:none; }
.tabs .tab:first-child { display:block; }
.tabs-nav { height: 42px; margin-bottom: 25px; border-bottom: 1px solid #b10366; }
.tabs-nav ul { padding-left: 0; }
.tabs-nav li { float:left; padding: 0 6px; list-style-type: none; }
.tabs-nav li a { display:block; padding: 0 11px 1px; line-height: 42px; font-size: 18px; font-weight:bold; color: #a1a5a7;}
.tabs-nav li a:hover ,
.tabs-nav li.active a { padding: 0 4px 0 4px; text-decoration:none; border: 1px solid #b10366; border-bottom: 1px solid #fff; background:#fff; color: #b10366; line-height: 41px; }

.tabs { font-size: 15px; }
.section-c h2 { font-size: 26px; line-height: 30px; color: #b10366; font-weight: bold; font-family: arial, serif; letter-spacing: 0; border-bottom: 1px solid #e3e4e4; padding-bottom: 7px; margin-bottom: 18px; text-transform: capitalize; }
.section-c p { padding-bottom: 30px; }

nav.tabs-nav ul > li > a{ border:1px solid transparent;line-height:41px;}
#amount > small { text-transform:none; }

.tab .select-box { float: left; width: 300px; }
.tab .table { margin-bottom: 30px; }
.table th.narrow-th { padding-left: 17px; color: #fff; font: 11px/15px Arial; text-transform: uppercase; text-align:left; }

/* ===========================
    Project
============================ */
.page-title h1 { float:left; padding-bottom: 40px; font-size: 28px; line-height: 32px; }

.project-c { }
.project-c .top { padding-bottom: 30px; }
.project-c .top p { padding-bottom: 0; line-height: 34px; }
.project-c .top p.mulit-line { line-height: 18px; }
.project-c .top p em { display:block; }

.project-c .info { position: relative; margin-top: -10px; width: 275px; font-weight:bold; font-size: 12px; line-height: 14px; }
.project-c h3 { font: bold 18px/22px Arial; letter-spacing: 0; text-transform: capitalize;}
.project-c .info p { padding-bottom: 10px; }

.project-c th { color: #9F9D98; font-size: 13px; line-height: 17px; text-align:left; }
.project-c th small { color: #d881b3; display:block; font-size: 11px; line-height: 15px; text-transform: uppercase;}

/* ===========================
    Sidebar
============================ */
.sidebar { width: 280px; }

.progressBar { width: 218px; height: 11px; padding: 2px 3px; border-radius: 10px; background: #b10366; }
.progressBar div { position: relative; display:block; height: 100%; background-color: #fff; border-radius: 5px; text-align: right; width: 0; }
.progressBar div span { position:absolute; top: 15px; display:block; font-size: 11px; line-height: 20px; color: #b10366; font-weight:bold; }

/* ===========================
    Dashboard
============================ */
.dashboard .page-title { padding-bottom: 30px; }
.dashboard .page-title strong { font: 14px/32px 'TrendSansOne', sans-serif; text-transform: uppercase; }
.dashboard .page-title h1 { padding: 0; }

.dashboard .col { width: 420px; }
.dashboard h2 { font: bold 18px/22px Arial, sans-serif; letter-spacing: 0; text-transform: capitalize; }

#pie-chart { position: relative;margin-left: -20px; width: 460px; height: 210px; font: bold 14px/18px Arial; color: #a1a5a7;  }
#pie-chart { }
#bar-chart { width: 420px; height: 220px; margin: 0 auto;  font: bold 14px/18px Arial; color: #a1a5a7; }
.chart-item { float: left; width: 420px; height: 260px; }

/* ===========================
    Chrome Issue
============================ */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .btn .icon-arrow-next, .btn .icon-arrow-prev { margin-top: 2px; }
    .info-table .btn { line-height: 39px; }
    .post-schedule .post-box .info .btn,
    .tab .btn,
    .contact-form .btn,
    .tc .btn  { line-height: 51px; }
    .coupon .btn,
    .btn-small,
    .tab .info-table .btn { line-height: 39px; }
    .btn-small.multi { line-height: 15px; }
    .btn-small.multi { font-size: 13px; }
    .btn-stand-alone { line-height: 72px; }
}

@media \0screen {
    .header { height: 73px; }
    .tabs-nav { display: block; }
    .multi.btn-small { font-size: 13px;}
    .tabs-nav li { padding: 0 2px; }
    .project-c .tab { width: 100%; }
}
