.logo .lelogo{
    background: url("images/logo.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 61px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 252px;
}

.navigation ul ul li {list-style:none;white-space: nowrap;}
.navigation ul ul{width: auto; padding: 10px 13px 10px 18px;}
.testimonials .slides li{height:100px;}
.testimonials .slides li a{
    text-decoration:none;
}
.captcha-holder {
    padding: 5px 55px 0 0;
}

.c2-sb-wrap .c2-sb-inner-wrap, .c2-sb-wrap .c2-sb-text, .c2-sb-wrap .c2-sb-button{z-index:2;}

.field-error .c2-sb-text{color: #C84747;}

.content-columns ul,.content-columns ol {color: #A1A5A7;list-style: none outside none; padding: 0;}


.content-columns li { padding-bottom: 14px; }

.footer-nav > li{width: 160px;}

.content_sitemap ul,.content_sitemap ol {padding-left: 20px;}

blockquote{padding: 23px 40px 0;}

.footer-social{width: 235px;}

form .row input.field ~ input.field, form .row input.field ~ .c2-sb-wrap, form .row input.field ~ .pass-field-holder, form .row .c2-sb-wrap ~ .field, form .row .c2-sb-wrap ~ .c2-sb-wrap, form .row .c2-sb-wrap ~ .pass-field-holder, form .row .pass-field-holder ~ .field, form .row .pass-field-holder ~ .c2-sb-wrap, form .row .pass-field-holder ~ .pass-field-holder{margin-left:16px;}

.euro-field.field-tiny{width: 85px;}

.graphic-box .bottom-link {
    background: url("images/bullet_02.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    color: #A1A5A7;
    float: right;
    font: 13px/18px 'TrendSansOne',sans-serif;
    padding-left: 15px;
    text-transform: uppercase;
}

.graphic-box{ margin-bottom: 40px;}

.logedin-panel{width: 350px;}

.logedin-panel .dd{right:0;left:auto;}

.stat-list li .i-holder{height:25px;padding-top:9px;}

.statistic-tables.year-nav .annee {height:auto; width:90px; padding:4px 0; line-height:18px; font-size:14px; font-weight:bold; text-align:center;}
.year-nav li .annee{display:block; width: 60px; height: 22px; border-radius: 3px; background: #a1a5a7; box-shadow: 0 0 1px #c7c9ca; font-size: 11px; line-height: 22px; color: #fff; text-align:center; font-weight:bold; }

.sidebar{width:285px;}

.sidebar-fixed{ position:fixed;z-index:9998;top:60px; left: 50%; margin-left: 195px; }

.sidebar-fixed2{position:absolute;z-index:9997;margin-left:45px; bottom:590px;}
.widget-price .widget-cat{padding:20px;}

.detail-nav th > span{cursor:pointer;}

.info-table .btnAlimentation{font-size:18px; height:47px; display:block; margin:auto;}
.error_login{color:#C84747; font-size:12px; text-align:right; height:4px;}
.login-panel{padding-top:0}

.navigation .shell > ul.styled-nav > li{padding: 0 25px;}
.widget-price .widget-cat span.price strong{font-size: 18px;}

.block-twitter:hover{color:#00b0ed;}
.block-twitter:hover .icon-big-twitter { background-position:0 -80px;  }


.block-facebook small{color:#A1A5A7;}
.block-facebook:hover small{color:#34579C;}
.block-facebook:hover .icon-big-facebook { background-position:-60px -90px;  }
a.header_account_name{color:#919396;text-decoration:none;}

.tabs-nav li{padding: 0 2px;}
.tabs-nav li a{padding:0 4px 0px 4px;}

.tabs-nav .navProfile li{padding: 0 5px;padding-left:0px;}
.tabs-nav .navProfile li a{padding: 0 4px 1px;}
.tabs-nav .navProfile li a:hover , .tabs-nav .navProfile li.active a {padding: 0 3px 0;}

.form-choose.fixed .radio-holder{width:155px;}

.form-table .field-holder{display:inline-block;}

.section-c p{padding-bottom: 10px;}

.field-mini{width:150px;}

.tr{text-align:center;}

.nav-fixed .active .icon-home, a:hover > .icon-home{background-position:top;background:url(images/favicon.png) no-repeat}

.bank-data .line-content .label{width:160px;}

.table .description h5, .table .description h6{text-transform:none;}

.section-c h2,.logedin-panel .dd li a,.project-c h3,.post-schedule .post-box h3{text-transform:none;}


.dashboard .col{width:465px;}
.graphic-box{background-color:#FAFAFA;margin-bottom:20px;}
.le-bar-chart{padding-bottom: 40px}
.graphic-box header{margin-left:20px;width:90%;padding-top:15px;}
.graphic-box .bottom-link,.post-schedule .bottom-link{margin-right:10px;}
#pie-chart{margin-left:0;}

.post-schedule{background-color:#FAFAFA;padding-left:21px;padding-bottom:20px;}
.post-schedule h2{width:95%;}
.post-schedule h2 span{padding-top:14px;cursor:pointer;}
.post-schedule .post-box .img-holder{background-color:transparent;height:73px;}


.project-c .top p{margin-top:-34px;min-width:/*470px*/460px;height:80px;}/* modif 19/09/2014 offres en cours */
.project-c .top p em{min-height:40px;line-height:20px;width:410px;}

.intitule{width:175px;}
.sameSize{width:100px;}
.statistic-table table table td:first-child{padding-left:18px;}
.year-nav li{padding-left:39px;}

form p{padding-left:0px;}

.pass-field-holder .fake-field{color:#A1A5A7;}

.cadreEtoiles{overflow:hidden;height:17px;width:62px;position:relative;top:10px;left:4px;}
.etoile{
    background: url("images/stars.png") no-repeat scroll 0 0 transparent;
    height:9px;width:691px;position:relative;top:1px;
}

.etoile10{right:-3px;}
.etoile9{right:68px;}
.etoile8{right:139px;}
.etoile7{right:210px;}
.etoile6{right:280px;}

.etoile5{right:350px;}
.etoile4{right:419px;}
.etoile3{right:489px;}
.etoile2{right:558px;}
.etoile1{right:629px;}

.enchereVousColor{color:#B10366;}
.enchereVous{position:absolute;left:-58px;}

.register-form .pass-field-holder em{
    color: #b10366;
    display: block;
    font-size: 9px;
    line-height: 11px;
    margin-top: 30px;}


/* ------- alignement ----------- */
#content_type_personne, .register-form{padding: 0;}
.field-large {width: 434px;}
.form-page form .row .pass-field-holder {width: 472px;}
.field-mega {width: 922px;}

.form-page form .row-triple-fields .field, .form-page form .row-triple-fields .field ~ .field, .form-page form .row-triple-fields .field ~ .c2-sb-wrap, .form-page form .row-triple-fields .c2-sb-wrap {margin: 0 0 0 85px;}


.login-panel a.lienHeader{font-size:11px;float:right;}
.login-panel a.lienHeader.pwd{margin-right:75px;}
.login-panel a.lienHeader.open{margin-right:65px;}


.headConnect{float:left;font-family:'TrendSansOne',sans-serif;font-size:15px;height:35px;line-height:35px;margin-right:10px;text-transform:uppercase;}

h1.inscription{letter-spacing: -0.12em;}

.proccess {padding: 0 0 27px;}

.project-c .info{width:325px;}
.stat-list .tooltip { background:#f4f4f4; color:#808080; max-width:205px; box-shadow:0 0 3px rgba(0,0,0,0.4); border-radius:4px; }

.ui-autocomplete { max-height: 200px; overflow-y: scroll; overflow-x: hidden;}

.fonds{height:30x;margin-bottom:17px;text-align:center;background-color:#DBDCDD; color:white;font-family:'TrendSansOne',sans-serif;font-size:16px;}
.fonds .valeur{color:#B10366;font-weight:bold;font-size:20px;vertical-align:bottom;line-height:29px;}



.error_wait{display:none;}
.error_wait img {width: 32px; height: 32px;}
.captcha_login{float:right;margin-top:-7px;}
.reload_captcha_login{float:right;cursor:pointer;}
.content_captcha_login{width:133px;display:inline-block;float:right;}

.login-panel .field.input_captcha_login{margin-top:-12px;float:right;margin-right:0px;}

.banner{margin-top:-26px;}

.project-c .fav-btn{margin-right:50px;}/* modif 19/09/2014 offres en cours */

/* add 30/09/2014 sidebar project */
.sinscrire_cta.btn{background:#1a8aa3; width:210px; display:block;margin:auto;}
.sinscrire_cta.btn:before{background:#145a68;}
.sinscrire_cta.btn:after {background:#1a8aa3;}

.widget-price .field.field-medium { width:220px; padding:5px 13px; color:#727272;}
.widget-price .pass-field-holder{float:left;}

.widget-price .pass-field-holder .fake-field{ color:#727272;}


.widget-price a.mdpoublie { float:right; font-size:/*12px*/11px; font-family:'TrendSansOne', sans-serif; color:/*#a1a5a7*/#727272; line-height:30px; letter-spacing:-0.18em; text-transform: uppercase;}

.seconnecter, .sinscrire{display:none;}


.widget-price .field.LV_invalid_field { background:#ffe8e8 url(images/field-error.png) no-repeat right 0; border-color:#e3bcbc; color:#c84747; }
.widget-price .field.LV_valid_field { background-image:url(images/field-ok.png); background-repeat:no-repeat; background-position:right 0; }
.widget-price .field.LV_validation_message { display:none; }

.plusmoins{ display:inline-block; background:url(images/plusmoins.png) no-repeat 0 0; width:10px; height:10px; border:none; text-align:center; vertical-align:middle;float:right;background-position:left;cursor:pointer;margin-top:-20px;margin-left:250px;position:absolute;}

#sinscrire, #seconnecter{line-height:48px;}

.sidebar-notifs{}
.sidebar-notifs .dd { display: none; position:absolute; top: 100%; right:0; z-index: 9999; width: 300px; padding-top: 10px; }
.sidebar-notifs .dd .content{ padding: 0;  background: #f4f4f4; border: 1px solid #e1e2e3; border-radius: 3px; text-align:left;width:300px;overflow:auto;max-height:500px;}
.sidebar-notifs .dd .content .notif{background: #f4f4f4;padding: 3px 7px;color: #808080;border-top:1px solid #e1e2e3;font-size: 12px;}
.sidebar-notifs .dd .content .notif.view{background: white}
/*.sidebar-notifs .dd .content li { list-style-type:  none; }
.sidebar-notifs .dd .content li a { display:block; font-size: 12px; line-height: 20px; color: #808080; text-transform: capitalize;}*/
.sidebar-notifs .dd .bullet { position:absolute; top: 1px; left: 88%; display:block; width: 16px; height: 10px; margin-left: -8px; background: url(images/bullet_03.png) no-repeat 0 0; }

.sidebar-notifs .dd .content .marquerlu{font-size:12px;line-height:23px;float:right;padding-right:10px;}
.sidebar-notifs .dd .content .notif_plus{padding-left:5px;font-size:12px;color: #808080;text-align:center;font-weight:bold;border-top:1px solid #e1e2e3;cursor:pointer;height:30;line-height:30px;}
.sidebar-notifs .dd .content .notif .content_notif{font-size:11px;}
.sidebar-notifs .dd .content .notif .date_notif{font-size:11px;color:#a1a5a7;}

.bell-notif{
    background-image: url("images/bell/white.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 20px auto;
    cursor: pointer;
    height: 28px;
    margin-top: 2px;
    width: 19px;
    }

.bell-notif:hover{
    background-image: url("images/bell/pink.png");

    }

.bell-notif .nb-notif{
    background-image: url("images/bell/notif.png");
    background-position: left 0;
    background-repeat: no-repeat;
    background-size: 18px auto;
    color: white;
    display: inline-block;
    font: 12px "TrendSansOne",sans-serif;
    height: 28px;
    left: 19px;
    padding-top: 1px;
    position: relative;
    width: 19px;
    padding-left: 5px;
}


.pop_up_cgv_lien{
    text-decoration:none !important;
    font-weight:bold !important;
    color: #b10366 !important;
}

.pop_up_cgv_lien:hover{
    text-decoration:underline !important;
}


.plusmoinsOperations {
    background: url("images/plusmoins.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 10px;
    vertical-align: middle;
    width: 10px;
}


/* vos operation cercles */
.ou{
    background: url("images/cercle.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    background-position: 29px 4px;
    background-repeat: no-repeat;
    background-size: 23px auto;
}

.plus{
    background-position: left;
}

.moins{
    background-position: right;
}


.icon-double{
    background: url("images/dbl_fleche.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    background-position: 2px -3px;
    background-repeat: no-repeat;
    background-size: 25px auto;
    width: 29px;
    height: 21px;
}

.icon-bdc{
    background: url("images/bdc.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    background-position: 2px -3px;
    background-repeat: no-repeat;
    background-size: 25px auto;
    width: 29px;
    height: 21px;
}


.cookies {
        background: none repeat scroll 0 0 #eaeaea;
        border: medium none;
        bottom: 0;
        left: 0;
        opacity: 0.9;
        position: fixed;
        text-align: left;
        width: 100%;
        z-index: 999999;
    }
.cookies .content_cookies{vertical-align: middle;width: 79%;border: medium none; background: none repeat scroll 0% 0% transparent; display: inline-block;}
.cookies .content_cookies div{border: medium none; background: none repeat scroll 0% 0% transparent; color: #727272; padding: 10px; font-size: 12px; text-align: left;}
.cookies .accept_cookies{width: 19%;vertical-align: middle; border: medium none; background: none repeat scroll 0% 0% transparent; right: 10px; display: inline-block;}
.cookies .accept_cookies button{float: right; border: medium none; background: #b10366; color: white; display: block; cursor: pointer; font-size: 12px; padding: 5px 10px; margin: 10px 0px;}


/* safari */
/*::i-block-chrome, #sinscrire, #seconnecter{line-height:53px;}*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .field-mini {
      width:131px;
    }
    .banner h2{
        font-size: 33px;
    }
    .login-panel a.lienHeader{
        font-size: 10px;
    }
    .login-panel a.lienHeader.open {
        margin-right: 37px;
    }
    .login-panel a.lienHeader.pwd {
        margin-right: 53px;
    }

    #sinscrire, #seconnecter{line-height:52px;}
    /*::#sinscrire, #seconnecter{line-height:53px;}*/
}

@media \0screen {
    .header { height: 73px; }
    .tabs-nav { display: block; }
    .multi.btn-small { font-size: 13px;}
    .navigation .shell > ul.styled-nav > li { padding: 0; display: block; width: auto; padding: 0 20px; text-align: center;}
    .navigation .shell > ul.styled-nav > li a { display: inline; margin: 0 auto; text-align: center; float: none; }
    .tabs-nav li { padding: 0 2px; }
    .project-c .tab { width: 100%;}
}
