blockquote{padding: 23px 40px 0;}

form .row input.field ~ input.field, form .row input.field ~ .c2-sb-wrap, form .row input.field ~ .pass-field-holder, form .row .c2-sb-wrap ~ .field, form .row .c2-sb-wrap ~ .c2-sb-wrap, form .row .c2-sb-wrap ~ .pass-field-holder, form .row .pass-field-holder ~ .field, form .row .pass-field-holder ~ .c2-sb-wrap, form .row .pass-field-holder ~ .pass-field-holder{margin-left:16px;}

.sidebar{width:285px;}

.tabs-nav li{padding: 0 2px;}
.tabs-nav li a{padding:0 4px 0px 4px;}

.section-c p{padding-bottom: 10px;}

.tr{text-align:center;}

.table .description h5, .table .description h6{text-transform:none;}

.section-c h2,.project-c h3{text-transform:none;}

.dashboard .col{width:465px;}
#pie-chart{margin-left:0;}

.project-c .top p{margin-top:-34px;min-width:/*470px*/460px;height:80px;}/* modif 19/09/2014 offres en cours */
.project-c .top p em{min-height:40px;line-height:20px;width:410px;}

.sameSize{width:100px;}

form p{padding-left:0px;}

/* ------- alignement ----------- */
.field-large {width: 434px;}
.form-page form .row .pass-field-holder {width: 472px;}
.field-mega {width: 922px;}

.form-page form .row-triple-fields .field, .form-page form .row-triple-fields .field ~ .field, .form-page form .row-triple-fields .field ~ .c2-sb-wrap, .form-page form .row-triple-fields .c2-sb-wrap {margin: 0 0 0 85px;}

h1.inscription{letter-spacing: -0.12em;}

.proccess {padding: 0 0 27px;}

.project-c .info{width:325px;}

.ui-autocomplete { max-height: 200px; overflow-y: scroll; overflow-x: hidden;}

.fonds{height:30px;margin-bottom:17px;text-align:center;background-color:#DBDCDD; color:white;font-family:'TrendSansOne',sans-serif;font-size:16px;}
.fonds .valeur{color:#B10366;font-weight:bold;font-size:20px;vertical-align:bottom;line-height:29px;}

.banner{margin-top:-26px;}

/* safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .banner h2{
        font-size: 33px;
    }
}

@media \0screen {
    .header { height: 73px; }
    .tabs-nav { display: block; }
    .multi.btn-small { font-size: 13px;}
    .tabs-nav li { padding: 0 2px; }
    .project-c .tab { width: 100%;}
}
