
/* ==========================================================================
	#Dashboard
========================================================================== */
.notification-primary {
    border: 1px solid #b10366;
    margin-bottom: 24px;
	font-size:15px;
}
.notification-primary .notification-head {
    background: none repeat scroll 0 0 #b10366;
    padding: 8px 30px;
}

.notification-primary .notification-title {
    color: #fff;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.notification-primary .notification-body {
    background: none repeat scroll 0 0 #fbf2f7;
    padding: 22px 0 22px 45px;
}
.notification-primary h4 {
    color: #b30764;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0;
    padding: 0 0 7px;
    text-transform: none;
}
.notification-primary ul {
    color: #727272;
    font-size: 15px;
    list-style: none outside none;
    padding: 0;
}
.notification-primary ul li {
    background: url("images/bull.png") no-repeat scroll 0 9px rgba(0, 0, 0, 0);
    padding-left: 20px;
}

.notification-primary .list-bulls li + li {
    padding-top: 1px;
}
.notification-primary .form-terms {
    overflow: hidden;
    padding-top: 22px;
}
.notification-primary .form-terms { overflow: hidden; padding-top: 22px; }
.notification-primary .form-terms .checkbox { float: left; }
.notification-primary .form-terms .form-actions { float: right; padding-right: 38px; }
.notification-primary .form-terms .form-btn { position: relative; padding: 11px 17px 8px; font-family: 'TrendSansOne', arial; font-size: 14px; text-transform: uppercase; letter-spacing: 0; box-shadow: inset 0 -5px #6b013d; margin: 0; height: auto; line-height: 1; }
.notification-primary .form-terms .ico-arrow { background: url(images/sprite2.png) no-repeat 0 0; display: inline-block; vertical-align: middle; width: 10px; height: 14px; margin: 0 -8px 0 8px; }

.notification-primary .checkbox input {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
}
.notification-primary .checkbox input:checked ~ label:before {
    background-position: 0 -50px;
}

.notification-primary .checkbox input { position: absolute; top: 0; left: 0; opacity: 0; visibility: hidden; }
.notification-primary .checkbox label { cursor: pointer; font-size: 15px; padding-top: 5px; display: block; }
.notification-primary .checkbox label:before { display: inline-block; vertical-align: middle; content: ''; background: url(images/sprite2.png) no-repeat 0 -18px;  width: 25px; height: 26px; margin: -7px 8px 0 0; }
.notification-primary .checkbox input:checked ~ label:before { background-position: 0 -50px; }


.notification-primary a{color:#727272; text-decoration: underline;}


.notification-primary .checkbox label:before {
	border:1px solid black;
}

.rd-box .body{
    width:90%;
    margin: 10px auto;
}

.rd-box .body .post-box p{
    text-align: left;
}
.rd-box .body .post-box small{
    font-weight: normal;
    font-size: 10px;
    text-transform: none;
    font-style: italic;
    color: #a1a5a7;
}

.rd-box .body p{
    font-size: 12px;
    text-align: center;
}

.rd-meter{
    position: relative;
    margin-bottom: 10px;
}

.rd-data .rd-lvl{
    position: relative;
    overflow: hidden;
    height: 130px;
    width: 130px;
    margin: 0 auto;
}

.rd-data .rd-lvl .rd-fill{
    width: 130px;
    height: 0px;
    display: block;
    background: #e14650;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: height 2s 2s, background 2s 2s, opacity 2s 2s;
    transition: height 2s 2s, background 2s 2s, opacity 2s 2s;
}

.rd-fill-marker{
    position: absolute;
    display: block;
    height: 1px;
    width: 178px;
    bottom: 0;
    right: 0;
    background: #727272;
    /*visibility: hidden;*/
    z-index: 2;

    -webkit-transition: bottom 2s 2s, width 2s 2s, opacity 2s 2s;
    transition: bottom 2s 2s, width 2s 2s, opacity 2s 2s;
}

.rd-desc{
    position: absolute;
    /*visibility: hidden;*/
    white-space: nowrap;
    right: 0;
    bottom: 0;
    margin-top: -20px;
    margin-bottom: 0px;
    padding: 0;

    width: 32%;
    max-width: 32%;
    font-size: 12px;

    -webkit-transition: bottom 2s 2s, opacity 2s 2s;
    transition: bottom 2s 2s, opacity 2s 2s;
}

.rd-desc span{
    font-weight: bold;
    display: block;
    text-align: center;

    -webkit-transition: color 2s 2s;
    transition: color 2s 2s;
}

.rd-mask-cnt,
.rd-mask,
.rd-pct{
    position: absolute;
    height: 130px;
    width: 130px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    z-index: 1;
    -webkit-transition: opacity 2s 2s;
    transition: opacity 2s 2s;
}

.rd-mask-cnt{
    padding: 0 15px;
}

.rd-pct{
    vertical-align: middle;
    line-height: 130px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #A0A0A0;
}

.rd-info{
    width: 95%;
    border: solid 2px #B20066;
    padding: 10px 10px;
    margin: 10px 0;
    background: rgba(178,0,102,0.1);
}
.rd-info span{
    font-weight: bold;
    display: block;
}

.rd-unilend span{
    font-weight: bold;
    color: #B20066;
}

.rd-box.lvl0 .rd-mask{ background: url(images/bar_mask_unilend.png) }
.rd-box.lvl0 .rd-fill,
.rd-box.lvl0 .rd-fill-marker,
.rd-box.lvl0 .rd-desc{ opacity: 0 ;}

.rd-box.lvl1 header p>strong{ color: #FFC000; }
.rd-box.lvl1 .rd-fill{ height: 20px; background: #FFC000; }
.rd-box.lvl1 .rd-fill-marker{ bottom: 20px; width: 162px; }
.rd-box.lvl1 .rd-desc{ bottom: 20px; }
.rd-box.lvl1 .rd-desc span{ color: #FFC000; }

.rd-box.lvl2 header p>strong{ color: #0DB200; }
.rd-box.lvl2 .rd-fill{ height: 40px; background: #0DB200; }
.rd-box.lvl2 .rd-fill-marker{ bottom: 40px; width: 154px; }
.rd-box.lvl2 .rd-desc{ bottom: 40px; }
.rd-box.lvl2 .rd-desc span{ color: #0DB200; }

.rd-box.lvl3 header p>strong{ color: #00B2A5; }
.rd-box.lvl3 .rd-fill{ height: 55px; background: #00B2A5; }
.rd-box.lvl3 .rd-fill-marker{ bottom: 55px; width: 144px; }
.rd-box.lvl3 .rd-desc{ bottom: 55px; }
.rd-box.lvl3 .rd-desc span{ color: #00B2A5; }

.rd-box.lvl4 header p>strong{ color: #0066B2; }
.rd-box.lvl4 .rd-fill{ height: 80px; background: #0066B2; }
.rd-box.lvl4 .rd-fill-marker{ bottom: 80px; width: 146px; }
.rd-box.lvl4 .rd-desc{ bottom: 80px; }
.rd-box.lvl4 .rd-desc span{ color: #0066B2; }
.rd-box.lvl4 .rd-pct {color: #D0D0D0  }

.rd-box.lvl5 header p>strong{ color: #B20066; }
.rd-box.lvl5 .rd-fill{ height: 100px; background: #B20066; }
.rd-box.lvl5 .rd-fill-marker{ bottom: 100px; width: 155px; }
.rd-box.lvl5 .rd-desc{ bottom: 100px; }
.rd-box.lvl5 .rd-desc span{ color: #B20066; }
.rd-box.lvl5 .rd-pct {color: #D0D0D0  }

@media screen and (max-width: 770px)
{
    .rd-fill-marker{display: none;}
    .rd-desc{
        position: relative;
        bottom: 0 !important;
        margin: 10px 0;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .rd-desc span{ display: inline-block; }
}

#ongoing_bids .bid{
    padding: 5px 10px 5px 10px;
}
#ongoing_bids .autobid {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    color: #ffffff;
    font-weight: bold;
    background: #d9aa34;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}
#ongoing_bids .no_autobid {
    padding: 5px 10px 5px 10px;
    background: transparent;
    color: transparent;
    font-weight: bold;
}
#ongoing_bids .pending {
    color: #289922;
    padding-right: 10px;
}

#ongoing_bids .rejected {
    color: #eb3023;
    padding-right: 10px;
}

#ongoing_bids .circle_pending {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #289922;
    text-decoration: none;
    display: inline-block;
}

#ongoing_bids .circle_rejected {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #eb3023;
    text-decoration: none;
    display: inline-block;
}

#ongoing_bids .amount {
    padding: 5px 10px 5px 10px;
    text-align: right;
}

#ongoing_bids .rate{
    padding: 5px 10px 5px 10px;
}

.btn_show_rejected_bids {
    background: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    color: #827f82;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.autobid_switch h2{
    color: #d9aa34;
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.autobid_switch div{
    float:right;
    padding-right: 10px;
    margin-top: 24px;
}