<div class="cookie-box" data-cookies>
    <div class="inner">
        <div class="fleft">
            <p>{% trans %} footer_accept-cookie-content {% endtrans %}</p>
        </div>
        <div class="fright">
            <p><a href="javascript:;" data-cookies-accept class="btn-primary btn-shape-sm">{% trans %} footer_accept-cookie-button {% endtrans %}</a></p>
        </div>
    </div>
</div>