<div class="debug" aria-hidden="true">
    <div>
        <span class="show-mobile-inline">
          <code>mobile</code>
          <span class="show-mobile-p-inline"><code>mobile-p</code></span>
          <span class="show-mobile-l-inline"><code>mobile-l</code></span>
        </span>
        <span class="show-tablet-inline">
          <code>tablet</code>
          <span class="show-tablet-p-inline"><code>tablet-p</code></span>
          <span class="show-tablet-l-inline"><code>tablet-l</code></span>
        </span>
        <span class="show-computer-inline">
          <code>computer</code>
          <span class="show-laptop-inline"><code>laptop</code></span>
          <span class="show-desktop-inline"><code>desktop</code></span>
        </span>
        <span class="show-lg-inline"><code>lg</code></span>
        <span class="show-md-inline"><code>md</code></span>
        <span class="show-sm-inline"><code>sm</code></span>
        <span class="show-xs-inline"><code>xs</code></span>
    </div>
    <div class="breakpoint-visualiser">
        <div style="position: relative; border-top: solid 1px #000;">
            <div class="width-desktop"></div>
            <div class="bpv-wrap">
                <div class="width-laptop"></div>
            </div>
            <div class="bpv-wrap">
                <div class="width-tablet-l"></div>
            </div>
            <div class="bpv-wrap">
                <div class="width-tablet-p"></div>
            </div>
            <div class="bpv-wrap">
                <div class="width-mobile-l"></div>
            </div>
            <div class="bpv-wrap">
                <div class="width-mobile-p"></div>
            </div>
            <div class="bpv-wrap">
                <div class="hero-wrap" title=".hero-wrap"></div>
            </div>
        </div>
        <div style="position: relative; border-top: solid 1px #000;">
            <div class="width-lg"></div>
            <div class="bpv-wrap">
                <div class="width-md"></div>
            </div>
            <div class="bpv-wrap">
                <div class="width-sm"></div>
            </div>
            <div class="bpv-wrap">
                <div class="width-xs"></div>
            </div>
            <div class="bpv-wrap">
                <div class="site-wrap" title=".site-wrap"></div>
            </div>
        </div>
    </div><!-- /.breakpoint-visualiser -->
</div><!-- /.debug -->
