<nav class="site-nav" role="navigation">
    <ul class="site-nav-menu">

        {# Lender #}
        {% if is_granted('ROLE_BORROWER') == false %}
            <li role="presentation"{% if app.request.attributes.get('_route') in [
                'pourquoi-preter',
                'jouvre-mon-compte-preteur',
                'mon-premier-pret',
                'diversifier',
                'aller-plus-loin',
                'fiscalite'
            ] %} class="active"{% endif %}><a href="{{ absolute_url('/pourquoi-preter') }}" tabindex="2">{% trans %} header_menu-item-lend {% endtrans %}</a></li>
        {% endif %}

        {# Borrower #}
        {% if is_granted('ROLE_LENDER') == false %}
            <li role="presentation"{% if app.request.attributes.get('_route') in [
                'pourquoi-emprunter',
                'ma-premiere-demande-de-financement',
                'guide-de-l-emprunteur',
                'testimonials'
            ] %} class="active"{% endif %}><a href="{{ absolute_url('/pourquoi-emprunter') }}" tabindex="2">{% trans %} header_menu-item-borrow {% endtrans %}</a></li>
        {% endif %}

        {# Projects #}
        {% if is_granted('ROLE_BORROWER') == false %}
            <li role="presentation"{% if app.request.attributes.get('_route') in [
            'projects_list',
            'project_detail'
            ] %} class="active"{% endif %}><a href="{{ path('projects_list') }}" tabindex="2">{% trans %} header_menu-item-projects {% endtrans %}</a></li>
        {% endif %}

        {# About #}
        {% if is_granted('ROLE_BORROWER') == false and is_granted('ROLE_LENDER') == false %}
            <li role="presentation"{% if app.request.attributes.get('_route') in [
            'about_us',
            'statistics',
            'les-regles-dunilend'
            ] %} class="active"{% endif %}><a href="{{ path('about_us') }}" tabindex="2">{% trans %} header_menu-item-about {% endtrans %}</a></li>
        {% endif %}

        {# FAQ #}
        {% if is_granted('ROLE_BORROWER') == true %}
            <li role="presentation"><a href="http://unilend.desk.com/?b_id=13135" tabindex="2" target="_blank">{% trans %} header_menu-item-faq {% endtrans %}</a></li>
        {% endif %}

        {# Blog #}
        <li role="presentation"><a href="https://blog.unilend.fr/" tabindex="2" target="_blank">{% trans %} header_menu-item-blog {% endtrans %}</a></li>

    </ul>
</nav><!-- /.site-nav -->
