<nav class="site-nav" role="navigation">
    <ul class="site-nav-menu">
        <li role="presentation"><a href="{{ absolute_url('/pourquoi-preter') }}" tabindex="2">{% trans %} header_menu-item-lend {% endtrans %}</a></li>
        <li role="presentation"><a href="{{ absolute_url('/pourquoi-emprunter') }}" tabindex="2">{% trans %} header_menu-item-borrow {% endtrans %}</a></li>
        <li role="presentation"><a href="{{ path('projects_list') }}" tabindex="2">{% trans %} header_menu-item-projects {% endtrans %}</a></li>
        <li role="presentation"><a href="{{ path('about_us') }}" tabindex="2">{% trans %} header_menu-item-about {% endtrans %}</a></li>
    </ul>
</nav><!-- /.site-nav -->