{# Error 404 - Not found #}

<div class="site-wrap">
  <section class="page-section">
    <h2>{{ __("Whoops!", 'errorNotFoundTitle') }}</h2>
    <p>{{ __("Couldn't load the correct template. Are you sure you've entered it correctly?", 'errorNotFoundMessage') }}</p>
    <pre><code>{{ dump() }}</code></pre>
  </section><!-- /.page-section -->
</div><!-- /.site-wrap -->
