<form action="{{ path('search') }}" method="post" class="site-search" role="search">
  <label for="site-search-input" class="site-search-toggle">
    <span class="sr-only">{% trans %} site-general_search-label {% endtrans %}</span>
  </label>
  <div class="btn-group">
    <button class="btn-search" tabindex="-1">
      <span class="sr-only">{% trans %} site-general_search-submit {% endtrans %}</span>
    </button>
  </div>

    <input id="site-search-input" type="text" name="search" placeholder="{% if app.user is defined and app.user is not empty %} {% trans %} site-general_search-placeholder {% endtrans %}{% else %}{% trans %} site-general_search-placeholder-short {% endtrans %}{% endif %}"
         value="" tabindex="1" class="input-field site-search-input">
</form><!-- /.site-search -->