<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8' />
    <title>Plafond de parrainage</title>


    <style type='text/css' media='screen'>
        /* Linked Styles */
        body { padding:0 !important; margin:0 !important; display:block !important; background:#ffffff; -webkit-text-size-adjust:none }
        a { color:#a1a4a7; text-decoration:underline }
    </style>
</head>
<body class='body' style='padding:0 !important; margin:0 !important; display:block !important; background:#ffffff; -webkit-text-size-adjust:none'>

<table width='100%' border='0' cellspacing='0' cellpadding='0' bgcolor='#ffffff'>
    <tr>
        <td align='center' valign='top'>
            <table width='600' border='0' cellspacing='0' cellpadding='0' bgcolor='#ffffff'>
                <tr>
                    <td>
                        <div style='font-size:0pt; line-height:0pt; height:30px'><img src='[EMV DYN]surl[EMV /DYN]/images/default/emails/empty.gif' width='1' height='30' style='height:30px' alt='' /></div>

                        <div style='font-size:0pt; line-height:0pt; height:15px'><img src='[EMV DYN]surl[EMV /DYN]/images/default/emails/empty.gif' width='1' height='15' style='height:15px' alt='' /></div>

                        <div style='font-size:0pt; line-height:0pt; height:3px; background:#b10366; '><img src='[EMV DYN]surl[EMV /DYN]/images/default/emails/empty.gif' width='1' height='3' style='height:3px' alt='' /></div>

                        <div style='font-size:0pt; line-height:0pt; height:15px'><img src='[EMV DYN]surl[EMV /DYN]/images/default/emails/empty.gif' width='1' height='15' style='height:15px' alt='' /></div>


                        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                            <tr>
                                <td class='img' style='font-size:0pt; line-height:0pt; text-align:left' width='30'></td>
                                <td class='text' style='color:#727272; font-family:Arial; font-size:14px; line-height:20px; text-align:left'>
                                    <div class='img' style='font-size:0pt; line-height:0pt; text-align:left'>
                                        <a href='[EMV DYN]url[EMV /DYN]' target='_blank'><img src='[EMV DYN]surl[EMV /DYN]/images/default/emails/logo.jpg' width='217' height='52' alt='' border='0' /></a>
                                    </div>
                                    <div style='font-size:0pt; line-height:0pt; height:50px'><img src='[EMV DYN]surl[EMV /DYN]/images/default/emails/empty.gif' width='1' height='50' style='height:50px' alt='' /></div>


                                    <div class='h1' style='color:#b10366; font-family:Trebuchet MS; font-size:16px; line-height:26px; text-align:right; font-weight:bold'>
                                        Plafond de parrainage
                                    </div>
                                    <div style='font-size:0pt; line-height:0pt; height:30px'><img src='[EMV DYN]surl[EMV /DYN]/images/default/emails/empty.gif' width='1' height='30' style='height:30px' alt='' /></div>

                                    <p>Bonjour,</p>

                                    <p>Le prêteur [EMV DYN]sponsor_first_name[EMV /DYN] [EMV DYN]sponsor_last_name[EMV /DYN], ID client [EMV DYN]sponsor_id_client[EMV /DYN] vient d'atteindre le plafond de parrainage possible.</p>

                                    <p>Merci de vérifier le respect des conditions d'utilisation du programme de parrainage</p>

                                    <div style='font-size:0pt; line-height:0pt; height:40px'><img src='[EMV DYN]surl[EMV /DYN]/images/default/emails/empty.gif' width='1' height='40' style='height:40px' alt='' /></div>


                                </td>
                                <td class='img' style='font-size:0pt; line-height:0pt; text-align:left' width='30'></td>
                            </tr>
                        </table>

                        <table width='100%' border='0' cellspacing='0' cellpadding='0' bgcolor='#b10366'>
                            <tr>
                                <td class='img' style='font-size:0pt; line-height:0pt; text-align:left' width='10'></td>
                                <td class='credits' style='color:#ffffff; font-family:Arial; font-size:10px; line-height:14px; text-align:left'>&copy; UNILEND [EMV DYN]year[EMV /DYN]. Tous droits r&eacute;serv&eacute;s.</td>
                                <td align='right'>
                                    <table border='0' cellspacing='0' cellpadding='0'>
                                        <tr>
                                            <!--td><a href='[EMV DYN]url[EMV /DYN]' style='color:#ffffff; font-family:Arial; font-size:12px; line-height:14px; text-align:center; margin-right:40px;'>G&eacute;rer vos notifications</a>&nbsp;&nbsp;&nbsp;</td-->
                                            <td class='img' style='font-size:0pt; line-height:0pt; text-align:left'><a href='[EMV DYN]lien_tw[EMV /DYN]' target='_blank'><img src='[EMV DYN]surl[EMV /DYN]/images/default/emails/twitter.jpg' width='20' height='30' alt='' border='0' /></a></td>
                                            <td class='img' style='font-size:0pt; line-height:0pt; text-align:left'><a href='[EMV DYN]lien_fb[EMV /DYN]' target='_blank'><img src='[EMV DYN]surl[EMV /DYN]/images/default/emails/facebook.jpg' width='20' height='30' alt='' border='0' /></a></td>
                                        </tr>
                                    </table>
                                </td>
                                <td class='img' style='font-size:0pt; line-height:0pt; text-align:left' width='9'></td>
                            </tr>
                        </table>
                        <div style='font-size:0pt; line-height:0pt; height:15px'><img src='[EMV DYN]surl[EMV /DYN]/images/default/emails/empty.gif' width='1' height='15' style='height:15px' alt='' /></div>

                        <div style='font-size:0pt; line-height:0pt; height:15px'><img src='[EMV DYN]surl[EMV /DYN]/images/default/emails/empty.gif' width='1' height='15' style='height:15px' alt='' /></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>