//
// Unilend Table My Operations borrower
//
#user-borrower-dashboard .table {
  margin:20px 0;
  td {
    font-size:15px;
  }
  .center {
    text-align:center;
  }
}

#user-emprunteur-operations #form-filters-operations {
  margin-bottom:70px;
}

#user-emprunteur-operations .cell-right {
  text-align:right;
}

#user-emprunteur-operations .export {
  color:#2cbaa4;
}

.grey-label {
  color:#9f9d9f;
}

.table-myoperations-borrower-item-operation {
  width:50%;
}

.table-myoperations-borrower-item-projet {
  width:10%;
  text-align:right;
}

.table-myoperations-borrower-item-date {
  width:20%;
  text-align:right;
}

.table-myoperations-borrower-item-amount {
  width:10%;
  text-align:right;
}

td.table-myoperations-borrower-item-amount {
  color:#2cbaa4;
}

.below-null {
  color:#f8524e!important;
}

.table-myoperations-borrower-item-detail {
  width:10%;
  text-align:center;
}

// PREFUNDING

.table-myoperations-prefunding {
  table-layout: fixed;
  th {
    text-align:left;
    font-size:12px;
    text-transform:none;
  }
  td {
    font-size:11px;
  }
  .table-borrower-file {
    width:10%;
  }

  .table-borrower-nature {
    width:30%;
  }

  .table-borrower-amount {
    width:10%;
  }

  .table-borrower-status {
    width:16%;
  }

  .table-borrower-autolend {
    width:15%;
  }

  .table-borrower-upload {
    width:11%;
  }

  .min{
    text-transform:none;
    font-size:9px;
  }

}

// END PREFUNDING

// FUNDING

.table-myoperations-funding {
  table-layout: fixed;
  th {
    text-align:left;
    font-size:12px;
    text-transform:none;
  }
  td {
    font-size:11px;
  }
  .table-borrower-file {
    width:10%;
  }

  .table-borrower-nature {
    width:20%;
  }

  .table-borrower-amount {
    width:12%;
  }

  .table-borrower-ending-date {
    width:12%;
  }

  .table-borrower-funding-rate {
    width:12%;
  }

  .table-borrower-average-rate {
    width:10%;
  }

  .table-borrower-stop {
    width:10%;
  }

  .table-borrower-link-to {
    width:10%;
  }

}

// END FUNDING
.table-myoperations-postfunding {
  table-layout: fixed;
  th {
    text-align:left;
    font-size:12px;
    text-transform:none;
  }
  td {
    font-size:11px;
  }
  .table-borrower-file {
    width:10%;
  }

  .table-borrower-nature {
    width:15%;
  }

  .table-borrower-amount {
    width:10%;
  }

  .table-borrower-ending-date {
    width:10%;
  }

  .table-borrower-monthly {
    width:10%;
  }

  .table-borrower-average-rate {
    width:10%;
  }

  .table-borrower-crd {
    width:10%;
  }

  .table-borrower-date {
    width:10%;
  }

  .table-borrower-button {
    width:10%;
  }
}
