//
// Unilend Table Offers
//

// My Offers
.table-myoffers {
  tr {
    background-color: $c-purple-l2;
    border-bottom: solid 2px $c-white;
    color: $c-p1;
  }

  // Make rejected look dull
  #myoffers-rejected & {
    tr {
      background-color: $c-bg3;
      color: $c-t2;
    }
  }
}

.table-myoffers-item-id {
  width: 25%;
  text-align: left;
}

.table-myoffers-item-interest {
  width: 25%;
  text-align: right;
}

.table-myoffers-item-amount {
  width: 30%;
  text-align: right;
}

.table-myoffers-item-view {
  width: 20%;
  padding-left: 0;
  padding-right: 0;

  a {
    display: block;
    text-align: center;
  }
}

// All offers
.table-alloffers {
  tbody {
    tr {
      // Accepted
      &[data-sortable-status="2"],
      // Autolend Accepted
      &[data-sortable-status="4"] {
        .icon {
          color: $c-p1;
        }
      }

      // Rejected
      &[data-sortable-status="3"] {
        color: $c-t3;
      }
    }
  }

  td.table-alloffers-item-status {
    .icon {
      font-size: 28px;
    }
  }

  td.table-more {
    background-color: $c-bg2;
    text-align: center;

    a {
      display: block;
      padding-top: 10px;
      padding-bottom: 5px;
    }
  }
}

.table-alloffers-item-id {
  width: 20%;
  // padding-left: 40px;
  text-align: left;
}

.table-alloffers-item-interest {
  width: 30%;
  text-align: right;
}

.table-alloffers-item-amount {
  width: 30%;
  text-align: right;
}

.table-alloffers-item-status {
  width: 20%;
  text-align: right;
}

// All offers overview
.table-alloffersoverview {
  $c-bg: #5fc3cf;
  $c-bg-l: #daf6f8;

  tbody tr {
    &.table-alloffersoverview-item-recommended,
    &.table-alloffersoverview-item-max {
      background-color: $c-bg-l;
      color: darken($c-bg, 10%);

      .table-alloffersoverview-item-myoffers {
        color: darken($c-bg, 10%);
      }
    }

    &.table-alloffersoverview-item-best {
      background-color: $c-bg;
      color: $c-white;

      .table-alloffersoverview-item-myoffers {
        color: $c-white;
      }
    }
  }

  // @note the design asked for this, but it doesn't really work with all the sortable columns
  // &#{$js-sortable-direction-asc} tbody tr.table-alloffersoverview-item-max {
  //   background-color: transparent;
  //   @include background-image(-svg(linear-gradient(to bottom, $c-bg-l 0%, fade-out($c-bg-l, 1) 100%)));
  //   border-bottom: dotted 1px $c-bg;
  // }

  // &#{$js-sortable-direction-desc} tbody tr.table-alloffersoverview-item-max {
  //   background-color: transparent;
  //   @include background-image(-svg(linear-gradient(to bottom, fade-out($c-bg-l, 1) 0%, $c-bg-l 100%)));
  //   border-top: dotted 1px $c-bg;
  // }
}

.table-alloffersoverview-item-interest {
  width: 20%;
  // padding-left: 40px;
  text-align: left;
}

.table-alloffersoverview-item-amount {
  width: 28%;
  text-align: right;
}

.table-alloffersoverview-item-offers {
  width: 22%;
  text-align: right;
}

.table-alloffersoverview-item-accepted {
  width: 30%;
  text-align: right;
}

.table-alloffersoverview-item-myoffers {
  color: $c-p1;
  display: block;
  clear: both;
  text-align: right;

  @include devices('md', 'lg') {
    clear: none;
    float: left;
    text-align: left;
  }
}

#alloffers-table {
  .rejected-offers {
    background-color:#f8f6f8;
    height:50px;
    td {
      text-align:center;
      cursor:pointer;
      color:#9f9d9f;
    }
  }
  .rejected-row {
    display:none;
    background-color:#FDF4FA;
    color:#9f9d9f;
  }
  .bid-rate-cta {
    display:inline-block;
    width:60px;
    line-height:20px;
    text-align:left;
  }
  .icon-cta {
    line-height:20px;
  }

  .icon-rejected {
    display:none;

  }
  .icon-accepted {
    display:inline-block;
  }

  .all-rejected {
    .icon-rejected {
      display:inline-block;

    }
    .icon-accepted {
      display:none;
    }
  }

  .bids-row {
    cursor:pointer;
    td:first-of-type {
      padding:10px 55px 10px 30px;
      text-align:right;
    }
  }
  .bids-row.active-row {
    background-color:#b20066;
    color:#fff;
    .c-p1 span{
      color:#fff;
    }
  }
  .bids-row.active-row:hover {
    background-color:#b20066;
  }
  .bids-row:hover {
    background-color: #fbf2f7;
  }

  .icon.fa-caret-r-u32 {
    display:inline-block;
  }
  .icon.fa-caret-d-u32 {
    display:none;
  }

  .active-row {
    .icon.fa-caret-r-u32 {
      display:none;
    }
    .icon.fa-caret-d-u32 {
      display:inline-block;
    }
  }

  .bids-detail-by-rate {
    background-color:#daf6f9;
    color:#4fa8b0;
  }
  .bids-detail-by-rate.ui-current-user-involved {
    background-color:#5fc3cf;
    color:#fff;
  }
  .bids-detail-by-rate-header {
    background-color:#eceaed;
  }
  .center {
    text-align:center;
  }
}
