{% extends 'demo/_layout.html.twig' %}

{% set page = {
    id: 'demo-loans',
    classNames: ''
} %}

{% block dashboardContent %}
    <section class="dashboard-tabs tabs">
        {% if projects|length > 1 %}
            <div class="dashboard-tabs-nav">
                <ul class="nav nav-dashboard-tabs">
                    {% if projects.borrower is defined %}
                        {% if active is not defined %}
                            {% set active = 'borrower' %}
                        {% endif %}
                        <li role="presentation"
                            {% if active == 'borrower' %} class="active"{% endif %}
                            title="Dossiers de syndication de vos crédits" data-toggle="tooltip" data-placement="bottom"
                            data-equal-width>
                            <a href="#tab-borrower" role="tab" data-toggle="tab">Syndications</a>
                        </li>
                    {% endif %}
                    {% if projects.submitter is defined %}
                        {% if active is not defined %}
                            {% set active = 'submitter' %}
                        {% endif %}
                        <li role="presentation"
                            {% if active == 'submitter' %} class="active"{% endif %}
                            title="Dossiers que vous avez déposé" data-toggle="tooltip" data-placement="bottom"
                            data-equal-width>
                            <a href="#tab-submitter" role="tab" data-toggle="tab">Dépôts</a>
                        </li>
                    {% endif %}
                    {% if projects.arrangerRun is defined %}
                        {% if active is not defined %}
                            {% set active = 'arrangerRun' %}
                        {% endif %}
                        <li role="presentation"
                            {% if active == 'arrangerRun' %} class="active"{% endif %}
                            title="Dossiers sur lesquels vous intervenez en tant qu‘arrangeur ou RUN" data-toggle="tooltip" data-placement="bottom"
                            data-equal-width>
                            <a href="#tab-arrangerRun" role="tab" data-toggle="tab">Arrangements et notations</a>
                        </li>
                    {% endif %}
                    {% if projects.lender is defined %}
                        {% if active is not defined %}
                            {% set active = 'lender' %}
                        {% endif %}
                        <li role="presentation"
                            {% if active == 'lender' %} class="active"{% endif %}
                            title="Dossiers sur lesquels vous avez fait au moins une offre de participation en tant que prêteur" data-toggle="tooltip" data-placement="bottom"
                            data-equal-width>
                            <a href="#tab-lender" role="tab" data-toggle="tab">Souscriptions</a>
                        </li>
                    {% endif %}
                </ul>
            </div><!-- /.dashboard-tabs-nav -->
        {% endif %}

        <div class="dashboard-tabs-content tab-content">
            {% if projects.borrower is defined %}
                {% include 'wallet/partials/projects.html.twig' with {'projectsType': 'borrower', 'active': active|default('borrower')} %}
            {% endif %}
            {% if projects.submitter is defined %}
                {% include 'wallet/partials/projects.html.twig' with {'projectsType': 'submitter', 'active': active|default('submitter')} %}
            {% endif %}
            {% if projects.arrangerRun is defined %}
                {% include 'wallet/partials/projects.html.twig' with {'projectsType': 'arrangerRun', 'active': active|default('arrangerRun')} %}
            {% endif %}
            {% if projects.lender is defined %}
                {% include 'wallet/partials/lender.html.twig' with {'active': active|default('lender')} %}
            {% endif %}
        </div><!-- /.dashboard-tabs-content -->
    </section><!-- /.dashboard-tabs -->
{% endblock %}

{% block pageHeadScripts %}
    <style>
        .bubble {
            display: inline-block;
            border-radius: 12px;
            padding: 0 10px;
            line-height: 18px;
            color: #fbf9fb;
            font-weight: 900;
        }

        [data-row-url] {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block pageScripts %}
    <script>
        $(function () {
            $('[data-row-url]').on('click', function (event) {
                if ($(event.target).is('a')) {
                    return
                }

                var $row = $(this)
                window.location.href = $row.attr('data-row-url')
            })
        })
    </script>
{% endblock %}
