//
// Unilend Blocks
// Content areas for editor page

@mixin block-no-top-spacing($device: false) {
  @if $device == false {
    $device: '';
  } @else {
    $device: '-#{$device}';
  }

  &.block-no-top-spacing#{$device},
  .block-no-top-spacing#{$device} & {
    padding-top: 0;
    margin-top: 0;
  }
}

@mixin block-no-bottom-spacing($device: false) {
  @if $device == false {
    $device: '';
  } @else {
    $device: '-#{$device}';
  }

  &.block-no-bottom-spacing#{$device},
  .block-no-bottom-spacing#{$device} & {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

@mixin block {
  box-sizing: border-box;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;

  @include devices('md', 'lg') {
    padding: $width-site-margin-sm;
    margin-top: $width-site-margin-sm;
    margin-bottom: $width-site-margin-sm;
  }

  @include block-no-top-spacing;
  @include block-no-bottom-spacing;

  @include devices('xs') {
    @include block-no-top-spacing('xs');
    @include block-no-bottom-spacing('xs');
  }

  @include devices('sm') {
    @include block-no-top-spacing('sm');
    @include block-no-bottom-spacing('sm');
  }

  @include devices('md') {
    @include block-no-top-spacing('md');
    @include block-no-bottom-spacing('md');
  }

  @include devices('lg') {
    @include block-no-top-spacing('lg');
    @include block-no-bottom-spacing('lg');
  }
}
