//
// Unilend Color Classes
//

// Create preset classes for site color and background-colors
@mixin color-classes($colors-list) {
  @each $name, $color in $colors-list {
    .c-#{$name} {
      color: #{$color};
    }

    // Anchor Links
    a.c-#{$name} {
      &:link,
      &:visited {
        color: #{$color};
      }
    }

    .bg-#{$name} {
      background-color: #{$color};

      // @if ( lightness($color) >= 60% ) {
      //   color: $c-black;
      // } @else {
      //   color: $c-white;
      // }
    }
  }
}

@include color-classes($colors);
@include color-classes($colors-site);