//
// Unilend Fancybox
//

.fancybox {

}

.fancybox-skin {
  padding: 0 !important;
  background-color: transparent;
}

.fancybox-close {
  @include button-close;

  position: absolute;
  top: -($height-btn-sm);
  right: 0;

  @include devices('sm') {
    top: 0;
    right: -($height-btn-sm);
  }

  @include devices('md') {
    top: 0;
    right: -($height-btn-md);
  }

  @include devices('lg') {
    top: 0;
    right: -($height-btn-lg);
  }
}

.fancybox-overlay {
  &.fancybox-loading {
    .fancybox-wrap,
    .fancybox-close {
      visibility: hidden;
    }
  }
}

// Dialog
.fancybox-type-inline {
  background-color: $c-white;

  .dialog-content {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: $fs-base * .8;
    line-height: 1.3em;

    @include devices('sm') {
      padding: 30px;
    }

    @include devices('md', 'lg') {
      padding: 40px;
      font-size: $fs-base * .9;
      line-height: 1.5em;
    }
  }
}