//
// Unilend Nav
// Adapted from Twitter Bootstrap
//

// Base class
// --------------------------------------------------

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  @include clearfix;

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: 5px 15px;
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color: $c-bg2;

      &:hover,
      &:focus {
        color: $c-p1;
        text-decoration: none;
        background-color: transparent;
      }
    }
  }

  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: $c-bg3;
      border-color: transparent;
    }
  }

  // Prevent IE8 from misplacing imgs
  //
  // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
  > li > a > img {
    max-width: none;
  }
  &.nav-equal-tabs {
    > li {
      width: 50%;
    }
  }
}


// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  > li {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;

    @include devices('sm') {
      margin-right: 15px;
    }

    @include devices('md', 'lg') {
      margin-right: 20px;
    }

    // Actual tabs (as links)
    > a {
      @include button;
      @include button-shape-sm;
      @include button-color-default;
      min-width: 0;
      padding-left: 15px;
      padding-right: 15px;

      @include devices('md', 'lg') {
        @include button-shape-md;
        min-width: 0;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        background-color: $c-white;
        border-color: $c-purple;
        color: $c-purple;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// Nav variations
// --------------------------------------------------

// Dropdowns
// -------------------------

// Specific dropdowns
.nav-tabs .dropdown-menu {
  // make dropdown border overlap tab border
  margin-top: -1px;
  // Remove the top rounded corners here since there is a hard edge above the menu
  border-top-radius: 0;
}
