{% extends 'layouts/_page_with_sidebar.html.twig' %}

{% block dashboardContent %}
    <section class="dashboard-panels-content">
        {% include 'reporting/partials/category.html.twig' %}
        {% include 'reporting/partials/region.html.twig' %}
        {% include 'reporting/partials/canal.html.twig' %}
        {% include 'reporting/partials/operation.html.twig' %}
        {% include 'reporting/partials/risk.html.twig' %}
    </section><!-- /.dashboard-tabs -->
{% endblock %}
