<div class="pull-right">
    {% include 'partials/market_bubble.html.twig' with {'market': project.marketSegment.label} %}
</div>
<h1 class="project-single-title">{{ project.borrowerCompany.name }}</h1>
<span style="font-weight: 400; margin-top: 1em; margin-bottom: 1em; font-size: xx-large; color: #787679;">{{ project.title }}</span>