{% extends 'lender_account/_layout_lender.html.twig' %}

{% set page = {
    id: 'user-preter-profile',
    title: 'lender-data-update_details-page-title'|trans,
    classNames: 'user-preter-profile'
} %}

{% form_theme form '/frontbundle/forms/fields.html.twig' %}

{% block dashboardContent %}
    <div class="dashboard-tabs tabs">
        {% include 'lender_profile/partials/tab_navigation.html.twig' with {'isDataUpdate': true} %}
        <div class="dashboard-tabs-content tab-content">
            {{ form_start(form, {
                'multipart': true,
                'attr': {
                    'id': 'form-profile-update-info',
                    'class': 'form-profile form-data-update-info-edit',
                    'data-cacheform data-cacheform-clearonsubmit': 'true',
                    'data-cacheform-ignore-change': 'true',
                    'data-formvalidation data-formvalidation-notificationselem': '#form-data-update-info-notifications'
                }
            }) }}
            <div id="data-update-section" role="tabpanel" class="dashboard-tab-pane tab-pane active ui-toggle-group" data-toggle-parent>
                <div class="data-update-progress" data-progressbar data-progressbar-current="1" data-progressbar-total="8">
                    <div data-progressbar-bar></div>
                </div>

                <div id="form-data-update-info-notifications"></div>

                {% if client.isNaturalPerson %}
                    <article id="panel-data-update-identity" class="panel collapse in">
                        <header class="panel-header">
                            <h3>
                                {% trans %} lender-data-update_identity-section-title {% endtrans %}
                            </h3>
                        </header>
                        <section id="data-update-info-section" role="tablist" aria-multiselectable="true" data-toggle-group>
                            {% include 'lender_data_update/partials/person_identity.html.twig' %}
                        </section><!-- /.ui-toggle-group -->
                    </article><!-- /.panel -->
                {% endif %}

                {% if false == client.isNaturalPerson %}
                    <article id="panel-data-update-legal-entity-identity" class="panel collapse in">
                        <header class="panel-header">
                            <h3>{% trans %} lender-data-update_legal-entity-identity-section-title {% endtrans %}</h3>
                        </header>
                        <section id="data-update-legal-entity-identity-section" role="tablist" aria-multiselectable="true" data-toggle-group>
                            {% include 'lender_data_update/partials/legal_entity_identity.html.twig' %}
                        </section><!-- /.ui-toggle-group -->
                    </article><!-- /.panel -->
                {% endif %}

                <article id="panel-data-update-id-doc" class="panel collapse">
                    <header class="panel-header">
                        <h3>{% trans %} lender-data-update_id-doc-section-title {% endtrans %}</h3>
                    </header>
                    <section id="data-update-id-doc-section" role="tablist" aria-multiselectable="true" data-toggle-group>
                        {% include 'lender_data_update/partials/person_id_doc.html.twig' %}
                    </section><!-- /.ui-toggle-group -->
                </article><!-- /.panel -->

                {% if client.isNaturalPerson %}
                    <article id="panel-data-update-telephone" class="panel collapse">
                        <header class="panel-header">
                            <h3>{% trans %} lender-data-update_telephone-section-title {% endtrans %}</h3>
                        </header>
                        <section id="data-update-telephone-section" role="tablist" aria-multiselectable="true" data-toggle-group>
                            {% include 'lender_data_update/partials/person_telephone.html.twig' %}
                        </section><!-- /.ui-toggle-group -->
                    </article><!-- /.panel -->
                {% endif %}

                <article id="panel-data-update-main-address" class="panel collapse">
                    <header class="panel-header">
                        <h3>
                            {% if client.isNaturalPerson %}
                                {% trans %} lender-data-update_main-address-section-title {% endtrans %}
                            {% else %}
                                {% trans with {'%company_name%': company.name} %} lender-data-update_legal-entity-main-address-section-title {% endtrans %}
                            {% endif %}
                        </h3>
                    </header>
                    <section id="data-update-main-address-section" role="tablist" aria-multiselectable="true" data-toggle-group>
                        {% if client.isNaturalPerson %}
                            {% include 'lender_data_update/partials/person_main_address.html.twig' %}
                        {% else %}
                            {% include 'lender_data_update/partials/legal_entity_main_address.html.twig' %}
                        {% endif %}
                    </section><!-- /.ui-toggle-group -->
                </article><!-- /.panel -->

                {% if false == client.isNaturalPerson %}
                    <article id="panel-data-update-kbis-doc" class="panel collapse">
                        <header class="panel-header">
                            <h3>{% trans with {'%company_name%': company.name} %} lender-data-update_kbis-doc-section-title {% endtrans %}</h3>
                        </header>
                        <section id="data-update-kbis-doc-section" role="tablist" aria-multiselectable="true" data-toggle-group>
                            {% include 'lender_data_update/partials/kbis_doc.html.twig' %}
                        </section><!-- /.ui-toggle-group -->
                    </article><!-- /.panel -->
                {% endif %}

                <article id="panel-data-update-bank-account" class="panel collapse">
                    <header class="panel-header">
                        <h3>
                            {% if client.isNaturalPerson %}
                                {% trans %} lender-data-update_bank-account-section-title {% endtrans %}
                            {% else %}
                                {% trans with {'%company_name%': company.name} %} lender-data-update_legal-entity-bank-account-section-title {% endtrans %}
                            {% endif %}
                        </h3>
                    </header>
                    <section id="data-update-bank-account-section" role="tablist" aria-multiselectable="true" data-toggle-group>
                        {% include 'lender_data_update/partials/bank_account.html.twig' %}
                    </section><!-- /.ui-toggle-group -->
                </article><!-- /.panel -->

                <article id="panel-data-update-funds-origin" class="panel collapse">
                    <header class="panel-header">
                        <h3>
                            {% if client.isNaturalPerson %}
                                {% trans %} lender-data-update_funds-origin-section-title {% endtrans %}
                            {% else %}
                                {% trans with {'%company_name%': company.name} %} lender-data-update_legal-entity-funds-origin-section-title {% endtrans %}
                            {% endif %}
                        </h3>
                    </header>
                    <section id="data-update-funds-origin-section" role="tablist" aria-multiselectable="true" data-toggle-group>
                        {% include 'lender_data_update/partials/funds_origin.html.twig' %}
                    </section><!-- /.ui-toggle-group -->
                </article><!-- /.panel -->

                {% if client.isNaturalPerson %}
                    <article id="panel-data-update-us-person" class="panel collapse">
                        <section id="data-update-us-person-section" role="tablist" aria-multiselectable="true" data-toggle-group>
                            {% include 'lender_data_update/partials/us_person.html.twig' %}
                        </section><!-- /.ui-toggle-group -->
                    </article><!-- /.panel -->
                {% endif %}

                {% if false == client.isNaturalPerson %}
                    <article id="panel-data-update-legal-representative" class="panel collapse">
                        <header class="panel-header">
                            <h3>{% trans with {'%company_name%': company.name} %} lender-data-update_legal-representative-section-title {% endtrans %}</h3>
                        </header>
                        <section id="data-update-legal-representative-section" role="tablist" aria-multiselectable="true" data-toggle-group>
                            {% include 'lender_data_update/partials/legal_representative.html.twig' %}
                        </section><!-- /.ui-toggle-group -->
                    </article><!-- /.panel -->
                {% endif %}

                <p class="pull-right">
                    <a href="{{ path('lender_dashboard') }}">{% trans %} lender-data-update_finish-later {% endtrans %}</a>
                </p>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
