{% extends 'lender_account/_layout_lender.html.twig' %}

{% set page = {
    id: 'user-preter-profile',
    title: 'lender-data-update_start-page-title'|trans,
    classNames: 'user-preter-profile'
} %}

{% block dashboardContent %}
    <div class="dashboard-tabs tabs">
        {% include 'lender_profile/partials/tab_navigation.html.twig' with {'isDataUpdate': true} %}
        <div class="dashboard-tabs-content tab-content">
            <div id="profile-info" role="tabpanel" class="dashboard-tab-pane tab-pane active">
                <article id="panel-data-update-start" class="panel">
                    <div class="panel-content">
                        {% trans with {'%firstName%': client.getPrenom()} %} lender-data-update_natural-person-start-page-instruction {% endtrans %}
                        <br><br>
                        <a href="{{ path('lender_data_update_details') }}" class="btn-primary col-lg-8 push-lg-2 col-md-7 push-md-2 col-sm-6 push-sm-1 col-xs-4">
                            {% trans %} natural-person-lender-data-update_start-button {% endtrans %}
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
