<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td class="alert">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="left" valign="top">
                        <img src="[EMV DYN]staticUrl[EMV /DYN]/images/default/emails/unilend-alert.png" width="36" height="36" alt="Important">
                    </td>
                    <td class="right" valign="top">
                        <p>
                            I have removed the currency character from the number formatting function in the JS Dictionary library module. If you need the currency character, place it before or after the element.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>