</td>
</tr>
<!-- END CONTENT -->
<!-- BEGIN FOOTER -->
<tr>
    <td id="footer" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td class="left" valign="top">
                    <a href="[EMV DYN]frontUrl[EMV /DYN]/partenaire/depot">Déposer un dossier</a><br />
                    <a href="[EMV DYN]frontUrl[EMV /DYN]/partenaire/emprunteurs">Gérez vos dossiers</a><br />
                    <a href="[EMV DYN]frontUrl[EMV /DYN]/securite">Conseils sécurité</a><br />
                    <a href="[EMV DYN]frontUrl[EMV /DYN]/partenaire/contact">Nous contacter</a>
                </td>
                <td class="right" valign="top">
                    <a href="[EMV DYN]facebookLink[EMV /DYN]">
                        <img src="[EMV DYN]staticUrl[EMV /DYN]/images/emails/facebook.png" alt="Facebook" width="36" height="36">
                    </a>
                    <a href="[EMV DYN]twitterLink[EMV /DYN]">
                        <img src="[EMV DYN]staticUrl[EMV /DYN]/images/emails/twitter.png" alt="Twitter" width="36" height="36">
                    </a>
                    <p>
                        <span class="underline">Nous contacter</span>
                        <br>
                        6 rue du Général Clergerie<br>
                        75116 Paris - France
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td id="under" align="center">
        <p class="c-t3">
            © Unilend [EMV DYN]year[EMV /DYN]. Tous droits réservés
        </p>
    </td>
</tr>
<!-- END FOOTER -->
</table>
<!-- END TEMPLATE -->
</td>
</tr>
</table>
</body>
</html>