</td>
</tr>
<!-- END CONTENT -->
<!-- BEGIN FOOTER -->
<tr>
    <td id="footer" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td class="left" valign="top">
                    <a href="https://www.unilend.fr/securite">Conseils sécurité</a><br />
                    <a href="http://unilend.desk.com/?b_id=13135">Questions fréquentes</a><br />
                    <a href="https://www.unilend.fr/contact">Nous contacter</a><br />
                    <a href="https://blog.unilend.fr">Blog</a>
                </td>
                <td class="right" valign="top">
                    <a href="https://www.facebook.com/Unilend">
                        <img src="[EMV DYN]staticUrl[EMV /DYN]/images/default/emails/unilend-footer-facebook.png" alt="Facebook" width="36" height="36">
                    </a>
                    <a href="https://twitter.com/unilend_fr">
                        <img src="[EMV DYN]staticUrl[EMV /DYN]/images/default/emails/unilend-footer-twitter.png" alt="Twitter" width="36" height="36">
                    </a>
                    <p>
                        <span class="underline">Nous contacter</span>
                        <br>
                        6 rue du Général Clergerie<br>
                        75116 Paris - France
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td id="under" align="center">
        <p class="c-t3">
            © Unilend 2017. Tous droits réservés
        </p>
    </td>
</tr>
<!-- END FOOTER -->
</table>
<!-- END TEMPLATE -->
</td>
</tr>
</table>
</body>
</html>