<table id="body" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center" valign="top">
            <!-- BEGIN TEMPLATE -->
            <table id="container" border="0" cellpadding="0" cellspacing="0" width="600">
                <!-- BEGIN HEADER -->
                <tr>
                    <td id="header-full" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td id="logo" valign="middle">
                                    <img src="[EMV DYN]staticUrl[EMV /DYN]/images/default/emails/unilend-logo-full.png" alt="Unilend" width="200" height="40">
                                </td>
                                <td id="header-image" valign="top">
                                    <img src="[EMV DYN]staticUrl[EMV /DYN]/images/default/emails/unilend-header-img.jpg" alt="Unilend" width="300" height="142">
                                </td>
                            </tr>
                            <tr>
                                <td id="title" valign="top" colspan="2">
                                    <h2>[SUBJECT]</h2>
                                    <!--[if !mso]><!-->
                                    <hr>
                                    <!--<![endif]-->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- END HEADER -->
                <!-- BEGIN CONTENT -->
                <tr>
                    <td id="content">