<table id="body" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center" valign="top">
            <!-- BEGIN TEMPLATE -->
            <table id="container" border="0" cellpadding="0" cellspacing="0" width="600">
                <!-- BEGIN HEADER -->
                <tr>
                    <td id="header" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td id="logo" valign="top">
                                    <img src="[EMV DYN]staticUrl[EMV /DYN]/images/default/emails/unilend-logo-minimal.png" alt="Unilend" width="36" height="36">
                                </td>
                                <td>
                                    <h2>[SUBJECT]</h2>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- END HEADER -->
                <!-- BEGIN CONTENT -->
                <tr>
                    <td id="content">