.table-projects {
    table-layout: fixed;

    tr {
        &.odd {
            background-color: #fbf9fb;
        }
    }

    td, th {
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: top;
    }
    th {
        font-size: 10px;
    }
    td {
        font-size: 12px;
    }
    .last-name {
        text-transform: uppercase;
    }
}

.table-actions {
    min-width: 100px;
}
