{# Homepage Reviews #}

{# Placeholder Data #}
{#% set reviewers = [{
  name: 'BFM Business',
  quote: 'Lorem ipsum dolor sit amet.',
  image: '<img src="' ~ siteurlmedia('reviewers/logo-bfm-100x37.png') ~ '" alt="">'
},{
  name: 'Capital',
  quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, augue a sagittis aliquam, enim diam lacinia orci!',
  image: '<img src="' ~ siteurlmedia('reviewers/logo-capital-94x37.png') ~ '" alt="">'
},{
  name: 'Le Revenu',
  quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, augue a sagittis aliquam.',
  image: '<img src="' ~ siteurlmedia('reviewers/logo-lerevenu-148x36.png') ~ '" alt="">'
},{
  name: 'Le Nouvel Economiste',
  quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
  image: '<img src="' ~ siteurlmedia('reviewers/logo-lne-152x30.png') ~ '" alt="">'
},{
  name: 'Ouest France',
  quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, augue a sagittis aliquam, enim diam lacinia orci!',
  image: '<img src="' ~ siteurlmedia('reviewers/logo-ouest-112x40.png') ~ '" alt="">'
},{
    name: 'Le Figaro',
    quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
    image: '<img src="' ~ siteurlmedia('reviewers/svg/lefigaro.svg') ~ '" alt="Le Figaro" width="166" height="33"/>'
  },{
    name: "L'Express",
    quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, augue a sagittis aliquam, enim diam lacinia orci!',
    image: '<img src="' ~ siteurlmedia('reviewers/svg/lexpress.svg') ~ '" alt="L\'Express" width="155" height="33"/>'
  },{
    name: 'RTL',
    quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
    image: '<img src="' ~ siteurlmedia('reviewers/svg/rtl.svg') ~ '" alt="RTL" width="46" height="33"/>'
  },{
    name: 'Liberation',
    quote: 'Lorem ipsum dolor sit amet',
    image: '<img src="' ~ siteurlmedia('reviewers/svg/liberation.svg') ~ '" alt="Liberation" width="110" height="40"/>'
  },{
    name: 'La Tribune',
    quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, augue a sagittis aliquam!',
    image: '<img src="' ~ siteurlmedia('reviewers/svg/latribune.svg') ~ '" alt="La Tribune" width="73" height="33"/>'
  }] %#}
{% set reviewers = [
{
name: 'BFM Business',
quote: 'Lorem ipsum dolor sit amet.',
image: '<img src="' ~ siteurlmedia('reviewers/svg/bfmbusiness.svg') ~ '" alt="BFM Business" width="80" height="33"/>'
},{
name: 'Ouest France',
quote: 'Lorem ipsum dolor sit amet.',
image: '<img src="' ~ siteurlmedia('reviewers/svg/ouestfrance.svg') ~ '" alt="Ouest France" width="98" height="33"/>'
},{
name: 'Capital',
quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, augue a sagittis aliquam, enim diam lacinia orci!',
image: '<img src="' ~ siteurlmedia('reviewers/svg/capital.svg') ~ '" alt="Capital" width="94" height="37"/>'
},{
name: 'Le Monde',
quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
image: '<img src="' ~ siteurlmedia('reviewers/svg/lemonde.svg') ~ '" alt="Le Monde" width="143" height="32"/>'
},{
name: 'Atlantico',
quote: 'Lorem ipsum dolor sit amet',
image: '<img src="' ~ siteurlmedia('reviewers/svg/atlantico.svg') ~ '" alt="Atlantico" width="127" height="32"/>'
},{
name: 'Le Parisien',
quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, augue a sagittis aliquam.',
image: '<img src="' ~ siteurlmedia('reviewers/svg/leparisien.svg') ~ '" alt="Le Parisien" width="120" height="33"/>'
},{
name: 'Challenges',
quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, augue a sagittis aliquam, enim diam lacinia orci!',
image: '<img src="' ~ siteurlmedia('reviewers/svg/challenges.svg') ~ '" alt="Challenges" width="107" height="33"/>'
}
] %}

<section class="page-section reviews">
  <div class="site-wrap">
    <div class="swiper-container" data-swiper-crossfade="true">
      <div class="swiper-wrapper">
        {% for i, reviewer in reviewers %}
          <div class="swiper-slide {% if i == 0 %}active{% endif %}">
            <div class="reviewer">{{ reviewer.image }}</div>
            <div class="quote">
              <p>&quot;{{ reviewer.quote }}&quot;</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <ul class="reviewers swiper-custom-pagination">
        {% for i, reviewer in reviewers %}
          <li{% if i == 0 %} class="active"{% endif %}><a href="javascript:;">{{ reviewer.image }}</a></li>
        {% endfor %}
      </ul><!-- /.reviewers -->
    </div><!-- /.swiper-container -->
  </div><!-- /.site-wrap -->
</section><!-- /.reviews -->
