<fieldset class="panel">
    <h3 class="h3">{% trans %} lender_subscription_section-name-id-documents {% endtrans %}</h3>

    <div class="message-info">
        <p>{% trans %} lender-subscription_documents-accepted-attachment-formats {% endtrans %}</p>
    </div><!-- /.message-info -->

    <div class="row">
        <div class="form-field">
            <label>
                {% trans %} lender-subscription_documents-person-id-attachments-section-title {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>

            <div class="form-field">
                <div class="custom-input-file" id="form-lender-step-2-person-file-identity-cni-1"
                     data-formvalidation-input
                     data-formvalidation-required='input[type="file"][name="id_recto"]'
                     data-fileattach
                     data-fileattach-inputname="id_recto"
                     data-fileattach-maxfiles="1"
                     data-fileattach-emptyfilelabel="{% trans %} lender-subscription_documents-person-id-attachment-recto-placeholder {% endtrans %}">
                </div><!-- /.ui-fileattach -->
            </div><!-- /.form-field -->

            <div class="form-field">
                <div class="custom-input-file" id="form-lender-step-2-person-file-identity-cni-2"
                     data-fileattach
                     data-fileattach-inputname="id_verso"
                     data-fileattach-maxfiles="1"
                     data-fileattach-emptyfilelabel="{% trans %} lender-subscription_documents-person-id-attachment-verso-placeholder {% endtrans %}">
                </div><!-- /.ui-fileattach -->
            </div><!-- /.form-field -->

            <div class="field-help">
                <p>{% trans %} lender-subscription_documents-person-id-attachments-section-info {% endtrans %}</p>
            </div>
        </div><!-- /.form-field -->
    </div>

    <div class="row">
        <div class="form-field">
            <label>
                {% trans %} lender-subscription_documents-person-housing-certificate-section-title {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>

            <div class="custom-input-file" id="form-lender-step-2-person-file-domicile"
                 data-formvalidation-input
                 data-formvalidation-required='input[type="file"][name="housing-certificate"]'
                 data-fileattach
                 data-fileattach-inputname="housing-certificate"
                 data-fileattach-maxfiles="1">
            </div><!-- /.ui-fileattach -->

            <ul class="ui-formvalidation-messages"></ul>

            <div class="field-help">
                <p>{% trans %} lender-subscription_documents-person-housing-certificate-section-info {% endtrans %}</p>
            </div>
        </div><!-- /.form-field -->
    </div>

    <div class="row">
        <div class="form-field form-field-single-checkbox">
            <label>
                {{ form_widget(form.housedByThirdPerson, {
                    'id' : 'housed-by-third-person'
                }) }}
                {{ form_errors(form.housedByThirdPerson) }}
                <span class="label">{% trans %} lender-subscription_documents-housed-by-third-person {% endtrans %}</span>
            </label>
        </div>
    </div>

    {# Show if housed by third person is checked #}
    <div id="upload-housed-by-third-person" class="row collapse">
        <div class="form-field">
            <label>
                {% trans %} lender-subscription_documents-housed-by-third-person-declaration {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>

            <div class="custom-input-file" id="form-lender-subscription-info-file-housed-by-third-person-declaration"
                 data-formvalidation-input
                 data-formvalidation-required='input[type="file"][name="housed-by-third-person-declaration"]'
                 data-fileattach
                 data-fileattach-inputname="housed-by-third-person-declaration"
                 data-fileattach-maxfiles="1">
            </div><!-- /.ui-fileattach -->
        </div><!-- /.form-field -->

        <div class="form-field">
            <label>
                {% trans %} lender-subscription_documents-id-third-person-housing {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>

            <div class="custom-input-file" id="form-lender-subscription-info-file-id-third-person-housing"
                 data-formvalidation-input
                 data-formvalidation-required='input[type="file"][name="id-third-person-housing"]'
                 data-fileattach
                 data-fileattach-inputname="id-third-person-housing"
                 data-fileattach-maxfiles="1">
            </div><!-- /.ui-fileattach -->
        </div><!-- /.form-field -->
    </div><!-- /#upload-housed-by-third-person -->

    <div id="lender-subscription-tax-certificate" class="row collapse {% if isLivingAbroad %} in {% endif %}">
        <div class="form-field">
            <label>
                {% trans %} lender-profile_information-tab-fiscal-address-tax-certificate-label {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>

            <div class="custom-input-file" id="form-lender-subscription-info-file-tax-certificate"
                 data-formvalidation-input
                 data-formvalidation-required='input[type="true"][name="tax-certificate"]'
                 data-fileattach
                 data-fileattach-inputname="tax-certificate"
                 data-fileattach-maxfiles="1">

            </div><!-- /.ui-fileattach -->
        </div><!-- /.form-field -->
    </div>

    <div class="row">
        <div class="form-field">
            <label for="form-preter-fichier-identité">
                {% trans %} lender-subscription_documents-rib {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>

            <div class="custom-input-file" id="form-preter-file-file-rib"
                 data-formvalidation-input
                 data-formvalidation-required='input[type="file"][name="rib"]'
                 data-fileattach
                 data-fileattach-inputname="rib"
                 data-fileattach-maxfiles="1">

            </div><!-- /.ui-fileattach -->

            <ul class="ui-formvalidation-messages"></ul>

            <div class="field-help">
                <p>{% trans %} lender-subscription_documents-rib-info {% endtrans %}</p>
            </div>
        </div><!-- /.form-field -->
    </div>

</fieldset>