{% if client.isNaturalPerson %}
    {% set nextPanel = '#panel-data-update-us-person' %}
{% else %}
    {% set nextPanel = '#panel-data-update-legal-representative' %}
{% endif %}
<section id="data-update-funds-origin-view" role="tabpanel" class="lender-data-update-view collapse in">
    <dl class="list-2col">
        <dt>{% trans %} lender-profile_fiscal-tab-bank-info-section-funds-origin-label {% endtrans %}</dt>
        <dd id="data-update-funds-origin-output">{% if fundsOrigins[client.fundsOrigin] is defined %}{{ fundsOrigins[client.fundsOrigin] }}{% else %}-{% endif %}</dd>
    </dl>

    {% trans %} lender-data-update_funds-origin-description {% endtrans %}

    <div class="btn-controls">
        <button data-target="#data-update-funds-origin-edit" role="button" data-toggle="collapse" data-parent="#data-update-funds-origin-section" class="btn-default"
                aria-controls="#data-update-funds-origin-edit" aria-expanded="false" type="button">
            <span class="icon fa-pencil-u32"></span>
            <span class="label">{% trans %} lender-data-update_modify-button {% endtrans %}</span>
        </button>
        <button data-target="{{ nextPanel }}" role="button" data-toggle="collapse" data-parent="#data-update-section" class="btn-primary data-update-continue-btn"
                aria-controls="{{ nextPanel }}" aria-expanded="false" type="button">
            <span class="label">{% trans %} lender-data-update_continue-button {% endtrans %}</span>
        </button>
    </div>
</section>

<section id="data-update-funds-origin-edit" role="tabpanel" class="lender-data-update-edit collapse" data-formvalidation
         data-formvalidation-notificationselem="#data-update-funds-origin-edit-notifications">
    <div id="data-update-funds-origin-edit-notifications"></div>
    <div class="row">
        <div class="form-field {% if form.fundsOrigin.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="funds-origin">{% trans %} lender-profile_fiscal-tab-bank-info-section-funds-origin-label {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            {{ form_widget(form.fundsOrigin.fundsOrigin, {
                'id': 'funds-origin',
                'attr': {
                    'class': 'input-field',
                    'data-formvalidation-input data-formvalidation-required': 'true',
                    'data-impacted-element-id': 'data-update-funds-origin-output'
                }
            }) }}
        </div><!-- /.form-field -->
    </div><!-- /.row -->

    <div class="btn-controls">
        <button class="btn-primary lender-data-update-save-btn" role="button" data-parent="#data-update-funds-origin-section"
                aria-controls="#data-update-funds-origin-view" aria-expanded="false" type="button">
            {% trans %} lender-data-update_save-button {% endtrans %}
        </button>
        <button class="btn-default" role="button" data-toggle="collapse" data-target="#data-update-funds-origin-view" data-parent="#data-update-funds-origin-section"
                aria-controls="#data-update-funds-origin-view" aria-expanded="false"
                type="reset">
            {% trans %} lender-data-update_cancel-button {% endtrans %}
        </button>
    </div><!-- /.btn-controls -->
</section><!-- /#profile-fiscalite-bank-edit -->
