<section id="data-update-us-person-edit" role="tabpanel" class="lender-data-update-edit collapse in">
    <div class="row">
        <div class="form-field form-field-single-checkbox">
            <label>
                {{ form_widget(form.noUsPerson, {
                    'id' : 'form-profile-no-us-person'
                }) }}
                <span class="label">{% trans %} common_no-us-person-declaration {% endtrans %}</span>
            </label>
        </div><!-- /.form-field -->
    </div><!-- /.row -->

    <div class="btn-controls">
        <button class="btn-primary" role="button" type="submit">{% trans %} lender-data-update_confirm-button {% endtrans %}</button>
    </div><!-- /.btn-controls -->
</section>
