{# Error page #}
{% extends '@Twig/Exception/error.html.twig' %}

{% block errorPageTitle %}
    Fonctionnalité à venir
{% endblock %}

{% block errorTitle %}
    {% trans %} Bientôt en ligne {% endtrans %}
{% endblock %}

{% block errorDetails %}
    Presque prêt
{% endblock %}

{% block pageAsideBody %}
    <div class="page-aside-body hide-xs hide-sm c-p1" style="text-align: center">
        {{ svgimage('#category-3', 'Error', 500, 500)|raw }}
    </div><!-- /.page-aside-body -->
{% endblock %}
