<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="mailjet.event.listener" class="Unilend\Bundle\MessagingBundle\Event\MailjetEventListener">
            <tag name="kernel.event_listener" event="knp_mailjet.open" method="onOpenEvent"/>
            <tag name="kernel.event_listener" event="knp_mailjet.blocked" method="onBlockedEvent"/>
            <tag name="kernel.event_listener" event="knp_mailjet.bounce" method="onBounceEvent"/>
            <tag name="kernel.event_listener" event="knp_mailjet.click" method="onClickEvent"/>
            <tag name="kernel.event_listener" event="knp_mailjet.spam" method="onSpamEvent"/>
            <tag name="kernel.event_listener" event="knp_mailjet.typofix" method="onTypofixEvent"/>
            <tag name="kernel.event_listener" event="knp_mailjet.unsub" method="onUnsubEvent"/>
            <argument type="service" id="unilend.service.entity_manager"/>
        </service>
    </services>
</container>
