//
// Unilend File Attach
//

// The main element
.ui-fileattach {
  @include clearfix;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;

  box-sizing: border-box;
  color: $c-t2;
  font-family: $ff-input;

  // Single file attach
  &.ui-fileattach-single {
    background-color: $c-bg3;
    border-radius: 4px;

    .ui-fileattach-item {
      border-bottom: 0;
    }

    .ui-fileattach-add-btn {
      @include button;
      @include button-shape-xs;
      @include button-color-primary;
      clear: both;
      width: 100%;
      margin: 0;
      border-radius: 0;

      @include devices('sm', 'md', 'lg') {
        width: 120px;

        position: absolute;
        top: 0;
        right: 0;
        // bottom: 0;
      }
    }
  }

  // Multi file attach
  &.ui-fileattach-multi {
    .ui-fileattach-add-btn {
      @include button;
      @include button-shape-sq-md;
      @include button-color-default;

      margin-top: 10px;
      border-radius: 4px;
      clear: both;

      &:before {
        content: $fa-plus-u;
        display: inline-block;
        font-family: $ff-icon;
        font-size: 26px;
        color: $c-t3;
      }

      .label {
        @include hide-accessible;
      }
    }

    .ui-fileattach-error {
      padding-top: 20px;
    }

    .ui-fileattach-item {
      &:first-child {
        .ui-fileattach-add-btn {
          margin-top: 0;
        }
      }
    }

    @include devices('sm', 'md', 'lg') {
      .ui-file-attach-item[data-fileattach-item-type]:last-child {
        border-bottom: 0 !important;
      }
    }
  }
}

.ui-fileattach-item {
  display: block;
  min-height: $height-btn-xs; // Same height as buttons
  margin: 0 auto;
  position: relative;

  cursor: pointer;
  font-size: 16px;
  text-align: left;
  vertical-align: top;

  &:hover {
    color: $c-t1;
  }

  .ui-fileattach-filename {
    background-color: transparent;
    vertical-align: top;
  }

  .ui-fileattach-add-btn {
    clear: both;
  }

  input {
    @include hide-accessible;
  }

  // An attached file with a valid file
  &[data-fileattach-item-type] {
    display: block;
    // margin-left: 5px;
    // margin-right: 5px;
    // background-color: $c-white;
    // border-top: solid 1px $c-bg2;
    // border-left: solid 1px $c-bg2;
    // border-right: solid 2px $c-bg1;
    // border-bottom: solid 2px $c-bg1;
    // border-radius: 3px;
    background-color: $c-bg3;
    text-align: left;
    margin-top: 10px;

    .ui-fileattach-filename {
      padding-left: 2em;
    }

    &:before {
      content: $fa-file-o;
      display: block;
      width: 1em;
      padding: 5px;

      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;

      color: $c-t3;
      font-family: $ff-icon;
      font-size: 18px;
      line-height: 1em;
      text-align: center;

      @include devices('sm', 'md', 'lg' ) {
        line-height: $height-btn-xs - 10px;
        vertical-align: middle;
      }
    }

    // Hide the add button
    .ui-fileattach-add-btn {
      display: none;
    }

    // Show the remove button
    .ui-fileattach-remove-btn {
      display: block;
      vertical-align: middle;

      @include devices('sm', 'md', 'lg') {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
      }
    }

    &:hover {
      &:before {
        content: $fa-edit-u;
        color: $c-p1;
      }
    }

    &:first-child {
      margin-top: 0;
    }

    @include devices('sm', 'md', 'lg') {
      margin-top: 0;
      border-bottom: solid 2px $c-bg1;
    }
  }

  // Image
  &[data-fileattach-item-type="png"],
  &[data-fileattach-item-type="jpg"],
  &[data-fileattach-item-type="jpeg"],
  &[data-fileattach-item-type="gif"] {
    &:before {
      content: $fa-file-image-o;
    }
  }

  // PDF
  &[data-fileattach-item-type="pdf"] {
    &:before {
      content: $fa-file-pdf-o;
    }
  }

  // TXT
  &[data-fileattach-item-type="txt"],
  &[data-fileattach-item-type="rtf"] {
    &:before {
      content: $fa-file-text-o;
    }
  }

  // DOC
  &[data-fileattach-item-type="doc"],
  &[data-fileattach-item-type="docx"] {
    &:before {
      content: $fa-file-word-o;
    }
  }

  // ZIP
  &[data-fileattach-item-type="zip"],
  &[data-fileattach-item-type="rar"],
  &[data-fileattach-item-type="7z"],
  &[data-fileattach-item-type="tar"],
  &[data-fileattach-item-type="gz"] {
    &:before {
      content: $fa-file-zip-o;
    }
  }
}

.ui-fileattach-filename {
  display: block;
  padding: 5px 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  line-height: 1.3em;
  vertical-align: middle;

  @include devices('sm', 'md', 'lg') {
    padding-right: 130px;
    line-height: $height-btn-xs - 10px;
    vertical-align: middle;

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ui-fileattach-errored & {
    padding-left: 5px;
    overflow: visible;
    white-space: normal;

    position: relative;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
  }
}

.ui-fileattach-remove-btn {
  @include button;
  @include button-shape-xs;
  @include button-color-default;
  display: none;
  width: 100%;
  margin: 0;
  border-radius: 0;

  @include devices('sm', 'md', 'lg') {
    width: 120px;
  }

  // padding: 5px;
  // vertical-align: top;

  // @include link-states(
  //   $link: (
  //     color: $c-t2,
  //     text-decoration: none
  //   ),
  //   $hover: (
  //     color: $c-error,
  //     text-decoration: none
  //   ),
  //   $active: (
  //     color: $c-t1,
  //     text-decoration: none
  //   )
  // );

  // &:before {
  //   content: '\f057';
  //   font-family: $ff-icon;
  //   font-size: 18px;
  // }
}

.ui-fileattach-error {
  clear: both;
  padding: 10px;
  position: relative;
  line-height: 1.3em;
  text-align: center;

  &:before {
    content: $fa-error-u;
    display: block;
    box-sizing: border-box;

    color: $c-error;
    font-family: $ff-icon;
    font-size: 18px;
    text-align: center;
  }

  @include devices('sm', 'md', 'lg') {
    clear: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2em;
    padding-right: 5px;
    text-align: left;

    &:before {
      width: 2em;
      padding: 5px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
    }
  }
}

.ui-fileattach-error-title {
  color: $c-error;
}

.ui-fileattach-error-message {
  // color: $c-error;
}
