//
// Unilend MapView
// Uses Leaflet/Mapbox
//

// Map Container
.leaflet-container {
  background-color: transparent;

  a {
    text-decoration: none;
  }
}

// Map icons
.leaflet-div-icon {
  background-color: transparent;
  border-width: 0;
}

// MapView marker popup
.mapview-marker-popup {
  font-family: $ff-base;
  font-size: $fs-base;
  text-align: center;
}

.mapview-marker-popup-title {
  margin-bottom: 5px;
  color: $c-t1;
  font-size: $fs-base * .9;
  font-weight: bold;
  line-height: 1.3em;
}

.mapview-marker-popup-content {
  color: $c-t3;
  font-style: italic;
  font-size: $fs-base * .8;
  line-height: 1.3em;
}

// Mapview marker icons
// Base marker
@mixin mapview-marker {
  box-sizing: border-box;
  display: inline-block;
  width: 30px;
  height: 40px;
  padding: 0;
  margin: -40px 0 0 -15px;
  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  border-width: 0;
  line-height: 30px;
  font-family: $ff-icon;
  text-align: center;
  vertical-align: top;
  transform-origin: bottom center;
}

// Marker with icon (SVG background)
@mixin mapview-marker-icon($bg-color: $c-p1, $color: $c-white, $style: 'hollow') {
  @include mapview-marker;

  // Diff icon styles
  // -- Full
  @if $style == 'full' {
    background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2220%22%20height%3D%2210%22%20viewBox%3D%220%200%2020%2010%22%3E%3Cpath%20fill%3D%22%23fadfe4%22%20d%3D%22M0%2010%20L%2010%200%20L%2020%2010%20L%200%2010%22%20%2F%3E%3C%2Fsvg%3E');
    color: $color;

  // -- Hollow has hole
  } @else if $style == 'hollow' {
    background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%2230%22%20height%3D%2240%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2030%2040%22%20preserveAspectRatio%3D%22xMidYMid%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A1.41421%3B%22%3E%3Cpath%20d%3D%22M14.957%2C39.97c-0.88%2C-0.613%20-14.957%2C-10.644%20-14.957%2C-24.97l0%2C-0.097c0.053%2C-8.234%206.754%2C-14.903%2015%2C-14.903c8.246%2C0%2014.947%2C6.669%2015%2C14.903l0%2C0.097c0%2C14.788%20-15%2C25%20-15%2C25l-0.043%2C-0.03ZM15%2C4.279c5.85%2C0%2010.599%2C4.75%2010.599%2C10.599c0%2C5.85%20-4.749%2C10.599%20-10.599%2C10.599c-5.85%2C0%20-10.599%2C-4.749%20-10.599%2C-10.599c0%2C-5.849%204.749%2C-10.599%2010.599%2C-10.599Z%22%20style%3D%22fill%3A%239f9d9f%3B%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    color: $bg-color;

  // -- Circle
  } @else if $style == 'circle' {
    background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%2230%22%20height%3D%2240%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2030%2040%22%20preserveAspectRatio%3D%22xMidYMid%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A1.41421%3B%22%3E%3Cpath%20d%3D%22M14.957%2C39.97c-0.88%2C-0.613%20-14.957%2C-10.644%20-14.957%2C-24.97l0%2C-0.097c0.053%2C-8.234%206.754%2C-14.903%2015%2C-14.903c8.246%2C0%2014.947%2C6.669%2015%2C14.903l0%2C0.097c0%2C14.788%20-15%2C25%20-15%2C25l-0.043%2C-0.03ZM15%2C4.279c5.85%2C0%2010.599%2C4.75%2010.599%2C10.599c0%2C5.85%20-4.749%2C10.599%20-10.599%2C10.599c-5.85%2C0%20-10.599%2C-4.749%20-10.599%2C-10.599c0%2C-5.849%204.749%2C-10.599%2010.599%2C-10.599Z%22%20style%3D%22fill%3A%239f9d9f%3B%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    color: $color;

    // Adjust to put circle in middle
    margin: -15px 0 0 -15px;
  }
}

.mapview-marker-icon {
  @include mapview-marker;
}

.mapview-marker-icon-all,
.mapview-marker-icon-active {
  @include mapview-marker-icon($bg-color: $c-p1, $color: $c-p1, $style: 'hollow');
}

.mapview-marker-icon-expired {
  @include mapview-marker-icon($bg-color: $c-t3, $color: $c-t1, $style: 'hollow');
}

// Extra icons
.mapview-marker-icon-accepted {
  &:before {
    content: $fa-check-u16;
    font-size: 16px;
    line-height: 26px;
  }
}

.mapview-marker-icon-inprogress {
  &:before {
    content: $fa-clock-u;
    font-size: 24px;
  }
}

// Mapview marker group
@mixin mapview-marker-group($bg-color: $c-p1, $color: $c-white) {
  box-sizing: border-box;
  display: block;
  min-width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  background-color: $bg-color;
  border: solid 3px fade-out($bg-color, .5);
  border-radius: 30px;
  border-top-left-radius: 0;
  color: $color;
  font-family: $ff-base;
  font-size: $fs-base;
  line-height: 24px; // minus border
  vertical-align: middle;
}

.mapview-marker-group {
  @include mapview-marker;
}

// Put active/all group at bottom right of point
.mapview-marker-group-all,
.mapview-marker-group-active {
  @include mapview-marker-group($bg-color: $c-p1, $color: $c-white);
}

// Put expired group at top right of point
.mapview-marker-group-expired {
  @include mapview-marker-group($bg-color: $c-t3, $color: $c-t1);
  border-radius: 30px !important;
  border-bottom-left-radius: 0 !important;
  margin-top: -30px !important;
}

// Filters
.mapview-filters {
  box-sizing: border-box;
  display: block;
  padding: 8px 0 0;
  margin: 10px;

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: $depth-tooltip - 5px;

  background: fade-out($c-white, .1);
  border-radius: 4px;
  font-size: $fs-base * .9;
}

.mapview-filter {
  display: block;
  padding: 0 20px 8px 15px;
  clear: both;
  cursor: pointer;

  &.mapview-group-active,
  &.mapview-group-expired {
    .label:before {
      content: $fa-map-marker-u16;
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
      font-size: $fs-base;
      font-family: $ff-icon;
      vertical-align: bottom;
    }
  }

  &.mapview-group-active {
    .label:before {
      color: $c-p1;
    }
  }

  &.mapview-group-expired {
    .label:before {
      color: $c-t3;
    }
  }
}
