//
// Unilend Ratings
//

@mixin rating-graphics-and-sizes($size-factor: 1) {
  $width: 70 * $size-factor;
  $height: 10 * $size-factor;
  $strokeWidth: 2 * $size-factor;
  $xPos: $height * .5;
  $yPos: $height * .5;
  $radius: 3.5 * $size-factor;
  width: $width * 1px;
  height: $height * 1px;

  background-image: inline-svg-code('<svg width="140" height="20" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 20"><g id="circle" fill="none" stroke="#{$c-bg2}" stroke-width="4"><circle cx="10" cy="10" r="7"/><circle cx="40" cy="10" r="7"/><circle cx="70" cy="10" r="7"/><circle cx="100" cy="10" r="7"/><circle cx="130" cy="10" r="7"/></g></svg>');

  &:before {
    background-image: inline-svg-code('<svg width="140" height="20" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 20"><g id="circle" fill="none" stroke="#{$c-p1}" stroke-width="4"><circle cx="10" cy="10" r="7"/><circle cx="40" cy="10" r="7"/><circle cx="70" cy="10" r="7"/><circle cx="100" cy="10" r="7"/><circle cx="130" cy="10" r="7"/></g></svg>');
  }

  &.rating-0-5:before {
    width: 5px * $size-factor;
  }

  &.rating-1:before {
    width: 10px * $size-factor;
  }

  &.rating-1-5:before {
    width: 20px * $size-factor;
  }

  &.rating-2:before {
    width: 30px * $size-factor;
  }

  &.rating-2-5:before {
    width: 35px * $size-factor;
  }

  &.rating-3:before {
    width: 40px * $size-factor;
  }

  &.rating-3-5:before {
    width: 50px * $size-factor;
  }

  &.rating-4:before {
    width: 60px * $size-factor;
  }

  &.rating-4-5:before {
    width: 65px * $size-factor;
  }

  &.rating-5:before {
    width: 70px * $size-factor;
  }
}

@mixin rating {
  display: inline-block;
  width: 70px;
  height: 10px;
  overflow: hidden;
  position: relative;

  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;

  &:before {
    content: ' ';
    display: block;
    width: 0;
    height: 100%;
    overflow: hidden;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include rating-graphics-and-sizes;

  &.rating-big {
    @include rating-graphics-and-sizes(2);
  }
}

.rating {
  @include rating;
}
