//
// Unilend Site Header
// I apologise for the messiness of this file, as lots of things changed throughout
// development. It needs refactoring, so if you see this message I haven't had the
// time to do it yet! --Matt

// Compact dashboard header balance
@mixin compact-site-user-balance {
  display: block;
  width: $height-site-header; // match dimensions of mobile site-header
  height: $height-site-header;
  margin-left: 15px;
  float: left;

  background-image: url('../images/dashboard/icon-balance-41x34.png');
  background-repeat: no-repeat;
  background-position: center center;
  font-size: $fs-base;
  line-height: $height-site-header;
  text-align: center;
  vertical-align: middle;

  .label {
    display: none;
  }
}

@mixin full-site-user-balance {
  box-sizing: border-box;
  display: block;
  width: auto;
  min-width: 50px;
  height: 50px;
  padding: 0 15px 0 50px;
  margin-left: 15px;
  float: left;

  background-image: url('../images/dashboard/icon-balance-41x34.png');
  background-repeat: no-repeat;
  background-position: left center;
  font-size: $fs-base;
  line-height: 50px;
  text-align: left;
  vertical-align: middle;

  .label {
    display: inline;
  }

  @include devices('tablet-l') {
    padding-right: 0;
    padding-left: 0;

    .label {
      display: none;
    }
  }
}

@mixin fixed-site-user-balance {
  @include full-site-user-balance;

  display: inline-block;
  height: $height-fixed-menu;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: $height-fixed-menu;
}

@mixin site-logo-mobile {
  $width: 135px;
  $height: 25px;

  background-color: transparent;
  background-image: url('../images/logo/logo-and-type-unilend-132x25-purple.png');
  background-repeat: no-repeat;
  background-position: left top;
  width: $width;
  height: $height;
  line-height: $height;

  @include retina {
    background-image: url('../images/logo/logo-and-type-unilend-132x25-purple@2x.png');
    background-size: contain;
  }
}

@mixin site-logo-full {
  $width: 209px;
  $height: 44px;

  display: inline-block;
  width: $width;
  height: $height;
  overflow: hidden;

  background-color: transparent;
  background-image: url('../images/logo/logo-and-type-unilend-209x44-purple.png');
  background-repeat: no-repeat;
  background-position: left top;
  line-height: $height;
  text-align: left;
  text-indent: -9999em;
  vertical-align: top;

  @include retina {
    background-image: url('../images/logo/logo-and-type-unilend-209x44-purple@2x.png');
    background-size: contain;
  }

  @include devices('lg') {
    $width: 245px;
    $height: 52px;

    background-image: url('../images/logo/logo-and-type-unilend-245x52-purple.png');
    width: $width;
    height: $height;
    line-height: $height;

    @include retina {
      background-image: url('../images/logo/logo-and-type-unilend-245x52-purple@2x.png');
      background-size: contain;
    }
  }
}

@mixin site-logo-fixed {
  $width: 65px;
  $height: 65px;

  display: inline-block;
  width: $width;
  height: $height;

  background-color: transparent;
  background-image: url('../images/logo/logo-unilend-65x65-white.png');
  background-repeat: no-repeat;
  background-position: left top;
  text-align: left;
  text-indent: -9999em;
  vertical-align: top;

  @include retina {
    background-image: url('../images/logo/logo-unilend-65x65-white@2x.png');
    background-size: contain;
  }
}

// Site Logo
.site-logo {
  @include site-logo-full;
}

// Site header
.site-header {
  // Default is mobile
  display: block;
  width: 100%;
  // Main buttons are 60px high and in the site-mobile-menu
  height: $height-site-header;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: $depth-site-header; // Fancybox overlay is 8010

  backface-visibility: hidden;
  background-color: $c-white;
  background-clip: padding-box;
  text-align: center;

  // Site Band
  // The line at the top of the page
  .site-band {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 8px;

    // Background image is linear gradient
    background-image: -svg(linear-gradient(to right, $c-p1, $c-p2));
    background-size: cover;
  }

  // Updated site wrapping
  .site-header-inner {
    @include site-wrap($enable-padding: true, $padding-xs: 0, $padding-sm: 0);

    > .site-wrap {
      @include site-wrap($enable-padding: true, $padding-xs: 0, $padding-sm: 0, $padding-md: 0, $padding-lg: 0);
      position: relative;
    }
  }

  // Site title
  .site-title {
    display: inline-block;
    padding: 15px 0 0;
    margin: 0;
  }

  // Site logo
  .site-logo {
    @include site-logo-mobile;
  }

  &.site-header-dashboard {
    text-align: left;

    .site-title {
      padding: 0;
    }

    .site-logo {
      @include site-logo-fixed;
    }
  }

  // Open site mobile menu button
  .site-mobile-menu-open {
    @include button;
    @include button-shape-sq-lg;
    @include link-states(
      $link: (
        background-color: transparent,
        border-color: transparent,
        color: $c-p1,
        text-decoration: none
      ),
      $hover: (
        background-color: transparent,
        border-color: transparent,
        color: $c-p1,
        text-decoration: none
      ),
      $visited: (
        background-color: transparent,
        border-color: transparent,
        color: $c-p1,
        text-decoration: none
      )
    );

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: $depth-site-header;
  }

  // Site wrap
  .site-wrap {
    @include clearfix;
    overflow: visible;
    position: relative;
  }

  // Site nav is hidden and only accessible through mobile menu: `./src/sass/components/site/mobile-menu`
  .site-nav {
    display: none;
  }

  // Site controls: search and user (login)
  .site-controls {
    box-sizing: border-box;
    display: block;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: $depth-site-header;
    vertical-align: top;

    .site-search,
    .site-user,
    .site-partners {
      float: left;
    }
  }

  // Site partner logos
  .site-partners {
    height: 84px;
    margin-top: -20px;
    text-align: right;

    img,
    svg {
      @include constrain-size-by-height(100%);
    }

    #{$js-site-header-fixed} & {
      height: $height-fixed-menu;
      margin-top: 0;
    }
  }

  // Site user info
  .site-user {
    @include clearfix;
    display: block;
    vertical-align: top;

    .btn-site-login {
      @include button;
      @include button-shape-sq-lg;
      @include link-states(
        $link: (
          background-color: transparent,
          border-color: transparent,
          color: $c-p1
        ),
        $hover: (
          background-color: transparent,
          border-color: transparent,
          color: $c-p1-hover
        ),
        $active: (
          background-color: transparent,
          border-color: transparent,
          color: $c-p2
        )
      );

      &:before {
        content: $fa-lock-u;
        display: inline;
        font-family: $ff-icon;
        font-size: 28px;
        line-height: 1em;
      }

      // This is a special case for responsive stuff here
      @include devices('xs', 'sm') {
        > .label {
          @include hide-accessible;
        }
      }
    }

    .site-user-profile {
      position: relative;

      .profile-avatar {
        display: block;
        width: 50px;
        height: 50px;
        overflow: hidden;

        background-color: $c-bg1;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border: solid 2px $c-bg2;
        border-radius: 50px;
        color: $c-white;
        font-size: $fs-h4;
        line-height: 50px;
        text-align: center;
        vertical-align: middle;

        transition: width .2s, height .2s, margin .2s, line-height .2s, font-size .2s;

        a {
          display: block;
          color: $c-white;
          text-decoration: none;
        }

        #{$js-user-level-0} & {
          background-color: $c-level-0;
        }

        #{$js-user-level-1} & {
          background-color: $c-level-1;
        }

        #{$js-user-level-2} & {
          background-color: $c-level-2;
        }

        #{$js-user-level-3} & {
          background-color: $c-level-3;
        }

        #{$js-user-level-4} & {
          background-color: $c-level-4;
        }

        #{$js-user-level-5} & {
          background-color: $c-level-5;
        }
      }

      .profile-notifications {
        display: block;
        text-decoration: none;
      }
    }

    // Dashboard header
    @include devices('xs', 'sm') {
      // Dashboard header balance
      .site-user-balance {
        @include compact-site-user-balance;
      }

      // Dashboard header profile
      .site-user-profile {
        @include clearfix;
        display: block;
        width: $height-site-header * 3;
        height: $height-site-header;
        margin: 0;
        padding: 0 10px 0 0;
        line-height: $height-site-header;
        float: left;

        .profile-avatar {
          display: block;
          float: right;
          margin: 3px;
        }

        .profile-name {
          display: none;
        }

        .profile-balance {
          display: block;
          width: $height-site-header * 2;
          height: $height-site-header;
          margin: 0;
          padding: 14px 0;
          float: right;

          color: $c-t1;
          line-height: 1.3em;
          text-align: left;

          .label {
            display: block;
            margin-bottom: 0;
            color: $c-t1;
            font-size: $fs-base * .8;
            font-style: italic;
            line-height: 1em;
          }

          .value {
            display: block;
            color: $c-p1;
            font-style: normal;
          }
        }

        .profile-notifications {
          display: block;
          box-sizing: border-box;
          width: 32px;
          height: 32px;
          padding: 8px;
          margin: 0;
          position: absolute;
          top: 34px;
          right: 44px;
          z-index: 10;
        }

        .profile-logout {
          display: none; // @todo wait for design
          width: $height-site-header;
          height: $height-site-header;
          float: left;

          // &:before {
          //   // content: '\f08b'; // sign out
          //   font-size: $fs-h3;
          //   line-height: $height-site-header;
          //   text-align: center;
          //   vertical-align: middle;
          // }

          .label {
            @include hide-accessible;
          }
        }

        .site-user-mobile-menu-toggle {
          display: none;

          // Show only for xs and sm devices
          @include devices('xs', 'sm') {
            box-sizing: border-box;
            display: block;
            width: 70px;
            padding: 0 5px 0 0;
            height: $height-site-header;

            position: absolute;
            top: 0;
            right: 0;
            z-index: 5;

            color: $c-t3;
            line-height: $height-site-header;
            text-align: right;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

// Modifications to display full site header
@mixin site-header-full {
  position: relative;
  height: $height-site-header-full;
  text-align: left;

  // Hide the mobile menu open button
  .site-mobile-menu-open {
    display: none;
  }

  // Show the funky band
  .site-band {
    display: block;
  }

  .site-title,
  &.site-header-dashboard .site-title {
    display: block;
    padding: 48px 20px 0 0;
  }

  // Site logo
  .site-logo,
  &.site-header-dashboard .site-logo {
    @include site-logo-full;
  }

  .site-title,
  .site-nav {
    float: left;
  }

  .site-nav {
    display: block;
  }

  .site-nav-menu {
    @include inline-block-list();

    a {
      @include link-states(
        $link: (
          color: $c-t1,
          text-decoration: none
        ),
        $hover: (
          color: $c-p1,
          text-decoration: none
        ),
        $active: (
          color: $c-p2
        )
      );

      display: block;
      padding: 60px 1em 25px;
      font-size: 18px;
    }
  }

  // Site controls (search, user)
  .site-controls {
    right: 0;
    padding-top: 54px;
  }

  // Site search
  // TMA-1101 Moved out to specify certain breakpoints and conditions
  //.site-search {
  //  @include site-search-sm;
  //}

  // Site user
  .site-user {
    // Login button
    .btn-site-login {
      @include button-shape-sm;
      @include button-color-primary;
      height: auto;
      font-size: 16px;

      &:before {
        content: $fa-lock-u;
        font-size: 22px;
        line-height: 0;
        margin-right: 12px;
      }

      > .label {
        display: inline;
      }
    }

    // Dashboard header balance
    .site-user-balance {
      @include full-site-user-balance;
    }

    // Dashboard header profile
    .site-user-profile {
      box-sizing: border-box;
      display: block;
      width: 250px;
      padding: 14px 50px 14px 20px;
      margin-left: 10px;
      margin-top: -28px;
      margin-right: 0; // 30px; why did I put this?
      float: left;
      position: relative;

      background: $c-bg4;
      border: solid 2px $c-bg2;
      border-radius: 4px;
      line-height: 1.3em;
      text-align: left;

      .profile-avatar {
        display: block;
        width: 60px;
        height: 60px;
        margin-right: -30px;
        margin-top: -30px;

        position: absolute;
        top: 50%;
        right: 0;
        border-radius: 60px;
        font-size: $fs-h3;
        line-height: 60px;
      }

      .profile-notifications {
        display: block;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        padding: 6px;
        margin-right: 8px;
        margin-bottom: 8px;

        position: absolute;
        right: 0;
        bottom: 0;
      }

      .profile-name {
        display: block;
        width: 100%;
        height: 1.3em;
        margin-bottom: 5px;
        overflow: hidden;

        color: $c-t1;
        font-size: $fs-base;
        line-height: 1.3em;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .profile-balance {
        margin-bottom: 5px;
        font-size: $fs-base * .8;
        font-style: italic;
        line-height: 1em;

        a {
          color: $c-t1;
          text-decoration: none !important;
        }

        .value {
          color: $c-teal;
        }
      }

      .profile-logout {
        display: block;
        max-width: 150px;
        font-size: $fs-base * .9;
        line-height: 1em;
      }

      .site-user-mobile-menu-toggle {
        display: none;
      }
    }
  }

  // Fixed header modifications
  #{$js-site-header-fixed} & {
    height: $height-fixed-menu;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    backface-visibility: hidden;
    border-bottom: solid 2px fade-out($c-bg1, .5);

    .show-fixed {
      display: block;
    }

    .hide-fixed {
      display: none;
    }

    .site-band {
      display: none;
    }

    .site-title {
      padding-top: 0;
    }

    .site-logo,
    &.site-header-dashboard .site-logo {
      @include site-logo-fixed;
    }

    .site-nav-menu {
      a {
        padding: 0 20px;
        line-height: $height-fixed-menu;
        vertical-align: middle;
      }
    }

    .site-controls {
      padding-top: 0;
    }

    .site-user {
      .btn-site-login {
        border-radius: 0;
        height: $height-fixed-menu;
        padding: padding-height($height-fixed-menu, 25px) 20px;
        line-height: 25px;
        border-width: 2px;
      }

      // Dashboard header balance
      .site-user-balance {
        @include fixed-site-user-balance;
      }

      // Dashboard header profile
      .site-user-profile {
        height: $height-fixed-menu;
        margin: 0;
        margin-right: 0; // 25px; why??
        padding-top: 0;
        padding-bottom: 0;
        border: 0;
        line-height: $height-fixed-menu;
        vertical-align: middle;

        .profile-avatar {
          width: 50px;
          height: 50px;
          margin-top: -27px;
          margin-right: -25px;
          font-size: $fs-h4;
          line-height: 50px;
        }

        .profile-notifications {
          margin-right: 0;
          margin-bottom: 0;
        }

        .profile-name {
          margin-top: 3px;
          margin-bottom: 3px;
          font-size: $fs-base * .9;
        }

        .profile-balance {
          margin-bottom: 3px;
          line-height: 1em;
        }

        .profile-logout {
          font-size: $fs-base * .8;
          line-height: 1em;
        }

        .site-user-mobile-menu-toggle {
          display: none;
        }
      }
    }
  }
}

// Further modifications to the site header for medium devices
@mixin site-header-full-md {
  @include site-header-full;

  // Search
  // TMA-1101 Moved out to specify certain breakpoints and conditions
  // @note see `sass/site/components/site/_search.scss`
  //.site-search {
  //  @include site-search-md;
  //}

  // Fixed header modifications
  #{$js-site-header-fixed} & {
    .site-user {
      .btn-site-login {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
}

// Further modifications to the site header for large devices
@mixin site-header-full-lg {
  @include site-header-full-md;

  // Site controls (search, user)
  .site-controls {
    padding-top: 50px; // Accounts for change in button/input heights
  }

  .site-title {
    padding-right: 25px;
  }

  .site-nav-menu {
    a {
      padding: 60px 1em 25px;
      font-size: 20px;
    }
  }

  // TMA-1101 Moved out to specify certain breakpoints and conditions
  // @note see `sass/site/components/site/_search.scss`
  //.site-search {
  //  @include site-search-md;
  //  @include site-search-lg;
  //}

  .site-user {
    .btn-site-login {
      @include button-shape-md;
      font-size: 18px;
    }
  }

  // Fixed header modifications
  #{$js-site-header-fixed} & {
    .site-user {
      // Keep same font-size, line-height as input-size-lg
      .btn-site-login {
        $padding-height: padding-height($height-fixed-menu, 24px);
        padding-top: $padding-height;
        padding-bottom: $padding-height;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}

// Enable the full site header with certain modifications for the following devices...
@include devices('tablet-l') {
  .site-header {
    @include site-header-full;
  }
}

@include devices('laptop') {
  .site-header {
    @include site-header-full-md;
  }
}

@include devices('desktop') {
  .site-header {
    @include site-header-full-lg;
  }
}

// Special modification to hide the site-user-balance element when width is in specific range
// Spaghett!
@include media($width-tablet-l, $width-tablet-l + 50px) {
  .site-user-balance {
    display: none !important;
  }
}
