{% extends 'layouts/_layout.html.twig' %}

{% block siteHeader %}
{% endblock %}

{% block siteContent %}
    <div id="devenir-preteur" class="page form-only push-lg-1 col-lg-5 push-md-1 col-md-5">
        {% include 'pages/lender_subscription/partials/landing_page_form.html.twig' %}
    </div>

{% endblock %}

{% block siteFooter %}
{% endblock %}
