//
// Unilend Site Footer
//

footer > .disclaimer {
  background-color: $c-t1;
  color: $c-bg1;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.site-footer {
  background-color: $c-p1;
  color: $c-purple-l;
  padding-top: 40px;
  padding-bottom: 30px;

  h1, h2, h3, h4, h5, h6 {
    color: $c-white;
  }

  a {
    @include link-states(
      $link: (
        color: $c-purple-l3,
        text-decoration: none
      ),
      $hover: (
        color: $c-purple-l3,
        text-decoration: underline
      ),
      $active: (
        color: $c-white,
        text-decoration: underline
      )
    );
  }

  .list-block {
    margin-bottom: 50px;

    a {
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  // Responsive: xs, sm
  @include devices('xs', 'sm') {
    text-align: center;
  }

  // Responsive: md, lg
  @include devices('md', 'lg') {
    padding-bottom: 30px;
  }
}

.site-copyright {
  margin-top: 10px;
  color: mix($c-purple-l, $c-p1, 50%);
  font-size: 14px;

  a {
    cursor: pointer;

    @include link-states(
      $link: (
        color: mix($c-purple-l, $c-p1, 50%),
        text-decoration: none
      ),
      $hover: (
        color: mix($c-purple-l, $c-p1, 50%),
        text-decoration: none
      ),
      $active: (
        color: mix($c-purple-l, $c-p1, 50%),
        text-decoration: none
      )
    );
  }

  @include devices('md', 'lg') {
    text-align: right;
  }

  .site-footer .col-sub-center & {
    text-align: center;
  }
}
