//
// Unilend A propos single page
//

.page-single-apropos {
  .page-header {

    .hero-wrap {
      background-image: image-url('headers/apropos-header-1682x400.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .page-title {
      @include hide-accessible;
    }
  }


}
