<div class="block-content block-content-full">
    <h3 class="h4 push-20">Frais et Honoraires</h3>
    <table class="table table-bordered table-hover table-header-bg">
        <thead>
        <tr>
            <th style="width: 25%">
                Date
            </th>
            <th style="width: 25%">
                Type
            </th>
            <th style="width: 25%">
                Mode de réglement
            </th>
            <th style="width: 25%">
                Régularisé par réception
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                14/04/2017
            </td>
            <td>
                Honoraire
            </td>
            <td>
                Retenu par recouvreur
            </td>
            <td>
                N/A
            </td>
        </tr>
        <tr>
            <td>
                14/08/2017
            </td>
            <td>
                Frais visite
            </td>
            <td>
                Avancé par Unilend
            </td>
            <td>
                200 € - 14/07/2017
            </td>
        </tr>
        <tr>
            <td>
                14/04/2017
            </td>
            <td>
                Frais visite
            </td>
            <td>
                Avancé par Unilend
            </td>
            <td>
                Non régularisé
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-right">
        <a role="button" class="btn btn-primary" data-toggle="modal" data-target="#additional-fees">Ajouter des frais</a>
    </div>
    <!-- Start MODALS -->
    <div class="modal fade in" id="additional-fees">
        <form class="modal-dialog js-validation" action="/recouvrements/details/429892" method="post">
            <div class="modal-content">
                <div class="block block-themed remove-margin-b">
                    <div class="block-header bg-primary">
                        <h5 class="block-title">Ajout de frais avancés par Unilend</h5>
                    </div>
                    <div class="block-content">
                        <div class="form-group">
                            <label>Type de frais</label>
                            <select class="form-control required" name="fee-type">
                                <option value="0">Selectionner</option>
                                <option value="1">Clause pénale</option>
                                <option value="2">Frais de visite domiciliare</option>
                                <option value="3">Injonction de payer</option>
                                <option value="4">Référé provision</option>
                                <option value="5">Saisie conservatoire</option>
                                <option value="6">Assignation au fond</option>
                                <option value="7">Assignation en procédure collective</option>
                                <option value="8">Procédure d'appel</option>
                                <option value="9">Opposition sur vente de fonds de commerce</option>
                                <option value="10">Frais de déclarations de créance</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Montant</label>
                            <input class="form-control required" type="number" name="fee-amount">
                        </div>
                        <div class="form-group">
                            <label>Date de facture</label>
                            <input class="form-control js-datepicker required" type="text" name="fee-invoice-date" data-date-format="mm/dd/yy" placeholder="mm/dd/yy">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Annuler</button>
                    <button class="btn btn-sm btn-primary" type="submit">Valider</button>
                </div>
            </div>
        </form>
    </div>
    <!-- End MODALS -->
</div>