<div class="block-content block-content-full">
    <h3 class="h4 push-20">Réceptions à traiter</h3>
    {% if pendingReceiptData|length > 0 %}
        <form action="/recouvrements/details/429892" method="post">
            <input type="hidden" name="reception-id" value="">
            <table class="table table-bordered table-hover table-header-bg">
                <thead>
                <tr>
                    <th style="width: 25%">
                        Date
                    </th>
                    <th style="width: 25%">
                        Montant
                    </th>
                    <th style="width: 25%">
                        Planifier un remboursement
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for receipt in pendingReceiptData %}
                    <tr>
                        <td>
                            {{ receipt.date }}
                        </td>
                        <td>
                            {{ receipt.amount|localizedcurrency('EUR') }}
                        </td>
                        <td class="text-center">
                            <button type="submit" class="btn btn-xs btn-primary" data-input-target="reception-id" data-input-target-value="{{ receipt.idReception }}" data-toggle="tooltip" data-original-title="Planifier le remboursement">
                                <i class="fa fa-arrow-right"></i></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    {% else %}
        <div class="alert">
            <p>Aucune réception en attente</p>
        </div>
    {% endif %}
</div>