<div class="block-content block-content-full">
    <h3 class="h4 push-20">Réceptions à traiter</h3>
    {% if pendingReceiptData|length > 0 %}
        <table class="table table-bordered table-hover table-header-bg">
            <thead>
            <tr>
                <th style="width: 25%">
                    Date
                </th>
                <th style="width: 25%">
                    ID
                </th>
                <th style="width: 25%">
                    Montant
                </th>
                <th style="width: 25%">
                    Planifier un remboursement
                </th>
            </tr>
            </thead>
            <tbody>
            {% for idWireTransfer, receipt in pendingReceiptData %}
                <tr>
                    <td>
                        {{ receipt.date|localizeddate('short', 'none') }}
                    </td>
                    <td>
                        {{ idWireTransfer }}
                    </td>
                    <td>
                        {{ receipt.amount|localizedcurrency('EUR') }}
                    </td>
                    <td class="text-center">
                        <a class="btn btn-xs btn-primary" data-toggle="tooltip" data-original-title="Planifier le remboursement" href="/repayment/create/{{ idWireTransfer }}">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert">
            <p>Aucune réception en attente</p>
        </div>
    {% endif %}
</div>
